<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta name="mobile-web-app-capable" content="yes" />

	<meta http-equiv="refresh"
		content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/index.jsf" />

	<link rel="icon" sizes="192x192"
		href="#{facesContext.externalContext.requestContextPath}/resources/imagens/sophos_icone_navegador.png" />

	<meta name="apple-mobile-web-app-capable" content="yes" />

	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<meta name="apple-mobile-web-app-title" content="TCM - SOPHOS" />

	<link rel="apple-touch-icon-precomposed"
		href="#{facesContext.externalContext.requestContextPath}/resources/imagens/sophos_icone_navegador.png" />

	<link rel="shortcut icon"
		href="#{facesContext.externalContext.requestContextPath}/resources/imagens/sophos_icone_navegador.png" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta http-equiv="content-language" content="pt-br" />

	<meta name="title"
		content="Tribunal de Contas dos Municípios do Estado de Goiás - Sistema TCMPush" />

	<meta name="keywords"
		content="tribunal de contas dos municípios do estado de goiás sophos" />

	<meta name="author"
		content="SINFO - Superintendência de Informática do TCM-GO" />

	<meta name="url" content="http://www.tcm.go.gov.br/sophos" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link
		href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
		rel="stylesheet" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/icon?family=Material+Icons" />

	<link type="text/css" rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/resources/css/materialize.css"
		media="screen,projection" />

	<link rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/resources/css/material.css" />

	<link rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" />

	<link rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.timeentry/jquery.timeentry.css" />

	<link rel="stylesheet"
		href="#{facesContext.externalContext.requestContextPath}/resources/js/Jcrop/jquery.Jcrop.css" />

	<script
		src="#{facesContext.externalContext.requestContextPath}/resources/js/material.min.js"></script>

	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/resources/js/materialize.js"></script>

	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/resources/js/Jcrop/jquery.Jcrop.js"></script>

	<script
		src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.timeentry/jquery.plugin.js"></script>

	<script
		src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.timeentry/jquery.timeentry.js"></script>

	<script
		src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.maskMoney.js"></script>

	<script
		src="#{facesContext.externalContext.requestContextPath}/resources/js/functions.js"></script>

	<title>Sistema de Gestão Educacional - SOPHOS</title>

	<script type="text/javascript">
		var CONTEXT_PATH = '#{facesContext.externalContext.requestContextPath}/';

		jQuery(document).ready(function() {

			onLoad();
			exibirMensagem();

		});

		PrimeFaces.locales['pt_BR'] = {
			closeText : 'Fechar',
			prevText : ' ',
			nextText : ' ',
			currentText : 'Começo',
			monthNames : [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio',
					'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro',
					'Novembro', 'Dezembro' ],
			monthNamesShort : [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun',
					'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
			dayNames : [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta',
					'Sexta', 'Sábado' ],
			dayNamesShort : [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb' ],
			dayNamesMin : [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
			weekHeader : 'Semana',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : '',
			timeOnlyTitle : 'Só Horas',
			timeText : 'Tempo',
			hourText : 'Hora',
			minuteText : 'Minuto',
			secondText : 'Segundo',
			currentText : 'Data Atual',
			ampm : false,
			month : 'Mês',
			week : 'Semana',
			day : 'Dia',
			allDayText : 'Todo Dia'
		};
	</script>

</h:head>

<h:body>

	<p:ajaxStatus onstart="removerMensagens();showProgress();"
		oncomplete="onLoad();componentHandler.upgradeAllRegistered();hideProgress();exibirMensagem();" />

	<p:outputPanel id="body"
		styleClass="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

		<ui:insert name="header">

			<p:outputPanel id="header-sophos"
				styleClass="demo-header mdl-layout__header sophos-background-color mdl-color-text--white"
				style="#{((sessionScope['usuario.logado'] == null) or (sessionScope['usuario.logado'].participante == null)) ? 'margin-left: 0; width: 100%;' : ''}">

				<div class="mdl-layout__header-row">

					<!-- 				<img onclick="openEventos()" class="responsive-img img-logo" src="#{facesContext.externalContext.requestContextPath}/resources/imagens/tcm_logo.png" alt="LOGOTIPO DO TCM-GO"/> -->

					<p:outputPanel id="tituloSistema" styleClass="mdl-layout-title"
						layout="block" style="margin-left: 10px">

						<ui:insert name="titulo">#{navegacaoControlador.navegacao.titulo}</ui:insert>

					</p:outputPanel>

					<span class="mdl-layout-title"></span>

					<div class="mdl-layout-spacer"></div>

					<h:form rendered="#{(sessionScope['usuario.logado'] == null)}">

						<h:panelGrid columns="2">

							<h:panelGroup
								rendered="#{!navegacaoControlador.isPaginaAcesso()}">

								<p:remoteCommand name="openAcesso"
									actionListener="#{navegacaoControlador.acaoAbrirTela('ACESSO')}"
									update=":conteudoPrincipal :tituloSistema @form" />

								<button type="button" id="btnOpenAcesso" onclick="openAcesso()"
									class="waves-effect waves-light btn btnHeader" title="ACESSO">

									<i class="material-icons left">launch</i> ACESSO

								</button>

								<button type="button" id="btnOpenAcesso" onclick="openAcesso()"
									class="mdl-button mdl-js-button mdl-button--icon btnHeader1"
									title="ACESSO">

									<i class="material-icons">launch</i>

								</button>

								<div class="mdl-tooltip" for="btnOpenAcesso">ACESSO</div>

							</h:panelGroup>

							<h:panelGroup rendered="#{navegacaoControlador.isPaginaAcesso()}">

								<p:remoteCommand name="openEventos"
									actionListener="#{navegacaoControlador.acaoAbrirTela('EVENTOS_VISUALIZAR')}"
									update=":conteudoPrincipal :tituloSistema @form" />

								<button type="button" id="btnOpenEventos"
									onclick="openEventos()"
									class="waves-effect waves-light btn btnHeader"
									title="VISUALIZAR EVENTOS">

									<i class="material-icons left">event</i> VISUALIZAR EVENTOS

								</button>

								<button type="button" id="btnOpenEventos"
									onclick="openEventos()"
									class="mdl-button mdl-js-button mdl-button--icon btnHeader1"
									title="VISUALIZAR EVENTOS">

									<i class="material-icons">event</i>

								</button>

								<div class="mdl-tooltip" for="btnOpenEventos">VISUALIZAR
									EVENTOS</div>

							</h:panelGroup>

							<h:panelGroup>

								<button type="button" id="btnAjuda"
									onclick="window.open('https://<dominio>/ead/','_blank')"
									class="waves-effect waves-light btn btnHeader" title="EAD">

									<i class="material-icons left">desktop_windows</i> Cursos EAD

								</button>

								<p:remoteCommand name="openValidarCertificado"
									actionListener="#{navegacaoControlador.acaoAbrirTela('VALIDAR_CERTIFICADO')}"
									update=":conteudoPrincipal :tituloSistema @form" />

								<button type="button" id="btnValidarCertificado"
									onclick="openValidarCertificado()"
									class="waves-effect waves-light btn btnHeader"
									title="VALIDAR CERTIFICADO">

									<i class="material-icons left">done_all</i> VALIDAR CERTIFICADO

								</button>

								<button type="button" id="btnValidarCertificado"
									onclick="openValidarCertificado()"
									class="mdl-button mdl-js-button mdl-button--icon btnHeader1"
									title="VALIDAR CERTIFICADO">

									<i class="material-icons">done_all</i>

								</button>

								<button type="button" id="btnAjuda"
									onclick="window.open('http://www.tcm.go.gov.br/escolatcm/orientacoes-sobre-cursos-inscricao-avaliacao-de-reacao-e-certificado/','_blank')"
									class="waves-effect waves-light btn btnHeader" title="AJUDA">

									<i class="material-icons left">help_outline</i> AJUDA

								</button>
								
								<button type="button" id="btnAjuda"
									onclick="window.open('http://www.tcm.go.gov.br/escolatcm/orientacoes-sobre-cursos-inscricao-avaliacao-de-reacao-e-certificado/','_blank')"
									class="mdl-button mdl-js-button mdl-button--icon btnHeader1" title="AJUDA">

									<i class="material-icons left">help_outline</i> 

								</button>
								
								<div class="mdl-tooltip" for="btnAjuda">AJUDA</div>

							</h:panelGroup>
						</h:panelGrid>

					</h:form>

					<h:form id="formAlerta" prependId="false"
						rendered="#{(sessionScope['usuario.logado'] != null)}">

						<h:panelGrid columns="1">

							<h:panelGroup>

								<div href='#' data-activates='dropdown1'
									class="notificacoes material-icons mdl-badge mdl-badge--overlap"
									data-badge="#{alertaControlador.alertasDoUsuario.size()}">notifications</div>

								<!-- Dropdown Structure -->
								<ul id='dropdown1' class='dropdown-content'>
									<ui:repeat var="alerta"
										value="#{alertaControlador.alertasDoUsuario}">
										<li><h:commandLink
												action="#{alertaControlador.acaoVisualizarAlerta(alerta)}">
											#{alerta.pacoteAlertas != null ? alerta.pacoteAlertas.getMensagemLimitada(50) : alerta.getMensagemLimitada(50)}
											</h:commandLink></li>
										<li class="divider"></li>
									</ui:repeat>
									<li><a onclick="openAlerta()">Ver Todos</a></li>
								</ul>

								<p:remoteCommand name="openAlerta"
									oncomplete="openModal('modalAlertas')" update=":modalAlertas" />

							</h:panelGroup>

						</h:panelGrid>

						<ui:include src="/paginas/alertas/dialog-alertas.xhtml"></ui:include>

					</h:form>

				</div>

				<div id="progress-bar" style="width: 100%; visibility: hidden;"
					class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

			</p:outputPanel>

		</ui:insert>

		<ui:insert name="conteudo"></ui:insert>

		<div class="footer sophos-footer-color is-casting-shadow sem-padding-top-bottom">
			
			<div class="mdl-grid sem-padding-top-bottom">
				<div class="mdl-cell mdl-cell--2-col right">
				</div>
				<div class="mdl-cell mdl-cell--4-col right">
					<a href="http://www.tcm.go.gov.br" target="_blank"> TRIBUNAL DE CONTAS DOS MUNICÍPIOS DO ESTADO DE GOIÁS</a> - 
			    	FONE: (62) 3216-6160
				</div>
				<div class="mdl-cell mdl-cell--4-col">
					<a href="http://www.tcm.go.gov.br/escolatcm/" target="_blank"> ESCOLA DE CONTAS - TCM-GO</a> - 
					FONE: (62) 3216-6204
				</div>
				<div class="mdl-cell mdl-cell--1-col right">
				</div>
			</div>

		</div>

	</p:outputPanel>

	<p:outputPanel id="modalAlerta" styleClass="modal" layout="block">

		<div class="modal-content">

			<h4>Mensagem</h4>

			<p:messages escape="false" />

		</div>

		<div class="modal-footer">

			<a id="btnOKModalAlerta" href="javascript:void(0);"
				onclick="jQuery('#modalAlerta').closeModal();" title="OK"
				class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>

		</div>

	</p:outputPanel>

	<div id="modalConfirmacao" style="width: 25% !important;" class="modal">

		<div class="modal-content">

			<h4 id="modalConfirmacaoTitulo">Confirmação</h4>

			<p id="modalConfirmacaoTextoConfirmacao"></p>

		</div>

		<div class="modal-footer">

			<a href="#!" id="modalConfirmacaoBotaoSim" title="SIM"
				class="modal-action modal-close waves-effect waves-green btn-flat">SIM</a>

			<a href="#!" id="modalConfirmacaoBotaoNao"
				onclick="unbindBtnModalConfirmacao()" title="NÃO"
				class="modal-action modal-close waves-effect waves-green btn-flat">NÃO</a>

		</div>

	</div>


</h:body>

</html>
