html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-size: 12px;
}

.table-label {
	width: 40%;
	font-weight: bold;
}

table, tr {
	width: 100%;
}

table {
	font-size: 12px;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}