<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>

	<composite:attribute name="tipo" type="java.lang.String" required="true" />
	<composite:attribute name="update" type="java.lang.String" default="@form"/>
	<composite:attribute name="entidade" type="java.lang.Object" required="true" />
	<composite:attribute name="atributo" type="java.lang.String" required="true" />
	<composite:attribute name="desabilitar" type="java.lang.Boolean" />
	<composite:attribute name="obrigatorio" type="java.lang.Boolean" />
	<composite:attribute name="label" type="java.lang.String" />
	<composite:attribute name="filters" type="java.util.HashMap" />

</composite:interface>

<composite:implementation>

	<p:remoteCommand name="updateLista#{cc.clientId}"
		update="#{cc.clientId}:listagem" />

	<p:remoteCommand name="updateInput#{cc.clientId}"
		update="#{cc.clientId}_#{cc.attrs.atributo.replaceAll('\\.','_')}" />

	<script type="text/javascript">
	
		function openModalAutoComplete#{cc.clientId}(){
			updateLista#{cc.clientId}();
			jQuery('.labelAutoComplete').addClass('active');
			jQuery('#modalAutocomplete_#{cc.clientId}').openModal({
			      dismissible: false,
			      modal: false
			});
			jQuery('.lean-overlay').hide();
		}
		
		function fecharModalAutoComplete#{cc.clientId}(){
			jQuery('.labelAutoComplete').addClass("active");
			jQuery('#modalAutocomplete_#{cc.clientId}').closeModal();
		}
		
	</script>
		
	<button type="button" 
		onclick="openModalAutoComplete#{cc.clientId}();"
		alt="BUSCAR #{cc.attrs.label}"
		title="BUSCAR #{cc.attrs.label}" 
		class="mdl-button mdl-js-button mdl-button--icon material-icons prefix search-autocomplete">

			<i class="material-icons">search</i>

	</button>

	<p:inputText disabled="true"
		onclick="openModalAutoComplete#{cc.clientId}();"
		id="#{cc.clientId}_#{cc.attrs.atributo.replaceAll('\\.','_')}"
		value="#{cc.attrs.atributo.contains('.') ? cc.attrs.entidade[cc.attrs.atributo.split('\\.')[0]][cc.attrs.atributo.split('\\.')[1]] : cc.attrs.entidade[cc.attrs.atributo]}" />

	<label for="#{cc.clientId}_#{cc.attrs.atributo.replaceAll('\\.','_')}"
		class="labelAutoComplete active">#{cc.attrs.label}:</label>

	<div id="modalAutocomplete_#{cc.clientId}"
		style="width: 50% !important;" class="modal">

		<div class="modal-content">

			<h4 id="modalConfirmacaoTitulo">Pesquisa</h4>

			<div class="mdl-grid">

				<p:inputText styleClass="mdl-textfield__input"
					value="#{autoCompleteControlador.lista.consulta}"
					placeholder="Insira seu parâmetro de pesquisa" id="nome"
					alt="PARÂMETRO DE PESQUISA" title="PARÂMETRO DE PESQUISA">

					<p:ajax event="keyup" update="#{cc.clientId}:listagem" />

				</p:inputText>

				<p:dataTable id="listagem" lazy="true"
					disabledSelection="#{cc.attrs.desabilitar}" paginator="true"
					rows="5" paginatorPosition="bottom" style="width:100%;"
					tableStyle="width:100%" selectionMode="single"
					selection="#{cc.attrs.entidade}" rowKey="#{bean.id}"
					emptyMessage="Nenhum registro encontrado."
					tableStyleClass="mdl-data-table mdl-js-data-table"
					value="#{autoCompleteControlador.getLista(cc.attrs.tipo)}"
					var="bean">

					<p:ajax event="rowSelect" update="#{cc.attrs.update}"
						oncomplete="fecharModalAutoComplete#{cc.clientId}(); updateInput#{cc.clientId}()"
						immediate="true"></p:ajax>

					<composite:insertChildren />

				</p:dataTable>

			</div>

		</div>

		<div class="modal-footer">

			<a onclick="fecharModalAutoComplete#{cc.clientId}()"
				id="modalConfirmacaoBotaoNao"
				class="modal-action modal-close waves-effect waves-green btn-flat"
				title="FECHAR">FECHAR</a>

		</div>

	</div>

</composite:implementation>

</html>