<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:util="http://www.tcm.go.gov.br/util-ouvidoria"
	xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>

	<composite:attribute name="action" method-signature="void acao()" />
	<composite:attribute name="toolTip" type="java.lang.String" />
	<composite:attribute name="immediate" type="java.lang.Boolean" default="false" />
	<composite:attribute name="icon" type="java.lang.String" />
	<composite:attribute name="update" type="java.lang.String" default="@form" />
	<composite:attribute name="uuid" type="java.lang.String" default="#{util:getUUID()}" />

</composite:interface>

<composite:implementation>

	<span>

		<p:remoteCommand id="remoteComand" name="btn_icon_#{cc.clientId.replaceAll(':','_')}_action" immediate="#{cc.attrs.immediate}" update="#{cc.attrs.update}" actionListener="#{cc.attrs.action}" />
		
		<button id="#{cc.clientId}" onclick="btn_icon_#{cc.clientId.replaceAll(':','_')}_action(); return false;" class="mdl-button mdl-js-button mdl-button--icon">
		
			<i class="material-icons">#{cc.attrs.icon}</i> <span class="visuallyhidden">#{cc.attrs.toolTip}</span>
			
		</button>
		
		<div class="mdl-tooltip" for="#{cc.clientId}">#{cc.attrs.toolTip}</div>
	
	</span>

</composite:implementation>

</html>