<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core" 
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

	<composite:attribute name="action" default="#{navegacaoControlador.acaoVoltar}" method-signature="String action()" />

</composite:interface>

<composite:implementation>

	<div class="mdl-tooltip mdl-tooltip--large" for="#{cc.clientId}">VOLTAR</div>
	
	<p:remoteCommand name="acaoVoltar" immediate="true" update=":modalAlerta :conteudoPrincipal :tituloSistema @form" action="#{cc.attrs.action}" />

	<button id="#{cc.clientId}" title="VOLTAR" onclick="acaoVoltar();return false;" style="#{cc.attrs.style}" class="ouvidoria-btn-add mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-fab-left mdl-shadow--8dp mdl-button--colored">
	
		<span class="visuallyhidden">VOLTAR</span> <i class="material-icons">reply</i>
		
	</button>

</composite:implementation>

</html>