<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:util="http://www.tcm.go.gov.br/util-ouvidoria"
	xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>

	<composite:attribute name="actionListener" method-signature="void acao()" default="none" />
	<composite:attribute name="action" method-signature="String acao()" />
	<composite:attribute name="value" type="java.lang.String" />
	<composite:attribute name="icon" type="java.lang.String" />
	<composite:attribute name="update" type="java.lang.String" default="@form" />
	<composite:attribute name="uuid" type="java.lang.String" default="#{util:getUUID()}" />
	<composite:attribute name="style" type="java.lang.String" default="" />

</composite:interface>

<composite:implementation>

	<span>

		<p:remoteCommand name="btn_icon_#{cc.clientId.replaceAll(':','_')}_action" update=":modalAlerta #{cc.attrs.update}" action="#{cc.attrs.action}" actionListener="#{cc.attrs.actionListener}" />
		
		<button id="#{cc.clientId}" style="#{cc.attrs.style}" onclick="btn_icon_#{cc.clientId.replaceAll(':','_')}_action(); return false;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
		
			#{cc.attrs.value}
			
		</button>
		
	</span>

</composite:implementation>

</html>