<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

	<composite:attribute name="value" required="true" />
	<composite:attribute name="headers" required="true" />
	<composite:attribute name="style" />

</composite:interface>

<composite:implementation>

	<div class="mdl-grid">
	
		<table class="centered mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="#{cc.attrs.style}">
		
			<thead>
			
				<c:forEach var="coluna" items="#{cc.attrs.headers.split(',')}">
				
					<th class="mdl-data-table__cell--non-numeric">#{coluna.trim()}</th>
				
				</c:forEach>
			
			</thead>
		
			<tbody>

				<ui:repeat var="bean" varStatus="status" value="#{cc.attrs.value}">
				
					<tr>
			
						<composite:insertChildren />
						
					</tr>
				
				</ui:repeat>
			
			</tbody>
			
		</table>
		
	</div>

</composite:implementation>

</html>