<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>

	<composite:attribute name="tipo" type="java.lang.String" required="true"/>
	<composite:attribute name="update" type="java.lang.String" default="@form" />
	<composite:attribute name="lista" type="java.util.List" required="true"/>
	<composite:attribute name="atributo" type="java.lang.String" required="true"/>
	<composite:attribute name="desabilitar" type="java.lang.Boolean" />
	<composite:attribute name="obrigatorio" type="java.lang.Boolean" />
	<composite:attribute name="label" type="java.lang.String" />
	<composite:attribute name="filters" type="java.util.HashMap" />

</composite:interface>

<composite:implementation>

	<p:remoteCommand name="updateLista#{cc.clientId}" update="#{cc.clientId}:listagem"/>
	
	<p:remoteCommand name="updateInput#{cc.clientId}" update="#{cc.clientId}_#{cc.attrs.atributo.replaceAll('\\.','_')}"/>
	
	<script type="text/javascript">
	
		function openModalMuiltSelect#{cc.clientId}(){
			updateLista#{cc.clientId}();
			jQuery('.labelMuiltSelect').addClass('active');
			jQuery('#modalMuiltSelect_#{cc.clientId}').openModal({
			      dismissible: false,
			      modal: false
			});
			jQuery('.lean-overlay').hide();
		}
		
		function fecharModalMuiltSelect#{cc.clientId}(){
			jQuery('.labelMuiltSelect').addClass("active");
			jQuery('#modalMuiltSelect_#{cc.clientId}').closeModal();
		}
		
	</script>
	
	<p:outputPanel styleClass="mdl-grid"  id="#{cc.clientId}_#{cc.attrs.atributo.replaceAll('\\.','_')}">
	
		<div class="mdl-cell mdl-cell--12-col">
			<p:commandLink onclick="openModalMuiltSelect#{cc.clientId}();" styleClass="btn-floating" title="ADICIONAR" process="@this" >
				<i id="adicionar" class="material-icons">search</i>
			</p:commandLink>
			<p:commandLink rendered="#{autoCompleteControlador.mostrarLimpar}" styleClass="btn-floating" title="LIMPAR" update="#{cc.clientId}_#{cc.attrs.atributo.replaceAll('\\.','_')}" process="@this" validateClient="false" immediate="true" actionListener="#{autoCompleteControlador.limparItens}">
				<i id="limpar" class="material-icons">clear</i>
			</p:commandLink>
			<ui:repeat var="obj" value="#{cc.attrs.lista}" varStatus="contador">
				<div class="chip">
					#{obj[cc.attrs.atributo]}
					<p:commandLink update="#{cc.clientId}:#{cc.clientId}_#{cc.attrs.atributo.replaceAll('\\.','_')}" actionListener="#{autoCompleteControlador.excluirItem(contador.index)}" process="@this" validateClient="false" immediate="true" >
						<i class="material-icons" >close</i>
					</p:commandLink>
				</div>
			</ui:repeat>
		</div>
		
	</p:outputPanel>
	
	<label for="#{cc.clientId}_#{cc.attrs.atributo.replaceAll('\\.','_')}" class="labelMuiltSelect active">#{cc.attrs.label}:</label>
		
	<div id="modalMuiltSelect_#{cc.clientId}" style="width: 50% !important;" class="modal">
	
	   	<div class="modal-content">

			<h4 id="modalConfirmacaoTitulo">Pesquisa</h4>

				<div class="mdl-grid">
	
					<p:inputText  styleClass="mdl-textfield__input" value="#{autoCompleteControlador.lista.consulta}" placeholder="Insira seu parâmetro de pesquisa" id="nome">
							
						<p:ajax event="keyup" update="#{cc.clientId}:listagem"/>
					
					</p:inputText>
				    	
					<p:dataTable id="listagem" lazy="true" disabledSelection="#{cc.attrs.desabilitar}"
						paginator="true" rows="5" paginatorPosition="bottom" style="width:100%;" tableStyle="width:100%" selectionMode="single" selection="#{autoCompleteControlador.entidadeMultiSelect}" rowKey="#{bean.id}"
						emptyMessage="Nenhum registro encontrado." tableStyleClass="mdl-data-table mdl-js-data-table" value="#{autoCompleteControlador.getLista(cc.attrs.tipo)}" var="bean">

						<p:ajax event="rowSelect" listener="#{autoCompleteControlador.onRowSelect}" oncomplete="fecharModalMuiltSelect#{cc.clientId}(); updateInput#{cc.clientId}()" immediate="true"></p:ajax>
						
						<composite:insertChildren />
						
					</p:dataTable>
				
				</div>
	     		
	   	</div>
	   	
	   	<div class="modal-footer">
	   	
     		<a onclick="fecharModalMuiltSelect#{cc.clientId}()" id="modalConfirmacaoBotaoNao" class="modal-action modal-close waves-effect waves-green btn-flat">FECHAR</a>
	     		
	   	</div>
	   	
 	</div>
		
</composite:implementation>

</html>