<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	prependId="false" enctype="multipart/form-data"
	id="formConfiguracao">

	<div class="mdl-grid row">
		
		<p:outputPanel layout="block" styleClass="col s12" style="margin-right: auto; margin-left: auto;">
		
			<div class="card-panel z-depth-2">
			
				<div class="mdl-card__title ouvidoria-title">
		
					<h2 class="mdl-card__title-text">CONFIGURAÇÕES</h2>
		
				</div>
			
				<p:outputPanel id="panelConf" styleClass="mdl-grid">
					
					<ui:repeat var="conf" value="#{configuracaoControlador.configuracaoList}" varStatus="loop">
					
						<p:outputPanel rendered="#{conf.codigo == 1 and configuracaoControlador.anexoFrenteCentificado == null}"  styleClass="input-field mdl-cell mdl-cell--12-col">
						
							<label class="active">#{configuracaoControlador.obterDescricaoConfiguracaoPorCodigo(conf.codigo)}:</label>
							
							<p:fileUpload immediate="true" update="panelConf" process="@this" oncomplete="onLoad();exibirMensagem();" 
								auto="true" fileLimit="1" onstart="removerMensagens();" sizeLimit="10000000" 
								fileLimitMessage="Poderão ser enviados, no máximo, 1 arquivo." invalidFileMessage="Tipo de arquivo não aceito para upload" 
								invalidSizeMessage="Os arquivos poderão conter, no máximo, 10MB" allowTypes="/(\.|\/)(bmp|jpe?g|png)$/"
								fileUploadListener="#{configuracaoControlador.uploadFrenteCertificado}" mode="advanced" />
							
						</p:outputPanel>
						
						<p:outputPanel rendered="#{conf.codigo == 2 and configuracaoControlador.anexoVersoCentificado == null}"   styleClass="input-field mdl-cell mdl-cell--12-col">
						
							<label class="active">#{configuracaoControlador.obterDescricaoConfiguracaoPorCodigo(conf.codigo)}:</label>
							
							<p:fileUpload immediate="true" update="panelConf" process="@this" oncomplete="onLoad();exibirMensagem();" 
								auto="true" fileLimit="1" onstart="removerMensagens();" sizeLimit="10000000" 
								fileLimitMessage="Poderão ser enviados, no máximo, 1 arquivo." invalidFileMessage="Tipo de arquivo não aceito para upload" 
								invalidSizeMessage="Os arquivos poderão conter, no máximo, 10MB" allowTypes="/(\.|\/)(bmp|jpe?g|png)$/"
								fileUploadListener="#{configuracaoControlador.uploadVersoCertificado}" mode="advanced" />
							
						</p:outputPanel>
						
						<p:outputPanel rendered="#{conf.codigo == 3 and configuracaoControlador.anexoImgTopoRelatorio == null}"   styleClass="input-field mdl-cell mdl-cell--12-col">
						
							<label class="active">#{configuracaoControlador.obterDescricaoConfiguracaoPorCodigo(conf.codigo)}:</label>
							
							<p:fileUpload immediate="true" update="panelConf" process="@this" oncomplete="onLoad();exibirMensagem();" 
								auto="true" fileLimit="1" onstart="removerMensagens();" sizeLimit="10000000" 
								fileLimitMessage="Poderão ser enviados, no máximo, 1 arquivo." invalidFileMessage="Tipo de arquivo não aceito para upload" 
								invalidSizeMessage="Os arquivos poderão conter, no máximo, 10MB" allowTypes="/(\.|\/)(bmp|jpe?g|png)$/"
								fileUploadListener="#{configuracaoControlador.uploadImgTopoRelatorio}" mode="advanced" />
							
						</p:outputPanel>
						
						<p:outputPanel rendered="#{conf.codigo gt 3}"  styleClass="input-field mdl-cell mdl-cell--12-col">
						
							<p:inputText maxlength="255" id="titulo-#{conf.codigo}"	value="#{configuracaoControlador.configuracaoList[loop.index].descricao}" />
					
							<label for="titulo-#{conf.codigo}" class="active">#{configuracaoControlador.obterDescricaoConfiguracaoPorCodigo(conf.codigo)}:</label>
					
						</p:outputPanel>
							
					</ui:repeat>
					
					<p:outputPanel id="uploads" styleClass="input-field mdl-cell mdl-cell--12-col">
						<p:outputPanel  rendered="#{configuracaoControlador.anexoFrenteCentificado != null or configuracaoControlador.anexoVersoCentificado != null  or configuracaoControlador.anexoImgTopoRelatorio != null}" layout="block" styleClass="col mdl-cell--6-col">
							<table style="width:100%" class="mdl-data-table mdl-js-data-table is-upgraded" >
								<thead >
									<tr role="row">
										<th class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1" >
											<span class="ui-column-title">Arquivo</span>
										</th>
										<th class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1" >
											<span class="ui-column-title">Descrição</span>
										</th>
										<th class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1" >
											<span class="ui-column-title">Ações</span>
										</th>
									</tr>
								</thead>
								<tbody class="ui-datatable-data ui-widget-content">
									<h:panelGroup rendered="#{configuracaoControlador.anexoFrenteCentificado != null}">
										<tr class="ui-widget-content ui-datatable-even">
											<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">Imagem Frente Certificado</td>
											<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">#{configuracaoControlador.anexoFrenteCentificado.descricao}</td>
											<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">
												<mdl:btn-icon immediate="true" update="panelConf" action="#{configuracaoControlador.limparAnexoFrente}" icon="clear" toolTip="REMOVER ANEXO" />
											</td>
										</tr>
									</h:panelGroup>
									<h:panelGroup rendered="#{configuracaoControlador.anexoVersoCentificado != null}">
										<tr class="ui-widget-content ui-datatable-even">
											<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">Imagem Verso Certificado</td>
											<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">#{configuracaoControlador.anexoVersoCentificado.descricao}</td>
											<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">
												<mdl:btn-icon immediate="true" update="panelConf" action="#{configuracaoControlador.limparAnexoVerso}" icon="clear" toolTip="REMOVER ANEXO" />
											</td>
										</tr>
									</h:panelGroup>
									<h:panelGroup rendered="#{configuracaoControlador.anexoImgTopoRelatorio != null}">
										<tr class="ui-widget-content ui-datatable-even">
											<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">Imagem do topo dos relatórios</td>
											<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">#{configuracaoControlador.anexoImgTopoRelatorio.descricao}</td>
											<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">
												<mdl:btn-icon immediate="true" update="panelConf" action="#{configuracaoControlador.limparAnexoTopoRelatorio}" icon="clear" toolTip="REMOVER ANEXO" />
											</td>
										</tr>
									</h:panelGroup>
								</tbody>
							</table>
						</p:outputPanel>
					</p:outputPanel>
				
					<div class="mdl-cell mdl-cell--12-col">
			
						<p:commandButton id="btnCadastrar" update=":modalAlerta @form"
							onstart="jQuery('#form\\:btnCadastrar span').html('SALVANDO...')"
							oncomplete="jQuery('#form\\:btnCadastrar span').html('SALVAR')"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="SALVAR" action="#{configuracaoControlador.acaoInserir}" 
							alt="SALVAR" title="SALVAR"/>
			
					</div>
			
				</p:outputPanel>
			
			</div>
			
		</p:outputPanel>
	
	</div>
	
</h:form>