<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:form prependId="false" id="form">

	<div class="mdl-grid bottom">

		<mdl:btn-back />

	</div>

	<div class="mdl-grid">

		<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col"
			style="margin-right: auto; margin-left: auto;">

			<div class="card-panel z-depth-2">

				<div class="mdl-card__title ouvidoria-title">

					<h2 class="mdl-card__title-text">#{alertaControlador.visualizar ? 'VISUALIZAR' : (alertaControlador.entidade.id == null ? 'CADASTRAR' : 'EDITAR')} ALERTA</h2>

				</div>

				<p:outputPanel id="panel" styleClass="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
				
					<p:outputPanel rendered="#{alertaControlador.entidade.id == null}" styleClass="mdl-grid">
					
						<div class="mdl-cell mdl-cell--6-col">

							<h:selectBooleanCheckbox id="inserirLote"
								value="#{alertaControlador.inserirPacote}"
								title="INSERIR EM LOTE">
								<p:ajax update="panel" event="change" listener="#{alertaControlador.geraMensagemPadrao()}"/>
							</h:selectBooleanCheckbox>

							<label for="inserirLote" class="active">INSERIR EM LOTE:</label>

						</div>

					
					</p:outputPanel>

					<p:outputPanel rendered="#{!alertaControlador.inserirPacote}" styleClass="mdl-grid">
					
						<div class="input-field mdl-cell mdl-cell--6-col">

							<h:inputHidden required="true" requiredMessage="Por favor, preencha o campo PARTICIPANTE" value="#{alertaControlador.entidade.participante.id}"></h:inputHidden>
										
							<mdl:auto-complete id="autocompleteParticipante" atributo="pessoa.nome"
								entidade="#{alertaControlador.entidade.participante}" 
								tipo="Participante" label="PARTICIPANTE" obrigatorio="#{true}">

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="NOME" priority="1">

									<h:outputText value="#{bean.pessoa.nome}" title="NOME" />

								</p:column>

							</mdl:auto-complete>

						</div>

						<div class="input-field mdl-cell mdl-cell--6-col">

							<h:selectOneMenu id="tipoAlertas"
								value="#{alertaControlador.entidade.tipo}"
								required="true"
								disabled="#{alertaControlador.visualizar}"
								requiredMessage="Por favor, preencha o campo TIPO."
								converter="conversorEntidadePadrao" style="display:block;"
								title="TIPO">

								<f:selectItem itemLabel="Selecione" />

								<f:selectItems
									value="#{alertaControlador.tipoAlertasList}"
									var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />
									
								<p:ajax event="change" update="panelMensagem" 
										listener="#{alertaControlador.geraMensagemPadrao()}" />

							</h:selectOneMenu>

							<label for="tipoAlertas" class="active">TIPO:</label>

						</div>

						<p:outputPanel id="panelMensagem" styleClass="input-field mdl-cell mdl-cell--12-col">

							<p:inputTextarea maxlength="2000" rows="2"
								required="true"
								requiredMessage="Por favor, preencha o campo MENSAGEM."
								disabled="#{alertaControlador.visualizar}"
								value="#{alertaControlador.entidade.mensagem}"
								title="MENSAGEM" />

							<label for="conteudo" class="active">MENSAGEM:</label>

						</p:outputPanel>
								
					</p:outputPanel>
					
					<p:outputPanel rendered="#{alertaControlador.inserirPacote}" styleClass="mdl-grid">
					
						<div class="input-field mdl-cell mdl-cell--6-col">

							<h:inputHidden required="true" requiredMessage="Por favor, preencha o campo EVENTO" value="#{alertaControlador.pacoteAlertas.evento.id}"></h:inputHidden>
										
							<mdl:auto-complete id="autocompleteEvento" atributo="titulo"
								entidade="#{alertaControlador.pacoteAlertas.evento}"
								tipo="Evento" label="EVENTO" obrigatorio="#{true}">

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="TÍTULO" priority="1">

									<h:outputText value="#{bean.titulo}" title="TÍTULO" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="PERÍODO" priority="1">

									<h:outputText value="#{bean.dataInicioRealizacao}"></h:outputText> - <h:outputText
										value="#{bean.dataFimRealizacao}" title="PERÍODO"></h:outputText>

								</p:column>

							</mdl:auto-complete>

						</div>

						<div class="input-field mdl-cell mdl-cell--6-col">

							<h:selectOneMenu id="tipoPacoteAlertas"
								value="#{alertaControlador.pacoteAlertas.tipo}"
								required="true"
								disabled="#{alertaControlador.visualizar}"
								requiredMessage="Por favor, preencha o campo TIPO."
								converter="conversorEntidadePadrao" style="display:block;"
								title="TIPO">

								<f:selectItem itemLabel="Selecione" />

								<f:selectItems
									value="#{alertaControlador.tipoAlertasList}"
									var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />
									
								<p:ajax event="change" update="panelMensagemPacote" 
										listener="#{alertaControlador.geraMensagemPadrao()}" />

							</h:selectOneMenu>

							<label for="tipoPacoteAlertas" class="active">TIPO:</label>

						</div>
						
						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:inputText required="true" maxlength="255"
								requiredMessage="Por favor, preencha o campo NOME." id="titulo"
								disabled="#{alertaControlador.visualizar}"
								value="#{alertaControlador.pacoteAlertas.nome}" alt="NOME"
								title="NOME" styleClass="caixa-alta" />

							<label for="titulo" class="active">NOME:</label>


						</div>

						<p:outputPanel id="panelMensagemPacote" styleClass="input-field mdl-cell mdl-cell--12-col">

							<p:inputTextarea maxlength="2000" rows="2"
								required="true"
								requiredMessage="Por favor, preencha o campo MENSAGEM."
								disabled="#{alertaControlador.visualizar}"
								value="#{alertaControlador.pacoteAlertas.mensagem}"
								title="MENSAGEM" />

							<label for="conteudo" class="active">MENSAGEM:</label>
							
						</p:outputPanel>
					
					</p:outputPanel>
					
					<div class="mdl-grid">

						<div class="mdl-cell mdl-cell--12-col">

							<h:panelGroup rendered="#{!alertaControlador.visualizar}">

								<span> <p:commandButton
										id="btnCadastrar"
										update=":modalAlerta @form :conteudoPrincipal :tituloSistema :formAlerta"
										onstart="$('#form\\:btnCadastrar span').html('SALVANDO...')"
										oncomplete="$('#form\\:btnCadastrar span').html('SALVAR');"
										styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
										value="SALVAR" action="#{alertaControlador.acaoInserir}"
										alt="SALVAR" title="SALVAR" />
								</span>

							</h:panelGroup>

						</div>

					</div>


				</p:outputPanel>

			</div>

		</p:outputPanel>

	</div>

</h:form>

</html>
