<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel id="modalAlertas" styleClass="modal modal-evento">

	<div class="modal-content">

		<h4>Alertas</h4>

			<div class="mdl-grid">
	
				<p:dataTable id="listagemAlertas" paginator="true" rows="10" paginatorPosition="bottom" style="width:100%;" tableStyle="width:100%" 
					emptyMessage="Nenhum registro encontrado." tableStyleClass="bordered responsive-table" value="#{alertaControlador.alertasList}" var="bean">
			
					<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="PARTICIPANTE" priority="1">
					
						<span tabindex="0" title="#{bean.participante.pessoa.nome}">#{bean.participante.pessoa.nome}</span>
					
					</p:column>
					
					<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="TIPO" priority="1">
						
						<span tabindex="0" title="#{bean.pacoteAlertas != null ? bean.pacoteAlertas.tipo.descricao : bean.tipo.descricao}">#{bean.pacoteAlertas != null ? bean.pacoteAlertas.tipo.descricao : bean.tipo.descricao}</span>
					
					</p:column>
					
					<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="MENSAGEM" priority="1">
					
						<span tabindex="0" title="#{bean.pacoteAlertas != null ? bean.pacoteAlertas.mensagem : bean.mensagem}">#{bean.pacoteAlertas != null ? bean.pacoteAlertas.getMensagemLimitada(50) : bean.getMensagemLimitada(50)}</span>
					
					</p:column>
					
					<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="LOTE" priority="1">
					
						<span tabindex="0" title="#{bean.pacoteAlertas.nome}">#{bean.pacoteAlertas.nome}</span>
					
					</p:column>
					
					<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="DATA DE VISUALIZAÇÃO" priority="1">
					
						<span tabindex="0" title="#{bean.dataVisualizacao}"><h:outputText value="#{bean.dataVisualizacao}" /></span>
					
					</p:column>
					
					<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="AÇÕES" priority="1" >
			
						<mdl:btn-icon update=":tituloSistema :conteudoPrincipal" action="#{alertaControlador.acaoVisualizarAlerta(bean)}" icon="search" toolTip="VISUALIZAR" />
						
					</p:column>
							
				</p:dataTable>
				
			</div>

	</div>

	<div class="modal-footer">

		<a href="#!" onclick="fecharModal('modalAlertas')" class="modal-action modal-close waves-effect waves-green btn-flat">FECHAR</a>

	</div>

</p:outputPanel>

</html>