<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:form prependId="false" id="form">

	<div class="mdl-grid bottom">

		<p:remoteCommand name="acaoAbrirTelaCadastroAlertas"
			update=":conteudoPrincipal :tituloSistema"
			action="#{alertaControlador.acaoAbrirTela(null, 'false')}" />

		<mdl:btn-add toolTip="Abrir Cadastro"
			onclick="acaoAbrirTelaCadastroAlertas();" />

	</div>

	<div class="mdl-grid">
	
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
			style="padding: 0; margin-left: auto;">

			<label for="nome" title="Buscar"  style="texto-buscar"> 
				Buscar:
			</label>

			<div style="width: 400px">
	    	
				<p:inputText  styleClass="mdl-textfield__input" value="#{alertaControlador.lista.consulta}" placeholder="Insira seu parâmetro de pesquisa" id="nome" alt="Insira seu parâmetro de pesquisa" title="Insira seu parâmetro de pesquisa">
				
					<p:ajax event="keyup" update=":listagem" />
				
				</p:inputText>
					
	    	</div>
	    	
	  	</div>
	
		<p:dataTable id="listagem" lazy="true" 
			paginator="true" rows="10" paginatorPosition="bottom" style="width:100%;" tableStyle="width:100%" 
			emptyMessage="Nenhum registro encontrado." tableStyleClass="bordered responsive-table" value="#{alertaControlador.lista}" var="bean">
	
			<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="PARTICIPANTE" priority="1">
			
				<span tabindex="0" title="#{bean.participante.pessoa.nome}">#{bean.participante.pessoa.nome}</span>
			
			</p:column>
			
			<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="TIPO" priority="1">
				
				<span tabindex="0" title="#{bean.pacoteAlertas != null ? bean.pacoteAlertas.tipo.descricao : bean.tipo.descricao}">#{bean.pacoteAlertas != null ? bean.pacoteAlertas.tipo.descricao : bean.tipo.descricao}</span>
			
			</p:column>
			
			<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="MENSAGEM" priority="1">
			
				<span tabindex="0" title="#{bean.pacoteAlertas != null ? bean.pacoteAlertas.mensagem : bean.mensagem}">#{bean.pacoteAlertas != null ? bean.pacoteAlertas.getMensagemLimitada(50) : bean.getMensagemLimitada(50)}</span>
			
			</p:column>
			
			<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="LOTE" priority="1">
			
				<span tabindex="0" title="#{bean.pacoteAlertas.nome}">#{bean.pacoteAlertas.nome}</span>
			
			</p:column>
			
			<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="DATA DE VISUALIZAÇÃO" priority="1">
			
				<span tabindex="0" title="#{bean.dataVisualizacao}"><h:outputText value="#{bean.dataVisualizacao}" /></span>
			
			</p:column>
					
			<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="AÇÕES" priority="1" >
			
				<mdl:btn-icon update=":tituloSistema :conteudoPrincipal" action="#{alertaControlador.acaoAbrirTela(bean, 'true')}" icon="search" toolTip="VISUALIZAR" />
				
				<mdl:btn-icon update=":tituloSistema :conteudoPrincipal" action="#{alertaControlador.acaoAbrirTela(bean, 'false')}" icon="create" toolTip="EDITAR" />
				
				<p:remoteCommand name="excluir#{bean.id}" actionListener="#{alertaControlador.acaoExcluir(bean)}" update=":modalAlerta" />
				
				<button id="btnExcluir" onclick="confirmar('Confirma a operação?', excluir#{bean.id});return false;" class="mdl-button mdl-js-button mdl-button--icon">
		
					<i class="material-icons">delete</i> <span class="visuallyhidden">EXCLUIR</span>
					
				</button>
				
				<div class="mdl-tooltip" for="btnExcluir">EXCLUIR</div>
			
			</p:column>
		
		</p:dataTable>
		
	</div>

</h:form>
</html>
