<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	  xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:form prependId="false" id="formList">

	<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col"
				   style="margin-right: auto; margin-left: auto;">

		<div class="card-panel z-depth-2">

			<div class="mdl-card__title ouvidoria-title"></div>

			<div class="mdl-grid">

				<div class="input-field mdl-cell mdl-cell--6-col">

					<h:selectOneMenu id="relatorio"
									 value="#{relatorioControlador.relatorioSelecionado}"
									 required="true"
									 requiredMessage="Por favor, preencha o campo RELATÓRIO."
									 style="display:block;" title="RELATÓRIO">

						<f:selectItem itemLabel="Selecione" />

						<f:selectItems value="#{relatorioControlador.relatorioList}"
									   var="rel" itemLabel="#{rel.descricao}" itemValue="#{rel}" />

						<p:ajax event="change" update="@form" oncomplete="defineMascaras()"
								listener="#{relatorioControlador.limparCampos()}" />

					</h:selectOneMenu>

					<label for="relatorio" class="active">RELATÓRIO:</label>

				</div>

			</div>

			<p:outputPanel id="panel-relatorio" styleClass="mdl-grid"
						   rendered="#{relatorioControlador.relatorioSelecionado != null}">

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('EVENTO')}">

					<h:inputHidden
							required="#{relatorioControlador.verificaObrigatoriedade('EVENTO')}"
							requiredMessage="Por favor, preencha o campo EVENTO."
							value="#{relatorioControlador.evento.titulo}"></h:inputHidden>

					<mdl:auto-complete id="autocompleteEvento" atributo="titulo"
									   obrigatorio="#{relatorioControlador.verificaObrigatoriedade('EVENTO')}"
									   entidade="#{relatorioControlador.evento}" tipo="Evento"
									   label="EVENTO" update="panel-relatorio">

						<p:column styleClass="mdl-data-table__cell--non-numeric"
								  headerText="TÍTULO" priority="1">

							<h:outputText value="#{bean.titulo}" title="TÍTULO" />

						</p:column>

					</mdl:auto-complete>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--12-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('EVENTOS')}">

					<mdl:multi-select id="multSelect" atributo="titulo"
									  lista="#{relatorioControlador.eventoList}" tipo="Evento"
									  label="Eventos" obrigatorio="#{true}">

						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="TÍTULO" priority="1">

							<h:outputText value="#{bean.titulo}" title="TÍTULO" />

						</p:column>

					</mdl:multi-select>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('PARTICIPANTE')}">

					<h:inputHidden
							required="#{relatorioControlador.verificaObrigatoriedade('PARTICIPANTE')}"
							requiredMessage="Por favor, preencha o campo PARTICIPANTE."
							value="#{relatorioControlador.inscricao.participante.pessoa.nome}"></h:inputHidden>

					<mdl:auto-complete id="autocompleteParticipante"
									   obrigatorio="#{relatorioControlador.verificaObrigatoriedade('PARTICIPANTE')}"
									   atributo="nomeParticipante"
									   entidade="#{relatorioControlador.inscricao}" tipo="Inscricao"
									   label="PARTICIPANTE" filters="#{relatorioControlador.filtro}">

						<p:column styleClass="mdl-data-table__cell--non-numeric"
								  headerText="NOME" priority="1">

							<h:outputText value="#{bean.participante.pessoa.nome}"
										  title="NOME" />

						</p:column>

					</mdl:auto-complete>

				</p:outputPanel>


				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('MODULO')}">

					<h:inputHidden
							required="#{relatorioControlador.verificaObrigatoriedade('MODULO')}"
							requiredMessage="Por favor, preencha o campo MÓDULO."
							value="#{relatorioControlador.modulo.titulo}"></h:inputHidden>

					<mdl:auto-complete id="autocompleteModulo"
									   obrigatorio="#{relatorioControlador.verificaObrigatoriedade('MODULO')}"
									   atributo="titulo" entidade="#{relatorioControlador.modulo}"
									   tipo="Modulo" label="MÓDULO"
									   filters="#{relatorioControlador.filtro}">

						<p:column styleClass="mdl-data-table__cell--non-numeric"
								  headerText="TÍTULO" priority="1">

							<h:outputText value="#{bean.titulo}" title="TÍTULO" />

						</p:column>

					</mdl:auto-complete>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('INSTRUTOR')}">

					<h:selectOneMenu id="instrutor"
									 value="#{relatorioControlador.instrutor}"
									 required="#{relatorioControlador.verificaObrigatoriedade('INSTRUTOR')}"
									 requiredMessage="Por favor, preencha o campo INSTRUTOR."
									 style="display:block;" converter="conversorEntidadePadrao"
									 title="INSTRUTOR">

						<f:selectItem itemLabel="Todos" />

						<f:selectItems value="#{relatorioControlador.instrutorList}"
									   var="instrutor" itemLabel="#{instrutor.pessoa.nome}"
									   itemValue="#{instrutor}" />

					</h:selectOneMenu>

					<label for="instrutor" class="active">INSTRUTOR:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('TIPO_PARTICIPANTE')}">

					<h:selectOneMenu id="tipoParticipante"
									 value="#{relatorioControlador.tipoParticipante}"
									 required="#{relatorioControlador.verificaObrigatoriedade('TIPO_PARTICIPANTE')}"
									 requiredMessage="Por favor, preencha o campo TIPO PARTICIPANTE."
									 style="display:block;" converter="conversorEntidadePadrao"
									 title="TIPO PARTICIPANTE">

						<f:selectItem itemLabel="Todos" />

						<f:selectItems
								value="#{relatorioControlador.tipoParticipanteList}"
								var="tipoParticipante" itemLabel="#{tipoParticipante.descricao}"
								itemValue="#{tipoParticipante}" />

					</h:selectOneMenu>

					<label for="tipoParticipante" class="active">TIPO
						PARTICIPANTE:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('DATA_INICIO')}">

					<p:calendar
							required="#{relatorioControlador.verificaObrigatoriedade('DATA_INICIO')}"
							requiredMessage="Por favor, preencha o campo DATA INÍCIO."
							id="dataInicio" locale="pt_BR" styleClass="hasDatepicker"
							value="#{relatorioControlador.dataInicio}" pattern="dd/MM/yyyy"
							alt="DATA INÍCIO" title="DATA INÍCIO">

						<f:convertDateTime pattern="dd/MM/yyyy" />

					</p:calendar>

					<label for="dataInicio" class="active">DATA INÍCIO:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('DATA_FIM')}">

					<p:calendar
							required="#{relatorioControlador.verificaObrigatoriedade('DATA_FIM')}"
							requiredMessage="Por favor, preencha o campo DATA FIM."
							id="dataFim" locale="pt_BR" styleClass="hasDatepicker"
							value="#{relatorioControlador.dataFim}" pattern="dd/MM/yyyy"
							alt="DATA FIM" title="DATA FIM">

						<f:convertDateTime pattern="dd/MM/yyyy" />

					</p:calendar>

					<label for="dataFim" class="active">DATA FIM:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('IMPORTADO')}">

					<h:selectOneMenu id="importado" converter="booleanEnumConverter"
									 value="#{relatorioControlador.importado}"
									 required="#{relatorioControlador.verificaObrigatoriedade('IMPORTADO')}"
									 requiredMessage="Por favor, preencha o campo IMPORTADO"
									 style="display:block;" title="IMPORTADO">

						<f:selectItem itemLabel="Todos" />

						<f:selectItems value="#{relatorioControlador.booleanItemList}"
									   var="bool" itemLabel="#{bool.descricao}" itemValue="#{bool}" />

					</h:selectOneMenu>

					<label for="importado" class="active">IMPORTADO:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('INDICADA')}">

					<h:selectOneMenu id="indicada" converter="booleanEnumConverter"
									 value="#{relatorioControlador.indicada}"
									 required="#{relatorioControlador.verificaObrigatoriedade('INDICADA')}"
									 requiredMessage="Por favor, preencha o campo INDICADA."
									 style="display:block;" title="INDICADA">

						<f:selectItem itemLabel="TODOS" />

						<f:selectItems value="#{relatorioControlador.booleanItemList}"
									   var="bool" itemLabel="#{bool.descricao}" itemValue="#{bool}" />

					</h:selectOneMenu>

					<label for="indicada" class="active">INDICADA:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('AUTORIZADA')}">

					<h:selectOneMenu id="autorizada" converter="autorizaEnumConverter"
									 value="#{relatorioControlador.autorizada}"
									 required="#{relatorioControlador.verificaObrigatoriedade('AUTORIZADA')}"
									 requiredMessage="Por favor, preencha o campo AUTORIZADA."
									 style="display:block;" title="AUTORIZADA">

						<f:selectItem itemLabel="TODOS" />

						<f:selectItems value="#{relatorioControlador.autorizaItemList}"
									   var="bool" itemLabel="#{bool.descricao}" itemValue="#{bool}" />

					</h:selectOneMenu>

					<label for="autorizada" class="active">AUTORIZADA:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('PNE')}">

					<h:selectOneMenu id="pne" converter="booleanEnumConverter"
									 value="#{relatorioControlador.pne}"
									 required="#{relatorioControlador.verificaObrigatoriedade('PNE')}"
									 requiredMessage="Por favor, preencha o campo PNE"
									 style="display:block;" title="PNE">

						<f:selectItem itemLabel="TODOS" />

						<f:selectItems value="#{relatorioControlador.booleanItemList}"
									   var="bool" itemLabel="#{bool.descricao}" itemValue="#{bool}" />

					</h:selectOneMenu>

					<label for="pne" class="active">PNE:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('TIPO_EVENTO')}">

					<h:selectOneMenu id="tipoEvento"
									 converter="conversorEntidadePadrao"
									 value="#{relatorioControlador.tipoEvento}"
									 required="#{relatorioControlador.verificaObrigatoriedade('TIPO_EVENTO')}"
									 requiredMessage="Por favor, preencha o campo TIPO EVENTO."
									 style="display:block;" title="TIPO EVENTO">

						<f:selectItem itemLabel="Todos" />

						<f:selectItems value="#{relatorioControlador.tipoEventoList}"
									   var="obj" itemLabel="#{obj.descricao}" itemValue="#{obj}" />

					</h:selectOneMenu>

					<label for="tipoEvento" class="active">TIPO EVENTO:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('EIXO_TEMATICO')}">

					<h:selectOneMenu id="eixoTematico"
									 converter="conversorEntidadePadrao"
									 value="#{relatorioControlador.eixoTematico}"
									 required="#{relatorioControlador.verificaObrigatoriedade('EIXO_TEMATICO')}"
									 requiredMessage="Por favor, preencha o campo EIXO TEMÁTICO."
									 style="display:block;" title="EIXO TEMÁTICO">

						<f:selectItem itemLabel="Todos" />

						<f:selectItems value="#{relatorioControlador.eixoTematicoList}"
									   var="obj" itemLabel="#{obj.descricao}" itemValue="#{obj}" />

					</h:selectOneMenu>

					<label for="eixoTematico" class="active">EIXO TEMÁTICO:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('PUBLICO_ALVO')}">

					<h:selectOneMenu id="publicoAlvo"
									 converter="conversorEntidadePadrao"
									 value="#{relatorioControlador.publicoAlvo}"
									 required="#{relatorioControlador.verificaObrigatoriedade('PUBLICO_ALVO')}"
									 requiredMessage="Por favor, preencha o campo PÚBLICO ALVO."
									 style="display:block;" title="PÚBLICO ALVO">

						<f:selectItem itemLabel="Todos" />

						<f:selectItems
								value="#{relatorioControlador.tipoParticipanteList}" var="obj"
								itemLabel="#{obj.descricao}" itemValue="#{obj}" />

					</h:selectOneMenu>

					<label for="publicoAlvo" class="active">PÚBLICO ALVO:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('MODALIDADE')}">

					<h:selectOneMenu id="modalidade"
									 converter="conversorEntidadePadrao"
									 value="#{relatorioControlador.modalidade}"
									 required="#{relatorioControlador.verificaObrigatoriedade('MODALIDADE')}"
									 requiredMessage="Por favor, preencha o campo MODALIDADE."
									 style="display:block;" title="MODALIDADE">

						<f:selectItem itemLabel="Todos" />

						<f:selectItems value="#{relatorioControlador.modalidadeList}"
									   var="obj" itemLabel="#{obj.descricao}" itemValue="#{obj}" />

					</h:selectOneMenu>

					<label for="modalidade" class="active">MODALIDADE:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('PROVEDOR')}">

					<h:inputHidden
							required="#{relatorioControlador.verificaObrigatoriedade('PROVEDOR')}"
							requiredMessage="Por favor, preencha o campo PROVEDOR."
							value="#{relatorioControlador.provedorEvento.descricao}"></h:inputHidden>

					<mdl:auto-complete id="autocompleteProvedor" atributo="descricao"
									   entidade="#{relatorioControlador.provedorEvento}"
									   tipo="ProvedorEvento" label="PROVEDOR"
									   obrigatorio="#{relatorioControlador.verificaObrigatoriedade('PROVEDOR')}">

						<p:column styleClass="mdl-data-table__cell--non-numeric"
								  headerText="DESCRIÇÃO" priority="1">

							<h:outputText value="#{bean.descricao}" title="PROVEDOR"></h:outputText>
						</p:column>

					</mdl:auto-complete>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('LOCALIZACAO')}">

					<h:inputHidden
							required="#{relatorioControlador.verificaObrigatoriedade('LOCALIZACAO')}"
							requiredMessage="Por favor, preencha o campo LOCALIZAÇÃO."
							value="#{relatorioControlador.localizacaoEvento.descricao}"></h:inputHidden>

					<mdl:auto-complete id="autocompleteLocalizacao"
									   atributo="descricao"
									   entidade="#{relatorioControlador.localizacaoEvento}"
									   tipo="LocalizacaoEvento" label="LOCALIZAÇÃO"
									   obrigatorio="#{relatorioControlador.verificaObrigatoriedade('LOCALIZACAO')}">

						<p:column styleClass="mdl-data-table__cell--non-numeric"
								  headerText="DESCRIÇÃO" priority="1">

							<h:outputText value="#{bean.descricao}" title="LOCALIZAÇÃO" />

						</p:column>

					</mdl:auto-complete>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('CIDADE')}">

					<h:selectOneMenu id="estado" converter="conversorEntidadePadrao"
									 value="#{relatorioControlador.estado}"
									 required="#{relatorioControlador.verificaObrigatoriedade('CIDADE')}"
									 requiredMessage="Por favor, preencha o campo ESTADO."
									 style="display:block;" title="ESTADO">

						<f:selectItem itemLabel="Todos" />

						<f:selectItems value="#{relatorioControlador.estadoList}"
									   var="obj" itemLabel="#{obj.descricao}" itemValue="#{obj}" />

						<p:ajax event="change" update="panel-cidade"
								listener="#{relatorioControlador.listarCidades}" />

					</h:selectOneMenu>

					<label for="estado" class="active">ESTADO:</label>

				</p:outputPanel>

				<p:outputPanel id="panel-cidade"
							   styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('CIDADE')}">

					<h:selectOneMenu id="cidade" converter="conversorEntidadePadrao"
									 value="#{relatorioControlador.cidade}"
									 required="#{relatorioControlador.verificaObrigatoriedade('CIDADE')}"
									 requiredMessage="Por favor, preencha o campo CIDADE."
									 style="display:block;" title="CIDADE">

						<f:selectItem itemLabel="Todos" />

						<f:selectItems value="#{relatorioControlador.cidadeList}"
									   var="obj" itemLabel="#{obj.descricao}" itemValue="#{obj}" />

					</h:selectOneMenu>

					<label for="cidade" class="active">CIDADE:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('CARGO')}">

					<h:selectOneMenu id="cargo" converter="conversorEntidadePadrao"
									 value="#{relatorioControlador.cargo}"
									 required="#{relatorioControlador.verificaObrigatoriedade('CARGO')}"
									 requiredMessage="Por favor, preencha o campo CARGO."
									 style="display:block;" title="CARGO">

						<f:selectItem itemLabel="Todos" />

						<f:selectItems value="#{relatorioControlador.cargoList}"
									   var="obj" itemLabel="#{obj.descricao}" itemValue="#{obj}" />

					</h:selectOneMenu>

					<label for="cargo" class="active">CARGO:</label>

				</p:outputPanel>




				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col" rendered="#{relatorioControlador.verificaVisibilidade('INICIAL_NOME_PARTICIPANTE')}">

					<h:selectManyListbox value="#{relatorioControlador.selectedLetras}" style="width: 100%; height: 150px; float:right;" >
						<f:selectItems value="#{relatorioControlador.letras}" var="letras" itemLabel="#{letras}" itemValue="#{letras}" />
					</h:selectManyListbox>



					<label class="active">INICIAIS:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('PARTICIPANTES_PRESENTES')}">

					<h:selectOneMenu id="participantesPresentes" converter="booleanEnumConverter"
									 value="#{relatorioControlador.participantesPresentes}"
									 required="#{relatorioControlador.verificaObrigatoriedade('PARTICIPANTES_PRESENTES')}"
									 requiredMessage="Por favor, preencha o campo PARTICIPANTES PRESENTES."
									 style="display:block;" title="PARTICIPANTES PRESENTES.">

						<f:selectItems value="#{relatorioControlador.booleanItemList}"
									   var="bool" itemLabel="#{bool.descricao}" itemValue="#{bool}" />


					</h:selectOneMenu>

					<label for="participantesPresentes" class="active">PARTICIPANTES PRESENTES:</label>

				</p:outputPanel>

				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							   rendered="#{relatorioControlador.verificaVisibilidade('APROVADOS')}">

					<h:selectOneMenu id="aprovados" converter="booleanEnumConverter"
									 value="#{relatorioControlador.aprovados}"
									 required="#{relatorioControlador.verificaObrigatoriedade('APROVADOS')}"
									 requiredMessage="Por favor, preencha o campo APROVADOS."
									 style="display:block;" title="APROVADOS.">

						<f:selectItems value="#{relatorioControlador.booleanItemList}"
									   var="bool" itemLabel="#{bool.descricao}" itemValue="#{bool}" />

					</h:selectOneMenu>

					<label for="aprovados" class="active">APROVADOS:</label>

				</p:outputPanel>

			</p:outputPanel>

			<div class="mdl-grid">

				<div class="mdl-cell mdl-cell--12-col">

					<h:commandLink id="btnGerar" ajax="false"
								   rendered="#{relatorioControlador.relatorioSelecionado != null}"
								   styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
								   value="GERAR RELATÓRIO PDF"
								   action="#{relatorioControlador.gerarRelatorioPDF}"
								   title="GERAR RELATÓRIO PDF" />

					<h:commandLink id="btnGerarExcel" ajax="false" style="margin-left: 10px;"
								   rendered="#{relatorioControlador.relatorioSelecionado != null and relatorioControlador.relatorioSelecionado != 'RELATORIO_PARTICIPANTE'
									and relatorioControlador.relatorioSelecionado != 'RELATORIO_CERTIFICADO_INSTRUTOR'
									and relatorioControlador.relatorioSelecionado != 'RELATORIO_DECLARACAO_PARTICIPANTE'}"
								   styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
								   value="GERAR RELATÓRIO EXCEL"
								   action="#{relatorioControlador.gerarRelatorioExcel}"
								   title="GERAR RELATÓRIO EXCEL" />

					<c:if test="#{relatorioControlador.relatorioSelecionado == 'RELATORIO_PARTICIPANTE'}">

						<h:commandLink id="btnGerarXLS" ajax="false" style="margin-left: 10px;"
									   styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									   value="GERAR RELATÓRIO EXCEL"
									   action="#{relatorioControlador.gerarRelatorioXLS}"
									   title="GERAR RELATÓRIO EXCEL" />

						<h:commandLink id="btnGerarCSV" ajax="false" style="margin-left: 10px;"
									   styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									   value="GERAR E-MAILS"
									   action="#{relatorioControlador.gerarEmailsParticipante}"
									   title="GERAR E-MAILS" />

					</c:if>


				</div>

			</div>

		</div>

	</p:outputPanel>

</h:form>

</html>
