<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<div class="mdl-grid bottom">

	<h:form id="form-voltar">
		<mdl:btn-back />
	</h:form>

</div>

<div class="mdl-grid mdl-grid">

	<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col"
		style="margin-right: auto; margin-left: auto;">

		<div class="card-panel z-depth-2">

			<div class="mdl-card__title ouvidoria-title">

				<h2 class="mdl-card__title-text">#{participanteControlador.visualizar
					? 'VISUALIZAR' : (participanteControlador.entidade.id == null ?
					'CADASTRAR' : 'EDITAR')} PARTICIPANTE</h2>

			</div>

			<div id="grid-dados" class="mdl-grid">

				<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

					<div class="mdl-tabs__tab-bar">

						<h:panelGroup
							rendered="#{(participanteControlador.visualizar) || (participanteControlador.entidade.id != null)}">

							<a href="#dados-pessoais" onclick="limparAbaAtiva()"
								class="mdl-tabs__tab is-active aba_dados_pessoais">DADOS
								PESSOAIS</a>

							<a href="#dados-participante" onclick="limparAbaAtiva()"
								class="mdl-tabs__tab aba_dados_participante">DADOS DO
								PARTICIPANTE</a>

						</h:panelGroup>


						<h:panelGroup
							rendered="#{(!participanteControlador.visualizar) and (participanteControlador.entidade.id == null)}">

							<a href="#" class="mdl-tabs__tab is-active aba_dados_pessoais">DADOS
								PESSOAIS</a>

							<a href="#" class="mdl-tabs__tab aba_dados_participante">DADOS
								DO PARTICIPANTE</a>

						</h:panelGroup>


					</div>

					<br />

					<h:form id="form-dados-pessoais" prependId="false"
						enctype="multipart/form-data">

						<div class="mdl-tabs__panel is-active aba_dados_pessoais"
							id="dados-pessoais">

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputMask required="true" validator="cpfValidador"
										requiredMessage="Por favor, preencha o campo CPF." id="cpf"
										mask="999.999.999-99" maxlength="4"
										disabled="#{participanteControlador.visualizar}"
										value="#{participanteControlador.entidade.pessoa.cpf}"
										alt="CPF" title="CPF">

										<p:ajax event="blur" update=":modalAlerta @form"
											process="@this"
											listener="#{participanteControlador.verificaExistenciaCPF}" />

									</p:inputMask>

									<label for="cpf" class="active">CPF:</label>

								</div>


								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputText required="true"
										requiredMessage="Por favor, preencha o campo NOME."
										maxlength="255" id="nome"
										disabled="#{participanteControlador.visualizar}"
										value="#{participanteControlador.entidade.pessoa.nome}"
										alt="NOME" title="NOME" styleClass="caixa-alta" />

									<label for="nome" class="active">NOME:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:calendar id="dataNascimento" locale="pt_BR" required="true"
										requiredMessage="Por favor, preencha o campo DATA DE NASCIMENTO."
										disabled="#{participanteControlador.visualizar}"
										value="#{participanteControlador.entidade.pessoa.dataNascimento}"
										styleClass="hasDatepicker" pattern="dd/MM/yyyy"
										alt="DATA DE NASCIMENTO" title="DATA DE NASCIMENTO" />

									<label for="dataNascimento" class="active">DATA DE
										NASCIMENTO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--3-col">

									<h:selectOneRadio id="sexo"
										value="#{participanteControlador.entidade.pessoa.sexo}"
										required="true"
										requiredMessage="Por favor, informe o campo SEXO."
										title="SEXO" tabindex="0">

										<f:converter converterId="conversorEntidadePadrao" />

										<f:selectItems value="#{participanteControlador.sexoList}"
											var="s" itemLabel="#{s.descricao}" itemValue="#{s}" />

									</h:selectOneRadio>

									<label for="sexo" class="active">SEXO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--5-col">

									<p:inputText validator="emailValidador" required="true"
										maxlength="255"
										requiredMessage="Por favor, preencha o campo EMAIL."
										styleClass="verificar-capslock" id="email"
										disabled="#{participanteControlador.visualizar}"
										value="#{participanteControlador.entidade.pessoa.email}"
										alt="E-MAIL" title="E-MAIL" />

									<label for="email" class="active">E-MAIL:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText styleClass="telefone" id="telefone"
										disabled="#{participanteControlador.visualizar}"
										value="#{participanteControlador.entidade.pessoa.telefone}"
										required="true"
										requiredMessage="Por favor, preencha o campo TELEFONE."
										alt="TELEFONE" title="TELEFONE" />

									<label for="telefone" class="active">TELEFONE:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText styleClass="telefone" id="celular"
										disabled="#{participanteControlador.visualizar}"
										value="#{participanteControlador.entidade.pessoa.celular}"
										alt="CELULAR" title="CELULAR" />

									<label for="celular" class="active">CELULAR:</label>

								</div>

							</div>

							<p:outputPanel id="panelCidadeMunicipio" styleClass="mdl-grid"
								layout="block">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<h:selectOneMenu id="tipoParticipante" onclick="carregaToolTipsTipoParticipante()"
										value="#{participanteControlador.entidade.tipo}"
										required="true"
										requiredMessage="Por favor, preencha o campo TIPO."
										converter="conversorEntidadePadrao"
										disabled="#{participanteControlador.visualizar}"
										style="display:block;" title="TIPO">

										<f:selectItem id="selecione" itemLabel="Selecione" />

										<f:selectItems id="itemTipoSelecionado"
											value="#{participanteControlador.tipoPublicAlvoList}" 
											var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

										<p:ajax event="change"
											update="mdl-grid1, mdl-grid2, mdl-grid3, panelCidadeMunicipio"
											listener="#{participanteControlador.selecionarTipoParticipante}" />

									</h:selectOneMenu>
													
									<p:outputPanel rendered="#{participanteControlador.entidade.tipo != null}">
										<div class="mdl-tooltip" for="tipoParticipante">
										
											<p:outputPanel rendered="#{participanteControlador.entidade.tipo.codigo == 1}"> 
												JURISDICIONADO: Agente político e servidor público municipal.
												<script>document.getElementById("tipoParticipante").value</script>
											</p:outputPanel>
											
											<p:outputPanel rendered="#{participanteControlador.entidade.tipo.codigo == 2}"> 
												SOCIEDADE: Sem vínculo com a administração pública municipal.
											</p:outputPanel>
											
											<p:outputPanel rendered="#{participanteControlador.entidade.tipo.codigo == 3}"> 
												INTERNO TCM: Servidor do Tribunal de Contas dos Municípios do Estado de Goiás (TCM GO).
											</p:outputPanel>
										
										</div>
									</p:outputPanel>	

									<label for="tipoParticipante" class="active">TIPO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<h:selectOneMenu id="estado"
										value="#{participanteControlador.estado}"
										converter="conversorEntidadePadrao"
										disabled="#{(participanteControlador.visualizar == true) || (participanteControlador.entidade.tipo.codigo == 1)}"
										style="display:block;" required="true"
										requiredMessage="Por favor, informe o campo ESTADO."
										title="ESTADO">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems value="#{participanteControlador.estados}"
											var="estado" itemLabel="#{estado.descricao}"
											itemValue="#{estado}" />

										<p:ajax event="change" update="panelCidadeMunicipio"
											listener="#{participanteControlador.listarCidades}" />

									</h:selectOneMenu>

									<label for="estado" class="active">ESTADO:</label>

								</div>

								<p:outputPanel id="panelMunicipio"
									rendered="#{(participanteControlador.entidade.tipo.codigo != 2)
												and (participanteControlador.entidade.tipo.codigo != 4)
												and (participanteControlador.estado.uf == 'GO')}"
									styleClass="input-field mdl-cell mdl-cell--4-col"
									layout="block">

									<h:selectOneMenu id="municipio"
										value="#{participanteControlador.entidade.endereco.municipioId}"
										disabled="#{participanteControlador.visualizar}"
										style="display:block;" required="true"
										requiredMessage="Por favor, informe o campo CIDADE."
										title="CIDADE">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{participanteControlador.municipioList}"
											var="municipio" itemLabel="#{municipio.descricao}"
											itemValue="#{municipio.id}" />

										<p:ajax event="change" update="mdl-grid2"
											listener="#{participanteControlador.listarOrgaos}" />

									</h:selectOneMenu>

									<label for="municipio" class="active">CIDADE (Local de
										Trabalho):</label>

								</p:outputPanel>

								<p:outputPanel id="panelCidade"
									styleClass="input-field mdl-cell mdl-cell--4-col"
									layout="block"
									rendered="#{(participanteControlador.entidade.tipo.codigo == 2)
												or (participanteControlador.entidade.tipo.codigo == 4)
												or (participanteControlador.estado.uf != 'GO')}">

									<h:selectOneMenu id="cidade"
										value="#{participanteControlador.entidade.endereco.cidade}"
										converter="conversorEntidadePadrao"
										disabled="#{participanteControlador.visualizar}"
										style="display:block;" required="true"
										requiredMessage="Por favor, informe o campo CIDADE."
										title="CIDADE">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems value="#{participanteControlador.cidades}"
											var="cidade" itemLabel="#{cidade.descricao}"
											itemValue="#{cidade}" />

									</h:selectOneMenu>

									<label for="cidade" class="active">CIDADE:</label>

								</p:outputPanel>

							</p:outputPanel>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputText id="bairro"
										disabled="#{participanteControlador.visualizar}"
										maxlength="100"
										value="#{participanteControlador.entidade.endereco.bairro}"
										required="true"
										requiredMessage="Por favor, preencha o campo BAIRRO."
										alt="BAIRRO" title="BAIRRO" />

									<label for="bairro" class="active">BAIRRO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputText id="logradouro"
										disabled="#{participanteControlador.visualizar}"
										maxlength="255"
										value="#{participanteControlador.entidade.endereco.logradouro}"
										required="true"
										requiredMessage="Por favor, preencha o campo LOGRADOURO."
										alt="LOGRADOURO" title="LOGRADOURO" />

									<label for="logradouro" class="active">LOGRADOURO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText id="complemento"
										disabled="#{participanteControlador.visualizar}"
										maxlength="255"
										value="#{participanteControlador.entidade.endereco.complemento}"
										alt="COMPLEMENTO" title="COMPLEMENTO" />

									<label for="complemento" class="active">COMPLEMENTO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText id="numero"
										disabled="#{participanteControlador.visualizar}"
										maxlength="10"
										value="#{participanteControlador.entidade.endereco.numero}"
										alt="NÚMERO" title="NÚMERO" />

									<label for="numero" class="active">NÚMERO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputMask mask="99999-999" id="cep"
										disabled="#{participanteControlador.visualizar}"
										value="#{participanteControlador.entidade.endereco.cep}"
										required="true"
										requiredMessage="Por favor, preencha o campo CEP." alt="CEP"
										title="CEP" />

									<label for="cep" class="active">CEP:</label>

								</div>

							</div>

							<p:outputPanel id="panelTipoNecessidadeEspecial"
								styleClass="mdl-grid">

								<div class="mdl-cell mdl-cell--3-col">

									<h:selectBooleanCheckbox id="pne"
										disabled="#{participanteControlador.visualizar}"
										value="#{participanteControlador.entidade.pne}"
										title="É portador de necessidades especiais?">

										<p:ajax update="panelTipoNecessidadeEspecial" process="@this"
											event="change" />

									</h:selectBooleanCheckbox>

									<label for="pne" class="active">É portador de
										necessidades especiais?</label>
								</div>

								<p:outputPanel styleClass="input-field mdl-cell mdl-cell--4-col"
									rendered="#{participanteControlador.entidade.pne}">

									<h:selectOneMenu id="tipoNecessidadeEspecial"
										value="#{participanteControlador.entidade.tipoNecessidadeEspecial}"
										required="true"
										requiredMessage="Por favor, preencha o campo TIPO DE NECESSIDADE ESPECIAL."
										converter="conversorEntidadePadrao"
										disabled="#{participanteControlador.visualizar}"
										style="display:block;" title="TIPO DE NECESSIDADE ESPECIAL">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{participanteControlador.tiposNecessidadesEspeciaisList}"
											var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

										<p:ajax update="panelTipoNecessidadeEspecial" process="@this"
											event="change" />

									</h:selectOneMenu>

									<label for="tipoNecessidadeEspecial" class="active">TIPO
										DE NECESSIDADE ESPECIAL:</label>

								</p:outputPanel>

								<p:outputPanel id="panelOutraNecessidadeEspecial"
									styleClass="input-field mdl-cell mdl-cell--5-col"
									rendered="#{participanteControlador.entidade.tipoNecessidadeEspecial.codigo == 4 and participanteControlador.entidade.pne}">

									<p:inputText id="outraNecessidadeEspecial"
										disabled="#{participanteControlador.visualizar}"
										maxlength="255"
										value="#{participanteControlador.entidade.outraNecessidadeEspecial}"
										required="true"
										requiredMessage="Por favor, especifique a necessidade especial."
										alt="ESPECIFIQUE A NECESSIDADE ESPECIAL"
										title="ESPECIFIQUE A NECESSIDADE ESPECIALA" />

									<label for="outraNecessidadeEspecial" class="active">ESPECIFIQUE:</label>

								</p:outputPanel>

							</p:outputPanel>

							<div class="mdl-grid">

								<div class="mdl-cell mdl-cell--12-col">

									<h:panelGroup rendered="#{!participanteControlador.visualizar}">

										<span style="margin-right: 0.5%"> <p:commandButton
												id="btnAvancar"
												update=":modalAlerta :form-dados-participante @form"
												styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
												value="AVANÇAR"
												action="#{participanteControlador.ativarAba('aba_dados_participante')}"
												rendered="#{participanteControlador.entidade.id == null}"
												alt="AVANÇAR" title="AVANÇAR" />
										</span>

										<span> <p:commandButton
												id="btnCadastrarAbaDadosPessoais"
												update=":modalAlerta @form :conteudoPrincipal :tituloSistema"
												onstart="jQuery('#form\\:btnCadastrarAbaDadosPessoais span').html('SALVANDO...')"
												oncomplete="jQuery('#form\\:btnCadastrarAbaDadosPessoais span').html('SALVAR')"
												styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
												value="SALVAR"
												rendered="#{participanteControlador.entidade.id != null}"
												action="#{participanteControlador.acaoInserir}" alt="SALVAR"
												title="SALVAR" />
										</span>

									</h:panelGroup>

								</div>

							</div>

						</div>

					</h:form>

					<h:form id="form-dados-participante" prependId="false"
						enctype="multipart/form-data">

						<div class="mdl-tabs__panel aba_dados_participante"
							id="dados-participante">

							<p:outputPanel id="mdl-grid1" styleClass="mdl-grid"
								layout="block">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<h:selectOneMenu id="tipoInstrutor"
										value="#{participanteControlador.entidade.tipo}"
										converter="conversorEntidadePadrao" disabled="true"
										style="display:block;" required="true"
										requiredMessage="Por favor, preencha o campo TIPO."
										title="TIPO">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{participanteControlador.tipoPublicAlvoList}"
											var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

										<p:ajax event="change"
											update="mdl-grid1, mdl-grid2, mdl-grid3" />

									</h:selectOneMenu>

									<label for="tipoInstrutor" class="active">TIPO:</label>

								</div>

							</p:outputPanel>

							<p:outputPanel id="mdl-grid2" styleClass="mdl-grid"
								layout="block">

								<p:outputPanel
									rendered="#{participanteControlador.entidade.tipo.codigo == 1}"
									styleClass="input-field mdl-cell mdl-cell--3-col"
									layout="block">

									<h:selectOneMenu id="orgao"
										value="#{participanteControlador.entidade.codigoOrgao}"
										disabled="#{participanteControlador.visualizar}"
										style="display:block;" required="true"
										requiredMessage="Por favor, preencha o campo ÓRGÃO."
										title="ÓRGÃO">

										<c:if
											test="#{participanteControlador.entidade.endereco.municipioId == null}">
											<f:selectItem
												itemLabel="Selecione a cidade na aba anterior..." />
										</c:if>
										<c:if
											test="#{participanteControlador.entidade.endereco.municipioId != null}">
											<f:selectItem itemLabel="Selecione" />
										</c:if>

										<f:selectItems value="#{participanteControlador.orgaosList}"
											var="bean" itemLabel="#{bean.descricao}"
											itemValue="#{bean.orgaoPk.codigoOrgao}" />

										<p:ajax event="change"
											update="mdl-grid1, mdl-grid2, mdl-grid3" />

									</h:selectOneMenu>

									<label for="orgao" class="active">ORGÃO:</label>

								</p:outputPanel>

								<p:outputPanel
									rendered="#{participanteControlador.entidade.tipo.codigo == 1}"
									styleClass="input-field mdl-cell mdl-cell--3-col"
									layout="block">

									<p:inputText id="lotacao"
										disabled="#{participanteControlador.visualizar}"
										maxlength="255"
										value="#{participanteControlador.entidade.lotacao}"
										required="true"
										requiredMessage="Por favor, preencha o campo LOTAÇÃO."
										alt="LOTAÇÃO" title="LOTAÇÃO" />

									<label for="lotacao" class="active">LOTAÇÃO:</label>

								</p:outputPanel>

								<p:outputPanel
									rendered="#{participanteControlador.entidade.tipo.codigo == 3}"
									styleClass="input-field mdl-cell mdl-cell--3-col"
									layout="block">

									<h:selectOneMenu id="lotacao3"
										value="#{participanteControlador.entidade.lotacao}"
										style="display:block;" required="true"
										requiredMessage="Por favor, preencha o campo LOTAÇÃO."
										alt="LOTAÇÃO" title="LOTAÇÃO">

										<f:selectItem itemLabel="Selecione" />
										<f:selectItems value="#{participanteControlador.lotacaoList}"
											var="bean" itemLabel="#{bean}" itemValue="#{bean}" />

									</h:selectOneMenu>

									<label for="lotacao3" class="active">LOTAÇÃO:</label>

								</p:outputPanel>


								<h:panelGroup
									rendered="#{participanteControlador.entidade.tipo.codigo != 2}">

									<p:outputPanel id="panelDominioCargo"
										styleClass="#{participanteControlador.outroCargo ? 'input-field mdl-cell mdl-cell--3-col' : 'input-field mdl-cell mdl-cell--3-col'}"
										layout="block">

										<h:selectOneMenu id="dominioCargo"
											value="#{participanteControlador.dominioCargo}"
											converter="conversorEntidadePadrao" style="display:block;"
											disabled="#{participanteControlador.visualizar}"
											required="true"
											requiredMessage="Por favor, preencha o campo CARGO."
											title="CARGO">

											<f:selectItem itemLabel="Selecione" />
											<f:selectItems value="#{participanteControlador.cargosList}"
												var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

											<p:ajax event="change" update="panelNomeCargo"
												listener="#{participanteControlador.verificaDominioCargo()}" />

										</h:selectOneMenu>

										<label for="dominioCargo" class="active">CARGO:</label>
									</p:outputPanel>

									<p:outputPanel id="panelNomeCargo"
										styleClass="#{participanteControlador.outroCargo ? 'input-field mdl-cell mdl-cell--3-col' : 'input-field mdl-cell mdl-cell--6-col'}">

										<h:panelGroup rendered="#{participanteControlador.outroCargo}">
											<p:inputText id="cargo"
												disabled="#{participanteControlador.visualizar}"
												maxlength="255"
												value="#{participanteControlador.entidade.cargo}"
												required="true"
												requiredMessage="Por favor, preencha o campo NOME DO CARGO."
												alt="CARGO" title="CARGO" />

											<label for="cargo" class="active">NOME DO CARGO:</label>
										</h:panelGroup>

									</p:outputPanel>

								</h:panelGroup>

							</p:outputPanel>

							<p:outputPanel id="mdl-grid3" styleClass="mdl-grid"
								layout="block">

								<p:outputPanel
									rendered="#{participanteControlador.entidade.tipo.codigo != 2}"
									styleClass="input-field mdl-cell mdl-cell--2-col"
									layout="block">

									<p:calendar id="dataAdmissao" locale="pt_BR"
										disabled="#{participanteControlador.visualizar}"
										value="#{participanteControlador.entidade.dataAdmissao}"
										required="true"
										onfocus="jQuery('.hasDatepicker').mask('99/99/9999');"
										requiredMessage="Por favor, informe o campo DATA DE ADMISSÃO NO CARGO."
										styleClass="hasDatepicker" pattern="dd/MM/yyyy"
										alt="DATA DE ADMISSÃO NO CARGO"
										title="DATA DE ADMISSÃO NO CARGO" />

									<label for="dataNascimento" class="active">DATA DE
										ADMISSÃO NO CARGO:</label>

								</p:outputPanel>

								<p:outputPanel
									rendered="#{participanteControlador.entidade.tipo.codigo == 1}"
									styleClass="input-field mdl-cell mdl-cell--3-col"
									layout="block">

									<h:selectOneMenu id="mandato"
										value="#{participanteControlador.entidade.mandato}"
										converter="conversorEntidadePadrao"
										disabled="#{participanteControlador.visualizar}"
										style="display:block;" required="true"
										requiredMessage="Por favor, informe o campo MANDATO."
										title="MANDATO">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems value="#{participanteControlador.mandatosList}"
											var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

									</h:selectOneMenu>

									<label for="mandato" class="active">MANDATO:</label>

								</p:outputPanel>

								<div class="input-field mdl-cell mdl-cell--3-col">

									<h:selectOneMenu id="nivelEscolaridade"
										value="#{participanteControlador.entidade.escolaridade}"
										converter="conversorEntidadePadrao"
										disabled="#{participanteControlador.visualizar}"
										style="display:block;" required="true"
										requiredMessage="Por favor, informe o campo ESCOLARIDADE."
										title="ESCOLARIDADE">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{participanteControlador.nivelEscolaridadeList}"
											var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

									</h:selectOneMenu>

									<label for="nivelEscolaridade" class="active">ESCOLARIDADE:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<h:selectOneMenu id="formacaoAcademica"
										value="#{participanteControlador.entidade.formacaoAcademica}"
										converter="conversorEntidadePadrao"
										disabled="#{participanteControlador.visualizar}"
										style="display:block;" title="FORMAÇÃO ACADÊMICA">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{participanteControlador.formacaoAcademicaList}"
											var="fa" itemLabel="#{fa.descricao}" itemValue="#{fa}" />

									</h:selectOneMenu>

									<label for="formacaoAcademica" class="active">FORMAÇÃO
										ACADÊMICA:</label>

								</div>

								<p:outputPanel
									rendered="#{participanteControlador.entidade.tipo.codigo == 2}"
									styleClass="input-field mdl-cell mdl-cell--4-col"
									layout="block">

									<p:inputText id="profissao"
										disabled="#{participanteControlador.visualizar}"
										maxlength="255"
										value="#{participanteControlador.entidade.profissao}"
										required="true"
										requiredMessage="Por favor, preencha o campo PROFISSÃO."
										alt="PROFISSÃO" title="PROFISSÃO" />

									<label for="profissao" class="active">PROFISSÃO:</label>

								</p:outputPanel>

								<p:outputPanel id="matriculaParticipante"
									rendered="#{participanteControlador.entidade.tipo.codigo == 3}"
									styleClass="input-field mdl-cell mdl-cell--2-col"
									layout="block">

									<p:inputText id="matricula" disabled="true" maxlength="20"
										required="#{participanteControlador.entidade.tipo.codigo == 3}"
										value="#{participanteControlador.entidade.matricula}"
										requiredMessage="Por favor, preencha o campo MATRICULA."
										alt="MATRÍCULA (6 DÍGITOS)" title="MATRÍCULA (6 DÍGITOS)">

									</p:inputText>

									<label for="matricula" class="active">MATRICULA (6
										DÍGITOS):</label>

								</p:outputPanel>

							</p:outputPanel>

							<div class="mdl-grid">

								<p:outputPanel
									rendered="#{participanteControlador.entidade.tipo.codigo == 2}"
									styleClass="input-field mdl-cell mdl-cell--8-col"
									layout="block">

									<p:inputText id="instituicao"
										disabled="#{participanteControlador.visualizar}"
										maxlength="255"
										value="#{participanteControlador.entidade.instituicao}"
										required="true"
										requiredMessage="Por favor, preencha o campo INSTITUIÇÃO DE VÍNCULO."
										alt="INSTITUIÇÃO DE VÍNCULO" title="INSTITUIÇÃO DE VÍNCULO" />

									<label for="instituicao" class="active">INSTITUIÇÃO DE
										VÍNCULO:</label>

								</p:outputPanel>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--12-col">

									<p:inputTextarea id="observacao" maxlength="2000" rows="3"
										disabled="#{participanteControlador.visualizar}"
										value="#{participanteControlador.entidade.observacao}"
										title="OBSERVAÇÃO" />

									<label for="observacao" class="active">OBSERVAÇÃO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="mdl-cell mdl-cell--12-col">

									<h:panelGroup rendered="#{!participanteControlador.visualizar}">

										<span style="margin-right: 0.5%"> <p:commandButton
												id="btnVoltar"
												styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
												value="VOLTAR" oncomplete="ativarAba('aba_dados_pessoais');"
												rendered="#{participanteControlador.entidade.id == null}"
												alt="VOLTAR" title="VOLTAR" />
										</span>

										<span> <p:commandButton
												id="btnCadastrarAbaDadosParticipante"
												update=":modalAlerta @form :conteudoPrincipal :tituloSistema"
												onstart="$('#form\\:btnCadastrarAbaDadosParticipante span').html('SALVANDO...')"
												oncomplete="$('#form\\:btnCadastrarAbaDadosParticipante span').html('SALVAR');ativarAba('aba_dados_participante');"
												styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
												value="SALVAR"
												action="#{participanteControlador.acaoInserir}" alt="SALVAR"
												title="SALVAR" />
										</span>

									</h:panelGroup>

								</div>

							</div>

						</div>

					</h:form>

				</div>

			</div>

		</div>

	</p:outputPanel>

</div>

</html>
