<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core" prependId="false"
	id="formList">

	<div class="mdl-grid bottom">

		<p:remoteCommand name="acaoAbrirTelaCadastro"
			update=":conteudoPrincipal :tituloSistema"
			action="#{participanteControlador.acaoAbrirTela(bean, 'false')}" />

		<mdl:btn-add toolTip="Abrir Cadastro"
			onclick="acaoAbrirTelaCadastro();" />

	</div>

	<div class="mdl-grid">

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
			style="padding: 0; margin-left: auto;">

			<label for="nome" title="Buscar"  style="texto-buscar"> 
				Buscar:
			</label>

			<div style="width: 400px">

				<p:inputText styleClass="mdl-textfield__input"
					value="#{participanteControlador.lista.consulta}"
					placeholder="Insira seu parâmetro de pesquisa" id="nome"
					title="Insira seu parâmetro de pesquisa">

					<p:ajax event="keyup" update=":listagem" />

				</p:inputText>

			</div>

		</div>


		<p:dataTable id="listagem" lazy="true" paginator="true" rows="10"
			paginatorPosition="bottom" style="width:100%;"
			tableStyle="width:100%" emptyMessage="Nenhum registro encontrado."
			tableStyleClass="bordered responsive-table" rowIndexVar="rowId"
			value="#{participanteControlador.lista}" var="bean"
			sortBy="#{bean.pessoa.nome}">

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="NOME" priority="1">

				<span tabindex="0">#{bean.pessoa.nome}</span>

			</p:column>
			
			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="CPF" priority="1">

				<span tabindex="0">#{bean.pessoa.cpf}</span>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="TELEFONE" priority="1">

				<span tabindex="0">#{bean.pessoa.telefone}</span>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="TIPO" priority="1">

				<span tabindex="0">#{bean.tipo.descricao}</span>

			</p:column>
			
			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="PNE" priority="1">

				<h:outputText value="SIM" rendered="#{bean.pne}"
					title="É PNE" />
					
				<h:outputText value="NÃO"  rendered="#{!bean.pne}"
					title="NÃO É PNE" />

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="AÇÕES" priority="1">

				<mdl:btn-icon update=":tituloSistema :conteudoPrincipal"
					action="#{participanteControlador.acaoAbrirTela(bean, 'true')}"
					icon="search" toolTip="VISUALIZAR" />

				<mdl:btn-icon update=":tituloSistema :conteudoPrincipal"
					action="#{participanteControlador.acaoAbrirTela(bean, 'false')}"
					icon="create" toolTip="EDITAR" />

				<p:remoteCommand name="excluir#{rowId}"
					actionListener="#{participanteControlador.acaoExcluir(bean)}"
					update=":listagem :modalAlerta" />

				<button id="btnExcluir"
					onclick="confirmar('Confirma a operação?', excluir#{rowId});return false;"
					class="mdl-button mdl-js-button mdl-button--icon">

					<i class="material-icons">delete</i> <span class="visuallyhidden">EXCLUIR</span>

				</button>

				<div class="mdl-tooltip" for="btnExcluir">EXCLUIR</div>

			</p:column>

		</p:dataTable>

	</div>

</h:form>