<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:form prependId="false" id="formInscricaoParticipante">

	<div class="mdl-grid">

		<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col"
			style="margin-right: auto; margin-left: auto;">

			<div class="card-panel z-depth-2">

				<div class="mdl-card__title ouvidoria-title">

					<h2 class="mdl-card__title-text">INSCREVER PARTICIPANTE EM
						EVENTO</h2>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--8-col">

						<mdl:auto-complete id="autocomplete" atributo="titulo"
							entidade="#{inscricaoParticipanteControlador.evento}"
							tipo="Evento" label="EVENTO" obrigatorio="#{true}">

							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="TÍTULO" priority="1">

								<h:outputText value="#{bean.titulo}" title="TÍTULO" />

							</p:column>

							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="PERÍODO" priority="1">

								<h:outputText value="#{bean.dataInicioRealizacao}"></h:outputText> - <h:outputText
									value="#{bean.dataFimRealizacao}" title="PERÍODO"></h:outputText>

							</p:column>

						</mdl:auto-complete>

					</div>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--8-col">

						<mdl:auto-complete id="autocompleteOParticipante"
							atributo="pessoa.nome"
							entidade="#{inscricaoParticipanteControlador.participante}"
							tipo="Participante" label="PARTICIPANTE" obrigatorio="#{true}">

							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="NOME" priority="1">

								<h:outputText value="#{bean.pessoa.nome}" title="PARTICIPANTE" />

							</p:column>
							
							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="CPF" priority="1">

								<h:outputText value="#{bean.pessoa.cpf}" title="CPF" />

							</p:column>
							
							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="PNE" priority="1">

								<h:outputText value="SIM" rendered="#{bean.pne}"
									title="É PNE" />
								
								<h:outputText value="NÃO"  rendered="#{!bean.pne}"
									title="NÃO É PNE" />

							</p:column>

						</mdl:auto-complete>

					</div>

					<div class="input-field mdl-cell mdl-cell--4-col">

						<p:commandButton id="btnAdicionar" update=":modalAlerta @form"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="ADICIONAR"
							action="#{inscricaoParticipanteControlador.adicionarParticipante()}"
							alt="ADICIONAR" title="ADICIONAR" />

					</div>

				</div>

				<div class="mdl-grid">

					<p:dataTable id="listagem" paginatorPosition="bottom"
						style="width:100%;" tableStyle="width:100%"
						emptyMessage="Nenhum registro encontrado."
						rowIndexVar="rowIdParticipante"
						tableStyleClass="bordered responsive-table"
						value="#{inscricaoParticipanteControlador.participanteList}"
						var="bean">

						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="NOME" priority="1">

							<h:outputText value="#{bean.pessoa.nome}" title="NOME" />

						</p:column>

						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="CPF" priority="1">

							<h:outputText value="#{bean.pessoa.cpf}" title="CPF" />

						</p:column>

						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="TELEFONE" priority="1">

							<h:outputText value="#{bean.pessoa.telefone}" title="TELEFONE" />

						</p:column>

						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="TIPO" priority="1">

							<h:outputText value="#{bean.tipo.descricao}" title="DESCRIÇÃO" />

						</p:column>

						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="AÇÕES" priority="1">

							<p:remoteCommand name="excluir#{rowIdParticipante}"
								actionListener="#{inscricaoParticipanteControlador.removerParticipante(bean)}"
								update=":listagem :modalAlerta" />

							<button id="btnExcluir"
								onclick="confirmar('Confirma a operação?', excluir#{rowIdParticipante});return false;"
								class="mdl-button mdl-js-button mdl-button--icon">

								<i class="material-icons">delete</i>

							</button>

							<div class="mdl-tooltip" for="btnExcluir">EXCLUIR</div>

						</p:column>

					</p:dataTable>

				</div>

				<div class="mdl-grid">

					<div class="mdl-cell mdl-cell--12-col">

						<p:commandButton id="btnCadastrar" process="@this"
							immediate="true" update=":modalAlerta @form"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="SALVAR"
							action="#{inscricaoParticipanteControlador.acaoInserir}"
							alt="SALVAR" title="SALVAR" />

						<p:commandButton id="btnLimpar" process="@this" immediate="true"
							update=":modalAlerta @form" style="margin-left: 5px;"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="LIMPAR"
							action="#{inscricaoParticipanteControlador.inicializarTela}"
							alt="LIMPAR" title="LIMPAR" />

					</div>

				</div>

			</div>

		</p:outputPanel>

	</div>

</h:form>

</html>