<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<f:metadata>

	<f:event
		listener="#{meuCadastroParticipanteControlador.inicializarTela}"
		type="preRenderView" />

</f:metadata>

<h:form prependId="false" id="formVoltar">

	<div class="mdl-grid bottom">

		<mdl:btn-back />

	</div>

</h:form>

<div
	class="mdl-grid #{((sessionScope['usuario.logado'] == null) or (sessionScope['usuario.logado'].participante == null)) ? 'margin-15' : ''}">

	<p:outputPanel layout="block"
		styleClass="mdl-cell mdl-cell--12-col centralizar">

		<div class="card-panel z-depth-2">

			<div class="mdl-card__title ouvidoria-title">

				<h2 class="mdl-card__title-text">MEU CADASTRO COMO PARTICIPANTE</h2>

			</div>

			<div class="mdl-grid">

				<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

					<div class="mdl-tabs__tab-bar">

						<a
							href="#{meuCadastroParticipanteControlador.entidade.id == null ? '#' : '#dados-pessoais'}"
							onclick="#{meuCadastroParticipanteControlador.entidade.id == null ? '' : 'limparAbaAtiva()'}"
							class="mdl-tabs__tab is-active aba_dados_pessoais">DADOS
							PESSOAIS</a> <a
							href="#{meuCadastroParticipanteControlador.entidade.id == null ? '#' : '#dados-participante'}"
							onclick="#{meuCadastroParticipanteControlador.entidade.id == null ? '' : 'limparAbaAtiva()'}"
							class="mdl-tabs__tab aba_dados_participante">INFORMAÇÕES
							FUNCIONAIS</a>

						<h:panelGroup
							rendered="#{meuCadastroParticipanteControlador.usuarioLogado.tipoUsuario.codigo == 2 and meuCadastroParticipanteControlador.usuarioLogado.participante != null}">

							<a href="#dados-senha" class="mdl-tabs__tab aba_alterar_senha"
								onclick="limparAbaAtiva()">ALTERAÇÃO DE SENHA</a>

						</h:panelGroup>

					</div>

					<br />

					<h:form prependId="false" enctype="multipart/form-data"
						id="form-dados-pessoais">

						<div id="dados-pessoais"
							class="mdl-tabs__panel is-active aba_dados_pessoais">

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputMask required="true"
										requiredMessage="Por favor, preencha o campo CPF." id="cpf"
										mask="999.999.999-99" maxlength="4"
										value="#{meuCadastroParticipanteControlador.entidade.pessoa.cpf}"
										alt="CPF" title="CPF">

										<p:ajax event="blur" update=":modalAlerta @form"
											process="@this"
											listener="#{meuCadastroParticipanteControlador.verificaExistenciaCPF}" />

									</p:inputMask>

									<label for="cpf" class="active">CPF:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputText required="true" maxlength="255"
										requiredMessage="Por favor, preencha o campo NOME." id="nome"
										value="#{meuCadastroParticipanteControlador.entidade.pessoa.nome}"
										alt="NOME" title="NOME" />

									<label for="nome" class="active">NOME:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:calendar id="dataNascimento" locale="pt_BR" required="true"
										requiredMessage="Por favor, preencha o campo DATA DE NASCIMENTO."
										value="#{meuCadastroParticipanteControlador.entidade.pessoa.dataNascimento}"
										styleClass="hasDatepicker" pattern="dd/MM/yyyy"
										onfocus="jQuery('.hasDatepicker').mask('99/99/9999');"
										alt="DATA DE NASCIMENTO" title="DATA DE NASCIMENTO" />

									<label for="dataNascimento" class="active">DATA DE
										NASCIMENTO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--3-col">

									<h:selectOneRadio id="sexo"
										value="#{meuCadastroParticipanteControlador.entidade.pessoa.sexo}"
										required="true"
										requiredMessage="Por favor, informe o campo SEXO."
										title="SEXO">

										<f:converter converterId="conversorEntidadePadrao" />

										<f:selectItems
											value="#{meuCadastroParticipanteControlador.sexoList}"
											var="s" itemLabel="#{s.descricao}" itemValue="#{s}" />

									</h:selectOneRadio>

									<label for="sexo" class="active">SEXO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--5-col">

									<p:inputText validator="emailValidador" required="true"
										requiredMessage="Por favor, preencha o campo EMAIL."
										styleClass="verificar-capslock" id="email" maxlength="255"
										value="#{meuCadastroParticipanteControlador.entidade.pessoa.email}"
										alt="E-MAIL" title="E-MAIL" />

									<label for="email" class="active">E-MAIL:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText styleClass="telefone" id="telefone"
										value="#{meuCadastroParticipanteControlador.entidade.pessoa.telefone}"
										required="true"
										requiredMessage="Por favor, preencha o campo TELEFONE."
										alt="TELEFONE" title="TELEFONE" />

									<label for="telefone" class="active">TELEFONE:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText styleClass="telefone" id="celular"
										value="#{meuCadastroParticipanteControlador.entidade.pessoa.celular}"
										alt="CELULAR" title="CELULAR" />

									<label for="celular" class="active">CELULAR:</label>

								</div>

							</div>

							<p:outputPanel id="panelCidadeMunicipio" styleClass="mdl-grid"
								layout="block">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<h:selectOneMenu id="tipoParticipante" onclick="carregaToolTipsTipoParticipante()"
										value="#{meuCadastroParticipanteControlador.entidade.tipo}"
										required="true"
										requiredMessage="Por favor, preencha o campo TIPO."
										converter="conversorEntidadePadrao"
										disabled="#{meuCadastroParticipanteControlador.visualizar}"
										style="display:block;" title="TIPO">

										<f:selectItem id="selecione" itemLabel="Selecione" />

										<f:selectItems id="itemTipoSelecionado"
											value="#{meuCadastroParticipanteControlador.tipoPublicAlvoList}" 
											var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

										<p:ajax event="change"
											update="mdl-grid1, mdl-grid2, mdl-grid3, panelCidadeMunicipio"
											listener="#{meuCadastroParticipanteControlador.selecionarTipoParticipante}" />

									</h:selectOneMenu>
													
									<p:outputPanel rendered="#{meuCadastroParticipanteControlador.entidade.tipo != null}">
										<div class="mdl-tooltip" for="tipoParticipante">
										
											<p:outputPanel rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 1}"> 
												JURISDICIONADO: Agente político e servidor público municipal.
												<script>document.getElementById("tipoParticipante").value</script>
											</p:outputPanel>
											
											<p:outputPanel rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 2}"> 
												SOCIEDADE: Sem vínculo com a administração pública municipal.
											</p:outputPanel>
											
											<p:outputPanel rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 3}"> 
												INTERNO TCM: Servidor do Tribunal de Contas dos Municípios do Estado de Goiás (TCM GO).
											</p:outputPanel>
										
										</div>
									</p:outputPanel>	

									<label for="tipoParticipante" class="active">TIPO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<h:selectOneMenu id="estado"
										value="#{meuCadastroParticipanteControlador.estado}"
										disabled="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 1}"
										converter="conversorEntidadePadrao" style="display:block;"
										required="true"
										requiredMessage="Por favor, informe o campo ESTADO."
										title="ESTADO">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{meuCadastroParticipanteControlador.estados}"
											var="estado" itemLabel="#{estado.descricao}"
											itemValue="#{estado}" />

										<p:ajax event="change" update="panelCidadeMunicipio"
											listener="#{meuCadastroParticipanteControlador.listarCidades}" />

									</h:selectOneMenu>

									<label for="estado" class="active">ESTADO:</label>

								</div>

								<p:outputPanel id="panelMunicipio"
									rendered="#{(meuCadastroParticipanteControlador.entidade.tipo.codigo != 2) and (meuCadastroParticipanteControlador.estado.uf == 'GO')}"
									styleClass="input-field mdl-cell mdl-cell--4-col"
									layout="block">

									<h:selectOneMenu id="municipio"
										value="#{meuCadastroParticipanteControlador.entidade.endereco.municipioId}"
										style="display:block;" required="true"
										requiredMessage="Por favor, informe o campo CIDADE."
										title="CIDADE">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{meuCadastroParticipanteControlador.municipioList}"
											var="municipio" itemLabel="#{municipio.descricao}"
											itemValue="#{municipio.id}" />

										<p:ajax event="change" update="mdl-grid2"
											listener="#{meuCadastroParticipanteControlador.listarOrgaos}" />

									</h:selectOneMenu>

									<label for="municipio" class="active">CIDADE:</label>

								</p:outputPanel>

								<p:outputPanel id="panelCidade"
									styleClass="input-field mdl-cell mdl-cell--4-col"
									layout="block"
									rendered="#{(meuCadastroParticipanteControlador.entidade.tipo.codigo == 2) || (meuCadastroParticipanteControlador.estado.uf != 'GO')}">

									<h:selectOneMenu id="cidade"
										value="#{meuCadastroParticipanteControlador.entidade.endereco.cidade}"
										converter="conversorEntidadePadrao"
										disabled="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 3}"
										style="display:block;" required="true"
										requiredMessage="Por favor, informe o campo CIDADE."
										title="CIDADE">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{meuCadastroParticipanteControlador.cidades}"
											var="cidade" itemLabel="#{cidade.descricao}"
											itemValue="#{cidade}" />

									</h:selectOneMenu>

									<label for="cidade" class="active">CIDADE:</label>

								</p:outputPanel>

							</p:outputPanel>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputText id="bairro"
										value="#{meuCadastroParticipanteControlador.entidade.endereco.bairro}"
										maxlength="100" required="true"
										requiredMessage="Por favor, preencha o campo BAIRRO."
										alt="BAIRRO" title="BAIRRO" />

									<label for="bairro" class="active">BAIRRO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputText id="logradouro"
										value="#{meuCadastroParticipanteControlador.entidade.endereco.logradouro}"
										maxlength="255" required="true"
										requiredMessage="Por favor, preencha o campo LOGRADOURO."
										alt="LOGRADOURO" title="LOGRADOURO" />

									<label for="logradouro" class="active">LOGRADOURO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputText id="complemento"
										value="#{meuCadastroParticipanteControlador.entidade.endereco.complemento}"
										maxlength="255" alt="COMPLEMENTO" title="COMPLEMENTO" />

									<label for="complemento" class="active">COMPLEMENTO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText id="numero"
										value="#{meuCadastroParticipanteControlador.entidade.endereco.numero}"
										maxlength="10" alt="NÚMERO" title="NÚMERO" />

									<label for="numero" class="active">NÚMERO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputMask mask="99999-999" id="cep"
										value="#{meuCadastroParticipanteControlador.entidade.endereco.cep}"
										required="true"
										requiredMessage="Por favor, preencha o campo CEP." title="CEP"
										alt="CEP" />

									<label for="cep" class="active">CEP:</label>

								</div>

							</div>

							<p:outputPanel id="panelTipoNecessidadeEspecial"
								styleClass="mdl-grid">

								<div class="mdl-cell mdl-cell--3-col">

									<h:selectBooleanCheckbox id="pne"
										disabled="#{meuCadastroParticipanteControlador.visualizar}"
										value="#{meuCadastroParticipanteControlador.entidade.pne}"
										title="É portador de necessidades especiais?">

										<p:ajax update="panelTipoNecessidadeEspecial" process="@this"
											event="change" />

									</h:selectBooleanCheckbox>

									<label for="pne" class="active">É portador de
										necessidades especiais?</label>
								</div>

								<p:outputPanel styleClass="input-field mdl-cell mdl-cell--4-col"
									rendered="#{meuCadastroParticipanteControlador.entidade.pne}">

									<h:selectOneMenu id="tipoNecessidadeEspecial"
										value="#{meuCadastroParticipanteControlador.entidade.tipoNecessidadeEspecial}"
										required="true"
										requiredMessage="Por favor, preencha o campo TIPO DE NECESSIDADE ESPECIAL."
										converter="conversorEntidadePadrao"
										disabled="#{meuCadastroParticipanteControlador.visualizar}"
										style="display:block;" title="TIPO DE NECESSIDADE ESPECIAL">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{meuCadastroParticipanteControlador.tiposNecessidadesEspeciaisList}"
											var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

										<p:ajax update="panelTipoNecessidadeEspecial" process="@this"
											event="change" />

									</h:selectOneMenu>

									<label for="tipoNecessidadeEspecial" class="active">TIPO
										DE NECESSIDADE ESPECIAL:</label>

								</p:outputPanel>

								<p:outputPanel id="panelOutraNecessidadeEspecial"
									styleClass="input-field mdl-cell mdl-cell--5-col"
									rendered="#{meuCadastroParticipanteControlador.entidade.tipoNecessidadeEspecial.codigo == 4 and meuCadastroParticipanteControlador.entidade.pne}">

									<p:inputText id="outraNecessidadeEspecial"
										disabled="#{meuCadastroParticipanteControlador.visualizar}"
										maxlength="255"
										value="#{meuCadastroParticipanteControlador.entidade.outraNecessidadeEspecial}"
										required="true"
										requiredMessage="Por favor, especifique a necessidade especial."
										alt="ESPECIFIQUE A NECESSIDADE ESPECIAL"
										title="ESPECIFIQUE A NECESSIDADE ESPECIALA" />

									<label for="outraNecessidadeEspecial" class="active">ESPECIFIQUE:</label>

								</p:outputPanel>

							</p:outputPanel>

							<div class="mdl-grid">

								<div class="mdl-cell mdl-cell--12-col">

									<span style="margin-right: 0.5%"> <p:commandButton
											id="btnAvancar" update=":modalAlerta @form"
											styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
											value="AVANÇAR"
											action="#{meuCadastroParticipanteControlador.ativarAba('aba_dados_participante')}"
											rendered="#{meuCadastroParticipanteControlador.entidade.id == null}"
											alt="AVANÇAR" title="AVANÇAR" />

									</span> <span> <p:commandButton id="btnCadastrar1"
											update=":modalAlerta @form :conteudoPrincipal :tituloSistema :header-sophos :navegacao"
											onstart="jQuery('#form\\:btnCadastrar span').html('SALVANDO...')"
											ajax="false"
											oncomplete="jQuery('#form\\:btnCadastrar span').html('SALVAR')"
											styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
											value="SALVAR"
											rendered="#{meuCadastroParticipanteControlador.entidade.id != null}"
											action="#{meuCadastroParticipanteControlador.acaoInserir}"
											alt="SALVAR" title="SALVAR" />
									</span>
								</div>

							</div>

						</div>

					</h:form>

					<h:form prependId="false" enctype="multipart/form-data"
						id="form-dados-participante">

						<div id="dados-participante"
							class="mdl-tabs__panel aba_dados_participante">

							<p:outputPanel id="mdl-grid1" styleClass="mdl-grid"
								layout="block">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<h:selectOneMenu id="tipoInstrutor"
										value="#{meuCadastroParticipanteControlador.entidade.tipo}"
										converter="conversorEntidadePadrao" disabled="true"
										style="display:block;" required="true"
										requiredMessage="Por favor, informe o campo TIPO."
										title="TIPO">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{meuCadastroParticipanteControlador.tipoPublicAlvoList}"
											var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

										<p:ajax event="change"
											update="mdl-grid1, mdl-grid2, mdl-grid3" />

									</h:selectOneMenu>

									<label for="tipoInstrutor" class="active">TIPO:</label>

								</div>

							</p:outputPanel>

							<p:outputPanel id="mdl-grid2" styleClass="mdl-grid"
								layout="block">

								<p:outputPanel
									rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 1}"
									styleClass="input-field mdl-cell mdl-cell--3-col"
									layout="block">

									<h:selectOneMenu id="orgao"
										value="#{meuCadastroParticipanteControlador.entidade.codigoOrgao}"
										style="display:block;" required="true"
										requiredMessage="Por favor, preencha o campo ÓRGÃO."
										title="ÓRGÃO">

										<c:if
											test="#{meuCadastroParticipanteControlador.entidade.endereco.municipioId == null}">
											<f:selectItem
												itemLabel="Selecione a cidade na aba anterior..." />
										</c:if>
										<c:if
											test="#{meuCadastroParticipanteControlador.entidade.endereco.municipioId != null}">
											<f:selectItem itemLabel="Selecione" />
										</c:if>

										<f:selectItems
											value="#{meuCadastroParticipanteControlador.orgaosList}"
											var="bean" itemLabel="#{bean.descricao}"
											itemValue="#{bean.orgaoPk.codigoOrgao}" />

										<p:ajax event="change"
											update="mdl-grid1, mdl-grid2, mdl-grid3" />

									</h:selectOneMenu>

									<label for="orgao" class="active">ORGÃO:</label>

								</p:outputPanel>

								<p:outputPanel
									rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 1}"
									styleClass="input-field mdl-cell mdl-cell--3-col"
									layout="block">

									<p:inputText id="lotacao"
										value="#{meuCadastroParticipanteControlador.entidade.lotacao}"
										maxlength="255" required="true"
										requiredMessage="Por favor, preencha o campo LOTAÇÃO."
										alt="LOTAÇÃO" title="LOTAÇÃO" />

									<label for="lotacao" class="active">LOTAÇÃO:</label>

								</p:outputPanel>

								<p:outputPanel
									rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 3}"
									styleClass="input-field mdl-cell mdl-cell--3-col"
									layout="block">

									<h:selectOneMenu id="lotacao3"
										value="#{meuCadastroParticipanteControlador.entidade.lotacao}"
										style="display:block;" required="true"
										requiredMessage="Por favor, preencha o campo LOTAÇÃO."
										alt="LOTAÇÃO" title="LOTAÇÃO">

										<f:selectItem itemLabel="Selecione" />
										<f:selectItems
											value="#{meuCadastroParticipanteControlador.lotacaoList}"
											var="bean" itemLabel="#{bean}" itemValue="#{bean}" />

									</h:selectOneMenu>

									<label for="lotacao3" class="active">LOTAÇÃO:</label>

								</p:outputPanel>

								<h:panelGroup
									rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo != 2}">

									<p:outputPanel id="panelDominioCargo"
										styleClass="#{meuCadastroParticipanteControlador.outroCargo ? 'input-field mdl-cell mdl-cell--3-col' : 'input-field mdl-cell mdl-cell--3-col'}"
										layout="block">

										<h:selectOneMenu id="dominioCargo"
											value="#{meuCadastroParticipanteControlador.dominioCargo}"
											converter="conversorEntidadePadrao" style="display:block;"
											required="true"
											requiredMessage="Por favor, preencha o campo CARGO."
											title="CARGO">

											<f:selectItem itemLabel="Selecione" />
											<f:selectItems
												value="#{meuCadastroParticipanteControlador.cargosList}"
												var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

											<p:ajax event="change" update="panelNomeCargo"
												listener="#{meuCadastroParticipanteControlador.verificaDominioCargo()}" />

										</h:selectOneMenu>

										<label for="dominioCargo" class="active">CARGO:</label>
									</p:outputPanel>

									<p:outputPanel id="panelNomeCargo"
										styleClass="#{meuCadastroParticipanteControlador.outroCargo ? 'input-field mdl-cell mdl-cell--3-col' : 'input-field mdl-cell mdl-cell--6-col'}">

										<h:panelGroup
											rendered="#{meuCadastroParticipanteControlador.outroCargo}">
											<p:inputText id="cargo" maxlength="255"
												value="#{meuCadastroParticipanteControlador.entidade.cargo}"
												required="true"
												requiredMessage="Por favor, preencha o campo NOME DO CARGO."
												alt="CARGO" title="CARGO" />

											<label for="cargo" class="active">NOME DO CARGO:</label>
										</h:panelGroup>

									</p:outputPanel>

								</h:panelGroup>

							</p:outputPanel>

							<p:outputPanel id="mdl-grid3" styleClass="mdl-grid"
								layout="block">

								<p:outputPanel
									rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo != 2}"
									styleClass="input-field mdl-cell mdl-cell--2-col"
									layout="block">

									<p:calendar id="dataAdmissao" locale="pt_BR"
										disabled="#{meuCadastroParticipanteControlador.visualizar}"
										value="#{meuCadastroParticipanteControlador.entidade.dataAdmissao}"
										styleClass="hasDatepicker" pattern="dd/MM/yyyy"
										onfocus="jQuery('.hasDatepicker').mask('99/99/9999');"
										alt="DATA DE ADMISSÃO NO CARGO"
										title="DATA DE ADMISSÃO NO CARGO" />

									<label for="dataNascimento" class="active">DATA DE
										ADMISSÃO NO CARGO:</label>

								</p:outputPanel>

								<p:outputPanel
									rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 1}"
									styleClass="input-field mdl-cell mdl-cell--3-col"
									layout="block">

									<h:selectOneMenu id="mandato"
										value="#{meuCadastroParticipanteControlador.entidade.mandato}"
										converter="conversorEntidadePadrao" style="display:block;"
										required="true"
										requiredMessage="Por favor, informe o campo MANDATO."
										title="MANDATO">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{meuCadastroParticipanteControlador.mandatosList}"
											var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

									</h:selectOneMenu>

									<label for="mandato" class="active">MANDATO:</label>

								</p:outputPanel>

								<div class="input-field mdl-cell mdl-cell--3-col">

									<h:selectOneMenu id="nivelEscolaridade"
										value="#{meuCadastroParticipanteControlador.entidade.escolaridade}"
										converter="conversorEntidadePadrao" style="display:block;"
										required="true"
										requiredMessage="Por favor, informe o campo ESCOLARIDADE."
										title="ESCOLARIDADE">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{meuCadastroParticipanteControlador.nivelEscolaridadeList}"
											var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

									</h:selectOneMenu>

									<label for="nivelEscolaridade" class="active">ESCOLARIDADE:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<h:selectOneMenu id="formacaoAcademica"
										value="#{meuCadastroParticipanteControlador.entidade.formacaoAcademica}"
										converter="conversorEntidadePadrao" style="display:block;"
										title="FORMÇÃO ACADÊMICA">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{meuCadastroParticipanteControlador.formacaoAcademicaList}"
											var="fa" itemLabel="#{fa.descricao}" itemValue="#{fa}" />

									</h:selectOneMenu>

									<label for="formacaoAcademica" class="active">FORMAÇÃO
										ACADÊMICA:</label>

								</div>

								<p:outputPanel
									rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 2}"
									styleClass="input-field mdl-cell mdl-cell--4-col"
									layout="block">

									<p:inputText id="profissao"
										value="#{meuCadastroParticipanteControlador.entidade.profissao}"
										maxlength="255" required="true"
										requiredMessage="Por favor, preencha o campo PROFISSÃO."
										alt="PROFISSÃO" title="PROFISSÃO" />

									<label for="profissao" class="active">PROFISSÃO:</label>

								</p:outputPanel>

								<p:outputPanel id="matriculaParticipante"
									rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 3}"
									styleClass="input-field mdl-cell mdl-cell--2-col"
									layout="block">

									<p:inputText id="matricula" disabled="true"
										required="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 3}"
										maxlength="20"
										value="#{meuCadastroParticipanteControlador.entidade.matricula}"
										requiredMessage="Por favor, preencha o campo MATRICULA."
										alt="MATRÍCULA (6 DÍGITOS)" title="MATRÍCULA (6 DÍGITOS)">

									</p:inputText>

									<label for="matricula" class="active">MATRÍCULA (6
										DÍGITOS):</label>

								</p:outputPanel>

							</p:outputPanel>

							<div class="mdl-grid">

								<p:outputPanel
									rendered="#{meuCadastroParticipanteControlador.entidade.tipo.codigo == 2}"
									styleClass="input-field mdl-cell mdl-cell--8-col"
									layout="block">

									<p:inputText id="instituicao" maxlength="255"
										value="#{meuCadastroParticipanteControlador.entidade.instituicao}"
										required="true"
										requiredMessage="Por favor, preencha o campo INSTITUIÇÃO DE VÍNCULO."
										alt="INSTITUIÇÃO DE VÍNCULO" title="INSTITUIÇÃO DE VÍNCULO" />

									<label for="instituicao" class="active">INSTITUIÇÃO DE
										VÍNCULO:</label>

								</p:outputPanel>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--12-col">

									<p:inputTextarea id="observacao" maxlength="2000" rows="3"
										value="#{meuCadastroParticipanteControlador.entidade.observacao}"
										title="OBSERVAÇÃO" />

									<label for="observacao" class="active">OBSERVAÇÃO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="mdl-cell mdl-cell--12-col">

									<span style="margin-right: 0.5%"> <p:commandButton
											id="btnVoltar"
											styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
											value="VOLTAR" oncomplete="ativarAba('aba_dados_pessoais');"
											rendered="#{meuCadastroParticipanteControlador.entidade.id == null}"
											alt="VOLTAR" title="VOLTAR" />
									</span>

									<c:if test="#{inscricaoControlador.entidade.evento != null}">
										<span> <p:commandButton
												id="btnCadastrarSemMensagemSucesso"
												update=":modalAlerta @form :conteudoPrincipal :tituloSistema :header-sophos :navegacao"
												onstart="$('#form\\:btnCadastrarSemMensagemSucesso span').html('SALVANDO...');"
												ajax="false"
												oncomplete="$('#form\\:btnCadastrarSemMensagemSucesso span').html('SALVAR');"
												styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
												value="SALVAR"
												action="#{meuCadastroParticipanteControlador.acaoInserirSemMensagemSucesso}"
												alt="SALVAR" title="SALVAR" />
										</span>
									</c:if>

									<c:if test="#{inscricaoControlador.entidade.evento == null}">
										<span> <p:commandButton id="btnCadastrar"
												update=":modalAlerta @form :conteudoPrincipal :tituloSistema :header-sophos :navegacao"
												onstart="$('#form\\:btnCadastrar span').html('SALVANDO...');"
												ajax="false"
												oncomplete="$('#form\\:btnCadastrar span').html('SALVAR');"
												styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
												value="SALVAR"
												action="#{meuCadastroParticipanteControlador.acaoInserir}"
												alt="SALVAR" title="SALVAR" />
										</span>
									</c:if>

								</div>

							</div>

						</div>

					</h:form>

					<h:form prependId="false" id="form-alterar-senha">

						<div class="mdl-tabs__panel" id="dados-senha">

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--12-col">

									<p:password redisplay="true" required="true"
										placeholder="Informe sua senha."
										value="#{minhaContaControlador.senhaAtual}"
										requiredMessage="É necessário o preenchimento do campo SENHA ATUAL para a redefinição da autenticação!"
										id="senhaAtual">

									</p:password>

									<label for="senhaAtual" class="active">SENHA ATUAL:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--12-col">

									<p:password redisplay="true" maxlength="8"
										validatorMessage="A senha deverá conter no mínimo 6 e no máximo 8 caracteres."
										required="true"
										placeholder="Informe sua nova senha com 6 a 8 caracteres."
										value="#{minhaContaControlador.senha}"
										requiredMessage="É necessário o preenchimento do campo SENHA para a redefinição da autenticação!"
										id="senha">

										<f:validateLength minimum="6" maximum="8" />

									</p:password>

									<label for="email" class="active">SENHA:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--12-col">

									<p:password required="true" maxlength="8" redisplay="true"
										validatorMessage="A senha deverá conter no mínimo 6 e no máximo 8 caracteres."
										placeholder="Repita a SENHA."
										value="#{minhaContaControlador.senhaRepetida}"
										requiredMessage="É necessário o preenchimento do campo REPITA A SENHA para a redefinição da autenticação!"
										id="senhaRepetida">

										<f:validateLength minimum="6" maximum="8" />

									</p:password>

									<label for="senhaRepetida" class="active">REPITA A
										SENHA:</label>


								</div>

							</div>

							<div class="mdl-grid">

								<div class="mdl-cell mdl-cell--12-col">

									<p:commandButton id="btnAlterarSenha"
										update=":modalAlerta @form"
										styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
										value="ALTERAR SENHA"
										action="#{minhaContaControlador.acaoRedefinirSenha}" />

								</div>

							</div>

						</div>

					</h:form>

				</div>

			</div>


		</div>

	</p:outputPanel>

</div>

</html>