<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:form prependId="false" id="formList">

	<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col"
		style="margin-right: auto; margin-left: auto;">

		<div class="card-panel z-depth-2">

			<div class="mdl-card__title ouvidoria-title"></div>

			<div class="mdl-grid">

				<div class="input-field mdl-cell mdl-cell--4-col">

					<mdl:auto-complete id="autocompleteEvento" atributo="titulo"
						obrigatorio="false"
						entidade="#{situacaoParticipanteControlador.eventoSelecionado}"
						tipo="Evento" label="EVENTO" update="panel-relatorio">

						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="TÍTULO" priority="1">

							<h:outputText value="#{bean.titulo}" title="TÍTULO" />

						</p:column>

					</mdl:auto-complete>

				</div>

				<div class="input-field mdl-cell mdl-cell--4-col">

					<p:inputText maxlength="255"
						value="#{situacaoParticipanteControlador.nomeParticipante}"
						alt="PARTICIPANTE" title="PARTICIPANTE" styleClass="caixa-alta" />

					<label for="titulo" class="active">PARTICIPANTE:</label>

				</div>

				<div class="input-field mdl-cell mdl-cell--4-col">

					<p:commandButton id="btnAtualizarLista"
						update=":modalAlerta panel-relatorio"
						styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
						value="ATUALIZAR LISTA" title="ATUALIZAR LISTA"
						alt="ATUALIZAR LISTA"
						action="#{situacaoParticipanteControlador.atualizarLista}" />

				</div>

			</div>

			<p:outputPanel id="panel-relatorio" styleClass="mdl-grid">

				<p:dataTable id="listagem" paginator="true" rows="10"
					paginatorPosition="bottom" style="width:100%;"
					tableStyle="width:100%" rowIndexVar="rowIdEvento"
					emptyMessage="Nenhum registro encontrado."
					tableStyleClass="bordered responsive-table"
					value="#{situacaoParticipanteControlador.situacaoList}" var="bean">

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="PARTICIPANTE" priority="1">

						<h:outputText value="#{bean.inscricao.participante.pessoa.nome}"
							title="#{bean.inscricao.participante.pessoa.nome}" />

					</p:column>

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="SITUAÇÃO INSCRIÇÃO" priority="1">

						<p:outputPanel rendered="#{bean.inscricao.autorizada == null}">
							<i id="btnAguardandoAvaliacao#{bean.inscricao.id}"
								class="material-icons">query_builder</i>
							<div class="mdl-tooltip"
								for="btnAguardandoAvaliacao#{bean.inscricao.id}">AGUARDANDO
								AUTORIZAÇÃO</div>
						</p:outputPanel>

						<p:outputPanel rendered="#{bean.inscricao.autorizada != null}">

							<p:outputPanel rendered="#{bean.inscricao.autorizada}">

								<p:outputPanel
									rendered="#{bean.inscricao.dataAvaliacaoPreInscricao != null}">
									<i id="btnAprovada#{bean.inscricao.id}" class="material-icons">check</i>
									<div class="mdl-tooltip" for="btnAprovada#{bean.inscricao.id}">
										AUTORIZADA EM
										<h:outputText
											value="#{bean.inscricao.dataAvaliacaoPreInscricao}"
											title="DATA DA APROVAÇÃO">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
										POR <br />
										<h:outputText
											value="#{bean.inscricao.avaliador.pessoa.nome.toUpperCase()}"
											title="RESPONSÁVEL PELA APROVAÇÃO" />
									</div>
								</p:outputPanel>

								<p:outputPanel
									rendered="#{bean.inscricao.dataAvaliacaoPreInscricao == null}">
									<i id="btnAprovadaSemDados#{bean.inscricao.id}"
										class="material-icons">check</i>
									<div class="mdl-tooltip"
										for="btnAprovadaSemDados#{bean.inscricao.id}">AUTORIZADA</div>
								</p:outputPanel>

							</p:outputPanel>

							<p:outputPanel rendered="#{!bean.inscricao.autorizada}">

								<p:outputPanel
									rendered="#{bean.inscricao.dataAvaliacaoPreInscricao != null}">
									<i id="btnNaoAprovada#{bean.inscricao.id}"
										class="material-icons">close</i>
									<div class="mdl-tooltip"
										for="btnNaoAprovada#{bean.inscricao.id}">
										NEGADA EM
										<h:outputText
											value="#{bean.inscricao.dataAvaliacaoPreInscricao}"
											title="DATA DA REPROVAÇÃO">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
										POR <br />
										<h:outputText
											value="#{bean.inscricao.avaliador.pessoa.nome.toUpperCase()}"
											title="RESPONSÁVEL PELA REPROVAÇÃO" />
									</div>
								</p:outputPanel>

								<p:outputPanel
									rendered="#{bean.inscricao.dataAvaliacaoPreInscricao == null}">
									<i id="btnNaoAprovadaSemDados#{bean.inscricao.id}"
										class="material-icons">close</i>
									<div class="mdl-tooltip"
										for="btnNaoAprovadaSemDados#{bean.inscricao.id}">NEGADA</div>
								</p:outputPanel>

							</p:outputPanel>

						</p:outputPanel>

					</p:column>

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="TIPO DE AVALIAÇÃO" priority="1">

						<h:outputText value="POR MÉDIAS GERAIS"
							rendered="#{bean.inscricao.evento.avaliarPorMedia}"
							title="TIPO DE AVALIAÇÃO" />

						<h:outputText value="POR MÓDULOS"
							rendered="#{!bean.inscricao.evento.avaliarPorMedia}"
							title="TIPO DE AVALIAÇÃO" />

					</p:column>

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="APROVADO" priority="1">

						<p:outputPanel rendered="#{!bean.avaliado and (bean.inscricao.autorizada != null and bean.inscricao.autorizada)}">
							<i id="btnNaoAvaliado#{rowIdEvento}" class="material-icons">query_builder</i>
							<div class="mdl-tooltip" for="btnNaoAvaliado#{rowIdEvento}">AGUARDANDO AVALIAÇÃO</div>
						</p:outputPanel>

						<p:outputPanel
							rendered="#{bean.avaliado and bean.aprovado and (bean.inscricao.autorizada != null and bean.inscricao.autorizada)}">
							<i id="btnAprovado#{rowIdEvento}" class="material-icons">check</i>
							<div class="mdl-tooltip" for="btnAprovado#{rowIdEvento}">APROVADO</div>
						</p:outputPanel>

						<p:outputPanel
							rendered="#{bean.avaliado and !bean.aprovado and (bean.inscricao.autorizada != null and bean.inscricao.autorizada)}">
							<i id="btnReprovado#{rowIdEvento}" class="material-icons">close</i>
							<div class="mdl-tooltip" for="btnReprovado#{rowIdEvento}">REPROVADO</div>
						</p:outputPanel>

					</p:column>

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="AÇÕES" priority="1">

						<h:panelGroup rendered="#{bean.avaliado}">

							<p:commandLink id="btnDesempenho" title="DESEMPENHO"
								styleClass="mdl-button mdl-js-button mdl-button--icon"
								ajax="false" style="color: #4f4f4f !important;" process="@this"
								immediate="true"
								action="#{meusEventosControlador.carregarDesempenho(bean.inscricao.evento, bean.inscricao.participante)}">

								<i class="material-icons">functions</i>

							</p:commandLink>
							
							<h:panelGroup rendered="#{bean.meuEventoRef.aprovado and bean.meuEventoRef.evento.permiteCertificado and (situacaoParticipanteControlador.isJaTemCertificado(bean.meuEventoRef.evento, bean.inscricao.participante))}">
					
								<p:commandLink
								target="_blank" ajax="false" process="@this" immediate="true"
								id="btnCertificadoJaSalvo" title="CERTIFICADO"
								styleClass="mdl-button mdl-js-button mdl-button--icon"
								style="color: #4f4f4f !important;"
								action="#{situacaoParticipanteControlador.imprimirCertificado(bean.meuEventoRef, bean.inscricao.participante, false)}">
		
								<i class="material-icons">beenhere</i>
		
								</p:commandLink>
							
							</h:panelGroup>
							
							<h:panelGroup rendered="#{bean.meuEventoRef.aprovado and bean.meuEventoRef.evento.permiteCertificado and (!situacaoParticipanteControlador.isJaTemCertificado(bean.meuEventoRef.evento, bean.inscricao.participante))}">
							
								<p:commandLink
								target="_blank" ajax="false" process="@this" immediate="true"
								id="btnCertificadoNovo" title="CERTIFICADO"
								styleClass="mdl-button mdl-js-button mdl-button--icon"
								style="color: #4f4f4f !important;"
								action="#{situacaoParticipanteControlador.imprimirCertificado(bean.meuEventoRef, bean.inscricao.participante, true)}">
		
								<i class="material-icons">beenhere</i>
		
								</p:commandLink>
							
							</h:panelGroup>

						</h:panelGroup>

						<p:commandLink target="_blank" ajax="false" process="@this"
							immediate="true" id="btnDeclaracaoParticipante"
							title="DECLARAÇÃO DE PARTICIPANTE"
							styleClass="mdl-button mdl-js-button mdl-button--icon"
							style="color: #4f4f4f !important;"
							action="#{relatorioControlador.gerarDeclaracaoParticipante(situacaoParticipanteControlador.eventoSelecionado, bean.inscricao)}">

							<i class="material-icons">insert_drive_file</i>

						</p:commandLink>

					</p:column>

				</p:dataTable>

			</p:outputPanel>

		</div>

	</p:outputPanel>

	<p:remoteCommand name="openModalMaterial" update="modalMaterial"
		oncomplete="openModal('modalMaterial')">
		<f:setPropertyActionListener
			target="#{materialControlador.visualizar}" value="true"></f:setPropertyActionListener>
	</p:remoteCommand>

</h:form>

<ui:include src="/paginas/evento/dialog-evento.xhtml"></ui:include>

<ui:include src="/paginas/evento/dialog-desempenho.xhtml"></ui:include>

<ui:include src="/paginas/evento/dialog-material.xhtml"></ui:include>

</html>

