<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<div class="mdl-grid bottom">

	<h:form id="form-voltar">
		<mdl:btn-back />
	</h:form>

</div>

<div class="mdl-grid mdl-grid">

	<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col"
		style="margin-right: auto; margin-left: auto;">

		<div class="card-panel z-depth-2">

			<div class="mdl-card__title ouvidoria-title">

				<h2 class="mdl-card__title-text">#{instrutorControlador.visualizar
					? 'VISUALIZAR' : (instrutorControlador.entidade.id == null ?
					'CADASTRAR' : 'EDITAR')} INSTRUTOR</h2>

			</div>

			<div class="mdl-grid">

				<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

					<div class="mdl-tabs__tab-bar">

						<h:panelGroup
							rendered="#{(instrutorControlador.visualizar) || (instrutorControlador.entidade.id != null)}">

							<a href="#dados-pessoais" onclick="limparAbaAtiva()"
								class="mdl-tabs__tab is-active aba_dados_pessoais">DADOS
								PESSOAIS</a>

							<a href="#dados-intrutor" onclick="limparAbaAtiva()"
								class="mdl-tabs__tab aba_dados_instrutor">DADOS DO INSTRUTOR</a>

						</h:panelGroup>

						<h:panelGroup
							rendered="#{(!instrutorControlador.visualizar) and (instrutorControlador.entidade.id == null)}">

							<a href="#" class="mdl-tabs__tab is-active aba_dados_pessoais">DADOS
								PESSOAIS</a>

							<a href="#" class="mdl-tabs__tab aba_dados_instrutor">DADOS
								DO INSTRUTOR</a>

						</h:panelGroup>

					</div>

					<br />

					<h:form id="form-dados-pessoais" prependId="false"
						enctype="multipart/form-data">

						<div class="mdl-tabs__panel is-active aba_dados_pessoais"
							id="dados-pessoais">

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputText required="true"
										requiredMessage="Por favor, preencha o campo NOME."
										maxlength="255" id="nome"
										disabled="#{instrutorControlador.visualizar}"
										value="#{instrutorControlador.entidade.pessoa.nome}"
										alt="NOME" title="NOME" styleClass="caixa-alta"/>

									<label for="nome" class="active">NOME:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputMask required="true" validator="cpfValidador"
										requiredMessage="Por favor, preencha o campo CPF." id="cpf"
										mask="999.999.999-99" maxlength="4"
										disabled="#{instrutorControlador.visualizar}"
										value="#{instrutorControlador.entidade.pessoa.cpf}" alt="CPF"
										title="CPF" />

									<label for="cpf" class="active">CPF:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:calendar id="dataNascimento" locale="pt_BR" required="true"
										requiredMessage="Por favor, preencha o campo DATA DE NASCIMENTO."
										disabled="#{instrutorControlador.visualizar}"
										styleClass="hasDatepicker"
										value="#{instrutorControlador.entidade.pessoa.dataNascimento}"
										pattern="dd/MM/yyyy" alt="DATA DE NASCIMENTO"
										title="DATA DE NASCIMENTO" />

									<label for="dataNascimento" class="active">DATA DE
										NASCIMENTO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--3-col">

									<h:selectOneRadio id="sexo"
										value="#{instrutorControlador.entidade.pessoa.sexo}"
										required="true"
										requiredMessage="Por favor, informe o campo SEXO."
										title="SEXO">

										<f:converter converterId="conversorEntidadePadrao" />

										<f:selectItems value="#{instrutorControlador.sexoList}"
											var="s" itemLabel="#{s.descricao}" itemValue="#{s}" />

									</h:selectOneRadio>

									<label for="sexo" class="active">SEXO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--5-col">

									<p:inputText validator="emailValidador" required="true"
										requiredMessage="Por favor, preencha o campo EMAIL."
										styleClass="verificar-capslock" id="email"
										disabled="#{instrutorControlador.visualizar}" maxlength="255"
										value="#{instrutorControlador.entidade.pessoa.email}"
										alt="E-MAIL" title="E-MAIL" />

									<label for="email" class="active">E-MAIL:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText styleClass="telefone" id="telefone"
										disabled="#{instrutorControlador.visualizar}" required="true"
										requiredMessage="Por favor, preencha o campo TELEFONE."
										value="#{instrutorControlador.entidade.pessoa.telefone}"
										alt="TELEFONE" title="TELEFONE" />

									<label for="telefone" class="active">TELEFONE:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText styleClass="telefone" id="celular"
										disabled="#{instrutorControlador.visualizar}"
										value="#{instrutorControlador.entidade.pessoa.celular}"
										alt="CELULAR" title="CELULAR" />

									<label for="celular" class="active">CELULAR:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<h:selectOneMenu id="estado"
										value="#{instrutorControlador.estado}"
										converter="conversorEntidadePadrao"
										disabled="#{instrutorControlador.visualizar}"
										style="display:block;" required="true"
										requiredMessage="Por favor, informe o campo ESTADO."
										title="ESTADO">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems value="#{instrutorControlador.estados}"
											var="estado" itemLabel="#{estado.descricao}"
											itemValue="#{estado}" />

										<p:ajax event="change" update="cidade"
											listener="#{instrutorControlador.listarCidades}" />

									</h:selectOneMenu>

									<label for="estado" class="active">ESTADO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<h:selectOneMenu id="cidade"
										value="#{instrutorControlador.entidade.endereco.cidade}"
										converter="conversorEntidadePadrao"
										disabled="#{instrutorControlador.visualizar}"
										style="display:block;" required="true"
										requiredMessage="Por favor, informe o campo CIDADE."
										title="CIDADE">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems value="#{instrutorControlador.cidades}"
											var="cidade" itemLabel="#{cidade.descricao}"
											itemValue="#{cidade}" />

									</h:selectOneMenu>

									<label for="cidade" class="active">CIDADE:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputText id="bairro"
										disabled="#{instrutorControlador.visualizar}" maxlength="100"
										value="#{instrutorControlador.entidade.endereco.bairro}"
										required="true"
										requiredMessage="Por favor, preencha o campo BAIRRO."
										alt="BAIRRO" title="BAIRRO" />

									<label for="bairro" class="active">BAIRRO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--6-col">

									<p:inputText id="logradouro"
										disabled="#{instrutorControlador.visualizar}" maxlength="255"
										value="#{instrutorControlador.entidade.endereco.logradouro}"
										required="true"
										requiredMessage="Por favor, preencha o campo LOGRADOURO."
										alt="LOGRADOURO" title="LOGRADOURO" />

									<label for="logradouro" class="active">LOGRADOURO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputText id="complemento"
										disabled="#{instrutorControlador.visualizar}" maxlength="255"
										value="#{instrutorControlador.entidade.endereco.complemento}"
										alt="COMPLEMENTO" title="COMPLEMENTO" />

									<label for="complemento" class="active">COMPLEMENTO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText id="numero"
										disabled="#{instrutorControlador.visualizar}" maxlength="10"
										value="#{instrutorControlador.entidade.endereco.numero}"
										alt="NÚMERO" title="NÚMERO" />

									<label for="numero" class="active">NÚMERO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputMask mask="99999-999" id="cep"
										disabled="#{instrutorControlador.visualizar}"
										value="#{instrutorControlador.entidade.endereco.cep}"
										required="true"
										requiredMessage="Por favor, preencha o campo CEP." alt="CEP"
										title="CEP" />

									<label for="cep" class="active">CEP:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="mdl-cell mdl-cell--12-col">

									<h:panelGroup rendered="#{!instrutorControlador.visualizar}">

										<span style="margin-right: 0.5%"> <p:commandButton
												id="btnAvancar" update=":modalAlerta @form"
												styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
												value="AVANÇAR"
												action="#{instrutorControlador.ativarAba('aba_dados_instrutor')}"
												rendered="#{instrutorControlador.entidade.id == null}"
												alt="AVANÇAR" title="AVANÇAR" />
										</span>

										<span> <p:commandButton
												id="btnCadastrarAbaDadosPessoais"
												update=":modalAlerta @form :conteudoPrincipal :tituloSistema"
												onstart="jQuery('#form\\:btnCadastrar span').html('SALVANDO...')"
												oncomplete="jQuery('#form\\:btnCadastrar span').html('SALVAR')"
												styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
												value="SALVAR"
												rendered="#{instrutorControlador.entidade.id != null}"
												action="#{instrutorControlador.acaoInserir}" alt="SALVAR"
												title="SALVAR" />
										</span>

									</h:panelGroup>

								</div>

							</div>

						</div>
					</h:form>

					<h:form id="form-dados-instrutor" prependId="false"
						enctype="multipart/form-data">

						<div class="mdl-tabs__panel aba_dados_instrutor"
							id="dados-intrutor">

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--6-col">

									<h:selectOneMenu id="tipoInstrutor"
										value="#{instrutorControlador.entidade.tipoInstrutor}"
										required="true"
										requiredMessage="Por favor, preencha o campo TIPO."
										converter="conversorEntidadePadrao"
										disabled="#{instrutorControlador.visualizar}"
										style="display:block;" title="TIPO">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{instrutorControlador.tipoInstrutorList}" var="bean"
											itemLabel="#{bean.descricao}" itemValue="#{bean}" />

									</h:selectOneMenu>

									<label for="tipoInstrutor" class="active">TIPO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--6-col">

									<h:selectOneMenu id="nivelEscolaridade"
										value="#{instrutorControlador.entidade.nivelEscolaridade}"
										converter="conversorEntidadePadrao"
										disabled="#{instrutorControlador.visualizar}"
										style="display:block;" required="true"
										requiredMessage="Por favor, preencha o campo ESCOLARIDADE."
										title="ESCOLARIDADE">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{instrutorControlador.nivelEscolaridadeList}"
											var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

									</h:selectOneMenu>

									<label for="nivelEscolaridade" class="active">ESCOLARIDADE:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--6-col">

									<h:selectOneMenu id="formacaoAcademica"
										value="#{instrutorControlador.entidade.formacaoAcademica}"
										converter="conversorEntidadePadrao"
										disabled="#{instrutorControlador.visualizar}"
										style="display:block;" required="true"
										requiredMessage="Por favor, preencha o campo FORMAÇÃO ACADÊMICA."
										title="FORMAÇÃO ACADÊMICA">

										<f:selectItem itemLabel="Selecione" />

										<f:selectItems
											value="#{instrutorControlador.formacaoAcademicaList}"
											var="fa" itemLabel="#{fa.descricao}" itemValue="#{fa}" />

									</h:selectOneMenu>

									<label for="formacaoAcademica" class="active">FORMAÇÃO
										ACADÊMICA:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--6-col">

									<p:inputText id="instituicao"
										disabled="#{instrutorControlador.visualizar}" maxlength="255"
										value="#{instrutorControlador.entidade.instituicao}"
										required="true"
										requiredMessage="Por favor, preencha o campo INSTITUIÇÃO."
										alt="INSTITUIÇÃO" title="INSTITUIÇÃO" />

									<label for="instituicao" class="active">INSTITUIÇÃO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--12-col">

									<p:inputTextarea id="perfil" maxlength="2000" rows="3"
										disabled="#{instrutorControlador.visualizar}"
										value="#{instrutorControlador.entidade.perfil}"
										required="true"
										requiredMessage="Por favor, preencha o campo CURRÍCULO RESUMIDO."
										ALT="CURRÍCULO RESUMIDO" title="CURRÍCULO RESUMIDO" />

									<label for="perfil" class="active">CURRÍCULO RESUMIDO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--12-col">

									<p:inputTextarea id="observacao" maxlength="2000" rows="3"
										disabled="#{instrutorControlador.visualizar}"
										value="#{instrutorControlador.entidade.observacao}"
										title="OBSERVAÇÃO" />

									<label for="observacao" class="active">OBSERVAÇÃO:</label>

								</div>

							</div>

							<p:outputPanel id="uploadCurriculo" styleClass="mdl-grid">

								<p:outputPanel
									rendered="#{instrutorControlador.entidade.curriculo == null}"
									styleClass="input-field mdl-cell mdl-cell--12-col">

									<p:fileUpload immediate="true"
										update="uploadCurriculo uploadAssinatura uploads"
										process="@this" oncomplete="onLoad();exibirMensagem();"
										auto="true" fileLimit="1" onstart="removerMensagens();"
										sizeLimit="10000000"
										fileLimitMessage="Poderão ser enviados, no máximo, 1 arquivo."
										invalidFileMessage="Tipo de arquivo não aceito para upload"
										invalidSizeMessage="Os arquivos poderão conter, no máximo, 10MB"
										allowTypes="#{instrutorControlador.tiposArquivosPermitidos}"
										fileUploadListener="#{instrutorControlador.uploadCurriculo}"
										mode="advanced" />

									<label class="active">CURRÍCULO:</label>

								</p:outputPanel>

							</p:outputPanel>

							<p:outputPanel id="uploadAssinatura" styleClass="mdl-grid">

								<p:outputPanel
									rendered="#{instrutorControlador.entidade.assinatura == null}"
									styleClass="input-field mdl-cell mdl-cell--12-col">

									<label class="active">ASSINATURA:</label>

									<p:fileUpload immediate="true"
										update="uploadCurriculo uploadAssinatura uploads"
										process="@this" oncomplete="onLoad();exibirMensagem();"
										auto="true" fileLimit="1" onstart="removerMensagens();"
										sizeLimit="10000000"
										fileLimitMessage="Poderão ser enviados, no máximo, 1 arquivo."
										invalidFileMessage="Tipo de arquivo não aceito para upload"
										invalidSizeMessage="Os arquivos poderão conter, no máximo, 10MB"
										allowTypes="#{instrutorControlador.tiposArquivosPermitidos}"
										fileUploadListener="#{instrutorControlador.uploadAssinatura}"
										mode="advanced" />

								</p:outputPanel>

							</p:outputPanel>

							<p:outputPanel id="uploads" styleClass="mdl-grid">
								<p:outputPanel
									rendered="#{(instrutorControlador.entidade.curriculo != null || instrutorControlador.entidade.curriculo.id != null) || (instrutorControlador.entidade.assinatura != null || instrutorControlador.entidade.assinatura.id != null)}"
									layout="block" styleClass="col mdl-cell--6-col">
									<table style="width: 100%"
										class="mdl-data-table mdl-js-data-table is-upgraded">
										<thead>
											<tr role="row">
												<th
													class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
													<span class="ui-column-title">Arquivo</span>
												</th>
												<th
													class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
													<span class="ui-column-title">Descrição</span>
												</th>
												<th
													class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
													<span class="ui-column-title">Ações</span>
												</th>
											</tr>
										</thead>
										<tbody class="ui-datatable-data ui-widget-content">
											<tr class="ui-widget-content ui-datatable-even">
												<td role="gridcell"
													class="mdl-data-table__cell--non-numeric ui-column-p-1">CURRÍCULO</td>
												<td role="gridcell"
													class="mdl-data-table__cell--non-numeric ui-column-p-1">#{instrutorControlador.entidade.curriculo.descricao}</td>
												<td role="gridcell"
													class="mdl-data-table__cell--non-numeric ui-column-p-1">
													<mdl:btn-icon immediate="true"
														update="uploadCurriculo uploadAssinatura uploads"
														action="#{instrutorControlador.limparAnexoCurriculo}"
														icon="clear" toolTip="REMOVER ANEXO" />
												</td>
											</tr>
											<tr class="ui-widget-content ui-datatable-even">
												<td role="gridcell"
													class="mdl-data-table__cell--non-numeric ui-column-p-1">ASSINATURA</td>
												<td role="gridcell"
													class="mdl-data-table__cell--non-numeric ui-column-p-1">#{instrutorControlador.entidade.assinatura.descricao}</td>
												<td role="gridcell"
													class="mdl-data-table__cell--non-numeric ui-column-p-1">
													<mdl:btn-icon immediate="true"
														update="uploadCurriculo uploadAssinatura uploads"
														action="#{instrutorControlador.limparAnexoAssinatura}"
														icon="clear" toolTip="REMOVER ANEXO" />
												</td>
											</tr>
										</tbody>
									</table>
								</p:outputPanel>
							</p:outputPanel>

							<div class="mdl-grid">

								<div class="mdl-cell mdl-cell--12-col">

									<h:panelGroup rendered="#{!instrutorControlador.visualizar}">

										<span style="margin-right: 0.5%"> <p:commandButton
												id="btnVoltar"
												styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
												value="VOLTAR" oncomplete="ativarAba('aba_dados_pessoais');"
												rendered="#{instrutorControlador.entidade.id == null}"
												alt="VOLTAR" title="VOLTAR" />
										</span>

										<span> <p:commandButton
												id="btnCadastrarAbaDadosInstrutor"
												update=":modalAlerta @form :conteudoPrincipal :tituloSistema"
												onstart="$('#form\\:btnCadastrarAbaDadosInstrutor span').html('SALVANDO...')"
												oncomplete="$('#form\\:btnCadastrarAbaDadosInstrutor span').html('SALVAR');ativarAba('aba_dados_instrutor');"
												styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
												value="SALVAR" action="#{instrutorControlador.acaoInserir}"
												alt="SALVAR" title="SALVAR" />
										</span>

									</h:panelGroup>

								</div>

							</div>

						</div>

					</h:form>

				</div>

			</div>

		</div>

	</p:outputPanel>

</div>

</html>