<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:form prependId="false" id="formList">

	<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col"
		style="margin-right: auto; margin-left: auto;">

		<div class="card-panel z-depth-2">

			<div class="mdl-card__title ouvidoria-title"></div>

			<div class="mdl-grid">
			
				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col">

					<mdl:auto-complete id="autocompleteEvento" atributo="titulo"
						entidade="#{avaliacaoReacaoControlador.evento}" tipo="Evento"
						label="EVENTO" >

						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="TÍTULO" priority="1">

							<h:outputText value="#{bean.titulo}" title="TÍTULO" />

						</p:column>

					</mdl:auto-complete>

				</p:outputPanel>
				
				<p:outputPanel id="panelModulos" styleClass="input-field mdl-cell mdl-cell--6-col">

					<h:selectOneMenu id="modulo" value="#{avaliacaoReacaoControlador.moduloSelecionado}"
								converter="conversorEntidadePadrao" style="display:block;" title="MÓDULO">
				
						<f:selectItem itemLabel="Todos" />
			
						<f:selectItems value="#{avaliacaoReacaoControlador.moduloList}" var="bean" itemLabel="#{bean.titulo}" itemValue="#{bean}" />
						
					</h:selectOneMenu>
					
					<label for="modulo" class="active">MÓDULO:</label>

				</p:outputPanel>
				
				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col">
					
					<h:selectOneMenu id="tipoVisualizacao" value="#{avaliacaoReacaoControlador.tipo}" style="display:block;" title="TIPO DE VISUALIZAÇÃO">
				
						<f:selectItem itemLabel="Selecione" />
			
						<f:selectItem itemLabel="GRÁFICO" itemValue="0" />
            			
            			<f:selectItem itemLabel="TABELA" itemValue="1" />
						
					</h:selectOneMenu>
					
					<label for="tipoVisualizacao" class="active">TIPO DE VISUALIZAÇÃO:</label>
					
				</p:outputPanel>
				
				<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col">
				
						<p:commandButton id="btnAtualizarLista" 
							update=":modalAlerta panel-relatorio"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="ATUALIZAR GRÁFICO" title="ATUALIZAR GRÁFICO" alt="ATUALIZAR GRÁFICO"
							action="#{avaliacaoReacaoControlador.atualizarGrafico}" />
				
				</p:outputPanel>
			
			</div>
			
			<p:outputPanel id="panel-relatorio" styleClass="mdl-grid">
				
				<h:panelGroup rendered="#{avaliacaoReacaoControlador.tipo == 0}">
					
					<ui:repeat var="chart" value="#{avaliacaoReacaoControlador.avaliacoesChart}">
					
						<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col">
						
							<p:chart type="pie" model="#{chart}" style="height:300px" responsive="true" />
							
						</p:outputPanel>
					
					</ui:repeat>
				
				</h:panelGroup>
				
				<h:panelGroup rendered="#{avaliacaoReacaoControlador.tipo == 1}">
					
					<ui:repeat var="questionario" value="#{avaliacaoReacaoControlador.moduloAvaliacaoChartDTO.questionarios}">
				
						<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col">
						
							<div class="card-panel z-depth-2">
	
								<div class="mdl-card__title ouvidoria-title">#{questionario.questionario}</div>
					
								<div class="mdl-grid">
					
									<p:dataTable var="opcao" value="#{questionario.opcoes}" style="width:100%" tableStyle="width:100%" emptyMessage="Nenhum registro encontrado." tableStyleClass="bordered responsive-table">
									    <p:column headerText="OPÇÃO">
									        <h:outputText value="#{opcao.descricao}" />
									    </p:column>
									    <p:column headerText="QUANTIDADE">
									        <h:outputText value="#{opcao.quantidade}" />
									    </p:column>
									</p:dataTable>
									
								</div>
								
							</div>
						
						</p:outputPanel>
					
					</ui:repeat>
				
				</h:panelGroup>
				
				<p:outputPanel rendered="#{avaliacaoReacaoControlador.observacoesList != null and avaliacaoReacaoControlador.observacoesList.size() > 0}" styleClass="input-field mdl-cell mdl-cell--12-col">
					
					<h5>OBSERVAÇÕES</h5>
					
				</p:outputPanel>
				
				<ui:repeat var="obs" value="#{avaliacaoReacaoControlador.observacoesList}">
					
					<p:outputPanel rendered="#{obs != null and obs != ''}" styleClass="input-field mdl-cell mdl-cell--12-col">
						
						<p:inputTextarea maxlength="2000" rows="2"
							disabled="true"
							value="#{obs}"
							title="#{obs}" />
							
					</p:outputPanel>
							
				</ui:repeat>
				
			</p:outputPanel>
		
		</div>
		
	</p:outputPanel>


</h:form>

</html>