<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:form prependId="false" enctype="multipart/form-data" id="formEvento">

		<div class="mdl-grid bottom">

			<mdl:btn-back />

		</div>

		<div class="mdl-grid">

			<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col"
				style="margin-right: auto; margin-left: auto;">

				<div class="card-panel z-depth-2">

					<div class="mdl-card__title ouvidoria-title">

						<h2 class="mdl-card__title-text">#{eventoControlador.visualizar
							? 'VISUALIZAR' : (eventoControlador.entidade.id == null ?
							'CADASTRAR' : 'EDITAR')} EVENTO #{eventoControlador.entidade.id
							== null ? '' : eventoControlador.entidade.titulo}</h2>

					</div>

					<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

						<div class="mdl-tabs__tab-bar">

							<a href="#dados-evento" class="mdl-tabs__tab is-active">DADOS
								DO EVENTO</a>

							<c:if
								test="#{eventoControlador.visualizar || eventoControlador.entidade.id != null}">

								<a href="#modulos" class="mdl-tabs__tab">MÓDULOS</a>

								<a href="#gastos" class="mdl-tabs__tab">GASTOS</a>

								<a href="#indicacoes" class="mdl-tabs__tab">INDICAÇÕES</a>

								<a href="#inscricoes" class="mdl-tabs__tab">INSCRIÇÕES</a>

							</c:if>

						</div>

						<br />
						
						<p:outputPanel id="panel-dados-evento">

							<div class="mdl-tabs__panel is-active" id="panel-dados-evento">
	
								<div class="mdl-grid">
	
									<div class="input-field mdl-cell mdl-cell--12-col">
	
										<p:inputText required="true" maxlength="255"
											requiredMessage="Por favor, preencha o campo TÍTULO."
											id="titulo" disabled="#{eventoControlador.visualizar}"
											value="#{eventoControlador.entidade.titulo}" alt="TÍTULO"
											title="TÍTULO" styleClass="caixa-alta" />
	
										<label for="titulo" class="active">TÍTULO:</label>
	
									</div>
	
								</div>
	
								<div class="mdl-grid">
	
									<div class="input-field mdl-cell mdl-cell--3-col">
	
										<h:selectOneMenu id="tipo"
											value="#{eventoControlador.entidade.tipoEvento}"
											required="true"
											requiredMessage="Por favor, preencha o campo TIPO DO EVENTO."
											converter="conversorEntidadePadrao"
											disabled="#{eventoControlador.visualizar}"
											style="display:block;" title="TIPO DO EVENTO">
	
											<f:selectItem itemLabel="Selecione" />
	
											<f:selectItems value="#{eventoControlador.tipoEventoList}"
												var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />
	
										</h:selectOneMenu>
	
										<label for="tipoInstrutor" class="active">TIPO DO
											EVENTO:</label>
	
									</div>
	
									<div class="input-field mdl-cell mdl-cell--3-col">
	
										<h:selectOneMenu id="eixoTematico"
											value="#{eventoControlador.entidade.eixoTematico}"
											required="true"
											requiredMessage="Por favor, preencha o campo EIXO TEMÁTICO."
											converter="conversorEntidadePadrao"
											disabled="#{eventoControlador.visualizar}"
											style="display:block;" title="EIXO TEMÁTICO">
	
											<f:selectItem itemLabel="Selecione" />
	
											<f:selectItems value="#{eventoControlador.eixoTematicoList}"
												var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />
	
										</h:selectOneMenu>
	
										<label for="eixoTematico" class="active">EIXO TEMÁTICO:</label>
	
									</div>
	
									<div class="input-field mdl-cell mdl-cell--3-col">
	
										<h:selectOneMenu id="modalidade"
											value="#{eventoControlador.entidade.modalidade}"
											required="true"
											requiredMessage="Por favor, preencha o campo MODALIDADE."
											converter="conversorEntidadePadrao"
											disabled="#{eventoControlador.visualizar}"
											style="display:block;" title="MODALIDADE">
	
											<f:selectItem itemLabel="Selecione" itemValue="#{null}"/>
	
											<f:selectItems value="#{eventoControlador.modalidadeList}"
												var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />

                                            <f:ajax event="change" render="selectCursoMoodleCorrespondente"/>

                                        </h:selectOneMenu>
	
										<label for="modalidade" class="active">MODALIDADE:</label>
	
									</div>

									<div class="input-field mdl-cell mdl-cell--3-col">

                                        <h:selectOneMenu id="selectCursoMoodleCorrespondente"
                                                         value="#{eventoControlador.entidade.cursoMoodleId}"
                                                         disabled="#{eventoControlador.visualizar
                                                                        or !eventoControlador.eventoPodeVincularCursoMoodle()
                                                                       	or eventoControlador.cursosMoodle == null}"
                                                         style="display:block;"
                                                         title="CURSO MOODLE CORRESPONDENTE">

                                            <f:selectItem itemLabel="Nenhum"/>

                                            <f:selectItems value="#{eventoControlador.cursosMoodle}"
                                                           var="bean"
                                                           itemLabel="#{bean.fullname}"
                                                           itemValue="#{bean.id}"
                                            />

											<f:ajax render="permitePreInscricao"
													update="dataInicioPreInscricao, dataFimPreInscricao, horaFimPreInscricao"
													event="change"/>

                                        </h:selectOneMenu>

                                        <label for="selectCursoMoodleCorrespondente" class="active">CURSO MOODLE CORRESPONDENTE:</label>

                                    </div>

								</div>

								<div class="mdl-grid">
	
									<div class="input-field mdl-cell mdl-cell--3-col">
	
										<p:inputMask required="true" mask="9?999"
											converter="cargaHorariaConverter"
											requiredMessage="Por favor, preencha o campo CARGA HORÁRIA."
											id="cargaHoraria" disabled="#{eventoControlador.visualizar}"
											value="#{eventoControlador.entidade.cargaHoraria}"
											alt="CARGA HORÁRIA" title="CARGA HORÁRIA" />
	
										<label for="cargaHoraria" class="active">CARGA HORÁRIA:</label>
	
									</div>
	
									<div class="input-field mdl-cell mdl-cell--3-col">
	
										<p:inputMask required="true" mask="9?999" maxlength="4"
											requiredMessage="Por favor, preencha o campo VAGAS."
											id="vagas" disabled="#{eventoControlador.visualizar}"
											value="#{eventoControlador.entidade.vagas}" alt="VAGAS"
											title="VAGAS" />
	
										<label for="vagas" class="active">VAGAS:</label>
	
									</div>
	
									<p:outputPanel id="panel-provedor"
										styleClass="input-field mdl-cell mdl-cell--6-col">
	
										<h:inputHidden required="true"
											requiredMessage="Por favor, preencha o campo PROVEDOR."
											value="#{eventoControlador.entidade.provedor.descricao}"></h:inputHidden>
	
										<mdl:auto-complete id="autocomplete" atributo="descricao"
											entidade="#{eventoControlador.entidade.provedor}"
											tipo="ProvedorEvento" label="PROVEDOR" update="panel-provedor"
											desabilitar="#{eventoControlador.visualizar}"
											obrigatorio="#{true}">
	
											<p:column styleClass="mdl-data-table__cell--non-numeric"
												headerText="DESCRIÇÃO" priority="1">
	
												<h:outputText value="#{bean.descricao}" title="PROVEDOR" />
	
											</p:column>
	
										</mdl:auto-complete>
	
									</p:outputPanel>
	
								</div>
	
								<div class="mdl-grid">
	
									<p:outputPanel id="panel-localizacao"
										styleClass="input-field mdl-cell mdl-cell--6-col">
	
										<h:inputHidden required="true"
											requiredMessage="Por favor, preencha o campo LOCALIZAÇÃO DO EVENTO."
											value="#{eventoControlador.entidade.localizacao.descricao}"></h:inputHidden>
	
										<mdl:auto-complete id="autocompleteLocalizacao"
											atributo="descricao"
											entidade="#{eventoControlador.entidade.localizacao}"
											tipo="LocalizacaoEvento" label="LOCALIZAÇÃO DO EVENTO"
											desabilitar="#{eventoControlador.visualizar}"
											update="panel-localizacao" obrigatorio="true">
	
											<p:column styleClass="mdl-data-table__cell--non-numeric"
												headerText="DESCRIÇÃO" priority="1">
	
												<h:outputText value="#{bean.descricao}"
													title="LOCALIZAÇÃO DO EVENTO" />
	
											</p:column>
	
										</mdl:auto-complete>
	
									</p:outputPanel>
	
									<p:outputPanel id="panel-responsavel"
										styleClass="input-field mdl-cell mdl-cell--6-col">
	
										<h:inputHidden required="true"
											requiredMessage="Por favor, preencha o campo RESPONSÁVEL PELO EVENTO."
											value="#{eventoControlador.usuarioInternoResponsavel.pessoa.nome}"></h:inputHidden>
	
										<mdl:auto-complete id="autocompleteResponsavel"
											atributo="pessoa.nome"
											entidade="#{eventoControlador.usuarioInternoResponsavel}"
											tipo="Usuario" label="RESPONSÁVEL PELO EVENTO"
											update="panel-responsavel"
											desabilitar="#{eventoControlador.visualizar}"
											obrigatorio="true"
											filters="#{eventoControlador.filtersParticipante}">
	
											<p:column styleClass="mdl-data-table__cell--non-numeric"
												headerText="Nome" priority="1">
	
												<h:outputText value="#{bean.pessoa.nome}"
													title="RESPONSÁVEL PELO EVENTO" />
	
											</p:column>
	
										</mdl:auto-complete>
	
									</p:outputPanel>
	
								</div>
	
								<div class="mdl-grid">
	
									<div class="input-field mdl-cell mdl-cell--3-col">
	
										<p:calendar required="true" styleClass="hasDatepicker"
											requiredMessage="Por favor, preencha o campo DATA INÍCIO PREVISTO."
											id="dataInicioPrevisto" locale="pt_BR"
											disabled="#{eventoControlador.visualizar}"
											value="#{eventoControlador.entidade.dataInicioPrevisto}"
											pattern="dd/MM/yyyy" alt="DATA INÍCIO PREVISTO"
											title="DATA INÍCIO PREVISTO">
	
											<f:convertDateTime pattern="dd/MM/yyyy" />
	
										</p:calendar>
	
										<label for="dataInicioPrevisto" class="active">DATA
											INÍCIO PREVISTO:</label>
	
									</div>
	
									<div class="input-field mdl-cell mdl-cell--3-col">
	
										<p:calendar required="true"
											requiredMessage="Por favor, preencha o campo DATA FIM PREVISTO."
											id="dataFimPrevisto" locale="pt_BR" styleClass="hasDatepicker"
											disabled="#{eventoControlador.visualizar}"
											value="#{eventoControlador.entidade.dataFimPrevisto}"
											pattern="dd/MM/yyyy" alt="DATA FIM PREVISTO"
											title="DATA FIM PREVISTO" />
	
										<label for="dataFimPrevisto" class="active">DATA FIM
											PREVISTO:</label>
	
									</div>
	
									<div class="input-field mdl-cell mdl-cell--3-col">
	
										<p:calendar id="dataInicioRealizacao" locale="pt_BR"
											disabled="#{eventoControlador.visualizar}"
											styleClass="hasDatepicker"
											value="#{eventoControlador.entidade.dataInicioRealizacao}"
											pattern="dd/MM/yyyy" alt="DATA INÍCIO REALIZAÇÃO"
											title="DATA INÍCIO REALIZAÇÃO" />
	
										<label for="dataInicioRealizacao" class="active">DATA
											INÍCIO REALIZAÇÃO:</label>
	
									</div>
	
									<div class="input-field mdl-cell mdl-cell--3-col">
	
										<p:calendar id="dataFimRealizacao" locale="pt_BR"
											disabled="#{eventoControlador.visualizar}"
											styleClass="hasDatepicker"
											value="#{eventoControlador.entidade.dataFimRealizacao}"
											pattern="dd/MM/yyyy" alt="DATA FIM REALIZAÇÃO"
											title="DATA FIM REALIZAÇÃO" />
	
										<label for="dataFimRealizacao" class="active">DATA FIM
											REALIZAÇÃO:</label>
	
									</div>
	
								</div>
	
								<div class="mdl-grid">
	
									<div class="mdl-cell mdl-cell--3-col">
	
										<h:selectBooleanCheckbox id="moduloUnico"
											value="#{eventoControlador.entidade.moduloUnico}"
											title="MÓDULO ÚNICO"></h:selectBooleanCheckbox>
	
										<label for="moduloUnico" class="active">MÓDULO ÚNICO:</label>
	
									</div>
	
									<div class="mdl-cell mdl-cell--3-col">
	
										<h:selectBooleanCheckbox id="permitePreInscricao"
																 disabled="#{eventoControlador.visualizar or
																 eventoControlador.eventoTemCursoMoodleVinculado()}"
																 value="#{eventoControlador.entidade.permitePreInscricao}"
										>
											<p:ajax update="dataInicioPreInscricao, dataFimPreInscricao, horaFimPreInscricao" event="change" />
										</h:selectBooleanCheckbox>
	
										<label for="permitePreInscricao" class="active">PERMITE
											PRÉ-INSCRIÇÃO:</label>
	
									</div>
									
									<div class="input-field mdl-cell mdl-cell--3-col">
	
										<p:calendar id="dataInicioPreInscricao" locale="pt_BR"
											disabled="#{eventoControlador.visualizar || !eventoControlador.entidade.permitePreInscricao}"
											value="#{eventoControlador.entidade.dataInicioPreInscricao}"
											styleClass="hasDatepicker" pattern="dd/MM/yyyy"
											alt="DATA INÍCIO PRÉ-INSCRIÇÃO"
											title="DATA INÍCIO PRÉ-INSCRIÇÃO" />
	
										<label for="dataInicioPreInscricao" class="active">DATA
											INÍCIO PRÉ-INSCRIÇÃO:</label>
	
									</div>
	
									<div class="input-field mdl-cell mdl-cell--3-col">
										
										
											<p:calendar id="dataFimPreInscricao" locale="pt_BR"
											disabled="#{eventoControlador.visualizar || !eventoControlador.entidade.permitePreInscricao}"
											value="#{eventoControlador.entidade.dataFimPreInscricao}"
											styleClass="hasDatepicker" pattern="dd/MM/yyyy"
											alt="DATA FIM PRÉ-INSCRIÇÃO" title="DATA FIM PRÉ-INSCRIÇÃO"/>
											
											<label for="dataFimPreInscricao" class="active">DATA
											FIM PRÉ-INSCRIÇÃO:</label>
											
									</div>
									
									<div class="input-field mdl-cell mdl-cell--3-col">
									
											<p:inputMask id="horaFimPreInscricao" mask="99:99"
											disabled="#{eventoControlador.visualizar || !eventoControlador.entidade.permitePreInscricao}"
											 value="#{eventoControlador.horaFimPreInscricao}" />
											
											<label for="horaFimPreInscricao" class="active">HORÁRIO
											FIM PRÉ-INSCRIÇÃO:</label>
									
									</div>
									
								</div>
								
								<div class="mdl-grid">
	
									<div class="mdl-cell mdl-cell--3-col">
	
										<h:selectBooleanCheckbox id="mostrarNaHome"
											value="#{eventoControlador.entidade.mostrarNaHome}"
											title="MOSTRAR NA HOME"></h:selectBooleanCheckbox>
	
										<label for="mostrarNaHome" class="active">EXIBIR NA
											PÁGINA INICIAL</label>
	
									</div>
	
									<div class="mdl-cell mdl-cell--3-col">
	
										<h:selectBooleanCheckbox id="avaliarPorMediasGerais"
											value="#{eventoControlador.entidade.avaliarPorMedia}"
											title="AVALIAR POR MÉDIAS GERAIS (EVENTOS COM DOIS OU MAIS MÓDULOS)">
	
											<p:ajax event="change" process="@this"
												update=":panelNotaMedia :panelFrequenciaMinima" />
	
										</h:selectBooleanCheckbox>
	
										<label for="avaliarPorMediasGerais" class="active">AVALIAR
											POR MÉDIAS GERAIS (EVENTOS COM DOIS OU MAIS MÓDULOS)</label>
	
									</div>
	
									<p:outputPanel id="panelNotaMedia"
										styleClass="input-field mdl-cell mdl-cell--3-col">
	
										<h:panelGroup
											rendered="#{eventoControlador.entidade.avaliarPorMedia}">
	
											<p:spinner id="notaMediaAprovacao"
												value="#{eventoControlador.entidade.mediaNotaAprovacao}"
												min="0" max="100" alt="NOTA MÉDIA MÍNIMA (0 A 100)"
												title="NOTA MÉDIA MÍNIMA (0 A 100)" required="true"
												requiredMessage="Por favor, preencha o campo NOTA MÉDIA MÍNIMA (0 a 100)."
												disabled="#{eventoControlador.visualizar}"
												rendered="#{eventoControlador.entidade.avaliarPorMedia}"
												stepFactor="0.5" styleClass="spinner-custom" />
	
											<label for="notaMediaAprovacao" class="active">NOTA
												MÉDIA MÍNIMA (0 a 100):</label>
	
										</h:panelGroup>
	
									</p:outputPanel>
	
									<p:outputPanel id="panelFrequenciaMinima"
										styleClass="input-field mdl-cell mdl-cell--3-col">
	
										<h:panelGroup
											rendered="#{eventoControlador.entidade.avaliarPorMedia}">
	
											<p:spinner id="frequenciaMinimaAprovacao"
												value="#{eventoControlador.entidade.mediaFrequenciaAprovacao}"
												min="0" max="100" alt="FFREQUÊNCIA MÉDIA MÍNIMA (%)"
												title="FREQUÊNCIA MÉDIA MÍNIMA (%)" required="true"
												requiredMessage="Por favor, preencha o campo FREQUÊNCIA MÉDIA MÍNIMA (%)."
												disabled="#{eventoControlador.visualizar}"
												rendered="#{eventoControlador.entidade.avaliarPorMedia}"
												stepFactor="0.5" styleClass="spinner-custom" />
	
											<label for="frequenciaMinimaAprovacao" class="active">FREQUÊNCIA
												MÉDIA MÍNIMA (%):</label>
	
										</h:panelGroup>
	
									</p:outputPanel>
	
								</div>
	
								<div class="mdl-grid" style="padding-top: 25px">
	
									<div class="input-field mdl-cell mdl-cell--12-col">
	
										<h:selectManyCheckbox id="publicoAlvo"
											value="#{eventoControlador.publicoAlvoSelecionadoList}"
											converter="javax.faces.Long"
											disabled="#{eventoControlador.visualizar}"
											title="PÚBLICO ALVO">
											<f:selectItems value="#{eventoControlador.publicoAlvoList}"
												var="bean" itemLabel="#{bean.descricao}"
												itemValue="#{bean.id}" />
										</h:selectManyCheckbox>
	
										<label for="publicoAlvo" class="active">PÚBLICO ALVO:</label>
	
									</div>
	
								</div>
	
								<div class="mdl-grid" style="padding-top: 25px">
	
									<div class="input-field mdl-cell mdl-cell--12-col">
	
										<p:inputTextarea required="true"
											requiredMessage="Por favor, preencha o campo CONTEÚDO PROGRAMÁTICO."
											id="conteudo" maxlength="2000" rows="2"
											disabled="#{eventoControlador.visualizar}"
											value="#{eventoControlador.entidade.conteudo}"
											title="CONTEÚDO PROGRAMÁTICO" />
	
										<label for="conteudo" class="active">CONTEÚDO
											PROGRAMÁTICO (INFORMAÇÃO IMPRESSA NO CERTIFICADO):</label>
	
									</div>
	
								</div>
	
								<div class="mdl-grid">
	
									<div class="input-field mdl-cell mdl-cell--12-col">
	
										<p:inputTextarea id="objGeral" maxlength="2000" rows="2"
											disabled="#{eventoControlador.visualizar}"
											value="#{eventoControlador.entidade.objetivoGeral}"
											title="OBJETIVO GERAL" />
	
										<label for="objGeral" class="active">OBJETIVO GERAL:</label>
	
									</div>
	
								</div>
	
								<div class="mdl-grid">
	
									<div class="input-field mdl-cell mdl-cell--12-col">
	
										<p:inputTextarea id="objEspecifico" maxlength="2000" rows="2"
											disabled="#{eventoControlador.visualizar}"
											value="#{eventoControlador.entidade.objetivoEspecifico}"
											title="OBJETIVOS ESPECÍFICOS" />
	
										<label for="objEspecifico" class="active">OBJETIVOS
											ESPECÍFICOS:</label>
	
									</div>
	
								</div>
	
								<div class="mdl-grid">
	
									<div class="input-field mdl-cell mdl-cell--12-col">
	
										<p:inputTextarea id="resultadoEsperado" maxlength="2000"
											rows="2" disabled="#{eventoControlador.visualizar}"
											value="#{eventoControlador.entidade.resultadoEsperado}"
											title="RESULTADOS ESPERADOS" />
	
										<label for="resultadoEsperado" class="active">RESULTADOS
											ESPERADOS:</label>
	
									</div>
	
								</div>
	
								<div class="mdl-grid">
	
									<div class="input-field mdl-cell mdl-cell--12-col">
	
										<p:inputTextarea id="observacoes" maxlength="2000" rows="2"
											disabled="#{eventoControlador.visualizar}"
											value="#{eventoControlador.entidade.observacoes}"
											title="OBSERVAÇÕES" />
	
										<label for="observacoes" class="active">OBSERVAÇÕES:</label>
	
									</div>
	
								</div>

								<p:outputPanel styleClass="mdl-grid">
									<label class="active">IMAGEM DO EVENTO</label>
								</p:outputPanel>
					
								<p:outputPanel id="panel_imagem_evento">
								
									<p:outputPanel id="uploadImagem" styleClass="mdl-grid">
			
											<p:commandButton id="btnImagemEvento" immediate="true" update=":uploads"
												process="@this" oncomplete="openModal('modalImagemEvento')"
												styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
												value="IMAGEM DO EVENTO" alt="FAZER ENVIO DE IMAGEM DO EVENTO"
												title="IMAGEM DO EVENTO"/>
										
									</p:outputPanel>
									
									<p:outputPanel styleClass="mdl-grid" rendered="#{(eventoControlador.entidade.imagem != null || eventoControlador.entidade.imagem.id != null)}">
		
										<p:outputPanel styleClass="mdl-cell mdl-cell--6-col">
										
											<p:outputPanel id="uploads">
												<p:outputPanel layout="block">
													<table style="width: 100%"
														class="mdl-data-table mdl-js-data-table is-upgraded">
														<thead>
															<tr role="row">
																<th
																	class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
																	<span class="ui-column-title">Arquivo</span>
																</th>
																<th
																	class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
																	<span class="ui-column-title">Descrição</span>
																</th>
																<th
																	class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
																	<span class="ui-column-title">Ações</span>
																</th>
															</tr>
														</thead>
														<tbody class="ui-datatable-data ui-widget-content">
															<tr class="ui-widget-content ui-datatable-even">
																<td role="gridcell"
																	class="mdl-data-table__cell--non-numeric ui-column-p-1">IMAGEM DO EVENTO</td>
																<td role="gridcell"
																	class="mdl-data-table__cell--non-numeric ui-column-p-1">#{eventoControlador.entidade.imagem.descricao}</td>
																<td role="gridcell"
																	class="mdl-data-table__cell--non-numeric ui-column-p-1">
																	<mdl:btn-icon immediate="true" update=":panel_imagem_evento" 
																		action="#{eventoControlador.limparAnexoImagem}"
																		icon="clear" toolTip="REMOVER IMAGEM DO EVENTO" />
																</td>
															</tr>
														</tbody>
													</table>
												</p:outputPanel>
											</p:outputPanel>
										
										</p:outputPanel>
										
									</p:outputPanel>
								
								</p:outputPanel>
								
								<p:outputPanel id="panel_imagem_frente_certificado">
								
									<p:outputPanel styleClass="mdl-grid">
		
										<p:outputPanel id= "arquivo_upload_imagem_frente" styleClass="mdl-cell mdl-cell--6-col" rendered="#{(eventoControlador.entidade.imagemCertificadoFrente == null or eventoControlador.anexoImagemCertificadoFrente == null) and !eventoControlador.visualizar}">
									
												<label class="active">IMAGEM DE FRENTE DO CERTIFICADO</label>
												
												<p:fileUpload rendered="#{!eventoControlador.visualizar}" id="fileUploadFrente" immediate="true" process="@this" update=":panel_imagem_frente_certificado" oncomplete="onLoad();exibirMensagem();"
													auto="true" fileLimit="1" onstart="removerMensagens();" sizeLimit="10000000" label="IMAGEM DE FRENTE DO CERTIFICADO" uploadLabel="IMAGEM DE FRENTE DO CERTIFICADO" cancelLabel="CANCELAR"
													fileLimitMessage="Poderão ser enviados, no máximo, 1 arquivo." invalidFileMessage="Tipo de arquivo não aceito para upload" 
													invalidSizeMessage="Os arquivos poderão conter, no máximo, 10MB" allowTypes="/(\.|\/)(bmp|jpe?g|png)$/"
													fileUploadListener="#{eventoControlador.uploadImagemFrenteCertificado}" mode="advanced">
												</p:fileUpload>
											
										</p:outputPanel>
											
									</p:outputPanel>
									
									<p:outputPanel id="upload_imagem_frente" styleClass="mdl-grid" rendered="#{eventoControlador.anexoImagemCertificadoFrente != null}">
		
										<p:outputPanel styleClass="mdl-cell mdl-cell--6-col">
										
												<p:outputPanel layout="block">
													<table style="width: 100%"
														class="mdl-data-table mdl-js-data-table is-upgraded">
														<thead>
															<tr role="row">
																<th
																	class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
																	<span class="ui-column-title">Arquivo</span>
																</th>
																<th
																	class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
																	<span class="ui-column-title">Descrição</span>
																</th>
																<th
																	class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
																	<span class="ui-column-title">Ações</span>
																</th>
															</tr>
														</thead>
														<tbody class="ui-datatable-data ui-widget-content">
															<tr class="ui-widget-content ui-datatable-even">
																<td role="gridcell"
																	class="mdl-data-table__cell--non-numeric ui-column-p-1">IMAGEM DE FRENTE DO CERTIFICADO</td>
																<td role="gridcell"
																	class="mdl-data-table__cell--non-numeric ui-column-p-1">#{eventoControlador.anexoImagemCertificadoFrente.descricao}</td>
																<td role="gridcell"
																	class="mdl-data-table__cell--non-numeric ui-column-p-1">
																	<mdl:btn-icon immediate="true" update=":panel_imagem_frente_certificado"
																		action="#{eventoControlador.limparAnexoImagemCertificadoFrente}"
																		icon="clear" toolTip="REMOVER IMAGEM DE FRENTE" />
																</td>
															</tr>
														</tbody>
													</table>
												</p:outputPanel>
										
										</p:outputPanel>
										
									</p:outputPanel>
								
								</p:outputPanel>
								
								<p:outputPanel id="panel_imagem_verso_certificado">
								
									<p:outputPanel styleClass="mdl-grid">
									
										<p:outputPanel id="arquivo_upload_imagem_verso" styleClass="mdl-cell mdl-cell-6-col" rendered="#{(eventoControlador.entidade.imagemCertificadoVerso == null or eventoControlador.anexoImagemCertificadoVerso == null) and !eventoControlador.visualizar}">
												
												    <label class="active">IMAGEM DE VERSO DO CERTIFICADO</label>
													
													<p:fileUpload id="fileUploadVerso" immediate="true" process="@this" update=":panel_imagem_verso_certificado" oncomplete="onLoad();exibirMensagem();"
														auto="true" fileLimit="1" onstart="removerMensagens();" sizeLimit="10000000" label="IMAGEM DE VERSO DO CERTIFICADO" uploadLabel="IMAGEM DE VERSO DO CERTIFICADO"
														fileLimitMessage="Poderão ser enviados, no máximo, 1 arquivo." invalidFileMessage="Tipo de arquivo não aceito para upload" 
														invalidSizeMessage="Os arquivos poderão conter, no máximo, 10MB" allowTypes="/(\.|\/)(bmp|jpe?g|png)$/"
														fileUploadListener="#{eventoControlador.uploadImagemVersoCertificado}" mode="advanced" >
													</p:fileUpload>
											
											</p:outputPanel>
										
									</p:outputPanel>
									
									<p:outputPanel id="upload_imagem_verso" styleClass="mdl-grid" rendered="#{eventoControlador.anexoImagemCertificadoVerso != null}">
		
										<p:outputPanel styleClass="mdl-cell mdl-cell--6-col">
										
												<p:outputPanel layout="block">
													<table style="width: 100%" class="mdl-data-table mdl-js-data-table is-upgraded">
														<thead>
															<tr role="row">
																<th
																	class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
																	<span class="ui-column-title">Arquivo</span>
																</th>
																<th
																	class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
																	<span class="ui-column-title">Descrição</span>
																</th>
																<th
																	class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1">
																	<span class="ui-column-title">Ações</span>
																</th>
															</tr>
														</thead>
														<tbody class="ui-datatable-data ui-widget-content">
															<tr class="ui-widget-content ui-datatable-even">
																<td role="gridcell"
																	class="mdl-data-table__cell--non-numeric ui-column-p-1">IMAGEM DE VERSO DO CERTIFICADO</td>
																<td role="gridcell"
																	class="mdl-data-table__cell--non-numeric ui-column-p-1">#{eventoControlador.anexoImagemCertificadoVerso.descricao}</td>
																<td role="gridcell"
																	class="mdl-data-table__cell--non-numeric ui-column-p-1">
																	<mdl:btn-icon immediate="true" update=":panel_imagem_verso_certificado"
																		action="#{eventoControlador.limparAnexoImagemCertificadoVerso}"
																		icon="clear" toolTip="REMOVER IMAGEM DE VERSO" />
																</td>
															</tr>
														</tbody>
													</table>
												</p:outputPanel>
										
										</p:outputPanel>
										
									</p:outputPanel>
								
								</p:outputPanel>
	
								<div class="mdl-grid">
	
									<div class="mdl-cell mdl-cell--12-col">
	
										<p:commandButton id="btnCadastrar"
											update=":modalAlerta @form :conteudoPrincipal :tituloSistema :header-sophos"
											onstart="jQuery('#form\\:btnCadastrar span').html('SALVANDO...')"
											oncomplete="jQuery('#form\\:btnCadastrar span').html('SALVAR')"
											styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
											value="SALVAR" rendered="#{!eventoControlador.visualizar}"
											action="#{eventoControlador.acaoInserir}" alt="SALVAR"
											title="SALVAR" />
	
									</div>
	
								</div>
	
							</div>
						
						</p:outputPanel>

						<div class="mdl-tabs__panel" id="modulos">

							<p:dataTable id="listagemModulosEvento" paginator="true"
								rows="10" paginatorPosition="bottom" style="width:100%;"
								tableStyle="width:100%" lazy="true"
								emptyMessage="Nenhum registro encontrado."
								tableStyleClass="bordered responsive-table"
								value="#{eventoControlador.modulosEvento}" var="bean">

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="TÍTULO" priority="1">

									<h:outputText value="#{bean.titulo}" title="TÍTULO" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="DATA INÍCIO" priority="1">

									<h:outputText value="#{bean.dataInicio}" title="DATA INÍCIO" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="DATA FIM" priority="1">

									<h:outputText value="#{bean.dataFim}" title="DATA FIM" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="NOTA PARA APROVAÇÂO" priority="1">

									<h:outputText value="#{bean.notaAprovacao}"
										title="NOTA PARA APROVAÇÃO" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="CARGA HORÁRIA" priority="1">

									<h:outputText value="#{bean.cargaHoraria}"
										title="CARGA HORÁRIA" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="FREQUÊNCIA MÍNIMA" priority="1">

									<h:outputText value="#{bean.frequenciaAprovacao}"
										title="FREQUÊNCIA MÍNIMA" />

								</p:column>

							</p:dataTable>

						</div>

						<div class="mdl-tabs__panel" id="gastos">

							<p:dataTable id="listagemGastos" paginator="true" rows="10"
								paginatorPosition="bottom" style="width:100%;"
								tableStyle="width:100%" lazy="true"
								emptyMessage="Nenhum registro encontrado."
								tableStyleClass="bordered responsive-table"
								value="#{eventoControlador.gastosEvento}" var="bean">

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="NÚMERO EMPENHO" priority="1">

									<h:outputText value="#{bean.numeroEmpenho}"
										title="NÚMERO EMPENHO" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="NÚMERO PROCESSO" priority="1">

									<h:outputText value="#{bean.numeroProcesso}"
										title="NÚMERO PROCESSO" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="DATA EMPENHO" priority="1">

									<h:outputText value="#{bean.dataEmpenho}" title="DATA EMPENHO" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="FONTE DE GASTO" priority="1">

									<h:outputText value="#{bean.fonteGasto.descricao}"
										title="FONTE DE GASTO" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="TIPO DE GASTO" priority="1">

									<h:outputText value="#{bean.tipoId.descricao}"
										title="TIPO DE GASTO" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="VALOR" priority="1">

									<h:outputText value="#{bean.valor}" title="VALOR" />

								</p:column>

							</p:dataTable>

						</div>

						<div class="mdl-tabs__panel" id="indicacoes">

							<p:dataTable id="listagemIndicacoes" lazy="true" paginator="true"
								rows="10" paginatorPosition="bottom" style="width:100%;"
								tableStyle="width:100%" rowIndexVar="rowId"
								emptyMessage="Nenhum registro encontrado."
								tableStyleClass="bordered responsive-table"
								value="#{indicacaoControlador.listaNaoAvaliadosPorEvento(eventoControlador.entidade)}"
								var="bean" rendered="#{eventoControlador.entidade.id != null}">

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="DATA CADASTRO" priority="1">

									<h:outputText value="#{bean.evento.dataCadastro}"
										title="DATA CADASTRO">
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</h:outputText>

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="CHEFE" priority="1">

									<h:outputText value="#{bean.chefe.pessoa.nome}" title="CHEFE" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="NOME" priority="1">

									<h:outputText value="#{bean.participante.pessoa.nome}"
										title="NOME" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="MATRÍCULA" priority="1">

									<h:outputText value="#{bean.participante.matricula}"
										title="MATRÍCULA" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="EVENTO" priority="1">

									<h:outputText value="#{bean.evento.titulo}" title="EVENTO" />

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="CARGA HORÁRIA" priority="1">

									<h:outputText value="#{bean.evento.cargaHoraria}"
										title="CARGA HORÁRIA">
										<f:convertNumber pattern="#0h" />
									</h:outputText>

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="PERÍODO" priority="1">

									<p:outputPanel id="datasPrevistas"
										rendered="#{bean.evento != null and eventoControlador.isMostrarPrevisao(bean.evento)}">
										<h:outputText value="#{bean.evento.dataInicioPrevisto}"
											title="DATA INÍCIO PREVISTO">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText> - <h:outputText value="#{bean.evento.dataFimPrevisto}"
											title="DATA FIM PREVISTO">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText> (previsão) 
								</p:outputPanel>

									<p:outputPanel id="datasRealizacao"
										rendered="#{bean.evento != null and !eventoControlador.isMostrarPrevisao(bean.evento)}">
										<h:outputText value="#{bean.evento.dataInicioRealizacao}"
											title="DATA INÍCIO REALIZAÇÃO">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText> - <h:outputText value="#{bean.evento.dataFimRealizacao}"
											title="DATA FIM REALIZAÇÃO">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:outputPanel>

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="AÇÕES" priority="1"
									style="width:125px;text-align:center">

									<p:remoteCommand name="exibirJustificativa#{rowId}"
										oncomplete="openModal('modalJustificativa')" process="@this"
										actionListener="#{indicacaoControlador.exibirJustificativa(bean)}" />

									<button type="button" id="btnJustificativa#{rowId}"
										onclick="exibirJustificativa#{rowId}()"
										class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">note</i>
									</button>

									<div class="mdl-tooltip" for="btnJustificativa#{rowId}">VER
										JUSTIFICATIVA DA INDICAÇÃO</div>

									<p:remoteCommand id="aprovarIndicacao#{rowId}"
										name="aprovarIndicacao#{rowId}" process="@this"
										actionListener="#{indicacaoControlador.aprovar(bean)}"
										update=":listagemIndicacoes :modalAlerta :listagemInscricoes" />


									<button type="button" id="btnAprovarIndicacao#{rowId}"
										onclick="confirmar('Confirma a APROVAÇÃO da indicacação?', aprovarIndicacao#{rowId});return false;"
										class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">thumb_up</i>
									</button>

									<div class="mdl-tooltip" for="btnAprovarIndicacao#{rowId}">APROVAR</div>

									<p:remoteCommand id="reprovarIndicacao#{rowId}"
										name="reprovarIndicacao#{rowId}" process="@this"
										actionListener="#{indicacaoControlador.reprovar(bean)}"
										update=":listagemIndicacoes :modalAlerta" />

									<button id="btnReprovarIndicacao#{rowId}"
										onclick="confirmar('Confirma a REPROVAÇÃO da indicacação?', reprovarIndicacao#{rowId});return false;"
										class="mdl-button mdl-js-button mdl-button--icon">

										<i class="material-icons">thumb_down</i>

									</button>

									<div class="mdl-tooltip" for="btnReprovarIndicacao#{rowId}">REPROVAR</div>

								</p:column>

							</p:dataTable>

						</div>

						<div class="mdl-tabs__panel" id="inscricoes">

							<div style="text-align: right">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
									style="padding: 0; margin-left: auto;">

									<div style="text-align: left">
										<label for="nome" title="Buscar"> Buscar: </label>
									</div>

									<div style="width: 400px;">

										<p:inputText styleClass="mdl-textfield__input"
											value="#{eventoControlador.inscricoesEvento.consulta}"
											placeholder="Insira seu parâmetro de pesquisa" id="nome"
											alt="Insira seu parâmetro de pesquisa"
											title="Insira seu parâmetro de pesquisa">

											<p:ajax event="keyup" update="listagemInscricoes" />

										</p:inputText>
									</div>
								</div>
							</div>

							<p:dataTable id="listagemInscricoes" lazy="true" paginator="true" rows="10"
								paginatorPosition="bottom" style="width:100%;"
								tableStyle="width:100%" rowIndexVar="rowIdInscricoes"
								emptyMessage="Nenhum registro encontrado."
								tableStyleClass="bordered responsive-table"
								value="#{eventoControlador.inscricoesEvento}" var="bean"
								selection="#{inscricaoControlador.inscricoesSelecionadas}"
								rowKey="#{bean.id}">

								<p:column selectionMode="multiple"
									style="width:16px;text-align:center" />

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="DATA #{eventoControlador.entidade.permitePreInscricao ? 'PRÉ-INSCRIÇÃO' : 'DE INSCRIÇÃO'}"
									priority="1">

									<h:outputText value="#{bean.dataCadastro}">
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</h:outputText>

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="PARTICIPANTE" priority="1">

									<h:outputText value="#{bean.participante.pessoa.nome}"></h:outputText>

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="TIPO" priority="1">

									<h:outputText value="#{bean.participante.tipo.descricao}"></h:outputText>

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="MUNICÍPIO" priority="1">

									<h:outputText
										value="#{participanteControlador.obterDescricaoCidade(bean.participante.endereco)}"
										rendered="#{bean.participante.tipo.codigo == 2 or bean.participante.tipo.codigo == 4}"></h:outputText>
									<h:outputText
										value="#{participanteControlador.obterDescricaoMunicipio(bean.participante.endereco)}"
										rendered="#{bean.participante.tipo.codigo != 2 and bean.participante.tipo.codigo != 4}"></h:outputText>

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="LOTAÇÃO" priority="1">

									<h:outputText value="#{bean.participante.lotacao}"></h:outputText>

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="CARGO" priority="1">

									<h:outputText value="#{bean.participante.cargo}"></h:outputText>

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="AUTORIZAÇÃO" priority="1"
									style="width:100px;text-align:center;">

									<p:outputPanel rendered="#{bean.autorizada == null}">
										<i id="btnAguardandoAvaliacao#{bean.id}"
											class="material-icons">query_builder</i>
										<div class="mdl-tooltip"
											for="btnAguardandoAvaliacao#{bean.id}">AGUARDANDO
											AUTORIZAÇÃO</div>
									</p:outputPanel>

									<p:outputPanel rendered="#{bean.autorizada != null}">

										<p:outputPanel rendered="#{bean.autorizada}">

											<p:outputPanel
												rendered="#{bean.dataAvaliacaoPreInscricao != null}">
												<i id="btnAprovada#{bean.id}" class="material-icons">check</i>
												<div class="mdl-tooltip" for="btnAprovada#{bean.id}">
													AUTORIZADA EM
													<h:outputText value="#{bean.dataAvaliacaoPreInscricao}"
														title="DATA DA APROVAÇÃO">
														<f:convertDateTime pattern="dd/MM/yyyy" />
													</h:outputText>
													POR <br />
													<h:outputText
														value="#{bean.avaliador.pessoa.nome.toUpperCase()}"
														title="RESPONSÁVEL PELA APROVAÇÃO" />
												</div>
											</p:outputPanel>

											<p:outputPanel
												rendered="#{bean.dataAvaliacaoPreInscricao == null}">
												<i id="btnAprovadaSemDados#{bean.id}" class="material-icons">check</i>
												<div class="mdl-tooltip" for="btnAprovadaSemDados#{bean.id}">AUTORIZADA</div>
											</p:outputPanel>

										</p:outputPanel>

										<p:outputPanel rendered="#{!bean.autorizada}">

											<p:outputPanel
												rendered="#{bean.dataAvaliacaoPreInscricao != null}">
												<i id="btnNaoAprovada#{bean.id}" class="material-icons">close</i>
												<div class="mdl-tooltip" for="btnNaoAprovada#{bean.id}">
													NEGADA EM
													<h:outputText value="#{bean.dataAvaliacaoPreInscricao}"
														title="DATA DA REPROVAÇÃO">
														<f:convertDateTime pattern="dd/MM/yyyy" />
													</h:outputText>
													POR <br />
													<h:outputText
														value="#{bean.avaliador.pessoa.nome.toUpperCase()}"
														title="RESPONSÁVEL PELA REPROVAÇÃO" />
												</div>
											</p:outputPanel>

											<p:outputPanel
												rendered="#{bean.dataAvaliacaoPreInscricao == null}">
												<i id="btnNaoAprovadaSemDados#{bean.id}"
													class="material-icons">close</i>
												<div class="mdl-tooltip"
													for="btnNaoAprovadaSemDados#{bean.id}">NEGADA</div>
											</p:outputPanel>

										</p:outputPanel>

									</p:outputPanel>

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="AÇÕES" priority="1"
									style="width:200px;text-align:center;">

									<h:panelGroup
											rendered="#{inscricaoControlador.verificaPermissaoComprovanteInscricao(bean)}">

										<h:commandLink id="btnBaixarCartaoInscricao#{rowIdInscricoes}"
													   action="#{inscricaoControlador.baixarCartaoParticipante(bean)}"
													   class="mdl-button mdl-js-button mdl-button--icon">

											<h:graphicImage name="imagens/qr-code-icon.png" height="22" width="22" style="margin-top: 4px;"/>

										</h:commandLink>

										<div class="mdl-tooltip" for="listagemInscricoes:#{rowIdInscricoes}:btnBaixarCartaoInscricao">CARTÃO DO PARTICIPANTE</div>

									</h:panelGroup>

									<mdl:btn-icon update=":tituloSistema :conteudoPrincipal"
										action="#{participanteControlador.acaoAbrirTela(bean.participante, 'true')}"
										icon="person" toolTip="VISUALIZAR DADOS DO PARTICIPANTE" />

									<p:remoteCommand
										name="exibirJustificativaPreInscricao#{rowIdInscricoes}"
										oncomplete="openModal('modalJustificativaPreInscricao')"
										process="@this"
										actionListener="#{inscricaoControlador.exibirJustificativaPreInscricao(bean)}" />

									<button type="button"
										id="btnJustificativaPreInscricao#{rowIdInscricoes}"
										onclick="exibirJustificativaPreInscricao#{rowIdInscricoes}()"
										class="mdl-button mdl-js-button mdl-button--icon">
										<i class="material-icons">note</i>
									</button>

									<div class="mdl-tooltip"
										for="btnJustificativaPreInscricao#{rowIdInscricoes}">VER
										JUSTIFICATIVA DA PRÉ-INSCRIÇÃO</div>


									<p:remoteCommand id="aprovarInscricao#{rowIdInscricoes}"
										name="aprovarInscricao#{rowIdInscricoes}" process="@this"
										actionListener="#{eventoControlador.aprovarInscricao(bean)}"
										update=":listagemInscricoes :quantitativo :modalAlerta" />

									<button type="button" id="btnAprovar#{rowIdInscricoes}"
										onclick="confirmar('Confirma a AUTORIZAÇÃO da inscrição?', aprovarInscricao#{rowIdInscricoes});return false;"
										class="mdl-button mdl-js-button mdl-button--icon">

										<i class="material-icons">thumb_up</i>

									</button>

									<div class="mdl-tooltip" for="btnAprovar#{rowIdInscricoes}">AUTORIZAR</div>


									<p:remoteCommand id="reprovarInscricao#{rowIdInscricoes}"
										name="reprovarInscricao#{rowIdInscricoes}" process="@this"
										actionListener="#{eventoControlador.reprovarInscricao(bean)}"
										update=":listagemInscricoes :quantitativo :modalAlerta" />

									<button id="btnReprovarInscricao#{rowIdInscricoes}"
										onclick="confirmar('Confirma a NEGAÇÃO da pré-inscrição?', reprovarInscricao#{rowIdInscricoes});return false;"
										class="mdl-button mdl-js-button mdl-button--icon">

										<i class="material-icons">thumb_down</i>

									</button>

									<div class="mdl-tooltip" for="btnReprovarInscricao#{rowIdInscricoes}">NEGAR</div>

								</p:column>

							</p:dataTable>
							
							<p:outputPanel id="quantitativo">
								<div style="text-align: center; padding: 15px 5px 15px 5px;">
								
									<div class="chip">
									    Total de inscrições: #{eventoControlador.quantidadeInscricoes}
									</div>
									
									<div class="chip">
									    Inscrições autorizadas: #{eventoControlador.quantidadeInscricoesAutorizadas}
									</div>
									
									<div class="chip">
									    Inscrições negadas: #{eventoControlador.quantidadeInscricoesNegadas}
									</div>
								
								</div>
							 </p:outputPanel>

							<div>
								<p:remoteCommand name="selecionarTodos"
									action="#{inscricaoControlador.selecionarTodos(eventoControlador.entidade)}"
									update=":listagemInscricoes" />

								<span> <p:commandButton type="button"
										id="btnSelecionarTodos"
										styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
										update=":modalAlerta" onclick="selecionarTodos()"
										value="SELECIONAR TODAS" alt="SELECIONAR/DESSELECIONAR TODAS"
										title="SELECIONAR/DESSELECIONAR TODAS" />
								</span>

								<p:remoteCommand name="aprovarSelecionadas"
									action="#{inscricaoControlador.aprovarSelecionadas()}"
									update=":listagemInscricoes :modalAlerta" />

								<span> <p:commandButton type="button" process="@this"
										id="btnAprovarSelecionadas"
										onclick="confirmar('Deseja autorizar todas inscrições selecionadas?', aprovarSelecionadas);return false;"
										onstart="jQuery('#btnAprovarSelecionadas').html('APROVANDO...')"
										oncomplete="jQuery('#btnAprovarSelecionadas').html('APROVAR')"
										styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
										value="AUTORIZAR" alt="AUTORIZAR" title="AUTORIZAR" />
								</span>

								<p:remoteCommand name="reprovarSelecionadas"
									action="#{inscricaoControlador.reprovarSelecionadas()}"
									update=":listagemInscricoes :modalAlerta" />

								<span> <p:commandButton id="btnReprovarSelecionadas"
										type="button" process="@this"
										onclick="confirmar('Deseja negar todas inscrições selecionadas?', reprovarSelecionadas);return false;"
										onstart="jQuery('#btnReprovarSelecionadas').html('REPROVANDO...')"
										oncomplete="jQuery('btnReprovarSelecionadas').html('REPROVAR')"
										styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
										value="NEGAR" alt="NEGAR" title="NEGAR" />
								</span>
							</div>

						</div>

					</div>

				</div>

			</p:outputPanel>

		</div>

		<ui:include src="/paginas/evento/dialog-justificativa.xhtml"></ui:include>
		<ui:include src="/paginas/evento/dialog-justificativa-pre-inscricao.xhtml"></ui:include>

	</h:form>

	<ui:include src="/paginas/evento/dialog-imagem-evento.xhtml"></ui:include>
</ui:component>
