<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core" prependId="false" id="formEvento">

	<div class="mdl-grid bottom">
	
		<mdl:btn-back />
		
		<c:if test="#{not empty sessionScope['usuario.logado']}">
			<p:remoteCommand name="realizarInscricao" update="modalInscricao :modalAlerta" actionListener="#{inscricaoControlador.selecionarEvento(visualizarEventoControlador.entidade)}"></p:remoteCommand>
		</c:if>
		<c:if test="#{empty sessionScope['usuario.logado']}">
			<p:remoteCommand name="realizarInscricao" update=":body" actionListener="#{inscricaoControlador.selecionarEventoSemLogin(visualizarEventoControlador.entidade)}"></p:remoteCommand>
		</c:if>
	
		<p:outputPanel rendered="#{visualizarEventoControlador.verificaPermissaoInscricao(visualizarEventoControlador.entidade)}">
			<div class="mdl-tooltip mdl-tooltip--large" for="btn-inscricao">INSCRIÇÃO</div>
			
			<button id="btn-inscricao" type="button" onclick="realizarInscricao()" title="INSCRIÇÃO" style="bottom: 170px;" class="ouvidoria-btn-add mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-fab-left mdl-shadow--8dp mdl-button--colored">
			
				<span class="visuallyhidden">INSCRIÇÃO</span> <i class="material-icons">done</i>
				
			</button>
		</p:outputPanel>
	
	</div>
	
	<div class="mdl-grid">
		
		<div class="mdl-cell mdl-cell--12-col">
			<h5 class="text-uppercase titulo-section" style="margin-bottom: 0px;" tabindex="0">#{visualizarEventoControlador.entidade.titulo}</h5>
		</div>
		
		<div class="mdl-cell mdl-cell--4-col visualizar-evento-image-left">
			<h:graphicImage width="100%" value="/images/#{visualizarEventoControlador.entidade.id}" tabindex="0" alt="Imagem ilustrativa do evento"/>
		</div>
		
		<div class="mdl-cell mdl-cell--8-col panel-evento" >
			<p class="titulo-panel-evento" tabindex="0">OBJETIVO GERAL</p>
			
			<p class="texto-panel-evento" tabindex="0">#{visualizarEventoControlador.entidade.objetivoGeral}</p>
			
			<p class="titulo-panel-evento" tabindex="0">DETALHES</p>
				<div class="texto-panel-evento">
					<table class="table-detalhes-evento">
						<tr>
							<td class="table-detalhes-evento-td" tabindex="0">Tipo do Evento:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0">#{visualizarEventoControlador.entidade.tipoEvento.descricao}</td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" tabindex="0">Modalidade:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0">#{visualizarEventoControlador.entidade.modalidade.descricao}</td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" tabindex="0">Carga horária:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0"><h:outputText value="#{visualizarEventoControlador.entidade.cargaHoraria}" converter="cargaHorariaConverter"></h:outputText></td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" style="vertical-align: top;" tabindex="0">Objetivos Específicos:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0">#{visualizarEventoControlador.entidade.objetivoEspecifico}</td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" tabindex="0">Público Alvo:</td>
							<td class="table-detalhes-evento-descricao">
								<ui:repeat var="publico" value="#{visualizarEventoControlador.entidade.publicoAlvoList}" varStatus="status">
									<h:outputText tabindex="0" value="#{publico.publicoAlvo.descricao}"/>
									<h:outputText rendered="#{!status.last}" value=" - "/>
								</ui:repeat>
							</td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" tabindex="0">Data Início Pré-Inscrição:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0"><h:outputText value="#{visualizarEventoControlador.entidade.dataInicioPreInscricao}"></h:outputText></td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" tabindex="0">Data Fim Pré-Inscrição:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0"><h:outputText value="#{visualizarEventoControlador.entidade.dataFimPreInscricao}"></h:outputText></td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" tabindex="0">Data Início Previsto:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0"> <h:outputText value="#{visualizarEventoControlador.entidade.dataInicioPrevisto}"></h:outputText></td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" tabindex="0">Data Fim Previsto:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0"><h:outputText value="#{visualizarEventoControlador.entidade.dataFimPrevisto}"></h:outputText></td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" tabindex="0">Data Início Realização:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0"><h:outputText value="#{visualizarEventoControlador.entidade.dataInicioRealizacao}"></h:outputText></td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" tabindex="0">Data Fim Realização:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0"><h:outputText value="#{visualizarEventoControlador.entidade.dataFimRealizacao}"></h:outputText></td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" style="vertical-align: top;" tabindex="0">Localização:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0"><h:outputText value="#{visualizarEventoControlador.entidade.localizacao.descricao}"></h:outputText></td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" style="vertical-align: top;" tabindex="0">Endereço:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0"><h:outputText value="#{visualizarEventoControlador.entidade.localizacao.endereco.toString()}"></h:outputText></td>
						</tr>
						<tr>
							<td class="table-detalhes-evento-td" style="vertical-align: top;" tabindex="0">Observações:</td>
							<td class="table-detalhes-evento-descricao" tabindex="0"><h:outputText value="#{visualizarEventoControlador.entidade.observacoes}"></h:outputText></td>
						</tr>
					</table>
				</div>
			
			<p class="titulo-panel-evento" tabindex="0">CONTEÚDO</p>
			<p class="texto-panel-evento" tabindex="0">#{visualizarEventoControlador.entidade.conteudo}</p>
			
			<h:panelGroup rendered="#{visualizarEventoControlador.listaInstrutor != null and visualizarEventoControlador.listaInstrutor.size() > 0}">
			
				<p class="titulo-panel-evento" tabindex="0">INSTRUTORES</p>
				
				<div style="width: 100%; padding-left: 30px; padding-right: 30px; font-size: font-size: 13px;">
					<p:dataTable id="listagem0"  paginatorPosition="bottom" style="width:100%;" tableStyle="width:100%"  
						emptyMessage="Nenhum registro encontrado." tableStyleClass="bordered" value="#{visualizarEventoControlador.listaInstrutor}" var="bean">
				
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="NOME" priority="1">
						
							<h:outputText value="#{bean.instrutor.pessoa.nome}" tabindex="0"  style="font-size: font-size: 13px;"/>
						
						</p:column>
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="MÓDULO" priority="1">
						
							<h:outputText value="#{bean.modulo.titulo}" tabindex="0" style="font-size: font-size: 13px;"/>
						
						</p:column>
						
						
					</p:dataTable>
				</div>
			
			</h:panelGroup>
			
			<p class="titulo-panel-evento" tabindex="0">MÓDULOS</p>
			
			<div class="mdl-grid modulos-evento">
				<ui:repeat var="modulo" value="#{visualizarEventoControlador.entidade.moduloList}">
					<div class="modulos-evento-col">
						<div class="modulo-evento">
							<h6 class="text-uppercase" tabindex="0"><b>#{modulo.titulo}</b></h6>
							<p tabindex="0">Data Início: <h:outputText value="#{modulo.dataInicio}"></h:outputText></p>
							<p tabindex="0">Data Fim: <h:outputText value="#{modulo.dataFim}"></h:outputText></p>
							<p tabindex="0">Carga horária: <h:outputText value="#{modulo.cargaHoraria}" converter="cargaHorariaConverter"></h:outputText></p>
							<h:panelGroup rendered="#{modulo.horaInicioTurno1 != null and modulo.horaInicioTurno1 != ''}">
								<p tabindex="0">Turno 1: #{modulo.horaInicioTurno1} as #{modulo.horaFimTurno1}</p>
							</h:panelGroup>
							<h:panelGroup rendered="#{modulo.horaInicioTurno2 != null and modulo.horaFimTurno2 != ''}">
								<p tabindex="0">Turno 2: #{modulo.horaInicioTurno2} as #{modulo.horaFimTurno2}</p>
							</h:panelGroup>
							<p tabindex="0">Quantidade de encontros: #{modulo.quantidadeEncontros}</p>
						</div>
					</div>
				</ui:repeat>
			</div>
		</div>
		
		<div class="mdl-cell mdl-cell--4-col visualizar-evento-image-right">
			<h:graphicImage width="100%" value="/images/#{visualizarEventoControlador.entidade.id}" alt="Imagem ilustrativa do evento"/>
		</div>
	
	</div>
	
	<ui:include src="/paginas/evento/dialog-inscricao.xhtml"></ui:include>

</h:form>