
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel id="modalFrequencia" styleClass="modal modal-evento">

	<h:form prependId="false" id="formDialogFrequencia">

		<div class="modal-content">

			<h4>Frequências do evento:
				#{frequenciaControlador.evento.titulo}</h4>

			<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

				<div class="mdl-tabs__tab-bar">

					<a href="#manter-frequencia" class="mdl-tabs__tab is-active">MANTER
						FREQUÊNCIAS</a> 
					<a href="#visualizar-frequencia" class="mdl-tabs__tab">VISUALIZAR
						FREQUÊNCIAS</a>

				</div>

				<br />

				<div class="mdl-tabs__panel is-active" id="manter-frequencia">

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--6-col">

							<h:selectOneMenu id="modulo"
								value="#{frequenciaControlador.modulo}"
								converter="conversorEntidadePadrao" style="display:block;"
								title="MÓDULO">

								<f:selectItem itemLabel="Selecione" />

								<f:selectItems value="#{frequenciaControlador.modulosList}"
									var="bean" itemLabel="#{bean.titulo}" itemValue="#{bean}" />
 
								<p:ajax event="change" update="formDialogFrequencia"
									listener="#{frequenciaControlador.montarTabelaFrequencia}" />


							</h:selectOneMenu>

							<label for="modulo" class="active">MÓDULO:</label>

						</div>

						<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col"
							rendered="#{frequenciaControlador.modulo != null and frequenciaControlador.modulo.id != null}">

							<p:inputText styleClass="mdl-textfield__input"
								value="#{frequenciaControlador.tableLazyFrequencia.consulta}"
								placeholder="Insira seu parâmetro de pesquisa"
								id="buscaFrequencia" alt="Insira seu parâmetro de pesquisa"
								title="Insira seu parâmetro de pesquisa">

								<p:ajax event="keyup" update=":tabelaFrequencia :btnImportarFrequenciasDoMoodle" />

							</p:inputText>

						</p:outputPanel>
					</div>

					<p:remoteCommand name="importarFrequenciasDoMoodle"
						action="#{frequenciaControlador.importarFrequenciasDoMoodle}"
						update=":tabelaFrequencia :modalAlerta" />
	
					<span> <p:commandButton type="button" process="@this"
							id="btnImportarFrequenciasDoMoodle"
							onclick="confirmar('Deseja importar as frequências do Moodle (nota > 70,00) ?  Obs.: O tempo de importação depende da quantidade de inscritos !', importarFrequenciasDoMoodle);return false;"
							onstart="jQuery('#btnImportarFrequenciasDoMoodle').html('IMPORTANDO...')"
							oncomplete="jQuery('#btnImportarFrequenciasDoMoodle').html('IMPORTADO')"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="IMPORTAR FREQUÊNCIAS DO MOODLE" alt="IMPORTAR" title="IMPORTAR"
							rendered="#{frequenciaControlador.modulo != null and frequenciaControlador.modulo.id != null}" />
					</span>

					<p:outputPanel id="tabelaFrequencia" styleClass="mdl-grid">

						<p:outputPanel styleClass="mdl-cell mdl-cell--12-col"
							rendered="#{frequenciaControlador.modulo != null and frequenciaControlador.modulo.id != null}">

							 <p:dataTable id="listagemManterFrequencias" lazy="true"
								paginator="true" rows="10" paginatorPosition="bottom"
								style="width:100%;" tableStyle="width:100%"
								emptyMessage="Nenhum registro encontrado."
								tableStyleClass="bordered responsive-table"
								value="#{frequenciaControlador.tableLazyFrequencia}"
								var="participanteEncontro">

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									priority="1">

									<h:outputText
										value="#{participanteEncontro.participante.pessoa.nome}"
										title="NOME"></h:outputText>

								</p:column>

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="" priority="1">

									<ui:repeat var="frequenciaEncontro"
										value="#{participanteEncontro.frequencia}">

										<h:selectBooleanCheckbox id="frequenciaEncontro"
											value="#{frequenciaEncontro.presenca}" />

										<label
											for="#{frequenciaControlador.clientId('frequenciaEncontro')}"
											class="active"></label>

									</ui:repeat>

								</p:column>

								<f:facet name="header">

									<div>NOME x ENCONTROS</div>

								</f:facet>


							</p:dataTable> 

						</p:outputPanel>

					</p:outputPanel>

				</div>

				<div class="mdl-tabs__panel" id="visualizar-frequencia">

					<p:outputPanel id="tabelaVisualizarFrequencia" 
						styleClass="mdl-grid"> 

						<ui:repeat var="moduloFrequencia" 
							value="#{frequenciaControlador.moduloFrequeciaParticipanteList}">

							<div class="mdl-grid">

								<b>#{moduloFrequencia.modulo}</b>

								<p:dataTable id="listagemFrequencias" paginator="true" rows="10"
									paginatorPosition="bottom" style="width:100%;"
									tableStyle="width:100%"
									emptyMessage="Nenhum registro encontrado."
									tableStyleClass="bordered responsive-table"
									value="#{moduloFrequencia.frequenciaParticipanteList}"
									var="bean">

									<p:column styleClass="mdl-data-table__cell--non-numeric"
										headerText="PARTICIPANTE" priority="1">

										<h:outputText value="#{bean.participante}"
											title="PARTICIPANTE" />

									</p:column>

									<p:column styleClass="mdl-data-table__cell--non-numeric"
										style="text-align:center" headerText="FALTAS" priority="1">

										<h:outputText
											value="#{moduloFrequencia.quantidadeEncontros - bean.quantidadePresenca}"
											title="FALTAS" />

									</p:column>

									<p:column styleClass="mdl-data-table__cell--non-numeric"
										style="text-align:center" headerText="PRESENÇAS" priority="1">

										<h:outputText value="#{bean.quantidadePresenca}"
											title="PRESENÇAS" />

									</p:column>

									<p:column styleClass="mdl-data-table__cell--non-numeric"
										style="text-align:center"
										headerText="PERCENTUAL DE PRESENÇA(%)" priority="1">

										<h:outputText
											value="#{bean.quantidadePresenca * 100 / moduloFrequencia.quantidadeEncontros}"
											converter="percentualConverter"
											title="PERCENTUAL DE PRESENÇA" />

									</p:column>

								</p:dataTable>

							</div>

						</ui:repeat>

					</p:outputPanel>

				</div>

			</div>

		</div>

		<div class="modal-footer">

			<p:commandLink
				styleClass="modal-action waves-effect waves-green btn-flat"
				value="SALVAR" update=":tabelaVisualizarFrequencia :modalAlerta"
				actionListener="#{frequenciaControlador.salvarFrequencia}"
				title="SALVAR"></p:commandLink>

			<a href="#!" onclick="fecharModal('modalFrequencia')"
				class="modal-action modal-close waves-effect waves-green btn-flat"
				title="FECHAR">FECHAR</a>

		</div>

	</h:form>

</p:outputPanel>

</html>