<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel id="modalJustificativa" styleClass="modal modal-evento">

	<div class="modal-content">

		<p:outputPanel id="titulo_modal_justificativa" autoUpdate="true">
		<h4>Justificativa de indicação de #{indicacaoControlador.entidade.participante.pessoa.nome} para o evento #{indicacaoControlador.entidade.evento.titulo} </h4>
		</p:outputPanel>
		
		<h:form prependId="false" id="formJustificativa">

			<div class="mdl-grid">

				<div class="input-field mdl-cell mdl-cell--12-col">

					<p:outputPanel id="justificativa" autoUpdate="true">
						#{indicacaoControlador.entidade.justificativachefe}
					</p:outputPanel>

				</div>

			</div>

		</h:form>

	</div>

	<div class="modal-footer">

		<a href="#!" onclick="fecharModal('modalJustificativa')" title="FECHAR"
			class="modal-action modal-close waves-effect waves-green btn-flat">FECHAR</a>

	</div>


</p:outputPanel>

</html>