<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel id="modalIndicacaoEvento" styleClass="modal modal-evento">

	<div class="modal-content">

		<h4>Cadastro de Indicações</h4>

		<h:form prependId="false" id="formDialogIndicacoesEvento">

			<div class="mdl-grid">

				<div class="input-field mdl-cell mdl-cell--12-col">

					<mdl:auto-complete id="autocompleteEvento" atributo="titulo"
						entidade="#{indicacaoControlador.entidade.evento}" tipo="Evento"
						label="EVENTO" obrigatorio="#{true}">

						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="TÍTULO" priority="1">

							<h:outputText value="#{bean.titulo}" title="TÍTULO" />

						</p:column>

						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="PERÍODO" priority="1">

							<h:outputText value="#{bean.dataInicioRealizacao}"></h:outputText> - <h:outputText
								value="#{bean.dataFimRealizacao}" title="PERÍODO"></h:outputText>

						</p:column>

					</mdl:auto-complete>

				</div>

				<div class="input-field mdl-cell mdl-cell--12-col">


					<mdl:auto-complete id="autocompleteParticipante"
						atributo="pessoa.nome"
						entidade="#{indicacaoControlador.entidade.participante}"
						tipo="PARTICIPANTE_SECAO_USUARIO" label="PARTICIPANTE DO SETOR"
						obrigatorio="#{true}">

						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="NOME" priority="1">

							<h:outputText value="#{bean.pessoa.nome}" title="NOME" />

						</p:column>

					</mdl:auto-complete>

				</div>

				<br />

				<div class="input-field mdl-cell mdl-cell--12-col">

					<h:inputTextarea id="justificativaIndicacao"
						value="#{indicacaoControlador.entidade.justificativachefe}"
						required="true"
						requiredMessage="Por favor, informe a justificativa da indicação."
						style="display:block;" title="JUSTIFICATIVA">
					</h:inputTextarea>


					<label for="justificativaIndicacao" class="active">JUSTIFICATIVA:</label>
				</div>

			</div>


			<div class="mdl-grid">

				<div class="mdl-cell mdl-cell--12-col">


					<p:commandButton id="btnAdicionarIndicacao"
						update=":modalAlerta @form :indicacoes" process="@form"
						styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
						value="ADICIONAR"
						actionListener="#{indicacaoControlador.adicionarIndicacaoNaLista()}"
						alt="ADICIONAR" title="ADICIONAR" />

					<p:commandButton id="btnLimparIndicacoes"
						update=":modalAlerta @form :indicacoes" process="@this"
						style="margin-left: 10px;"
						styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
						value="LIMPAR"
						actionListener="#{indicacaoControlador.limpaListaIndicacoes()}"
						alt="LIMPAR" title="LIMPAR" />

				</div>

			</div>

		</h:form>

		<h:form prependId="false" id="formDialogIndicacoesList">

			<p:outputPanel id="indicacoes" styleClass="mdl-grid">

				<p:dataTable id="listagemIndicacoes" lazy="true" paginator="true"
					rows="10" paginatorPosition="bottom" style="width:100%;"
					tableStyle="width:100%" rowIndexVar="rowIdIndicacao"
					emptyMessage="Nenhum registro encontrado."
					tableStyleClass="bordered responsive-table"
					value="#{indicacaoControlador.entidades}" var="bean">

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="EVENTO" priority="1">

						<h:outputText value="#{bean.evento.titulo}" title="EVENTO" />

					</p:column>

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="PARTICIPANTE" priority="1">

						<h:outputText value="#{bean.participante.pessoa.nome}"
							title="PARTICIPANTE" />

					</p:column>

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="AÇÔES" priority="1" width="100">

						<span> <p:remoteCommand
								name="excluirIndicacao#{rowIdIndicacao}" process="@form"
								actionListener="#{indicacaoControlador.removerIndicacaoDaLista(bean)}"
								update=":indicacoes" />

							<button id="btnRemoverDaLista#{rowIdIndicacao}"
								onclick="confirmar('Confirma a remoção do item da lista?', excluirIndicacao#{rowIdIndicacao});return false;"
								class="mdl-button mdl-js-button mdl-button--icon"
								title="EXCLUIR">

								<i class="material-icons">delete</i>

							</button>

							<div class="mdl-tooltip" for="btnExcluir#{rowIdIndicacao}">EXCLUIR</div>

						</span>

					</p:column>

				</p:dataTable>

			</p:outputPanel>

		</h:form>

	</div>

	<div class="modal-footer">

		<p:commandLink
			styleClass="modal-action modal-close waves-effect waves-green btn-flat"
			update=":modalAlerta :listagem" value="SALVAR"
			actionListener="#{indicacaoControlador.salvarTodaLista}"
			title="SALVAR"></p:commandLink>

		<a href="#!" onclick="fecharModal('modalIndicacaoEvento')"
			title="FECHAR"
			class="modal-action modal-close waves-effect waves-green btn-flat">FECHAR</a>

	</div>

</p:outputPanel>

</html>