<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:outputPanel id="modalGasto" styleClass="modal modal-evento">
	
		<div class="modal-content">
			
			<h4>Gastos do evento: #{gastoControlador.evento.titulo}</h4>
			
			<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			
				<div class="mdl-tabs__tab-bar">
						  
				      <a id="linkNovoGasto" href="#novo-Gasto" class="mdl-tabs__tab is-active">#{gastoControlador.entidade.id != null ? 'EDITAR' : 'ADICIONAR'} GASTO</a>
				      
					  <a id="linkGastos" href="#Gastos" class="mdl-tabs__tab">GASTOS</a>
	
				</div>
				  
				<br />
				  
				<div class="mdl-tabs__panel is-active" id="novo-Gasto">
				
					<h:form prependId="false" id="formDialogGasto">
					
						<div class="mdl-grid">
				
							<div class="input-field mdl-cell mdl-cell--4-col">
											
								<p:inputMask required="true" mask="9?99999999999999"
									requiredMessage="Por favor, preencha o campo NÚMERO EMPENHO." maxlength="50"
									id="numeroEmpenho" value="#{gastoControlador.entidade.numeroEmpenho}" 
									alt="NÚMERO EMPENHO" title="NÚMERO EMPENHO"/>
						
								<label for="numeroEmpenho" class="active">NÚMERO EMPENHO:</label>
						
							</div>
							
							<div class="input-field mdl-cell mdl-cell--4-col">
											
								<p:inputMask mask="99999/9999" required="true"
									requiredMessage="Por favor, preencha o campo NÚMERO PROCESSO."
									id="numeroProcesso" value="#{gastoControlador.numeroProcesso}" 
									alt="NÚMERO PROCESSO" title="NÚMERO PROCESSO"/>
						
								<label for="numeroProcesso" class="active">NÚMERO PROCESSO:</label>
						
							</div>
							
							<div class="input-field mdl-cell mdl-cell--4-col">
											
								<p:calendar required="true" requiredMessage="Por favor, preencha o campo DATA EMPENHO."  
									id="dataEmpenho" locale="pt_BR" value="#{gastoControlador.entidade.dataEmpenho}"  pattern="dd/MM/yyyy" 
									alt="DATA EMPENHO" title="DATA EMPENHO">
									 
									 <f:convertDateTime pattern="dd/MM/yyyy" />
									 
								</p:calendar>
						
								<label for="dataEmpenho" class="active">DATA EMPENHO:</label>
						
							</div>
							
						</div>
						
						<div class="mdl-grid">
						
							<div class="input-field mdl-cell mdl-cell--4-col">
											
								<h:selectOneMenu id="fonteGasto" value="#{gastoControlador.entidade.fonteGasto}" required="true"
										requiredMessage="Por favor, preencha o campo FONTE DE GASTO."
										converter="conversorEntidadePadrao" style="display:block;"
										title="FONTE DE GASTO">
						
									<f:selectItem itemLabel="Selecione" />
						
									<f:selectItems value="#{gastoControlador.fonteGastoList}" var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />
						
								</h:selectOneMenu>
								
								<label for="fonteGasto" class="active">FONTE DE GASTO:</label>
						
							</div>
							
							<div class="input-field mdl-cell mdl-cell--4-col">
											
								<h:selectOneMenu id="tipoId" value="#{gastoControlador.entidade.tipoId}" required="true"
										requiredMessage="Por favor, preencha o campo TIPO DE GASTO."
										converter="conversorEntidadePadrao" style="display:block;"
										title="TIPO DE GASTO">
						
									<f:selectItem itemLabel="Selecione" />
						
									<f:selectItems value="#{gastoControlador.tipoGastoList}" var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />
						
								</h:selectOneMenu>
								
								<label for="tipoId" class="active">TIPO DE GASTO:</label>
						
							</div>
							
							<div class="input-field mdl-cell mdl-cell--4-col">
										
								<p:inputText required="true" converter="bigDecimalConverter" styleClass="money"
									requiredMessage="Por favor, preencha o campo VALOR."
									id="valor" value="#{gastoControlador.entidade.valor}" 
									alt="VALOR" title="VALOR"/>
						
								<label for="valor" class="active">VALOR:</label>
						
							</div>
							
						</div>
						
						<div class="mdl-grid">
							
							<div class="input-field mdl-cell mdl-cell--12-col">
												
								<p:inputTextarea id="observacoesGasto" maxlength="2000" rows="2"
										value="#{gastoControlador.entidade.observacao}" 
										title="OBSERVAÇÕES"/>
						
								<label for="observacoesGasto" class="active">OBSERVAÇÕES:</label>
								
							</div>
								
						</div>
						
						<div class="mdl-grid">
				
							<div class="mdl-cell mdl-cell--12-col">
								
								<p:commandButton id="btnCadastrarGasto" update=":modalAlerta @form :formDialogGastoList"
									styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									value="SALVAR" action="#{gastoControlador.acaoInserir}" alt="SALVAR" title="SALVAR" />
			
							</div>
			
						</div>
						
					</h:form>
						
				</div>
				
				<div class="mdl-tabs__panel" id="Gastos">
					
					<h:form prependId="false" id="formDialogGastoList">
				
						<p:dataTable id="listagemGastos" lazy="true"  rowKey="#{bean.id}" paginator="true" rows="10" paginatorPosition="bottom"
							 style="width:100%;" tableStyle="width:100%"  rowIndexVar="rowIdGasto" emptyMessage="Nenhum registro encontrado."
							 tableStyleClass="bordered responsive-table" value="#{gastoControlador.lista}" var="bean">						
							
							<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="NÚMERO EMPENHO" priority="1">
							
								<h:outputText value="#{bean.numeroEmpenho}" title="NÚMERO EMPENHO" />
							
							</p:column>
							
							<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="NÚMERO PROCESSO" priority="1">
							
								<h:outputText value="#{bean.numeroProcesso}" title="NÚMERO PROCESSO"/>
							
							</p:column>
							
							<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="DATA EMPENHO" priority="1">
							
								<h:outputText value="#{bean.dataEmpenho}" title="DATA EMPENHO"/>
							
							</p:column>
							
							<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="FONTE DE GASTO" priority="1">
							
								<h:outputText value="#{bean.fonteGasto.descricao}" title="FONTE DE GASTO"/>
							
							</p:column>
							
							<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="TIPO DE GASTO" priority="1">
							
								<h:outputText value="#{bean.tipoId.descricao}" title="TIPO DE GASTO"/>
							
							</p:column>
	
							<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="VALOR" priority="1">
							
								<h:outputText value="#{bean.valor}" converter="bigDecimalConverter" title="VALOR"/>
							
							</p:column>
							
							<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="AÇÕES" priority="1">
								
								<span>
								
									<p:remoteCommand name="editarGasto#{rowIdGasto}" actionListener="#{gastoControlador.acaoEditar(bean)}" update=":formDialogGasto" oncomplete="tabAddGasto()"/>
									
									<button type="button" id="btnEditarGasto#{rowIdGasto}" onclick="editarGasto#{rowIdGasto}()" class="mdl-button mdl-js-button mdl-button--icon">

									<i class="material-icons">create</i>

								</button>

								<div class="mdl-tooltip" for="btnEditarGasto#{rowIdGasto}">EDITAR</div>
									
							
									<p:remoteCommand name="excluirGastos#{rowIdGasto}" actionListener="#{gastoControlador.acaoExcluir(bean)}" update=":listagemGastos" />
									
									<button type="button" id="btnExcluirGasto#{rowIdGasto}" onclick="confirmar('Confirma a operação?', excluirGastos#{rowIdGasto});return false;" class="mdl-button mdl-js-button mdl-button--icon">
							
										<i class="material-icons">delete</i>
										
									</button>
									
									<div class="mdl-tooltip" for="btnExcluirGasto#{rowIdGasto}">EXCLUIR</div>
									
								</span>
							
							</p:column>
					
						</p:dataTable>
						
					</h:form>
					
				</div>
				
			</div>
					   
		</div>
			
		<div class="modal-footer">
		
			<a href="#!" onclick="fecharModal('modalGasto')" class="modal-action modal-close waves-effect waves-green btn-flat">FECHAR</a>
			
		</div>
			
	</p:outputPanel>
	
	<script>
	
	function tabAddGasto(){
		jQuery('#novo-Gasto').addClass('is-active');
		jQuery('#linkNovoGasto').addClass('is-active');
		jQuery('#linkGastos').removeClass('is-active');
		jQuery('#Gastos').removeClass('is-active');
	}
	
	</script>
	
</html>