<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel id="modalJustificativaPreInscricao"
	styleClass="modal modal-evento">

	<div class="modal-content">

		<p:outputPanel id="titulo_modal_justificativa_pre_inscricao"
			autoUpdate="true">
			<h4>Justificativa de pré-inscrição de
				#{inscricaoControlador.entidade.participante.pessoa.nome} no evento
				#{inscricaoControlador.entidade.evento.titulo}</h4>
		</p:outputPanel>

		<h:form prependId="false" id="formJustificativaPreInscricao">

			<div class="mdl-grid">

				<div class="input-field mdl-cell mdl-cell--12-col">

					<p:outputPanel id="justificativa_pre_inscricao" autoUpdate="true">

						<p:outputPanel
							rendered="#{inscricaoControlador.entidade.justificativaParticipante != null}">
						#{inscricaoControlador.entidade.justificativaParticipante}
						</p:outputPanel>

						<p:outputPanel
							rendered="#{inscricaoControlador.entidade.justificativaParticipante == null}">
							<p:outputPanel
								rendered="#{inscricaoControlador.entidade.indicacao != null}">
								JUSTIFICATIVA INFORMADA PELO CHEFE IMEDIATO NO CADASTRO DE INDICAÇÃO: #{inscricaoControlador.entidade.indicacao.justificativachefe}
							</p:outputPanel>
						</p:outputPanel>

					</p:outputPanel>

				</div>

			</div>

		</h:form>

	</div>

	<div class="modal-footer">

		<a href="#!" onclick="fecharModal('modalJustificativa')"
			title="FECHAR"
			class="modal-action modal-close waves-effect waves-green btn-flat">FECHAR</a>

	</div>


</p:outputPanel>

</html>