<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:outputPanel id="modalEvento" styleClass="modal modal-evento">
	
	   	<div class="modal-content">

			<h5 class="text-uppercase">#{visualizarEventoControlador.entidade.titulo}</h5>

			<div class="mdl-grid" style="padding: 0px !important;">
				<div class="mdl-cell mdl-cell--6-col">
					<div class="section">
					    <h6>Objetivo geral</h6>
					    <p class="text-uppercase">#{visualizarEventoControlador.entidade.titulo}</p>
					</div>
					
					<div class="section">
					    <h6>Detalhes</h6>
					    <p><b>Tipo do Evento: </b>#{visualizarEventoControlador.entidade.tipoEvento.descricao}</p>
						<p><b>Modalidade: </b>#{visualizarEventoControlador.entidade.modalidade.descricao}</p>
						<p><b>Carga horária: </b><h:outputText value="#{visualizarEventoControlador.entidade.cargaHoraria}" converter="cargaHorariaConverter"></h:outputText></p>
						<p><b>Objetivos Específicos: </b>#{visualizarEventoControlador.entidade.objetivoEspecifico}</p>
						<p><b>Público Alvo: </b>
							<ui:repeat var="publico" value="#{visualizarEventoControlador.entidade.publicoAlvoList}" varStatus="status">
								<h:outputText value="#{publico.publicoAlvo.descricao}"/>
								<h:outputText rendered="#{!status.last}" value=" - "/>
							</ui:repeat>
						</p>
						<p><b>Data Início Pré-Inscrição: </b><h:outputText value="#{visualizarEventoControlador.entidade.dataInicioPreInscricao}"></h:outputText></p>
						<p><b>Data Fim Pré-Inscrição: </b><h:outputText value="#{visualizarEventoControlador.entidade.dataFimPreInscricao}"></h:outputText></p>
						<p><b>Data Início Previsto: </b><h:outputText value="#{visualizarEventoControlador.entidade.dataInicioPrevisto}"></h:outputText></p>
						<p><b>Data Fim Previsto: </b><h:outputText value="#{visualizarEventoControlador.entidade.dataFimPrevisto}"></h:outputText></p>
						<p><b>Data Início Realização: </b><h:outputText value="#{visualizarEventoControlador.entidade.dataInicioRealizacao}"></h:outputText></p>
						<p><b>Data Fim Realização: </b><h:outputText value="#{visualizarEventoControlador.entidade.dataFimRealizacao}"></h:outputText></p>
					</div>
					
					<div class="section">
					    <h6>Conteúdo</h6>
					    <p>#{visualizarEventoControlador.entidade.conteudo}</p>
					</div>
				</div>
				
				<div class="mdl-cell mdl-cell--6-col">
					<div class="section">
					    <h6>Módulos</h6>
						<ui:repeat var="modulo" value="#{visualizarEventoControlador.entidade.moduloList}">
						    <div class="section">
					    		<h6 class="text-uppercase"><b>#{modulo.titulo}</b></h6>
					    		<p><b>Data Início: </b><h:outputText value="#{modulo.dataInicio}"></h:outputText></p>
								<p><b>Data Fim: </b><h:outputText value="#{modulo.dataFim}"></h:outputText></p>
								<p><b>Carga horária: </b><h:outputText value="#{modulo.cargaHoraria}" converter="cargaHorariaConverter"></h:outputText></p>
								<p><b>Turno 1: </b>#{modulo.horaInicioTurno1} as #{modulo.horaFimTurno1}</p>
								<p><b>Turno 2: </b>#{modulo.horaInicioTurno2} as #{modulo.horaFimTurno2}</p>
								<p><b>Quantidade de encontros: </b>#{modulo.quantidadeEncontros}</p>
					    	</div>
						</ui:repeat>
					</div>
				</div>
			</div>
	     		
	   	</div>
	   	
	   	<div class="modal-footer">
	   	
     		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" title="FECHAR">FECHAR</a>
	     		
	   	</div>
	   	
 	</p:outputPanel>
 	
 	<script type="text/javascript">
	
		function openModalEvento(){
			jQuery('#modalEvento').openModal({
			      dismissible: false,
			      modal: false
			});
			jQuery('.lean-overlay').hide();
		}
		
		function fecharModalEvento(){
			jQuery('#modalEvento').closeModal();
		}
		
	</script>
	
</html>