<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:outputPanel id="modalArquivoAdministrativo" styleClass="modal modal-evento">
	
		<div class="modal-content">
			
			<h4>Arquivos administrativos do evento: #{arquivoAdministrativoControlador.evento.titulo}</h4>
			
			<h:form prependId="false" id="formDialogArquivoAdministrativo" rendered="#{!arquivoAdministrativoControlador.visualizar}">
			
				<div class="mdl-grid">	
			
					
					<div class="input-field mdl-cell mdl-cell--6-col">
								
						<h:selectOneMenu id="tipoArquivoAdministrativo" value="#{arquivoAdministrativoControlador.entidade.tipoArquivoAdministrativo}" required="true" requiredMessage="Por favor, preencha o campo TIPO."
									converter="conversorEntidadePadrao" style="display:block;" title="TIPO">
				
							<f:selectItem itemLabel="Selecione" />
				
							<f:selectItems value="#{arquivoAdministrativoControlador.tipoArquivoAdministrativoList}" var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />
				
						</h:selectOneMenu>
				
						<label for="tipoArquivoAdministrativo" class="active">TIPO:</label>
						
					</div>
					<div class="input-field mdl-cell mdl-cell--6-col">
					</div>
					
				</div>
					
				<div class="mdl-grid">	
				
					<p:outputPanel id="uploadArquivo" styleClass="mdl-cell mdl-cell--12-col">
							
						<p:outputPanel rendered="#{arquivoAdministrativoControlador.entidade.arquivo == null || arquivoAdministrativoControlador.entidade.arquivo.file == null}" styleClass="input-field mdl-cell mdl-cell--12-col">
						
							<p:fileUpload immediate="true" update="uploadArquivo arquivosAdministrativos" process="@this" oncomplete="onLoad();exibirMensagem();" 
								auto="true" fileLimit="1" onstart="removerMensagens();" sizeLimit="20000000" 
								fileLimitMessage="Poderão ser enviados, no máximo, 1 arquivo.  " invalidFileMessage="Tipo de arquivo não aceito para upload.  " 
								invalidSizeMessage="Os arquivos poderão conter, no máximo, 20MB.  " allowTypes="#{arquivoAdministrativoControlador.tiposArquivosPermitidos}"
								fileUploadListener="#{arquivoAdministrativoControlador.uploadAnexo}" mode="advanced"/>
								
							<label class="active">ANEXO:</label>
							
						</p:outputPanel>
						
						<p:outputPanel rendered="#{arquivoAdministrativoControlador.entidade.arquivo != null and arquivoAdministrativoControlador.entidade.arquivo.file != null}" styleClass="mdl-cell mdl-cell--12-col">

							<table style="width:100%" class="mdl-data-table mdl-js-data-table is-upgraded" >
								<thead >
									<tr role="row">
										<th class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1" >
											<span class="ui-column-title">Arquivo</span>
										</th>
										<th class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1" >
											<span class="ui-column-title">Descrição</span>
										</th>
										<th class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1" >
											<span class="ui-column-title">Ações</span>
										</th>
									</tr>
								</thead>
								<tbody class="ui-datatable-data ui-widget-content">
									<tr class="ui-widget-content ui-datatable-even">
										<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">Arquivo Administrativo</td>
										<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">#{arquivoAdministrativoControlador.entidade.arquivo.descricao}</td>
										<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">
											<mdl:btn-icon immediate="true" update="uploadArquivo" action="#{arquivoAdministrativoControlador.limparAnexo}" icon="clear" toolTip="REMOVER ANEXO" />
										</td>
									</tr>
								</tbody>
							</table>
							
						</p:outputPanel>
						
					</p:outputPanel>
					
				</div>
				
				
				<div class="mdl-grid">
				
					<div class="mdl-cell mdl-cell--12-col">
						
						<p:commandButton id="btnCadastrarArquivoAdministrativo" update=":modalAlerta @form :arquivosAdministrativos"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="ADICIONAR" action="#{arquivoAdministrativoControlador.acaoInserir}" alt="ADICIONAR" title="ADICIONAR"/>
							
						<p:commandButton id="btnLimparArquivoAdministrativo" update=":modalAlerta @form" process="@this" style="margin-left: 10px;"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="LIMPAR" actionListener="#{arquivoAdministrativoControlador.limpar}" alt="LIMPAR" title="LIMPAR"/>
	
					</div>
	
				</div>
				
			</h:form>
			
			<h:form prependId="false" id="formDialogArquivoAdministrativoList">
				
				<p:outputPanel id="arquivosAdministrativos" styleClass="mdl-grid">
				
					<p:dataTable id="listagemArquivosAdministrativos" lazy="true" 
						paginator="true" rows="10" paginatorPosition="bottom" style="width:100%;" tableStyle="width:100%" rowIndexVar="rowIdArquivoAdministrativo" 
						emptyMessage="Nenhum registro encontrado." tableStyleClass="bordered responsive-table" value="#{arquivoAdministrativoControlador.lista}" var="bean">
				
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="TIPO ARQUIVO ADMINISTRATIVO" priority="1">
						
							<h:outputText value="#{bean.tipoArquivoAdministrativo.descricao}" title="TIPO ARQUIVO ADMINISTRATIVO" />
						
						</p:column>
						
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="ARQUIVO" priority="1">
						
							<h:outputText value="#{bean.arquivo.descricao}" title="ARQUIVO" />
						
						</p:column>
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="AÇÔES" priority="1">
						
							<span>
							
								<h:commandLink id="btnDownload#{rowIdArquivoAdministrativo}" style="color: #4f4f4f !important;" actionListener="#{arquivoAdministrativoControlador.download(bean.arquivo.arquivoGED)}" class="mdl-button mdl-js-button mdl-button--icon">
						
									<i class="material-icons">file_download</i>
									
								</h:commandLink>
								
								<div class="mdl-tooltip" for="btnDownload#{rowIdArquivoAdministrativo}">DOWNLOAD</div>
								
							</span>
							
							<h:panelGroup rendered="#{!arquivoAdministrativoControlador.visualizar}">
							
								<span>
								
									<p:remoteCommand name="excluirArquivoAdministrativo#{rowIdArquivoAdministrativo}" actionListener="#{arquivoAdministrativoControlador.acaoExcluir(bean)}" update=":listagemArquivosAdministrativos" />
									
									<button id="btnExcluir#{rowIdArquivoAdministrativo}" onclick="confirmar('Confirma a operação?', excluirArquivoAdministrativo#{rowIdArquivoAdministrativo});return false;" class="mdl-button mdl-js-button mdl-button--icon">
							
										<i class="material-icons">delete</i>
										
									</button>
									
									<div class="mdl-tooltip" for="btnExcluir#{rowIdArquivoAdministrativo}">EXCLUIR</div>
									
								</span>
								
							</h:panelGroup>
						
						</p:column>
						
					</p:dataTable>
				
				</p:outputPanel>
			
			</h:form>
					
		</div>
			
		<div class="modal-footer">
		
			<a href="#!" onclick="fecharModal('modalArquivoAdministrativo')" class="modal-action modal-close waves-effect waves-green btn-flat">FECHAR</a>
			
		</div>
		
			
	</p:outputPanel>
	
</html>