<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel id="modalDesempenho" styleClass="modal modal-evento">

	<div class="modal-content">

		<h4>DESEMPENHO - #{meusEventosControlador.evento.titulo} #{meusEventosControlador.evento.avaliarPorMedia ? '(AVALIAÇÃO POR MÉDIAS GERAIS)' : '(AVALIAÇÃO POR MÓDULOS)'}</h4>

		<div class="mdl-grid">

			<p:dataTable id="listagemDesempenho" paginator="true" rows="10"
				paginatorPosition="bottom" style="width:100%;"
				tableStyle="width:100%" rowIndexVar="rowIdEvento"
				emptyMessage="Nenhum registro encontrado."
				tableStyleClass="bordered responsive-table"
				value="#{meusEventosControlador.desempenhoList}" var="bean">

				<p:column styleClass="mdl-data-table__cell--non-numeric"
					headerText="EVENTO" priority="1">

					<h:outputText value="#{bean.evento}" title="EVENTO" />

				</p:column>

				<p:column styleClass="mdl-data-table__cell--non-numeric"
					headerText="MÓDULO" priority="1"  style="width:250px">

					<h:outputText value="#{bean.modulo}" title="MÓDULO" />

				</p:column>

				<p:column styleClass="mdl-data-table__cell--non-numeric"
					headerText="PARTICIPANTE" priority="1" style="width:200px">

					<h:outputText value="#{bean.participante}" title="PARTICIPANTE" />

				</p:column>

				<p:column styleClass="mdl-data-table__cell--non-numeric"
					headerText="NOTA (0 a 100)" priority="1" style="width:130px">

					<h:outputText value="#{bean.nota}" title="NOTA (0 a 100)" />

				</p:column>

				<p:column styleClass="mdl-data-table__cell--non-numeric"
					headerText="FREQUÊNCIA (%)" priority="1" style="width:130px">

					<h:outputText value="#{bean.frequencia}"
						converter="frequenciaConverter" title="FREQUÊNCIA" />%
					
					</p:column>

				<p:column styleClass="mdl-data-table__cell--non-numeric"
					headerText="SITUAÇÃO" priority="1">

					<p:outputPanel rendered="#{bean.aprovado}">
						<i id="btnAprovadoModulo" class="material-icons">check</i>
						<div class="mdl-tooltip" for="btnAprovadoModulo">APROVADO</div>
					</p:outputPanel>

					<p:outputPanel rendered="#{!bean.aprovado}">
						<i id="btnReprovadoModulo" class="material-icons">close</i>
						<div class="mdl-tooltip" for="btnReprovadoModulo">NÃO APROVADO</div>
					</p:outputPanel>

				</p:column>
				
				<p:row>
					<h:outputText value="#{meusEventosControlador.notaMedia}" title="NOTA MÉDIA" id="notaMedia" />%
				</p:row>
				
				<p:columnGroup type="footer">
		            <p:row>
		                <p:column colspan="3" style="text-align:right;font-weight: bold;" footerText="MÉDIAS:"/>
		                <p:column footerText="#{meusEventosControlador.notaMedia}"/>
		                <p:column footerText="#{meusEventosControlador.frequenciaMedia}%" converter="frequenciaConverter"/>
		                <p:column footerText="#{meusEventosControlador.aprovadoEvento ? 'APROVADO' : 'REPROVADO'}" style="font-weight: bold;"/>
		            </p:row>
       			 </p:columnGroup>

			</p:dataTable>

		</div>

	</div>

	<div class="modal-footer">

		<a href="#!"
			class="modal-action modal-close waves-effect waves-green btn-flat"
			title="FECHAR">FECHAR</a>

	</div>

</p:outputPanel>

<script type="text/javascript">
	function openModalDesempenho() {
		jQuery('#modalDesempenho').openModal({
			dismissible : false,
			modal : false
		});
		jQuery('.lean-overlay').hide();
	}

	function fecharModalDesempenho() {
		jQuery('#modalDesempenho').closeModal();
	}
</script>

</html>