<h:form prependId="false" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:outputPanel id="modalAvaliacao" styleClass="modal modal-evento">

		<div class="modal-content">

			<h4>Avaliacões do módulo:
				#{minhasAvaliacoesControlador.modulo.evento.titulo} -
				#{minhasAvaliacoesControlador.modulo.titulo}</h4>

			<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

				<div class="mdl-tabs__tab-bar">

					<ui:repeat var="tipoQuestionarioAvaliacao"
						value="#{minhasAvaliacoesControlador.mapQuestionarioAvaliacao}"
						varStatus="contator">

						<a id="linkTab#{contator.index}" href="#link#{contator.index}"
							class="mdl-tabs__tab #{contator.first ? 'is-active' : ''}">#{tipoQuestionarioAvaliacao.chave}</a>

					</ui:repeat>

				</div>

				<br />

				<ui:repeat var="tipoQuestionarioAvaliacao"
					value="#{minhasAvaliacoesControlador.mapQuestionarioAvaliacao}"
					varStatus="contator">

					<div class="mdl-tabs__panel #{contator.first ? 'is-active' : ''}"
						id="link#{contator.index}">

						<div class="mdl-grid" style="padding: 0px !important;">

							<div class="mdl-cell mdl-cell--12-col">

								<ul class="collection">

									<table>
									
										<ui:repeat var="questionarioAvaliacao"
											value="#{tipoQuestionarioAvaliacao.questionarioAvaliacaoList}"
											varStatus="status">
											
											<tr>
												
												<td>
		
													<div class="input-field mdl-cell mdl-cell--12-col">
													
														<p class="active texto-pergunta-avaliacao">#{questionarioAvaliacao.questionario.pergunta}</p>
			
														<h:selectOneMenu
															disabled="#{minhasAvaliacoesControlador.visualizar}"
															value="#{questionarioAvaliacao.opcao}"
															converter="conversorEntidadePadrao" style="display:block;">
			
															<f:selectItem itemLabel="Selecione" />
			
															<f:selectItems
																value="#{questionarioAvaliacao.questionario.opcoes}"
																var="opcao" itemLabel="#{opcao.descricao}" 
																itemValue="#{opcao}" />
			
														</h:selectOneMenu>
			
													</div>
												
												</td>
											</tr>

										</ui:repeat>
									
									</table>

								</ul>

							</div>
						</div>
					</div>
				</ui:repeat>

				<div class="mdl-grid" style="padding: 0px !important;">

					<div class="input-field mdl-cell mdl-cell--12-col">

						<p:inputTextarea id="observacoes" maxlength="2000" rows="2"
							disabled="#{minhasAvaliacoesControlador.visualizar}"
							value="#{minhasAvaliacoesControlador.entidade.observacao}"
							title="OBSERVAÇÕES" />

						<label for="observacoes" class="active">OBSERVAÇÕES:</label>

					</div>

				</div>
			</div>
		</div>

		<div class="modal-footer">

			<p:commandLink rendered="#{!minhasAvaliacoesControlador.visualizar}"
				styleClass="modal-action waves-effect waves-green btn-flat"
				update=":modalAlerta :listagemNaoRealizadas :listagemRealizadas"
				value="SALVAR" 
				actionListener="#{minhasAvaliacoesControlador.acaoInserir}"
				title="SALVAR"></p:commandLink>

			<a href="#!" onclick="fecharModal('modalAvaliacao')"
				class="modal-action modal-close waves-effect waves-green btn-flat"
				title="FECHAR">FECHAR</a>

		</div>

	</p:outputPanel>

</h:form>