<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel id="modalModulo" styleClass="modal modal-evento">

	<div class="modal-content">

		<h4>

			Módulos do evento: #{moduloControlador.evento.titulo} (
			<h:panelGroup id="datasPrevistas"
				rendered="#{moduloControlador.evento != null and eventoControlador.isMostrarPrevisao(moduloControlador.evento)}">
				<h:outputText value="#{moduloControlador.evento.dataInicioPrevisto}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText> a <h:outputText value="#{moduloControlador.evento.dataFimPrevisto}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText> - 
				<h:outputText value="#{moduloControlador.evento.cargaHoraria}">
					<f:convertNumber pattern="#0h" />
				</h:outputText>
			</h:panelGroup>

			<h:panelGroup id="datasRealizacao"
				rendered="#{moduloControlador.evento != null and !eventoControlador.isMostrarPrevisao(moduloControlador.evento)}">
				<h:outputText
					value="#{moduloControlador.evento.dataInicioRealizacao}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText> a <h:outputText
					value="#{moduloControlador.evento.dataFimRealizacao}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText> - 
				<h:outputText value="#{moduloControlador.evento.cargaHoraria}">
					<f:convertNumber pattern="#0h" />
				</h:outputText>
			</h:panelGroup>
			)


		</h4>

		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

			<div class="mdl-tabs__tab-bar">

				<a id="linkNovoModulo" href="#novo-modulo"
					class="mdl-tabs__tab is-active">#{moduloControlador.entidade.id
					!= null ? 'EDITAR' : 'ADICIONAR'} MÓDULO</a> <a id="linkModulos"
					href="#modulos" class="mdl-tabs__tab">MÓDULOS</a>

			</div>

			<br />

			<div class="mdl-tabs__panel is-active" id="novo-modulo">

				<h:form prependId="false" id="formDialogModulo">

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--6-col">

							<p:inputText required="true" maxlength="255"
								requiredMessage="Por favor, preencha o campo TÍTULO."
								id="titulo" value="#{moduloControlador.entidade.titulo}"
								alt="TÍTULO" title="TÍTULO" />

							<label for="titulo" class="active">TÍTULO:</label>

						</div>

						<div class="input-field mdl-cell mdl-cell--3-col">

							<p:spinner id="nota"
								value="#{moduloControlador.entidade.notaAprovacao}" min="0"
								max="100" alt="NOTA (0 A 100)" title="NOTA (0 A 100)"
								stepFactor="0.5" styleClass="spinner-custom" required="true"
								requiredMessage="Por favor, preencha o campo NOTA PARA APROVAÇÂO." />

							<label for="nota" class="active">NOTA PARA APROVAÇÂO (0 a
								100):</label>

						</div>

						<div class="input-field mdl-cell mdl-cell--3-col">

							<p:inputMask required="true" mask="9?999" maxlength="4"
								requiredMessage="Por favor, preencha o campo QUANTIDADE DE ENCONTROS."
								id="quantidadeEncontros"
								value="#{moduloControlador.entidade.quantidadeEncontros}"
								alt="QUANTIDADE DE ENCONTROS" title="QUANTIDADE DE ENCONTROS" />

							<label for="quantidadeEncontros" class="active">QUANTIDADE
								DE ENCONTROS:</label>

						</div>

					</div>

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--3-col">

							<p:inputMask required="true" mask="9?999" maxlength="4"
								converter="cargaHorariaConverter"
								requiredMessage="Por favor, preencha o campo CARGA HORÁRIA."
								id="cargaHoraria"
								value="#{moduloControlador.entidade.cargaHoraria}"
								alt="CARGA HORÁRIA" title="CARGA HORÁRIA" />

							<label for="cargaHoraria" class="active">CARGA HORÁRIA:</label>

						</div>

						<div class="input-field mdl-cell mdl-cell--3-col">

							<p:spinner id="frequencia"
								value="#{moduloControlador.entidade.frequenciaAprovacao}"
								min="0" max="100" alt="FREQUÊNCIA MÍNIMA (%)"
								title="FREQUÊNCIA MÍNIMA (%)" stepFactor="0.5"
								styleClass="spinner-custom" required="true"
								converter="frequenciaConverter"
								requiredMessage="Por favor, preencha o campo FREQUÊNCIA MÍNIMA." />

							<label for="frequencia" class="active">FREQUÊNCIA MÍNIMA
								(%):</label>

						</div>

						<div class="input-field mdl-cell mdl-cell--3-col">

							<p:calendar required="true"
								requiredMessage="Por favor, preencha o campo DATA INÍCIO."
								id="dataInicio" locale="pt_BR"
								value="#{moduloControlador.entidade.dataInicio}"
								pattern="dd/MM/yyyy" alt="DATA INÍCIO" title="DATA INÍCIO">

								<f:convertDateTime pattern="dd/MM/yyyy" />

							</p:calendar>

							<label for="dataInicio" class="active">DATA INÍCIO:</label>

						</div>

						<div class="input-field mdl-cell mdl-cell--3-col">

							<p:calendar required="true"
								requiredMessage="Por favor, preencha o campo DATA FIM."
								id="dataFim" locale="pt_BR"
								value="#{moduloControlador.entidade.dataFim}"
								pattern="dd/MM/yyyy" alt="DATA FIM" title="DATA FIM">

								<f:convertDateTime pattern="dd/MM/yyyy" />

							</p:calendar>

							<label for="dataFim" class="active">DATA FIM:</label>

						</div>

					</div>

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--3-col">

							<p:inputText styleClass="hasTime" id="horaInicioTurno1"
								value="#{moduloControlador.entidade.horaInicioTurno1}"
								alt="INÍCIO TURNO 1" title="INÍCIO TURNO 1" />

							<label for="horaInicioTurno1" class="active">INÍCIO TURNO
								1:</label>

						</div>

						<div class="input-field mdl-cell mdl-cell--3-col">

							<p:inputText styleClass="hasTime" id="horaFimTurno1"
								value="#{moduloControlador.entidade.horaFimTurno1}"
								alt="FIM TURNO 1" title="FIM TURNO 1" />

							<label for="horaFimTurno1" class="active">FIM TURNO 1:</label>

						</div>

						<div class="input-field mdl-cell mdl-cell--3-col">

							<p:inputText styleClass="hasTime" id="horaInicioTurno2"
								value="#{moduloControlador.entidade.horaInicioTurno2}"
								alt="INÍCIO TURNO 2" title="INÍCIO TURNO 2" />

							<label for="horaInicioTurno2" class="active">INÍCIO TURNO
								2:</label>

						</div>

						<div class="input-field mdl-cell mdl-cell--3-col">

							<p:inputText styleClass="hasTime" id="horaFimTurno2"
								value="#{moduloControlador.entidade.horaFimTurno2}"
								alt="FIM TURNO 2" title="FIM TURNO 2" />

							<label for="horaFimTurno2" class="active">FIM TURNO 2:</label>

						</div>

					</div>

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:inputTextarea id="observacoes" maxlength="2000" rows="2"
								value="#{moduloControlador.entidade.observacao}"
								title="OBSERVAÇÕES" />

							<label for="observacoes" class="active">OBSERVAÇÕES:</label>

						</div>

					</div>

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<mdl:multi-select id="autocomplete" atributo="nome"
								lista="#{moduloControlador.listaInstrutor}" tipo="Instrutor"
								label="Instrutor" obrigatorio="#{true}">

								<p:column styleClass="mdl-data-table__cell--non-numeric"
									headerText="DESCRIÇÃO" priority="1">

									<h:outputText value="#{bean.pessoa.nome}" title="INSTRUTOR" />

								</p:column>

							</mdl:multi-select>

						</div>

					</div>

					<div class="mdl-grid">

						<div class="mdl-cell mdl-cell--12-col">

							<p:commandButton id="btnCadastrarModulo"
								update=":modalAlerta @form :formDialogModuloList"
								styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
								value="SALVAR" action="#{moduloControlador.acaoInserir}"
								alt="SALVAR" title="SALVAR" />

						</div>

					</div>

				</h:form>

			</div>

			<div class="mdl-tabs__panel" id="modulos">

				<p:outputPanel id="listaModulos">

					<h:form prependId="false" id="formDialogModuloList">

						<p:dataTable id="listagemModulos" lazy="true" paginator="true"
							rows="10" rowKey="#{bean.id}" paginatorPosition="bottom"
							style="width:100%;" tableStyle="width:100%" rowIndexVar="rowId"
							emptyMessage="Nenhum registro encontrado."
							tableStyleClass="bordered responsive-table"
							value="#{moduloControlador.lista}" var="bean">

							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="TÍTULO" priority="1">

								<h:outputText value="#{bean.titulo}" title="TÍTULO" />

							</p:column>

							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="DATA INÍCIO" priority="1">

								<h:outputText value="#{bean.dataInicio}" title="DATA INÍCIO" />

							</p:column>

							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="DATA FIM" priority="1">

								<h:outputText value="#{bean.dataFim}" title="DATA FIM" />

							</p:column>

							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="NOTA PARA APROVAÇÂO (0 a 100)" priority="1">

								<h:outputText value="#{bean.notaAprovacao}"
									title="NOTA PARA APROVAÇÃO (0 a 100)" />

							</p:column>

							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="CARGA HORÁRIA" priority="1">

								<h:outputText value="#{bean.cargaHoraria}"
									converter="cargaHorariaConverter" title="CARGA HORÁRIA" />

							</p:column>

							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="FREQUÊNCIA MÍNIMA" priority="1">

								<h:outputText value="#{bean.frequenciaAprovacao}"
									converter="frequenciaConverter" title="FREQUÊNCIA MÍNIMA" />

							</p:column>

							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="AÇÕES" priority="1" width="100">

								<span> <p:remoteCommand name="editarModulo#{rowId}"
										actionListener="#{moduloControlador.acaoEditar(bean)}"
										update=":formDialogModulo" oncomplete="tabAddModulo()" />

									<button type="button" id="btnEditarModulo#{rowId}"
										onclick="editarModulo#{rowId}()"
										class="mdl-button mdl-js-button mdl-button--icon">

										<i class="material-icons">create</i>

									</button>

									<div class="mdl-tooltip" for="btnEditarModulo#{rowId}">EDITAR</div>

									<p:remoteCommand name="excluirModulo#{rowId}" process="@this"
										actionListener="#{moduloControlador.excluir(bean)}"
										update=":listaModulos :modalAlerta" />

									<button id="btnExcluirModulo#{rowId}" 
										onclick="confirmar('Confirma a operação?', excluirModulo#{rowId});return false;"
										class="mdl-button mdl-js-button mdl-button--icon">

										<i class="material-icons">delete</i>

									</button>

									<div class="mdl-tooltip" for="btnExcluirModulo#{rowId}">EXCLUIR</div>

								</span>

							</p:column>

						</p:dataTable>

					</h:form>

				</p:outputPanel>

			</div>

		</div>

	</div>

	<div class="modal-footer">

		<a onclick="fecharModal('modalModulo')"
			class="modal-action modal-close waves-effect waves-green btn-flat">FECHAR</a>

	</div>

</p:outputPanel>

<script>
	
	function tabAddModulo(){
		jQuery('#novo-modulo').addClass('is-active');
		jQuery('#linkNovoModulo').addClass('is-active');
		jQuery('#linkModulos').removeClass('is-active');
		jQuery('#modulos').removeClass('is-active');
	}
	
	</script>

</html>