<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<style type="text/css">

/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
	display: block;
	position: absolute;
	z-index: 2000;
	right: -280px;
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
#preview-pane .preview-container {
	width: 250px;
	height: 187px;
	overflow: hidden;
}
</style>
<p:outputPanel id="modalImagemEvento" styleClass="modal modal-evento">

	<div class="modal-content">

		<p:outputPanel id="titulo_modal_imagem" autoUpdate="true">
			<h4>Imagem do evento</h4>
		</p:outputPanel>

		<h:form enctype="multipart/form-data" prependId="false" id="panel"
			styleClass="mdl-grid">

			<div class="mdl-cell mdl-cell--12-col">


				<p:fileUpload immediate="true" process="@this" autoUpdate="true"
					oncomplete="onLoad(); exibirMensagem(); initCrop();" auto="true"
					onstart="removerMensagens();" sizeLimit="10000000"
					disabled="#{eventoControlador.visualizar}"
					invalidFileMessage="Tipo de arquivo não aceito para upload"
					invalidSizeMessage="Os arquivos poderão conter, no máximo, 10MB"
					allowTypes="/(\.|\/)(bmp|gif|jpe?g|png)$/" mode="advanced"
					fileUploadListener="#{eventoControlador.fileUploadAction}"
					update=":panel :modalAlerta" />

			</div>

			<p:outputPanel id="panelImagemOriginal"
				rendered="#{eventoControlador.nomeImagemOriginal != null}"
				styleClass="mdl-cell mdl-cell--6-col">

				<img
					src="#{facesContext.externalContext.requestContextPath}/resources/imagens/upload/#{eventoControlador.nomeImagemOriginal}"
					id="target" style="width: 100%;"
					alt="Imagem original. Sem recorte através da ferramenta." />

			</p:outputPanel>

			<p:outputPanel styleClass="mdl-cell mdl-cell--6-col"
				rendered="#{eventoControlador.nomeImagemOriginal != null}">

				<div id="preview-pane">
					<div class="preview-container">
						<img
							src="#{facesContext.externalContext.requestContextPath}/resources/imagens/upload/#{eventoControlador.nomeImagemOriginal}"
							class="jcrop-preview" style="width: 100%;"
							alt="Imagem final. Após recorte através da ferramenta." />
					</div>
				</div>

			</p:outputPanel>

		</h:form>

	</div>

	<div class="modal-footer">

		<h:form prependId="false">

			<h:inputHidden id="croop-x"></h:inputHidden>
			<h:inputHidden id="croop-y"></h:inputHidden>
			<h:inputHidden id="croop-w"></h:inputHidden>
			<h:inputHidden id="croop-h"></h:inputHidden>
			<h:inputHidden id="boundx"></h:inputHidden>
			<h:inputHidden id="boundy"></h:inputHidden>

			<p:commandLink
				styleClass="modal-action modal-close waves-effect waves-green btn-flat"
				update=":panel_imagem_evento :panel :modalAlerta" value="SALVAR" process="@this" immediate="true"
				actionListener="#{eventoControlador.salvarImagemRecortada()}">
			</p:commandLink>

		</h:form>

		<a onclick="fecharModal('modalImagemEvento')"
			class="modal-action modal-close waves-effect waves-green btn-flat">FECHAR</a>

	</div>

</p:outputPanel>

<script type="text/javascript">
	var jcrop_api, boundx, boundy, $preview, $pcnt, $pimg, xsize, ysize;

	function initCrop() {

		$preview = $('#preview-pane');
		$pcnt = $('#preview-pane .preview-container');
		$pimg = $('#preview-pane .preview-container img');

		xsize = $pcnt.width();
		ysize = $pcnt.height();

		console.log('init', [ xsize, ysize ]);
		$('#target').Jcrop({
			onChange : updatePreview,
			onSelect : updatePreview,
			aspectRatio : xsize / ysize
		}, function() {
			// Use the API to get the real image size
			var bounds = this.getBounds();
			boundx = bounds[0];
			boundy = bounds[1];
			// Store the API in the jcrop_api variable
			jcrop_api = this;

			// Move the preview into the jcrop container for css positioning
			$preview.appendTo(jcrop_api.ui.holder);
		});
	}

	function updatePreview(c) {
		if (parseInt(c.w) > 0) {
			var rx = xsize / c.w;
			var ry = ysize / c.h;

			$("#croop-x").val(c.x);
			$("#croop-y").val(c.y);
			$("#croop-w").val(c.w);
			$("#croop-h").val(c.h);
			$("#boundx").val(boundx);
			$("#boundy").val(boundy);

			$pimg.css({
				width : Math.round(rx * boundx) + 'px',
				height : Math.round(ry * boundy) + 'px',
				marginLeft : '-' + Math.round(rx * c.x) + 'px',
				marginTop : '-' + Math.round(ry * c.y) + 'px'
			});
		}
	};
</script>

</html>