<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel id="modalInscricao" styleClass="modal modal-evento">

	<p:outputPanel
		rendered="#{inscricaoControlador.entidade.evento.permitePreInscricao != null and inscricaoControlador.entidade.evento.permitePreInscricao}">

		<div class="modal-content">

			<h4>Inscrição no evento 
				#{inscricaoControlador.entidade.evento.titulo}</h4>

			<div class="mdl-grid">
			
					<h6>Este evento possui pré-inscrição. Por favor, informe sua justificativa e solicite a inscrição. 
					 A solicitação será avaliada pela Escola de Contas do TCM-GO.</h6>

				<div class="input-field mdl-cell mdl-cell--12-col">

					<p:inputTextarea id="justificativaParticipante" maxlength="2000"
						rows="5" placeholder=""
						value="#{inscricaoControlador.entidade.justificativaParticipante}"
						title="JUSTIFICATIVA" />

					<label for="justificativaParticipante" class="active">JUSTIFICATIVA:</label>

				</div>

			</div>


		</div>

		<div class="modal-footer">

			<p:commandLink
				styleClass="modal-action modal-close waves-effect waves-green btn-flat"
				update=":modalAlerta" value="SOLICITAR INSCRIÇÃO"
				actionListener="#{inscricaoControlador.realizarInscricao}"
				title="SOLICITAR INSCRIÇÃO"></p:commandLink>
				
			<p:commandLink
				styleClass="modal-action modal-close waves-effect waves-green btn-flat"
				update=":modalAlerta" value="FECHAR"
				actionListener="#{inscricaoControlador.naoConfirmarInscricao}"
				title="FECHAR"></p:commandLink>

		</div>

	</p:outputPanel>

	<p:outputPanel
		rendered="#{inscricaoControlador.entidade.evento.permitePreInscricao != null and !inscricaoControlador.entidade.evento.permitePreInscricao}">

		<div class="modal-content">

			<h4>Inscrição no evento 
				#{inscricaoControlador.entidade.evento.titulo}</h4>

			<div class="mdl-grid">
						<h6>Deseja se inscrever no evento
						#{inscricaoControlador.entidade.evento.titulo}?</h6>
			</div>

			<p:outputPanel
					rendered="#{inscricaoControlador.eventoTemCursoMoodleVinculado()
								and !inscricaoControlador.participanteExisteNoMoodle()}">

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--12-col">

						<h6>Preencha sua senha abaixo (mesma senha usada no Sophos): </h6>

					</div>

					<div class="input-field mdl-cell mdl-cell--6-col">

						<p:password id="senhaParticipante" value="#{inscricaoControlador.senhaParaMoodle}"/>

						<label for="senhaParticipante" class="active">Senha: </label>

					</div>

				</div>

			</p:outputPanel>

		</div>

		<div class="modal-footer">

			<p:commandLink
					id="save"
				styleClass="modal-action modal-close waves-effect waves-green btn-flat"
				update=":modalAlerta" value="SIM"
				actionListener="#{inscricaoControlador.realizarInscricao}"
				title="SIM"></p:commandLink>
				
			<p:commandLink
				styleClass="modal-action modal-close waves-effect waves-green btn-flat"
				update=":modalAlerta" value="NÃO"
				actionListener="#{inscricaoControlador.naoConfirmarInscricao}"
				title="NÃO"></p:commandLink>

		</div>

	</p:outputPanel>

</p:outputPanel>

</html>
