<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:outputPanel id="modalMaterial" styleClass="modal modal-evento">
	
		<div class="modal-content">
			
			<h4>Materiais do evento: #{materialControlador.evento.titulo}</h4>
			
			<h:form prependId="false" id="formDialogMaterial" rendered="#{!materialControlador.visualizar}">
			
				<div class="mdl-grid">	
			
					<div class="input-field mdl-cell mdl-cell--6-col">
											
						<h:selectOneMenu id="moduloMaterial" value="#{materialControlador.entidade.modulo}"  required="true" requiredMessage="Por favor, preencha o campo MÓDULO."
								converter="conversorEntidadePadrao" style="display:block;" title="MÓDULO">
				
							<f:selectItem itemLabel="Selecione" />
				
							<f:selectItems value="#{materialControlador.modulosList}" var="bean" itemLabel="#{bean.titulo}" itemValue="#{bean}" />
							
						</h:selectOneMenu>
						
						<label for="moduloMaterial" class="active">MÓDULO:</label>
				
					</div>
					
					<div class="input-field mdl-cell mdl-cell--6-col">
								
						<h:selectOneMenu id="tipoMaterial" value="#{materialControlador.entidade.tipoMaterial}" required="true" requiredMessage="Por favor, preencha o campo TIPO."
									converter="conversorEntidadePadrao" style="display:block;" title="TIPO">
				
							<f:selectItem itemLabel="Selecione" />
				
							<f:selectItems value="#{materialControlador.tipoMaterialList}" var="bean" itemLabel="#{bean.descricao}" itemValue="#{bean}" />
				
						</h:selectOneMenu>
				
						<label for="tipoMaterial" class="active">TIPO:</label>
						
					</div>
					
				</div>
					
				<div class="mdl-grid">	
				
					<p:outputPanel id="uploadImagem" styleClass="mdl-cell mdl-cell--12-col">
							
						<p:outputPanel rendered="#{materialControlador.entidade.arquivo == null || materialControlador.entidade.arquivo.file == null}" styleClass="input-field mdl-cell mdl-cell--12-col">
						
							<p:fileUpload immediate="true" update="uploadImagem materiais" process="@this" oncomplete="onLoad();exibirMensagem();" 
								auto="true" fileLimit="1" onstart="removerMensagens();" sizeLimit="20000000" 
								fileLimitMessage="Poderão ser enviados, no máximo, 1 arquivo.  " invalidFileMessage="Tipo de arquivo não aceito para upload.  " 
								invalidSizeMessage="Os arquivos poderão conter, no máximo, 20MB.  " allowTypes="#{materialControlador.tiposArquivosPermitidos}"
								fileUploadListener="#{materialControlador.uploadAnexo}" mode="advanced"/>
								
							<label class="active">ANEXO:</label>
							
						</p:outputPanel>
						
						<p:outputPanel rendered="#{materialControlador.entidade.arquivo != null and materialControlador.entidade.arquivo.file != null}" styleClass="mdl-cell mdl-cell--12-col">

							<table style="width:100%" class="mdl-data-table mdl-js-data-table is-upgraded" >
								<thead >
									<tr role="row">
										<th class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1" >
											<span class="ui-column-title">Arquivo</span>
										</th>
										<th class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1" >
											<span class="ui-column-title">Descrição</span>
										</th>
										<th class="ui-state-default mdl-data-table__cell--non-numeric ui-column-p-1" >
											<span class="ui-column-title">Ações</span>
										</th>
									</tr>
								</thead>
								<tbody class="ui-datatable-data ui-widget-content">
									<tr class="ui-widget-content ui-datatable-even">
										<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">Material</td>
										<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">#{materialControlador.entidade.arquivo.descricao}</td>
										<td role="gridcell" class="mdl-data-table__cell--non-numeric ui-column-p-1">
											<mdl:btn-icon immediate="true" update="uploadImagem" action="#{materialControlador.limparAnexo}" icon="clear" toolTip="REMOVER ANEXO" />
										</td>
									</tr>
								</tbody>
							</table>
							
						</p:outputPanel>
						
					</p:outputPanel>
					
				</div>
				
				
				<div class="mdl-grid">
				
					<div class="mdl-cell mdl-cell--12-col">
						
						<p:commandButton id="btnCadastrarMaterial" update=":modalAlerta @form :materiais"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="ADICIONAR" action="#{materialControlador.acaoInserir}" alt="ADICIONAR" title="ADICIONAR"/>
							
						<p:commandButton id="btnLimparMaterial" update=":modalAlerta @form" process="@this" style="margin-left: 10px;"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="LIMPAR" actionListener="#{materialControlador.limpar}" alt="LIMPAR" title="LIMPAR"/>
	
					</div>
	
				</div>
				
			</h:form>
			
			<h:form prependId="false" id="formDialogMaterialList">
				
				<p:outputPanel id="materiais" styleClass="mdl-grid">
				
					<p:dataTable id="listagemMateriais" lazy="true" 
						paginator="true" rows="10" paginatorPosition="bottom" style="width:100%;" tableStyle="width:100%" rowIndexVar="rowIdMaterial" 
						emptyMessage="Nenhum registro encontrado." tableStyleClass="bordered responsive-table" value="#{materialControlador.lista}" var="bean">
				
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="TIPO MATERIAL" priority="1">
						
							<h:outputText value="#{bean.tipoMaterial.descricao}" title="TIPO MATERIAL" />
						
						</p:column>
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="MÓDULO" priority="1">
						
							<h:outputText value="#{bean.modulo.titulo}" title="MÓDULO"/>
						
						</p:column>
						
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="ARQUIVO" priority="1">
						
							<h:outputText value="#{bean.arquivo.descricao}" title="ARQUIVO" />
						
						</p:column>
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="AÇÔES" priority="1">
						
							<span>
							
								<h:commandLink id="btnDownload#{rowId}" style="color: #4f4f4f !important;" actionListener="#{materialControlador.download(bean.arquivo.arquivoGED)}" class="mdl-button mdl-js-button mdl-button--icon">
						
									<i class="material-icons">file_download</i>
									
								</h:commandLink>
								
								<div class="mdl-tooltip" for="btnDownload#{rowId}">DOWNLOAD</div>
								
							</span>
							
							<h:panelGroup rendered="#{!materialControlador.visualizar}">
							
								<span>
								
									<p:remoteCommand name="excluirMaterial#{rowIdMaterial}" actionListener="#{materialControlador.acaoExcluir(bean)}" update=":listagemMateriais" />
									
									<button id="btnExcluir#{rowIdMaterial}" onclick="confirmar('Confirma a operação?', excluirMaterial#{rowIdMaterial});return false;" class="mdl-button mdl-js-button mdl-button--icon">
							
										<i class="material-icons">delete</i>
										
									</button>
									
									<div class="mdl-tooltip" for="btnExcluir#{rowIdMaterial}">EXCLUIR</div>
									
								</span>
								
							</h:panelGroup>
						
						</p:column>
						
					</p:dataTable>
				
				</p:outputPanel>
			
			</h:form>
					
		</div>
			
		<div class="modal-footer">
		
			<a href="#!" onclick="fecharModal('modalMaterial')" class="modal-action modal-close waves-effect waves-green btn-flat">FECHAR</a>
			
		</div>
		
			
	</p:outputPanel>
	
</html>