<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel id="modalAvaliacaoEficacia"
	styleClass="modal modal-evento">

	<h:form prependId="false" id="formDialogAvaliacaoEficacia">

		<div class="modal-content">

			<p:outputPanel id="titulo_modal_avaliacao_eficacia" autoUpdate="true">
				<h4>Avaliacação de eficácia de
					#{avaliacaoEficaciaControlador.entidade.participante.pessoa.nome}
					no evento #{avaliacaoEficaciaControlador.entidade.evento.titulo}</h4>
			</p:outputPanel>

			<br />

			<div class="mdl-grid">

				<div class="input-field mdl-cell mdl-cell--4-col">

					<p:outputPanel style="padding-bottom: 20px" autoUpdate="true">

						<h:selectOneRadio id="melhoriaDesempenho"
							value="#{avaliacaoEficaciaControlador.entidade.melhoriaDesempenho}"
							required="true"
							requiredMessage="Por favor, preencha o campo MELHORIA NO
						DESEMPENHO GERAL DO PARTICIPANTE."
							title="MELHORIA NO DESEMPENHO GERAL DO PARTICIPANTE">

							<f:selectItem itemValue="true" itemLabel="SIM"></f:selectItem>
							<f:selectItem itemValue="false" itemLabel="NÃO"></f:selectItem>

							<p:ajax event="change" />

						</h:selectOneRadio>

						<label for="melhoriaDesempenho" class="active">MELHORIA NO
							DESEMPENHO GERAL DO PARTICIPANTE:</label>

					</p:outputPanel>

				</div>

				<br />

				<div class="input-field mdl-cell mdl-cell--12-col">

					<p:outputPanel style="padding-bottom: 20px" autoUpdate="true">

						<h:selectOneMenu id="desempenhoServico"
							value="#{avaliacaoEficaciaControlador.entidade.desempenhoServico}"
							required="true"
							requiredMessage="Por favor, preencha o campo DESEMPENHO
						DOS SERVIÇOS DA ÁREA."
							converter="conversorEntidadePadrao" style="display:block;"
							title="DESEMPENHO DOS SERVIÇOS DA ÁREA">

							<f:selectItems
								value="#{avaliacaoEficaciaControlador.listaTipoDesempenhoServico}"
								var="tipoDesempenhoServico"
								itemLabel="#{tipoDesempenhoServico.descricao}"
								itemValue="#{tipoDesempenhoServico}"
								id="tipoDesempenhoServico#{tipoDesempenhoServico.id}">
							</f:selectItems>

							<p:ajax event="change"
								listener="#{avaliacaoEficaciaControlador.preencherTipoDesempenhoServico()}" />

						</h:selectOneMenu>

						<label for="melhoriaDesempenho" class="active">DESEMPENHO
							DOS SERVIÇOS DA ÁREA:</label>

					</p:outputPanel>

				</div>

				<br />

				<div class="input-field mdl-cell mdl-cell--12-col">

					<p:outputPanel style="padding-bottom: 20px" autoUpdate="true">

						<h:inputTextarea id="observacoes"
							value="#{avaliacaoEficaciaControlador.entidade.observacao}"
							style="display:block;" title="OBSERVAÇÕES">
							<p:ajax event="change" />
						</h:inputTextarea>

						<label for="observacoes" class="active">OBSERVAÇÕES:</label>

					</p:outputPanel>
				</div>

			</div>

		</div>

		<div class="modal-footer">

			<p:commandLink
				styleClass="modal-action modal-close waves-effect waves-green btn-flat"
				update=":modalAlerta :listagem" value="SALVAR" process="@this"
				actionListener="#{avaliacaoEficaciaControlador.acaoInserir()}"
				title="SALVAR"></p:commandLink>


			<a href="#!" onclick="fecharModal('modalAvaliacaoEficacia')" title="FECHAR"
				class="modal-action modal-close waves-effect waves-green btn-flat">FECHAR</a>

		</div>

	</h:form>

</p:outputPanel>

</html>