<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<p:outputPanel id="modalNota" styleClass="modal modal-evento">
	
			<h:form prependId="false" id="formDialogNota">
			<div class="modal-content">
			
				<h4>Notas do evento: #{notaControlador.evento.titulo}</h4>
	
				<div class="mdl-grid">
	
					<div class="input-field mdl-cell mdl-cell--4-col">
	
						<h:selectOneMenu id="moduloNota" value="#{notaControlador.modulo}"
							converter="conversorEntidadePadrao" style="display:block;"
							title="MÓDULO">
	
							<f:selectItem itemLabel="Selecione" />
	
							<f:selectItems value="#{notaControlador.modulosList}" var="bean"
								itemLabel="#{bean.titulo}" itemValue="#{bean}" />
	
							<p:ajax event="change" update="formDialogNota" 
								listener="#{notaControlador.popularNotas}" />
	
						</h:selectOneMenu>
	
						<label for="moduloNota" class="active">MÓDULO:</label>
	
					</div>
					
					<p:outputPanel styleClass="input-field mdl-cell mdl-cell--6-col" rendered="#{notaControlador.modulo != null and notaControlador.modulo.id != null}">
				
							<p:inputText styleClass="mdl-textfield__input"
									value="#{notaControlador.lista.consulta}"
									placeholder="Insira seu parâmetro de pesquisa" id="buscaNome"
									alt="Insira seu parâmetro de pesquisa"
									title="Insira seu parâmetro de pesquisa">
				
								<p:ajax event="keyup" update=":tableNotas" />
			
							</p:inputText>
				
					</p:outputPanel>
						
				</div>
	
				<p:outputPanel id="tableNotas" styleClass="mdl-grid">
	
					<p:dataTable id="listagemNotas" lazy="true"
						rendered="#{notaControlador.modulo != null and notaControlador.modulo.id != null}"
						var="bean" tableStyleClass="bordered responsive-table"
						value="#{notaControlador.lista}"
						emptyMessage="Nenhum registro encontrado." style="width: 100%;"
						paginator="true" rows="10" paginatorPosition="bottom">
	
						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="PARTICIPANTE" priority="1" width="50%">
	
							<span tabindex="0">#{bean.participante.pessoa.nome}</span>
	
						</p:column>
	
						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="MÓDULO" priority="1" width="35%">
	
							<span tabindex="0">#{bean.modulo.titulo}</span>
	
						</p:column>
	
						<p:column styleClass="mdl-data-table__cell--non-numeric"
							headerText="NOTA  (0 A 100)" priority="1" width="15%"
							style="text-align:center">
	
							<p:spinner id="nota#{bean.id}" value="#{bean.valor}" min="0"
								max="100" alt="NOTA (0 A 100)" title="NOTA (0 A 100)"
								stepFactor="0.5" styleClass="spinner-custom"/>
	
						</p:column>
	
					</p:dataTable>
	
				</p:outputPanel>
	
			</div>
	
			<div class="modal-footer">
	
				<p:commandLink
					styleClass="modal-action waves-effect waves-green btn-flat"
					update=":modalAlerta :tableNotas" value="Salvar"
					actionListener="#{notaControlador.salvarNota}" title="SALVAR"></p:commandLink>
	
				<a href="#!" onclick="fecharModal('modalNota')" 
					class="modal-action modal-close waves-effect waves-green btn-flat"
					title="FECHAR">FECHAR</a>
	
			</div>
			
			</h:form>
	
	</p:outputPanel>

</html>