<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:outputPanel id="modalConfirmacaoRemocaoEvento" styleClass="modal modal-evento">
	
		<h:form prependId="false" id="formConfirmacaoRemocao">
		
				<div class="modal-content">
				
				<h4>Remoção do evento #{loginControlador.eventoRemocao.titulo}</h4>
					
					<div class="mdl-grid">
		
						<div class="input-field mdl-cell mdl-cell--12-col">
		
							Deseja realmente REMOVER o evento #{loginControlador.eventoRemocao.titulo}? Essa ação é PERMANENTE e removerá TOTALMENTE o evento, suas inscrições, 
							indicações, materiais didáticos, arquivos administrativos, registros de gastos e imagens. Para confirmar o
							procedimento, informe sua SENHA de login no Sophos. 
		
						</div>
		
					</div>
					
					<div class="mdl-grid">
					
						<div class="input-field mdl-cell mdl-cell--4-col">
						
							<p:password value="#{loginControlador.senha}" 
										styleClass="verificar-capslock" required="true" 
										placeholder="Informe a senha."
										requiredMessage="Para realizar o procedimento de remoção de evento, informe a senha."
										id="senha" alt="SENHA" title="SENHA" />
		
							<label for="senha" class="active">SENHA:</label>
							
						</div>
		
						
					</div>
							   
				</div>
					
				<div class="modal-footer">
									 
					<p:commandLink
						styleClass="modal-action waves-effect waves-green btn-flat"
						value="CONFIRMAR REMOÇÃO" update=":modalAlerta :listagem"
						oncomplete="fecharModal('modalConfirmacaoRemocaoEvento')"
						actionListener="#{loginControlador.confirmarRemocaoEvento()}"
						title="CONFIRMAR REMOÇÃO">
					</p:commandLink>
				
					<a href="#!" onclick="fecharModal('modalConfirmacaoRemocaoEvento')" class="modal-action modal-close waves-effect waves-green btn-flat">CANCELAR</a>
					
					
				</div>
		
			</h:form>
			
	</p:outputPanel>
	
</html>