<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:form prependId="false" id="formEventoList">

	<div class="mdl-grid bottom">

		<p:remoteCommand name="acaoAbrirTelaCadastro"
			update=":conteudoPrincipal :tituloSistema"
			action="#{eventoControlador.acaoAbrirTela(null, 'false')}" />

		<mdl:btn-add toolTip="Abrir Cadastro"
			onclick="acaoAbrirTelaCadastro();" />

	</div>

	<div class="mdl-grid">

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
			style="padding: 0; margin-left: auto;">

			<label for="nome" title="Buscar"  style="texto-buscar"> 
				Buscar:
			</label>

			<div style="width: 400px">

				<p:inputText styleClass="mdl-textfield__input"
					value="#{eventoControlador.lista.consulta}"
					placeholder="Insira seu parâmetro de pesquisa" id="nome"
					alt="Insira seu parâmetro de pesquisa"
					title="Insira seu parâmetro de pesquisa">

					<p:ajax event="keyup" update=":listagem" />

				</p:inputText>

			</div>

		</div>

		<p:dataTable id="listagem" lazy="true" paginator="true" rows="10"
			paginatorPosition="bottom" style="width:100%;" rowIndexVar="rowId"
			tableStyle="width:100%" emptyMessage="Nenhum registro encontrado."
			tableStyleClass="bordered responsive-table" rowKey="#{bean.id}"
			value="#{eventoControlador.lista}" var="bean">

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="EVENTO" priority="1">

				<span tabindex="0">#{bean.titulo}</span>

			</p:column>

			<p:column styleClass="mdl-data-table__cell"
				headerText="PERÍODO" priority="1"  width="270px;">

				<h:panelGroup rendered="#{bean.dataInicioRealizacao != null}">

					<span tabindex="0"><h:outputText
							value="#{bean.dataInicioRealizacao}" /> até <h:outputText
							value="#{bean.dataFimRealizacao}" /> </span>

				</h:panelGroup>

				<h:panelGroup rendered="#{bean.dataInicioRealizacao == null}">

					<span tabindex="0">Previsão - <h:outputText
							value="#{bean.dataInicioPrevisto}" /> até <h:outputText
							value="#{bean.dataFimPrevisto}" />
					</span>

				</h:panelGroup>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="TIPO" priority="1">

				<span tabindex="0">#{bean.tipoEvento.descricao}</span>

			</p:column>
			
			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="TIPO DE AVALIAÇÃO" priority="1">

				<h:outputText value="POR MÉDIAS GERAIS" rendered="#{bean.avaliarPorMedia}"
					title="TIPO DE AVALIAÇÃO" />
					
				<h:outputText value="POR MÓDULOS"  rendered="#{!bean.avaliarPorMedia}"
					title="TIPO DE AVALIAÇÃO" />

			</p:column>

			<p:column styleClass="mdl-data-table__cell"
				headerText="AÇÕES" priority="1" width="450px;">

				<h:panelGroup rendered="#{bean.mostrarNaHome}">

					<p:remoteCommand name="ocultarNaHome#{rowId}"
						actionListener="#{eventoControlador.exibirOcultarNaHome(bean)}"
						update=":listagem :modalAlerta" />

					<button id="btnOcultarNaHome#{rowId}"
						onclick="confirmar('Deseja OCULTAR este evento/curso na página inicial?', ocultarNaHome#{rowId});return false;"
						class="mdl-button mdl-js-button mdl-button--icon">

						<i class="material-icons">visibility</i><span class="visuallyhidden">OCULTAR NA PÁGINA INICIAL</span>
							
					</button>
					
					<div class="mdl-tooltip" for="btnOcultarNaHome#{rowId}">OCULTAR NA PÁGINA INICIAL</div>

				</h:panelGroup>

				<h:panelGroup rendered="#{bean.getNaoMostrarNaHome()}">

					<p:remoteCommand name="exibirNaHome#{rowId}"
						actionListener="#{eventoControlador.exibirOcultarNaHome(bean)}"
						update=":listagem :modalAlerta" />

					<button id="btnExibirNaHome#{rowId}"
						onclick="confirmar('Deseja EXIBIR este evento/curso na página inicial?', exibirNaHome#{rowId});return false;"
						class="mdl-button mdl-js-button mdl-button--icon">
							
						<i class="material-icons">visibility_off</i><span class="visuallyhidden">EXIBIR NA PÁGINA INICIAL</span>

					</button>
					
					<div class="mdl-tooltip" for="btnExibirNaHome#{rowId}">EXIBIR NA PÁGINA INICIAL</div>

				</h:panelGroup>

				<h:panelGroup rendered="#{eventoControlador.verificaDisponibilizarCertificado(rowId)}">

					<span> <p:remoteCommand
							name="disponibilizarCertificado#{rowId}"
							actionListener="#{eventoControlador.disponibilizarCertificado(bean)}"
							update=":listagem :modalAlerta" />

						<button id="btnDisponibilizarCertificado#{rowId}"
							onclick="confirmar('Confirma a geração e disponibilização de certificados para esse curso? Essa operação irá gerar no gerenciador eletrônico de documentos do TCMGO todos os certificados e declarações de instrutores do evento e pode demorar alguns minutos.', disponibilizarCertificado#{rowId});return false;"
							class="mdl-button mdl-js-button mdl-button--icon">

							<i class="material-icons">lock_outline</i><span class="visuallyhidden">GERAR E DISPONIBILIZAR CERTIFICADOS</span>

						</button>

						<div class="mdl-tooltip" for="btnDisponibilizarCertificado#{rowId}">GERAR E DISPONIBILIZAR CERTIFICADOS</div>

					</span>

				</h:panelGroup>

				<h:panelGroup rendered="#{eventoControlador.verificaCancelarCertificado(rowId)}">

					<span> <p:remoteCommand name="cancelarCertificado#{rowId}"
							actionListener="#{eventoControlador.cancelarCertificado(bean)}"
							update=":listagem :modalAlerta" />

						<button id="btnDisponibilizarCertificado#{rowId}"
							onclick="confirmar('Confirma o cancelamento de emissão de certificados para esse curso?', cancelarCertificado#{rowId});return false;"
							class="mdl-button mdl-js-button mdl-button--icon">

							<i class="material-icons">lock_open</i><span class="visuallyhidden">CANCELAR EMISSÃO DE CERTIFICADO</span> 

						</button>

						<div class="mdl-tooltip" for="btnDisponibilizarCertificado#{rowId}">CANCELAR EMISSÃO DE CERTIFICADO</div>

					</span>

				</h:panelGroup>

				<span> <p:remoteCommand name="openMaterial#{rowId}"
						actionListener="#{materialControlador.selecionarEvento(bean, 'false')}"
						update=":modalMaterial" />

					<button type="button" id="btnMaterial#{rowId}"
						onclick="openMaterial#{rowId}()"
						class="mdl-button mdl-js-button mdl-button--icon">

						<i class="material-icons">library_books</i> <span class="visuallyhidden">MATERIAL DIDÁTICO / DIVULGAÇÃO</span>

					</button>

					<div class="mdl-tooltip" for="btnMaterial#{rowId}">MATERIAL DIDÁTICO / DIVULGAÇÃO</div>

				</span>
				
				<span> <p:remoteCommand name="openArquivoAdministrativo#{rowId}"
						actionListener="#{arquivoAdministrativoControlador.selecionarEvento(bean, 'false')}"
						update=":modalArquivoAdministrativo" />

					<button type="button" id="btnArquivoAdministrativo#{rowId}"
						onclick="openArquivoAdministrativo#{rowId}()"
						class="mdl-button mdl-js-button mdl-button--icon">

						<i class="material-icons">folder_special</i> <span class="visuallyhidden">ARQUIVOS ADMINISTRATIVOS</span>

					</button>

					<div class="mdl-tooltip" for="btnArquivoAdministrativo#{rowId}">ARQUIVOS ADMINISTRATIVOS</div>

				</span>
				
					<mdl:btn-icon update=":tituloSistema :conteudoPrincipal :modalAlerta"
					action="#{notaControlador.selecionarEvento(bean)}"
					icon="spellcheck" toolTip="NOTAS"/>
					
					<mdl:btn-icon update=":tituloSistema :conteudoPrincipal :modalAlerta"
					action="#{frequenciaControlador.selecionarEvento(bean)}"
					icon="access_time" toolTip="FREQUÊNCIAS"/>
				
				<span> <p:remoteCommand name="openGasto#{rowId}"
						oncomplete="openModal('modalGasto')"
						actionListener="#{gastoControlador.selecionarEvento(bean)}"
						update=":modalGasto" />

					<button type="button" id="btnGasto#{rowId}"
						onclick="openGasto#{rowId}()"
						class="mdl-button mdl-js-button mdl-button--icon">

						<i class="material-icons">attach_money</i> <span class="visuallyhidden">GASTOS</span>

					</button>

					<div class="mdl-tooltip" for="btnGasto#{rowId}">GASTOS</div>

				</span>
				<span> <p:remoteCommand name="openModulo#{rowId}"
						oncomplete="openModal('modalModulo')"
						actionListener="#{moduloControlador.selecionarEvento(bean)}"
						update=":modalModulo" />

					<button type="button" id="btnModulo#{rowId}"
						onclick="openModulo#{rowId}()"
						class="mdl-button mdl-js-button mdl-button--icon">

						<i class="material-icons">dashboard</i> <span class="visuallyhidden">MÓDULOS</span>

					</button>

					<div class="mdl-tooltip" for="btnModulo#{rowId}">MÓDULOS</div>

				</span>

				<mdl:btn-icon update=":tituloSistema :conteudoPrincipal"
					action="#{eventoControlador.acaoAbrirTela(bean, 'true')}"
					icon="search" toolTip="VISUALIZAR" />

				<mdl:btn-icon update=":tituloSistema :conteudoPrincipal"
					action="#{eventoControlador.acaoAbrirTela(bean, 'false')}"
					icon="create" toolTip="EDITAR"/>

				<span> 				 
						
				<p:remoteCommand name="openConfirmacaoRemocao#{rowId}"
					oncomplete="openModal('modalConfirmacaoRemocaoEvento')"
					actionListener="#{loginControlador.prepararRemocaoEvento(bean)}"
					update=":modalConfirmacaoRemocaoEvento" />

				<button type="button"  id="btnExcluir#{rowId}" 
					onclick="openConfirmacaoRemocao#{rowId}()"
					class="mdl-button mdl-js-button mdl-button--icon" 
					title="EXCLUIR">

					<i class="material-icons">delete</i> <span class="visuallyhidden">EXCLUIR</span>

				</button>

				<div class="mdl-tooltip" for="btnExcluir#{rowId}">EXCLUIR</div>

				</span>
			</p:column>

		</p:dataTable>

	</div>
	
	<p:remoteCommand name="openModalMaterial" update="modalMaterial" oncomplete="openModal('modalMaterial')"></p:remoteCommand>
	<p:remoteCommand name="openModalArquivoAdministrativo" update="modalArquivoAdministrativo" oncomplete="openModal('modalArquivoAdministrativo')"></p:remoteCommand>

</h:form>

<ui:include src="/paginas/evento/dialog-modulo.xhtml"></ui:include>

<ui:include src="/paginas/evento/dialog-gasto.xhtml"></ui:include>

<ui:include src="/paginas/evento/dialog-frequencias.xhtml"></ui:include>

<ui:include src="/paginas/evento/dialog-nota.xhtml"></ui:include>

<ui:include src="/paginas/evento/dialog-material.xhtml"></ui:include>

<ui:include src="/paginas/evento/dialog-arquivo-administrativo.xhtml"></ui:include>

<ui:include src="/paginas/evento/dialog-confirmacao-exclusao.xhtml"></ui:include>

</html>
