<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:form prependId="false" id="formEventoList">

	<div class="mdl-grid bottom">

		<div class="mdl-tooltip mdl-tooltip--large" for="btnAddIndicacao">Realizar
			Indicação</div>

		<p:commandLink id="btnAddIndicacao" update=":modalIndicacaoEvento"
			oncomplete="openModal('modalIndicacaoEvento')"
			actionListener="#{indicacaoControlador.novaIndicacao()}"
			styleClass="ouvidoria-btn-add mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-fab-left mdl-shadow--8dp mdl-button--colored"
			title="Realizar Indicação">
			<i class="material-icons">add</i>
		</p:commandLink>

	</div>

	<div class="mdl-grid">

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
			style="padding: 0; margin-left: auto;">

			<label for="nome" title="Buscar"  style="texto-buscar"> 
				Buscar:
			</label>

			<div style="width: 400px">

				<p:inputText styleClass="mdl-textfield__input"
					value="#{indicacaoControlador.lista.consulta}"
					alt="Insira seu parâmetro de pesquisa"
					title="Insira seu parâmetro de pesquisa"
					placeholder="Insira seu parâmetro de pesquisa" id="nome">

					<p:ajax event="keyup" update=":listagem" />

				</p:inputText>

			</div>

		</div>

		<p:dataTable id="listagem" lazy="true" paginator="true" rows="10"
			paginatorPosition="bottom" style="width:100%;"
			tableStyle="width:100%" emptyMessage="Nenhum registro encontrado."
			tableStyleClass="bordered responsive-table"
			value="#{indicacaoControlador.lista}" var="bean">

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="DATA CADASTRO" priority="1">

				<h:outputText value="#{bean.evento.dataCadastro}"
					title="DATA CADASTRO">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="NOME" priority="1">

				<span tabindex="0">#{bean.participante.pessoa.nome}</span>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="MATRÍCULA" priority="1">

				<span tabindex="0">#{bean.participante.matricula}</span>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="EVENTO" priority="1">

				<span tabindex="0">#{bean.evento.titulo}</span>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="CARGA HORÁRIA" priority="1">

				<h:outputText value="#{bean.evento.cargaHoraria}"
					title="CARGA HORÁRIA">
					<f:convertNumber pattern="#0h" />
				</h:outputText>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="PERÍODO" priority="1">

				<p:outputPanel id="datasPrevistas"
					rendered="#{bean.evento != null and eventoControlador.isMostrarPrevisao(bean.evento)}">
					Previsão -
					<h:outputText value="#{bean.evento.dataInicioPrevisto}"
						title="INÍCIO PERÍODO">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText> - <h:outputText value="#{bean.evento.dataFimPrevisto}"
						title="FINAL PERÍODO">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:outputPanel>

				<p:outputPanel id="datasRealizacao"
					rendered="#{bean.evento != null and !eventoControlador.isMostrarPrevisao(bean.evento)}">
					<h:outputText value="#{bean.evento.dataInicioRealizacao}"
						title="INÍCIO PERÍODO">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText> - <h:outputText value="#{bean.evento.dataFimRealizacao}"
						title="FINAL PERÍODO">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:outputPanel>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="AVALIAÇÃO" priority="1"
				style="width:100px;text-align:center">

				<p:outputPanel rendered="#{bean.aprovado == null}">
					<i id="btnAguardandoAvaliacao#{bean.id}" class="material-icons">query_builder</i>
					<div class="mdl-tooltip" for="btnAguardandoAvaliacao#{bean.id}">AGUARDANDO
						AVALIAÇÃO</div>
				</p:outputPanel>

				<p:outputPanel rendered="#{bean.aprovado != null}">

					<p:outputPanel rendered="#{bean.aprovado}">
						<i id="btnAprovada#{bean.id}" class="material-icons">check</i>
						<div class="mdl-tooltip" for="btnAprovada#{bean.id}">
							APROVADA EM
							<h:outputText value="#{bean.dataAvaliacao}"
								title="DATA DA APROVAÇÃO">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
							POR <br />
							<h:outputText value="#{bean.avaliador.pessoa.nome.toUpperCase()}"
								title="RESPONSÁVEL PELA APROVAÇÃO" />
						</div>
					</p:outputPanel>

					<p:outputPanel rendered="#{!bean.aprovado}">
						<i id="btnNaoAprovada#{bean.id}" class="material-icons">close</i>
						<div class="mdl-tooltip" for="btnNaoAprovada#{bean.id}">
							REPROVADA EM
							<h:outputText value="#{bean.dataAvaliacao}"
								title="DATA DA REPROVAÇÃO">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
							POR <br />
							<h:outputText value="#{bean.avaliador.pessoa.nome.toUpperCase()}"
								title="RESPONSÁVEL PELA REPROVAÇÃO" />
						</div>
					</p:outputPanel>

				</p:outputPanel>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="AÇÕES" priority="1"
				style="width:120px;text-align:center">

				<p:remoteCommand name="exibirJustificativa#{bean.id}"
					process="@this" oncomplete="openModal('modalJustificativa')"
					actionListener="#{indicacaoControlador.exibirJustificativa(bean)}"
					update=":listagem" />

				<button type="button" id="btnJustificativa#{bean.id}"
					onclick="exibirJustificativa#{bean.id}()"
					class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">note</i>
				</button>

				<div class="mdl-tooltip" for="btnJustificativa#{bean.id}">VER
					JUSTIFICATIVA</div>

				<h:panelGroup
					rendered="#{avaliacaoEficaciaControlador.isMostrarOpcaoAvaliacaoEficacia(bean)}">

					<p:remoteCommand name="avaliarEficacia#{bean.id}" process="@this"
						oncomplete="openModal('modalAvaliacaoEficacia')"
						actionListener="#{avaliacaoEficaciaControlador.exibirAvaliacaoEficacia(bean)}"
						update=":listagem" />

					<button type="button" id="btnAvaliarEficacia#{bean.id}"
						onclick="avaliarEficacia#{bean.id}()"
						class="mdl-button mdl-js-button mdl-button--icon">
						<i class="material-icons">check_circle</i>
					</button>

					<div class="mdl-tooltip" for="btnAvaliarEficacia#{bean.id}">AVALIAR
						EFICÁCIA</div>

				</h:panelGroup>

				<p:remoteCommand name="excluir#{bean.id}" process="@this"
					actionListener="#{indicacaoControlador.acaoExcluir(bean)}"
					update=":listagem :modalAlerta" />

				<button type="button" id="btnExcluir#{bean.id}"
					onclick="confirmar('Confirma a exclusão da indicacação de #{bean.participante.pessoa.nome} para o evento #{bean.evento.titulo}?', excluir#{bean.id});return false;"
					class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">delete</i>
				</button>

				<div class="mdl-tooltip" for="btnExcluir#{bean.id}">EXCLUIR</div>

			</p:column>

		</p:dataTable>

	</div>

	<ui:include src="/paginas/evento/dialog-indicacao-evento.xhtml"></ui:include>
	<ui:include src="/paginas/evento/dialog-justificativa.xhtml"></ui:include>
	<ui:include src="/paginas/evento/dialog-avaliacao-eficacia.xhtml"></ui:include>

</h:form>

</html>
