<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel styleClass="mdl-grid"
	rendered="#{!meusEventosControlador.verificaParticipante()}">
	<p:outputPanel styleClass="card-panel red lighten-3 centralizar">
		<p:commandLink styleClass="red-text text-lighten-5"
			value="Prezado(a), #{meusEventosControlador.usuarioLogado.pessoa.nome}, é necessário que você complemente informações do seu cadastro para prosseguir no sistema Sophos. Clique aqui para fazê-lo."
			update=":conteudoPrincipal :tituloSistema"
			actionListener="#{navegacaoControlador.acaoAbrirTela('PARTICIPANTES_MEU_CADASTRO')}"></p:commandLink>
	</p:outputPanel>
</p:outputPanel>

<h:form prependId="false" id="formEventoList"
	rendered="#{meusEventosControlador.verificaParticipante()}">

	<div class="mdl-grid bottom">

		<mdl:btn-back />

	</div>

	<div class="mdl-grid">

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
			style="padding: 0; margin-left: auto;">

			<label for="nome" title="Buscar" style=""> Buscar: </label>

			<div style="width: 400px">

				<p:inputText styleClass="mdl-textfield__input"
					value="#{meusEventosControlador.lista.consulta}"
					placeholder="Insira seu parâmetro de pesquisa" id="nome"
					alt="Insira seu parâmetro de pesquisa"
					title="Insira seu parâmetro de pesquisa">

					<p:ajax event="keyup" update=":listagem" />

				</p:inputText>

			</div>

		</div>


		<p:dataTable id="listagem" lazy="true" paginator="true" rows="10"
			paginatorPosition="bottom" style="width:100%;"
			tableStyle="width:100%" rowIndexVar="rowIdEvento"
			emptyMessage="Nenhum registro encontrado."
			tableStyleClass="bordered responsive-table"
			value="#{meusEventosControlador.lista}" var="bean">

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="EVENTO" priority="1">

				<h:outputText value="#{bean.evento.titulo}" title="TÍTULO" />
				
			</p:column>
			
			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="PERÍODO" priority="1">

				<h:panelGroup rendered="#{bean.evento.dataInicioRealizacao != null}">
					<h:outputText value="#{bean.evento.dataInicioRealizacao}"
						title="INÍCIO REALIZAÇÃO"></h:outputText> - <h:outputText
						value="#{bean.evento.dataFimRealizacao}" title="FIM REALIZAÇÃO"></h:outputText>
				</h:panelGroup>

				<h:panelGroup rendered="#{bean.evento.dataInicioRealizacao == null}">
						Previsão - <h:outputText value="#{bean.evento.dataInicioPrevisto}"
						title="INÍCIO PREVISTO"></h:outputText> - <h:outputText
						value="#{bean.evento.dataFimPrevisto}" title="FIM PREVISTO"></h:outputText>
				</h:panelGroup>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="CARGA HORÁRIA" priority="1">

				<h:outputText value="#{bean.evento.cargaHoraria}"
					title="CARGA HORÁRIA">
					<f:convertNumber pattern="#0h" />
				</h:outputText>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="MODALIDADE" priority="1">

				<h:outputText value="#{bean.evento.modalidade.descricao}"
					title="MODALIDADE"></h:outputText>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="SITUAÇÃO" priority="1">

				<p:outputPanel rendered="#{!bean.avaliado}">
					<i id="btnNaoAvaliado#{rowIdEvento}" class="material-icons">query_builder</i>
					<div class="mdl-tooltip" for="btnNaoAvaliado#{rowIdEvento}">AGUARDANDO
						AVALIAÇÃO</div>
				</p:outputPanel>

				<p:outputPanel rendered="#{bean.avaliado and bean.aprovado}">
					<i id="btnAprovado#{rowIdEvento}" class="material-icons">check</i>
					<div class="mdl-tooltip" for="btnAprovado#{rowIdEvento}">APROVADO</div>
				</p:outputPanel>

				<p:outputPanel rendered="#{bean.avaliado and !bean.aprovado}">
					<i id="btnReprovado#{rowIdEvento}" class="material-icons">close</i>
					<div class="mdl-tooltip" for="btnReprovado#{rowIdEvento}">REPROVADO</div>
				</p:outputPanel>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="AÇÕES" priority="1" style="width:180px;">

				<h:panelGroup
						rendered="#{inscricaoControlador.verificaPermissaoComprovanteInscricao(bean.inscricao)}">

					<h:commandLink id="btnBaixarComprovanteInscricao#{rowIdEvento}"
								   action="#{inscricaoControlador.baixarCartaoParticipante(bean.inscricao)}"
								   class="mdl-button mdl-js-button mdl-button--icon">

						<h:graphicImage name="imagens/qr-code-icon.png" height="22" width="22" style="margin-top: 4px;"/>

					</h:commandLink>

					<div class="mdl-tooltip" for="listagem:#{rowIdEvento}:btnBaixarComprovanteInscricao">CARTÃO DO PARTICIPANTE</div>

				</h:panelGroup>

				<h:panelGroup rendered="#{bean.avaliado}">

					<p:commandLink id="btnDesempenho" title="DESEMPENHO"
						styleClass="mdl-button mdl-js-button mdl-button--icon"
						ajax="false" style="color: #4f4f4f !important;" process="@this"
						immediate="true"
						action="#{meusEventosControlador.carregarDesempenhoUsuarioLogado(bean.evento)}">

						<i class="material-icons">functions</i>

					</p:commandLink>	

					<h:panelGroup rendered="#{bean.aprovado and bean.evento.permiteCertificado and (meusEventosControlador.isJaTemCertificado(bean))}">
					
						<p:commandLink
						target="_blank" ajax="false" process="@this" immediate="true"
						id="btnCertificadoJaSalvo" title="CERTIFICADO"
						styleClass="mdl-button mdl-js-button mdl-button--icon"
						style="color: #4f4f4f !important;"
						action="#{meusEventosControlador.imprimirCertificado(bean, false)}">

						<i class="material-icons">beenhere</i>

						</p:commandLink>
					
					</h:panelGroup>
					
					<h:panelGroup rendered="#{bean.aprovado and bean.evento.permiteCertificado and (!meusEventosControlador.isJaTemCertificado(bean))}">
					
						<p:commandLink
						target="_blank" ajax="false" process="@this" immediate="true"
						id="btnCertificadoNovo" title="CERTIFICADO"
						styleClass="mdl-button mdl-js-button mdl-button--icon"
						style="color: #4f4f4f !important;"
						action="#{meusEventosControlador.imprimirCertificado(bean, true)}">

						<i class="material-icons">beenhere</i>

						</p:commandLink>
					
					</h:panelGroup>

				</h:panelGroup>

				<p:commandLink id="btnMaterial"
					title="MATERIAL DIDÁTICO / DIVULGAÇÃO"
					styleClass="mdl-button mdl-js-button mdl-button--icon"
					process="@this" immediate="true" style="color: #4f4f4f !important;"
					ajax="false"
					actionListener="#{materialControlador.selecionarEvento(bean.evento, 'true')}">

					<i class="material-icons">library_books</i>

				</p:commandLink>

				<p:commandLink title="VISUALIZAR"
					styleClass="mdl-button mdl-js-button mdl-button--icon"
					immediate="true" process="@this" style="color: #4f4f4f !important;"
					ajax="false"
					action="#{visualizarEventoControlador.selecionarEvento(bean.evento.id)}">

					<i class="material-icons">search</i>

				</p:commandLink>

				<p:commandLink title="ACESSAR O CURSO"
					styleClass="mdl-button mdl-js-button mdl-button--icon"
					immediate="true" process="@this" style="color: #4f4f4f !important;"
					ajax="false"
					action="#{visualizarEventoControlador.linkParaEvento(bean.evento.id)}">

					<i class="material-icons">desktop_windows</i>

				</p:commandLink>

				<h:panelGroup
					rendered="#{inscricaoControlador.verificaPermissaoExcluir(bean.inscricao)}">

					<p:remoteCommand name="excluir#{rowIdEvento}" process="@this"
						actionListener="#{inscricaoControlador.acaoExcluir(bean.inscricao)}"
						update=":listagem :modalAlerta" />

					<button type="button" id="btnExcluir#{rowIdEvento}"
						onclick="confirmar('Confirma o CANCELAMENTO de sua inscrição para o evento?', excluir#{rowIdEvento});return false;"
						class="mdl-button mdl-js-button mdl-button--icon">
						<i class="material-icons">delete</i>
					</button>

					<div class="mdl-tooltip" for="btnExcluir#{rowIdEvento}">EXCLUIR</div>

				</h:panelGroup>

			</p:column>

		</p:dataTable>

	</div>
	
	<div class="mdl-grid">
	
		<div class="input-field mdl-cell mdl-cell--12-col">
		
			<div style="text-align: center">
				<div style="padding: 15px 5px 15px 5px;">
			
					<div class="chip">
						
						Carga horária total presencial:
						<h:outputText value="#{meusEventosControlador.cargaHorariaPresencial}"
						title="Carga horária total presencial:">
							<f:convertNumber pattern="#0h" />
						</h:outputText>
				
					</div>
					
					<div class="chip">
						
						Carga horária total semi-presencial:
						<h:outputText value="#{meusEventosControlador.cargaHorariaSemiPresencial}"
						title="Carga horária total semi-presencial:">
							<f:convertNumber pattern="#0h" />
						</h:outputText>
				
					</div>
					
					<div class="chip">
						
						Carga horária total EAD:
						<h:outputText value="#{meusEventosControlador.cargaHorariaEad}"
						title="Carga horária total EAD:">
							<f:convertNumber pattern="#0h" />
						</h:outputText>
				
					</div>
					
					<div class="chip">
						
						Carga horária total de todas modalidades:
						<h:outputText value="#{meusEventosControlador.cargaHorariaTotal}"
						title="Carga horária total de todas modalidades:">
							<f:convertNumber pattern="#0h" />
						</h:outputText>
				
					</div>
			
				</div>
			</div>
			
		</div>
		
		<div class="input-field mdl-cell mdl-cell--12-col" style="margin-top: -18px">
		
			<div style="text-align: center">
				
				<div class="chip">
					Obs: As cargas horárias totais acima referem-se a todos eventos do participante que estejam com situação de aprovação.
				</div>
				
			</div>
		
		</div>
	
	</div>

	<p:remoteCommand name="openModalMaterial" update="modalMaterial"
		oncomplete="openModal('modalMaterial')">
		<f:setPropertyActionListener 
			target="#{materialControlador.visualizar}" value="true"></f:setPropertyActionListener>
	</p:remoteCommand>

	<ui:include src="/paginas/evento/dialog-evento.xhtml"></ui:include>

	<ui:include src="/paginas/evento/dialog-desempenho.xhtml"></ui:include>
	
<!-- 	<ui:include src="/paginas/evento/dialog-confirmacao-imprimir-certificado.xhtml"></ui:include> -->

</h:form>

<ui:include src="/paginas/evento/dialog-material.xhtml"></ui:include>

</html>
