<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel styleClass="mdl-grid"
	rendered="#{!minhasAvaliacoesControlador.verificaParticipante()}">
	<p:outputPanel styleClass="card-panel red lighten-3 centralizar">
		<p:commandLink styleClass="red-text text-lighten-5"
			value="Prezado(a), #{meusEventosControlador.usuarioLogado.pessoa.nome}, é necessário que você complemente informações do seu cadastro para prosseguir no sistema Sophos. Clique aqui para fazê-lo."
			update=":conteudoPrincipal :tituloSistema"
			actionListener="#{navegacaoControlador.acaoAbrirTela('PARTICIPANTES_MEU_CADASTRO')}"></p:commandLink>
	</p:outputPanel>
</p:outputPanel>

<h:form prependId="false" id="formEventoList"
	rendered="#{minhasAvaliacoesControlador.verificaParticipante()}">

	<div class="mdl-grid bottom">

		<mdl:btn-back />

	</div>

	<div class="mdl-grid">

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
			style="padding: 0; margin-left: auto;">

			<label for="nome" title="Buscar"  style="texto-buscar"> 
				Buscar:
			</label>

			<div style="width: 400px">

				<p:inputText styleClass="mdl-textfield__input"
					value="#{minhasAvaliacoesControlador.lista.consulta}"
					placeholder="Insira seu parâmetro de pesquisa" id="nome"
					alt="Insira seu parâmetro de pesquisa"
					title="Insira seu parâmetro de pesquisa">

					<p:ajax event="keyup"
						update=":listagemNaoRealizadas :listagemRealizadas" />

				</p:inputText>

			</div>

		</div>

		<div class="mdl-cell mdl-cell--12-col">
			<div class="section">
				<h5 class="text-uppercase titulo-section">NÃO REALIZADAS</h5>

				<p:dataTable id="listagemNaoRealizadas" paginator="true" rows="10"
					paginatorPosition="bottom" style="width:100%;"
					tableStyle="width:100%" rowIndexVar="rowIdAvaliar"
					emptyMessage="Nenhum registro encontrado."
					tableStyleClass="bordered responsive-table"
					value="#{minhasAvaliacoesControlador.listaNaoRealizadas()}"
					var="bean">

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="EVENTO" priority="1">

						<h:outputText value="#{bean.evento.titulo}" title="TÍTULO" />(<h:outputText
							value="#{bean.evento.dataInicioPrevisto}" title="INÍCIO PREVISTO">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText> a <h:outputText value="#{bean.evento.dataFimPrevisto}"
							title="FIM PREVISTO">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>)
						
						</p:column>

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="MÓDULO" priority="1">

						<h:outputText value="#{bean.titulo}" title="MÓDULO"></h:outputText>

					</p:column>

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="AÇÕES" priority="1">

						<p:outputPanel rendered="#{minhasAvaliacoesControlador.verificaPermissaoAvaliar(bean)}">
							<span> <p:remoteCommand name="openAvaliacao#{rowIdAvaliar}"
									oncomplete="openModal('modalAvaliacao')"
									actionListener="#{minhasAvaliacoesControlador.selecionarModulo(bean)}"
									update=":modalAvaliacao" />
	
								<button type="button" id="btnAvaliacao#{rowIdAvaliar}"
									onclick="openAvaliacao#{rowIdAvaliar}()"
									class="mdl-button mdl-js-button mdl-button--icon">
	
									<i class="material-icons">playlist_add_check</i>
	
								</button>
	
								<div class="mdl-tooltip" for="btnAvaliacao#{rowIdAvaliar}">AVALIAR</div>
	
							</span>
						</p:outputPanel>

					</p:column>

				</p:dataTable>

			</div>
			<div class="section">
				<h5 class="text-uppercase titulo-section">REALIZADAS</h5>

				<p:dataTable id="listagemRealizadas" lazy="true" paginator="true"
					rows="10" paginatorPosition="bottom" style="width:100%;"
					tableStyle="width:100%" emptyMessage="Nenhum registro encontrado."
					tableStyleClass="bordered responsive-table"
					value="#{minhasAvaliacoesControlador.lista}" var="bean">

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="EVENTO" priority="1">

						<h:outputText value="#{bean.modulo.evento.titulo}" title="EVENTO" />

					</p:column>

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="MÓDULO" priority="1">

						<h:outputText value="#{bean.modulo.titulo}" title="MÓDULO"></h:outputText>

					</p:column>

					<p:column styleClass="mdl-data-table__cell--non-numeric"
						headerText="AÇÕES" priority="1">

						<span> <p:remoteCommand name="visualizar#{bean.id}"
								oncomplete="openModal('modalAvaliacao')"
								actionListener="#{minhasAvaliacoesControlador.selecionarAvaliacao(bean)}"
								update=":modalAvaliacao" />

							<button type="button" id="btnvisualizar#{bean.id}"
								onclick="visualizar#{bean.id}()"
								class="mdl-button mdl-js-button mdl-button--icon">

								<i class="material-icons">search</i>

							</button>

							<div class="mdl-tooltip" for="btnvisualizar#{bean.id}">VISUALIZAR</div>

						</span>
					</p:column>
				</p:dataTable>
			</div>
		</div>


	</div>

</h:form>

<ui:include src="/paginas/evento/dialog-avaliacao.xhtml"></ui:include>


</html>
