<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:outputPanel styleClass="mdl-grid"
	rendered="#{!inscricaoControlador.verificaParticipante()}">
	<p:outputPanel styleClass="card-panel red lighten-3 centralizar">
		<p:commandLink styleClass="red-text text-lighten-5"
			value="Prezado(a), #{meusEventosControlador.usuarioLogado.pessoa.nome}, é necessário que você complemente informações do seu cadastro para prosseguir no sistema Sophos. Clique aqui para fazê-lo."
			update=":conteudoPrincipal :tituloSistema"
			actionListener="#{navegacaoControlador.acaoAbrirTela('PARTICIPANTES_MEU_CADASTRO')}"></p:commandLink>
	</p:outputPanel>
</p:outputPanel>

<h:form prependId="false" id="formEventoList"
	rendered="#{inscricaoControlador.verificaParticipante()}">

	<div class="mdl-grid bottom">

		<mdl:btn-back />

	</div>

	<div class="mdl-grid">

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
			style="padding: 0; margin-left: auto;">

			<label for="nome" title="Buscar"  style="texto-buscar"> 
				Buscar:
			</label>

			<div style="width: 400px">

				<p:inputText styleClass="mdl-textfield__input"
					value="#{inscricaoControlador.lista.consulta}"
					placeholder="Insira seu parâmetro de pesquisa" id="nome"
					alt="Insira seu parâmetro de pesquisa"
					title="Insira seu parâmetro de pesquisa">

					<p:ajax event="keyup" update=":listagem" />

				</p:inputText>

			</div>

		</div>

		<p:dataTable id="listagem" lazy="true" paginator="true" rows="10"
			paginatorPosition="bottom" style="width:100%;"
			tableStyle="width:100%" emptyMessage="Nenhum registro encontrado."
			tableStyleClass="bordered responsive-table" rowIndexVar="rowIdEvento"
			value="#{inscricaoControlador.lista}" var="bean">

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="EVENTO" priority="1">

				<h:outputText value="#{bean.evento.titulo}" title="EVENTO" />

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="PERÍODO" priority="1">

				<h:panelGroup rendered="#{bean.evento.dataInicioRealizacao != null}">
					<h:outputText value="#{bean.evento.dataInicioRealizacao}"
						title="INÍCIO REALIZAÇÃO"></h:outputText> - <h:outputText
						value="#{bean.evento.dataFimRealizacao}" title="FIM REALIZAÇÃO"></h:outputText>
				</h:panelGroup>

				<h:panelGroup rendered="#{bean.evento.dataInicioRealizacao == null}">
						Previsão - <h:outputText value="#{bean.evento.dataInicioPrevisto}"
						title="INÍCIO PREVISTO"></h:outputText> - <h:outputText
						value="#{bean.evento.dataFimPrevisto}" title="FIM PREVITO"></h:outputText>
				</h:panelGroup>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="LOCAL" priority="1">

				<h:outputText value="#{bean.evento.localizacao.descricao}"
					title="DESCRIÇÃO"></h:outputText>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="MODALIDADE" priority="1">

				<h:outputText value="#{bean.evento.modalidade.descricao}"
					title="MODALIDADE"></h:outputText>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="DATA INSCRIÇÃO" priority="1">

				<h:outputText value="#{bean.dataCadastro}" title="DATA INSCRIÇÃO">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="SITUAÇÃO" priority="1"
				style="width:100px;text-align:center">

				<p:outputPanel rendered="#{bean.autorizada == null}">
					<i id="btnAguardandoAvaliacao#{bean.id}" class="material-icons">query_builder</i>
					<div class="mdl-tooltip" for="btnAguardandoAvaliacao#{bean.id}">AGUARDANDO
						AVALIAÇÃO</div>
				</p:outputPanel>

				<p:outputPanel rendered="#{bean.autorizada != null}">

					<p:outputPanel rendered="#{bean.autorizada}">

						<p:outputPanel
							rendered="#{bean.dataAvaliacaoPreInscricao != null}">
							<i id="btnAprovada#{bean.id}" class="material-icons">check</i>
							<div class="mdl-tooltip" for="btnAprovada#{bean.id}">
								AUTORIZADA EM
								<h:outputText value="#{bean.dataAvaliacaoPreInscricao}"
									title="DATA DA APROVAÇÃO">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								POR <br />
								<h:outputText
									value="#{bean.avaliador.pessoa.nome.toUpperCase()}"
									title="RESPONSÁVEL PELA APROVAÇÃO" />
							</div>
						</p:outputPanel>

						<p:outputPanel
							rendered="#{bean.dataAvaliacaoPreInscricao == null}">
							<i id="btnAprovadaSemDados#{bean.id}" class="material-icons">check</i>
							<div class="mdl-tooltip" for="btnAprovadaSemDados#{bean.id}">AUTORIZADA</div>
						</p:outputPanel>

					</p:outputPanel>

					<p:outputPanel rendered="#{!bean.autorizada}">

						<p:outputPanel
							rendered="#{bean.dataAvaliacaoPreInscricao != null}">
							<i id="btnNaoAprovada#{bean.id}" class="material-icons">close</i>
							<div class="mdl-tooltip" for="btnNaoAprovada#{bean.id}">
								NEGADA EM
								<h:outputText value="#{bean.dataAvaliacaoPreInscricao}"
									title="DATA DA REPROVAÇÃO">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								POR <br />
								<h:outputText
									value="#{bean.avaliador.pessoa.nome.toUpperCase()}"
									title="RESPONSÁVEL PELA REPROVAÇÃO" />
							</div>
						</p:outputPanel>

						<p:outputPanel
							rendered="#{bean.dataAvaliacaoPreInscricao == null}">
							<i id="btnNaoAprovadaSemDados#{bean.id}" class="material-icons">close</i>
							<div class="mdl-tooltip" for="btnNaoAprovadaSemDados#{bean.id}">NEGADA</div>
						</p:outputPanel>

					</p:outputPanel>

				</p:outputPanel>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="AÇÕES" priority="1" style="width:180px;">

				<h:panelGroup
						rendered="#{inscricaoControlador.verificaPermissaoComprovanteInscricao(bean)}">

					<h:commandLink id="btnBaixarComprovanteInscricao#{rowIdEvento}"
									 action="#{inscricaoControlador.baixarCartaoParticipante(bean)}"
									 class="mdl-button mdl-js-button mdl-button--icon">

                        <h:graphicImage name="imagens/qr-code-icon.png" height="22" width="22" style="margin-top: 4px;"/>

					</h:commandLink>

					<div class="mdl-tooltip" for="listagem:#{rowIdEvento}:btnBaixarComprovanteInscricao">CARTÃO DO PARTICIPANTE</div>

				</h:panelGroup>

				<h:panelGroup
					rendered="#{inscricaoControlador.verificaPermissaoExcluir(bean)}">

					<p:remoteCommand name="excluir#{rowIdEvento}"
						actionListener="#{inscricaoControlador.acaoExcluir(bean)}"
						update=":listagem" />

					<button id="btnExcluir#{rowIdEvento}"
						onclick="confirmar('Confirma o CANCELAMENTO do pedido de inscrição para o evento #{bean.evento.titulo}?', excluir#{rowIdEvento});return false;"
						class="mdl-button mdl-js-button mdl-button--icon">

						<i class="material-icons">delete</i>

					</button>

					<div class="mdl-tooltip" for="btnExcluir#{rowIdEvento}">EXCLUIR</div>

				</h:panelGroup>

			</p:column>

		</p:dataTable>

	</div>

</h:form>

</html>
