<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	prependId="false"
	id="formEventoVisualizacao">
	
	<script type="text/javascript">
 
		var width = window.screen.width;
		jQuery('#widthSize').val(width);
		console.log(jQuery('#widthSize'));
		console.log(width);
 
	</script>

	<h:inputHidden id="widthSize"></h:inputHidden>
	
	<f:metadata>

		<f:event listener="#{visualizarEventoControlador.inicializarTela}" type="preRenderView" >
			<f:attribute name="widthSize" value="window.screen.width" />
		</f:event>

	</f:metadata>
		
	<c:if test="#{empty sessionScope['usuario.logado']}">
			
		<div class="texto-centralizado sophos-img-home">
			
			<img class="logo-home responsive-img" src="#{facesContext.externalContext.requestContextPath}/resources/imagens/sophos_logo_login.png" alt="LOGOTIPO DO SISTEMA SOPHOS"></img>
			
		</div>
		
	</c:if>
				
	<p:outputPanel styleClass="mdl-grid"  rendered="#{!visualizarEventoControlador.verificaParticipante()}">
		<p:outputPanel styleClass="card-panel red lighten-3 centralizar"> 
			<p:commandLink styleClass="red-text text-lighten-5" value="Prezado(a), #{meusEventosControlador.usuarioLogado.pessoa.nome}, é necessário que você complemente informações do seu cadastro para prosseguir no sistema Sophos. Clique aqui para fazê-lo." update=":conteudoPrincipal :tituloSistema" actionListener="#{navegacaoControlador.acaoAbrirTela('PARTICIPANTES_MEU_CADASTRO')}"></p:commandLink>
		</p:outputPanel>
	</p:outputPanel>
	
	<c:if test="#{sessionScope['usuario.logado'] != null and visualizarEventoControlador.verificaParticipante()}">
		
		<h3 class="texto-eventos-title" tabindex="1" title="Há #{visualizarEventoControlador.listaEvento.size()} evento(s) disponível(is).">Há #{visualizarEventoControlador.listaEvento.size()} evento(s) disponível(is).</h3>
		
		<f:metadata>
			<f:event listener="#{inscricaoControlador.preRenderView()}" type="preRenderView" />
		</f:metadata>
		
	</c:if>
	
	<p:outputPanel styleClass="mdl-grid #{sessionScope['usuario.logado'] == null ? 'margin-15' : ''}" rendered="#{visualizarEventoControlador.verificaParticipante()}">
		<div class="centralizar" style="width: 100%;">
			<div class="mdl-grid">
				<ui:repeat var="evento" value="#{visualizarEventoControlador.listaEvento}">
					<div class="mdl-cell card-evento #{sessionScope['usuario.logado'] == null ? 'mdl-cell--3-col-custom' : 'mdl-cell--3-col-card'}">
						<div class="card hover-card" tabindex="0">
							<div class="card-image waves-effect waves-block waves-light">
								<h:graphicImage value="/images/#{evento.id}" alt="Imagem ilustrativa do evento"/>			
							</div>
							<div class="card-content">
								<button type="button" class="card-title activator" tabindex="0" style="font-size: 14px !important; background: transparent; border: none;">#{evento.titulo}</button>
							</div>
							<div class="card-reveal">
						    	<span class="card-title card-reveal-title" tabindex="0" title="DETALHES DO CURSO">DETALHES DO CURSO<i class="material-icons right" title="FECHAR" tabindex="0" style="font-size: 20px;">close <span class="visuallyhidden">FECHAR</span></i></span>
						    	<div class="mdl-grid no-padding">
						    		<p class="evento-detalhe" tabindex="0" title="#{evento.titulo}">#{evento.titulo}</p>
									<div class="mdl-cell mdl-cell--12-col md-cell-evento">
										<p tabindex="0" title="Tipo do Evento: #{evento.tipoEvento.descricao}">Tipo do Evento: #{evento.tipoEvento.descricao}</p>
										<p tabindex="0" title="Modalidade: #{evento.modalidade.descricao}">Modalidade: #{evento.modalidade.descricao}</p>
										<p tabindex="0" title="Público Alvo: ">Público Alvo: <ui:repeat var="publico" value="#{evento.publicoAlvoList}" varStatus="status">
																									<h:outputText tabindex="0" value="#{publico.publicoAlvo.descricao}"/>
																									<h:outputText rendered="#{!status.last}" value=" - "/>
																								</ui:repeat></p>
										<p tabindex="0" title="Carga horária: #{evento.cargaHoraria}">Carga horária: #{evento.cargaHoraria}</p>
										<p tabindex="0" title="Data Início Pré-Inscrição: #{evento.dataInicioPreInscricao}">Data Início Pré-Inscrição: <h:outputText value="#{evento.dataInicioPreInscricao}"></h:outputText></p>
										<p tabindex="0" title="Data Fim Pré-Inscrição: #{evento.dataFimPreInscricao}">Data Fim Pré-Inscrição: <h:outputText value="#{evento.dataFimPreInscricao}"></h:outputText></p>
										<p tabindex="0" title="Data Início Realização: #{evento.dataInicioRealizacao}">Data Início Realização: <h:outputText value="#{evento.dataInicioRealizacao}"></h:outputText></p>
										<p tabindex="0" title="Data Fim Realização: #{evento.dataFimRealizacao}">Data Fim Realização: <h:outputText value="#{evento.dataFimRealizacao}"></h:outputText></p>
										<p tabindex="0" title="Local de Realização: #{evento.localizacao.endereco.cidade.descricao}">Local de Realização: <h:outputText value="#{evento.localizacao.endereco.cidade.descricao}"></h:outputText></p>
									</div>
								</div>
								<div class="mdl-grid no-padding">
									<div class="mdl-cell" style="margin: 5px 0px 0px 0px; width: calc(50% - 5px)">
										<p:remoteCommand name="redirecionarEvento" update=":conteudoPrincipal :tituloSistema" actionListener="#{navegacaoControlador.acaoAbrirTela('EVENTOS_DETALHE')}"></p:remoteCommand>
										<p:commandButton styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btnVisualizarEvento" style="width: 100%;"
											value="MAIS INFORMAÇÕES" update=":modalAlerta" oncomplete="redirecionarEvento()" actionListener="#{visualizarEventoControlador.selecionarEvento(evento)}" alt="FICHA COMPLETA" title="FICHA COMPLETA" />
									</div>
									
									<div class="mdl-cell" style="margin: 5px 0px 0px 0px; width: calc(50% - 5px)">
										<p:commandButton styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btnVisualizarEvento"
											style="width: 100%;" 
											value="Acesse" update=":modalAlerta" 
											alt="Acesse o curso" 
											title="Acesse o curso"
											ajax="false"
											action="#{visualizarEventoControlador.linkParaEvento(evento.id)}">
										</p:commandButton>
									</div>
									
									<div class="mdl-cell" style="margin: 5px 0px 0px 0px;; width: calc(50% - 5px)">
										<c:if test="#{not empty sessionScope['usuario.logado']}">
											<p:commandButton styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btnVisualizarEvento" style="width: 100%;" rendered="#{visualizarEventoControlador.verificaPermissaoInscricao(evento)}"
												value="INSCRIÇÃO" update="modalInscricao :modalAlerta" actionListener="#{inscricaoControlador.selecionarEvento(evento)}" oncomplete="deslizarCard();" alt="INSCRIÇÃO" title="INSCRIÇÃO"/>
										</c:if>
										<c:if test="#{empty sessionScope['usuario.logado']}">
											<p:commandButton styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btnVisualizarEvento" style="width: 100%;" rendered="#{visualizarEventoControlador.verificaPermissaoInscricao(evento)}"
												value="INSCRIÇÃO" update=":body" actionListener="#{inscricaoControlador.selecionarEventoSemLogin(evento)}" oncomplete="deslizarCard();" alt="INSCRIÇÃO" title="INSCRIÇÃO"/>
										</c:if>
									</div>
								</div>
						   	</div>
						</div>
					</div>
				</ui:repeat>
			</div>
		</div>
	</p:outputPanel>
	
	<ui:include src="/paginas/evento/dialog-inscricao.xhtml"></ui:include>
	
</h:form>