<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core" prependId="false"
	id="formDominio">

	<div class="mdl-grid bottom">

		<mdl:btn-back />

	</div>

	<div class="mdl-grid row">

		<div class="col s12">

			<div class="card-panel z-depth-2">

				<div class="row">

					<div class="input-field col s8">

						<p:inputText required="true"
							placeholder="Insira a pergunta do questionário"
							requiredMessage="Por favor, preencha o campo PERGUNTA"
							value="#{questionarioControlador.entidade.pergunta}"
							id="pergunta" maxlength="2000" alt="PERGUNTA" title="PERGUNTA" />

						<label for="nome" class="active">PERGUNTA:</label>

					</div>

					<div class="input-field col s4" style="padding-top: 30px;">

						<h:selectBooleanCheckbox id="paraInstrutor"
							value="#{questionarioControlador.entidade.paraInstrutor}"
							title="QUESTÃO PARA INSTRUTOR"></h:selectBooleanCheckbox>

						<label for="paraInstrutor" class="active">QUESTÃO PARA
							INSTRUTOR:</label>

					</div>

				</div>

				<p:outputPanel id="panelOpcao" styleClass="row">

					<div class="input-field col s8 centralizar">

						<p:inputText required="true"
							placeholder="Insira uma opção para o questionário"
							maxlength="100"
							requiredMessage="Por favor, preencha o campo OPÇÃO"
							value="#{questionarioControlador.opcao.descricao}" id="opcao"
							alt="OPÇÃO" title="OPÇÃO" />

						<label for="nome" class="active">OPÇÃO:</label>

					</div>

					<div class="input-field col s4 texto-centralizado">

						<p:commandButton id="btnAdicionarOpcao"
							update=":modalAlerta listagemOpcoes panelOpcao"
							process="@form:opcao @this"
							actionListener="#{questionarioControlador.adicionarOpcao}"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="ADICIONAR OPÇÃO" alt="ADICIONAR OPÇÃO"
							title="ADICIONAR OPÇÃO" />

					</div>

				</p:outputPanel>

				<div class="row">

					<div class="col s12">

						<p:dataTable paginatorAlwaysVisible="false" id="listagemOpcoes"
							reflow="true" paginator="true" rows="15"
							paginatorPosition="bottom" style="width:100%;"
							value="#{questionarioControlador.entidade.opcoes}"
							tableStyle="width:100%" emptyMessage="Nenhuma opção adicionada."
							tableStyleClass="mdl-data-table mdl-js-data-table" var="bean"
							rowIndexVar="index">

							<p:column styleClass="mdl-data-table__cell--non-numeric"
								headerText="OPÇÃO" priority="1">

								<h:outputText value="#{bean.descricao}" title="OPÇÃO" />

							</p:column>

							<p:column style="width:50px;"
								styleClass="mdl-data-table__cell--non-numeric"
								headerText="OPERAÇÃO">

								<mdl:btn-icon id="btnUp" rendered="#{index != 0}"
									update="@form:listagemOpcoes"
									action="#{questionarioControlador.paraCima(index)}"
									immediate="true" icon="keyboard_arrow_up" toolTip="PARA CIMA" />

								<p:spacer width="35.2031px" rendered="#{index == 0}" />

								<mdl:btn-icon id="btnDown"
									rendered="#{index != (questionarioControlador.entidade.opcoes.size() - 1)}"
									update="@form:listagemOpcoes"
									action="#{questionarioControlador.paraBaixo(index)}"
									immediate="true" icon="keyboard_arrow_down"
									toolTip="PARA BAIXO" />

								<p:spacer width="35.2031px"
									rendered="#{index == (questionarioControlador.entidade.opcoes.size() - 1)}" />

								<mdl:btn-icon id="btnRemoverOpcao" update="@form:listagemOpcoes"
									action="#{questionarioControlador.remover(bean)}"
									immediate="true" icon="close" toolTip="REMOVER OPÇÃO" />

							</p:column>

						</p:dataTable>

					</div>

				</div>

				<div class="row">

					<div class="col s12">

						<p:commandButton id="btnSalvar" update=":modalAlerta @form"
							process="@form:pergunta @form:paraInstrutor @this"
							actionListener="#{questionarioControlador.acaoInserir}"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="SALVAR" alt="SALVAR" title="SALVAR" />

					</div>

				</div>

			</div>

		</div>

	</div>

</h:form>