<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core" prependId="false"
	id="formDominioList">

	<div class="mdl-grid bottom">

		<p:remoteCommand name="acaoAbrirTelaCadastro"
			update=":conteudoPrincipal :tituloSistema"
			action="#{questionarioControlador.acaoAbrirTela(null, 'false')}" />

		<mdl:btn-add toolTip="Abrir Cadastro"
			onclick="acaoAbrirTelaCadastro();" />

	</div>

	<div class="mdl-grid">

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
			style="padding: 0; margin-left: auto;">

			<label for="nome" title="Buscar"  style="texto-buscar"> 
				Buscar:
			</label>

			<div style="width: 400px">

				<p:inputText styleClass="mdl-textfield__input"
					value="#{questionarioControlador.lista.consulta}"
					placeholder="Insira seu parâmetro de pesquisa"
					title="Insira seu parâmetro de pesquisa" id="nome">

					<p:ajax event="keyup" update=":listagem" />

				</p:inputText>

			</div>

		</div>

		<p:dataTable id="listagem" lazy="true" paginator="true" rows="10"
			paginatorPosition="bottom" style="width:100%;"
			tableStyle="width:100%" emptyMessage="Nenhum registro encontrado."
			tableStyleClass="bordered responsive-table"
			value="#{questionarioControlador.lista}" var="bean">

			<p:column
				styleClass="mdl-data-table__cell--non-numeric quebrar-texto"
				headerText="PERGUNTA" priority="1" tabindex="0">

				<span tabindex="0">#{bean.pergunta}</span>

			</p:column>

			<p:column
				styleClass="mdl-data-table__cell--non-numeric quebrar-texto"
				headerText="PARA INSTRUTOR" priority="1" tabindex="0"> 
				
				<span tabindex="0">#{bean.paraInstrutor ? 'SIM' : 'NÃO'}</span>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="AÇÕES" tabindex="0">

				<p:remoteCommand name="ativarQuestionario#{bean.id}"
					update=":modalAlerta @form"
					actionListener="#{questionarioControlador.acaoAtivarQuestionario(bean)}" />

				<h:selectBooleanCheckbox id="cbAtivo" value="#{bean.ativo}" title="Ativo?"
					onclick="confirmar('Deseja realmente #{bean.ativo ? 'desativar' : 'ativar'} esse questionário?', ativarQuestionario#{bean.id}); return false;" />

				<label for="#{questionarioControlador.clientId('cbAtivo')}">Ativo?</label>

				<p:spacer width="10px" />

				<mdl:btn-icon update=":tituloSistema :conteudoPrincipal"
					action="#{questionarioControlador.acaoAbrirTela(bean, 'false')}"
					immediate="true" icon="create" toolTip="EDITAR" />

				<p:remoteCommand
					update=":modalAlerta :conteudoPrincipal :modalAlerta"
					name="excluir_questionario_#{bean.id}"
					actionListener="#{questionarioControlador.acaoExcluir(bean)}"
					immediate="true" />

				<span>

					<button id="btnExcluirQuestionario_#{bean.id}"
						onclick="confirmar('Deseja realmente excluir o questionário?', excluir_questionario_#{bean.id}); return false;"
						class="mdl-button mdl-js-button mdl-button--icon">

						<i class="material-icons">delete</i> <span class="visuallyhidden">EXCLUIR QUESTIONÁRIO</span>

					</button>

					<div class="mdl-tooltip" for="btnExcluirQuestionario_#{bean.id}">EXCLUIR QUESTIONÁRIO</div>

				</span>

			</p:column>

		</p:dataTable>

	</div>

</h:form>