/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may notuse this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

td, th {
	padding: 8px 5px !important;
}

.demo-avatar {
	width: 48px;
	height: 48px;
	border-radius: 24px;
}

.demo-layout .demo-header .mdl-textfield {
	padding-top: 27px;
}

.mdl-layout__drawer .avatar {
	margin-bottom: 16px;
}

.demo-drawer {
	border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
	z-index: -1;
}

.demo-drawer .demo-navigation {
	z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.demo-drawer-header {
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	color: white;
	font-weight: bold;
}

.padding-menu {
	padding: 15px;
}

.menu-mudar-perfil {
	margin-top: 15px;
	background-color: #B84545;
	padding: 10px;
}

.demo-avatar-dropdown {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

.demo-navigation {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.56);
	font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
	background-color: #B84545 !important;
	color: white;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover .menu-icone {
	color: white;
}

.mdl-layout__drawer .mdl-navigation {
	padding-top: 5px !important;
}

.demo-navigation .mdl-navigation__link .material-icons {
	font-size: 24px;
	color: rgba(255, 255, 255, 0.56);
	margin-right: 32px;
}

.demo-content {
	max-width: 1080px;
}

.demo-charts {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.demo-chart:nth-child(1) {
	color: #ACEC00;
}

.demo-chart:nth-child(2) {
	color: #00BBD6;
}

.demo-chart:nth-child(3) {
	color: #BA65C9;
}

.demo-chart:nth-child(4) {
	color: #EF3C79;
}

.demo-graphs {
	padding: 16px 32px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * notfloat around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
	min-height: 664px;
}

_:-ms-input-placeholder, :root .demo-graph {
	max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
	color: #00b9d8;
}

.demo-graph:nth-child(2) {
	color: #d9006e;
}

.demo-cards {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.demo-cards .demo-separator {
	height: 32px;
}

.demo-cards .mdl-card__title.mdl-card__title {
	color: white;
	font-size: 24px;
	font-weight: 400;
}

.demo-cards ul {
	padding: 0;
}

.demo-cards h3 {
	font-size: 1em;
}

.demo-updates .mdl-card__title {
	min-height: 200px;
	background-image: url('images/dog.png');
	background-position: 90% 100%;
	background-repeat: no-repeat;
}

.demo-cards .mdl-card__actions a {
	color: #00BCD4;
	text-decoration: none;
}

.demo-options h3 {
	margin: 0;
}

.demo-options .mdl-checkbox__box-outline {
	border-color: rgba(255, 255, 255, 0.89);
}

.demo-options ul {
	margin: 0;
	list-style-type: none;
}

.demo-options li {
	margin: 4px 0;
}

.demo-options .material-icons {
	color: rgba(255, 255, 255, 0.89);
}

.demo-options .mdl-card__actions {
	height: 64px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.mdl-navigation__link {
	padding: 12px !important;
}

.mdl-layout__drawer-button>.material-icons {
	margin-top: 12px !important;
}

.mdl-fab-left {
	margin: 0;
	margin-left: auto;
}

.ui-paginator {
	padding: 5px;
	text-align: center;
}

.ui-paginator-page, .ui-paginator-first, .ui-paginator-prev,
	.ui-paginator-next, .ui-paginator-last {
	min-width: 0;
	margin: 2px;
	font-weight: 300;
	width: 50px;
}

.ui-paginator-page.ui-state-active {
	font-weight: bold;
}

/* Column Priorities */
@media only all {
	th.ui-column-p-7, td.ui-column-p-7, th.ui-column-p-8, td.ui-column-p-8,
		th.ui-column-p-6, td.ui-column-p-6, th.ui-column-p-5, td.ui-column-p-5,
		th.ui-column-p-4, td.ui-column-p-4, th.ui-column-p-3, td.ui-column-p-3,
		th.ui-column-p-2, td.ui-column-p-2, th.ui-column-p-1, td.ui-column-p-1
		{
		display: none;
	}
} /* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width:20em) {
	th.ui-column-p-1, td.ui-column-p-1 {
		display: table-cell;
	}
} /* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width:30em) {
	th.ui-column-p-2, td.ui-column-p-2 {
		display: table-cell;
	}
} /* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width:40em) {
	th.ui-column-p-3, td.ui-column-p-3 {
		display: table-cell;
	}
} /* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width:50em) {
	th.ui-column-p-4, td.ui-column-p-4 {
		display: table-cell;
	}
} /* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width:60em) {
	th.ui-column-p-5, td.ui-column-p-5 {
		display: table-cell;
	}
} /* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width:70em) {
	th.ui-column-p-6, td.ui-column-p-6 {
		display: table-cell;
	}
}

@media screen and (min-width:1300px) {
	th.ui-column-p-7, td.ui-column-p-7 {
		display: table-cell;
	}
}

@media screen and (min-width:1500px) {
	th.ui-column-p-8, td.ui-column-p-8 {
		display: table-cell;
	}
}

.ui-datatable-reflow .ui-datatable-data td .ui-column-title {
	display: none;
}

@media ( max-width :640px ) {
	.ui-datatable-reflow thead th, .ui-datatable-reflow tfoot td {
		display: none;
	}
	.ui-datatable-reflow .ui-datatable-data td {
		text-align: left;
		display: block;
		border: 0px none;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		clear: left;
	}
	.ui-datatable-reflow .ui-datatable-data.ui-widget-content {
		border: 0px none;
	}
	.ui-datatable-reflow .ui-datatable-data tr.ui-widget-content {
		border-left: 0px none;
		border-right: 0px none;
	}
	.ui-datatable-reflow .ui-datatable-data td .ui-column-title {
		padding: .4em;
		min-width: 30%;
		display: inline-block;
		margin: -.4em 1em -.4em -.4em;
	}
}

.font-bold {
	font-weight: bold;
}

.text-1em {
	font-size: 1em !important;
}

.ouvidoria-btn-add {
	position: absolute;
	right: 30px;
	bottom: 100px;
	z-index: 10;
}

#modalAlerta .modal-content {
	padding-bottom: 0;
}

.ouvidoria-title {
	border-top: 5px solid #B52D25;
	color: #B52D25;
}

.ouvidoria-title .mdl-card__title-text {
	font-weight: bold !important;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

.conteudo-panel-ouvidoria {
	padding: 0 24px 0 24px;
}

.centralizar-texto {
	text-align: center;
}

.display-table {
	display: table !important;
}

.centralizar {
	margin-left: auto;
	margin-right: auto;
}

input:not ([type] ):disabled, input:not ([type] )[readonly="readonly"],
	input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled,
	input[type=password][readonly="readonly"], input[type=email]:disabled,
	input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"],
	input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled,
	input[type=date][readonly="readonly"], input[type=datetime-local]:disabled,
	input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled,
	input[type=tel][readonly="readonly"], input[type=number]:disabled,
	input[type=number][readonly="readonly"], input[type=search]:disabled,
	input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled,
	textarea.materialize-textarea[readonly="readonly"] {
	color: rgba(0, 0, 0, 0.26);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
}

input:not ([type] ):disabled+label, input:not ([type] )[readonly="readonly"]+label,
	input[type=text]:disabled+label, input[type=text][readonly="readonly"]+label,
	input[type=password]:disabled+label, input[type=password][readonly="readonly"]+label,
	input[type=email]:disabled+label, input[type=email][readonly="readonly"]+label,
	input[type=url]:disabled+label, input[type=url][readonly="readonly"]+label,
	input[type=time]:disabled+label, input[type=time][readonly="readonly"]+label,
	input[type=date]:disabled+label, input[type=date][readonly="readonly"]+label,
	input[type=datetime-local]:disabled+label, input[type=datetime-local][readonly="readonly"]+label,
	input[type=tel]:disabled+label, input[type=tel][readonly="readonly"]+label,
	input[type=number]:disabled+label, input[type=number][readonly="readonly"]+label,
	input[type=search]:disabled+label, input[type=search][readonly="readonly"]+label,
	textarea.materialize-textarea:disabled+label, textarea.materialize-textarea[readonly="readonly"]+label
	{
	color: rgba(0, 0, 0, 0.26);
}

input
:not
 
(
[
type
]
 
)
:focus
:not
 
(
[
readonly
]
 
),
input
[
type
=
text
]
:focus
:not

	
(
[
readonly
]
 
),
input
[
type
=
password
]
:focus
:not
 
(
[
readonly
]
 
),
input
[
type
=
email
]
:focus
:not

	
(
[
readonly
]
 
),
input
[
type
=
url
]
:focus
:not
 
(
[
readonly
]
 
),
input
[
type
=
time
]
:focus
:not

	
(
[
readonly
]
 
),
input
[
type
=
date
]
:focus
:not
 
(
[
readonly
]
 
),
input
[
type
=
datetime-local
]
:focus
:not

	
(
[
readonly
]
 
),
input
[
type
=
tel
]
:focus
:not
 
(
[
readonly
]
 
),
input
[
type
=
number
]
:focus
:not

	
(
[
readonly
]
 
),
input
[
type
=
search
]
:focus
:not
 
(
[
readonly
]
 
),
textarea
.materialize-textarea
:focus
:not

	
(
[
readonly
]
 
)
{
border-bottom
:
 
1
px
 
solid
 
#B52D25
;

	
box-shadow
:
 
0
1
px
 
0
0
#B52D25
;


}
input:not ([type] ):focus:not ([readonly] ) +label, input[type=text]:focus:not
	 ([readonly] ) +label, input[type=password]:focus:not ([readonly] ) +label,
	input[type=email]:focus:not ([readonly] ) +label, input[type=url]:focus:not
	 ([readonly] ) +label, input[type=time]:focus:not ([readonly] ) +label,
	input[type=date]:focus:not ([readonly] ) +label, input[type=datetime-local]:focus:not
	 ([readonly] ) +label, input[type=tel]:focus:not ([readonly] ) +label,
	input[type=number]:focus:not ([readonly] ) +label, input[type=search]:focus:not
	 ([readonly] ) +label, textarea.materialize-textarea:focus:not ([readonly]
	 ) +label {
	color: #B52D25 !important;
}

input:not ([type] ):focus:not ([readonly] ) +label, input[type=text]:focus:not
	 ([readonly] ) +label, input[type=password]:focus:not ([readonly] ) +label,
	input[type=email]:focus:not ([readonly] ) +label, input[type=url]:focus:not
	 ([readonly] ) +label, input[type=time]:focus:not ([readonly] ) +label,
	input[type=date]:focus:not ([readonly] ) +label, input[type=datetime-local]:focus:not
	 ([readonly] ) +label, input[type=tel]:focus:not ([readonly] ) +label,
	input[type=number]:focus:not ([readonly] ) +label, input[type=search]:focus:not
	 ([readonly] ) +label, textarea.materialize-textarea:focus:not ([readonly]
	 ) +label {
	color: #B52D25;
}

input:not ([type] ).valid, input:not ([type] ):focus.valid, input[type=text].valid,
	input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid,
	input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid,
	input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid,
	input[type=date].valid, input[type=date]:focus.valid, input[type=datetime-local].valid,
	input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid,
	input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid,
	input[type=search]:focus.valid, textarea.materialize-textarea.valid,
	textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid #B52D25;
	box-shadow: 0 1px 0 0 #B52D25;
}

input:not ([type] ).valid+label:after, input:not ([type] ):focus.valid+label:after,
	input[type=text].valid+label:after, input[type=text]:focus.valid+label:after,
	input[type=password].valid+label:after, input[type=password]:focus.valid+label:after,
	input[type=email].valid+label:after, input[type=email]:focus.valid+label:after,
	input[type=url].valid+label:after, input[type=url]:focus.valid+label:after,
	input[type=time].valid+label:after, input[type=time]:focus.valid+label:after,
	input[type=date].valid+label:after, input[type=date]:focus.valid+label:after,
	input[type=datetime-local].valid+label:after, input[type=datetime-local]:focus.valid+label:after,
	input[type=tel].valid+label:after, input[type=tel]:focus.valid+label:after,
	input[type=number].valid+label:after, input[type=number]:focus.valid+label:after,
	input[type=search].valid+label:after, input[type=search]:focus.valid+label:after,
	textarea.materialize-textarea.valid+label:after, textarea.materialize-textarea:focus.valid+label:after
	{
	content: attr(data-success);
	color: #B52D25;
	opacity: 1;
}

input:not ([type] ).invalid, input:not ([type] ):focus.invalid, input[type=text].invalid,
	input[type=text]:focus.invalid, input[type=password].invalid, input[type=password]:focus.invalid,
	input[type=email].invalid, input[type=email]:focus.invalid, input[type=url].invalid,
	input[type=url]:focus.invalid, input[type=time].invalid, input[type=time]:focus.invalid,
	input[type=date].invalid, input[type=date]:focus.invalid, input[type=datetime-local].invalid,
	input[type=datetime-local]:focus.invalid, input[type=tel].invalid,
	input[type=tel]:focus.invalid, input[type=number].invalid, input[type=number]:focus.invalid,
	input[type=search].invalid, input[type=search]:focus.invalid, textarea.materialize-textarea.invalid,
	textarea.materialize-textarea:focus.invalid {
	border-bottom: 1px solid #B52D25;
	box-shadow: 0 1px 0 0 #B52D25;
}

input:not ([type] ).valid, input:not ([type] ):focus.valid, input[type=text].valid,
	input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid,
	input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid,
	input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid,
	input[type=date].valid, input[type=date]:focus.valid, input[type=datetime-local].valid,
	input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid,
	input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid,
	input[type=search]:focus.valid, textarea.materialize-textarea.valid,
	textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid #B52D25;
	box-shadow: 0 1px 0 0 #B52D25;
}

input:not ([type] ):focus:not ([readonly] ) +label, input[type=text]:focus:not
	 ([readonly] ) +label, input[type=password]:focus:not ([readonly] ) +label,
	input[type=email]:focus:not ([readonly] ) +label, input[type=url]:focus:not
	 ([readonly] ) +label, input[type=time]:focus:not ([readonly] ) +label,
	input[type=date]:focus:not ([readonly] ) +label, input[type=datetime-local]:focus:not
	 ([readonly] ) +label, input[type=tel]:focus:not ([readonly] ) +label,
	input[type=number]:focus:not ([readonly] ) +label, input[type=search]:focus:not
	 ([readonly] ) +label, textarea.materialize-textarea:focus:not ([readonly]
	 ) +label {
	color: #B52D25;
}

input.ui-state-error {
	border-bottom: 1px solid red;
}

select, select:hover, select:focus {
	display: block;
	border: none;
	border-bottom: 1px solid #9e9e9e !important;
	outline: none;
}

.card-codigo-acesso {
	padding: 0;
	width: 400px;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}

.codigo-acesso {
	text-align: center !important;
	font-size: 25px !important;
}

.text-uppercase {
	text-transform: uppercase;
}

#formCadastroDemanda\:captcha div {
	margin-left: auto;
	margin-right: 5px;
}

.ouvidoria-title-modal {
	border-top: 5px solid #B52D25;
}

.ouvidoria-title-modal h4 {
	color: #B52D25 !important;
	text-align: center !important;
	font-weight: bold !important;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

.no-padding {
	padding: 0px !important;
}

.sidebar-box {
	max-height: 32px;
	position: relative;
	overflow: hidden;
}

.sidebar-box {
	max-height: 32px;
	position: relative;
	overflow: hidden;
}

.sidebar-box .read-more {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: right;
	margin: 0;
	padding: 0;
}

.ui-datepicker {
	border: 1px solid #a8a8a8;
	background: #ffffff;
	color: #4f4f4f;
}

.ui-widget-header .ui-icon {
	background-image:
		url("/sophos/javax.faces.resource/images/ui-icons_898989_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}

.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}

.ui-icon {
	width: 16px;
	height: 16px;
	background-image:
		url("/sophos/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-icon {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

a {
	text-decoration: none;
	outline: none;
	color: #B52D25;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	cursor: pointer;
}

.ui-widget-header a {
	color: #4f4f4f;
}

.ui-corner-all {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.ui-widget-content a {
	color: #B52D25;
}

.collapsible-menu {
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	box-shadow: none !important;
}

.collapsible-header-menu i {
	line-height: 1.8rem !important;
}

.collapsible-header-menu {
	background-color: transparent !important;
	border-bottom: none !important;
	line-height: 1.8rem !important;
}

.collapsible-header-menu:hover {
	background-color: #00BCD4 !important;
	border-bottom: none !important;
	line-height: 1.8rem !important;
}

.collapsible-body-menu {
	border-bottom: none !important;
}

.texto-centralizado {
	text-align: center !important;
}

.collapsible-body a {
	padding-left: 30px !important;
}

.quebrar-texto {
	white-space: normal;
}

.radio-button-custom td {
	word-wrap: break-word;
	overflow-wrap: break-word;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

.text-bold {
	font-weight: bold;
	color: #9e9e9e
}

.sophos-background-color {
	background-color: #666666;
}

.demo-navigation {
	box-shadow: none !important;
}

.collapsible-menu li {
	border-top: 1px solid rgba(255, 255, 255, .3);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box;
}

.menu-bottom-border {
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box;
}

.mdl-layout__content {
	background-color: rgba(234, 234, 234, 1);
}

.sophos-footer-color {
	background-color: #cbcbcb;
	color: darkgray;
	font-weight: bold;
}

.mdl-button.mdl-button--colored {
	color: #B52D25;
}

.mdl-button--raised.mdl-button--colored {
	color: white;
	background-color: #B52D25 !important;
}

.mdl-button--fab.mdl-button--colored {
	color: white;
	background-color: #B52D25 !important;
}

.mdl-badge[data-badge]:after {
	background-color: #B52D25 !important;
}

.mdl-button--primary.mdl-button--primary.mdl-button--raised,
	.mdl-button--primary.mdl-button--primary.mdl-button--fab {
	color: white;
	background-color: #B52D25 !important;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
	background-color: #B52D25 !important;
}

.logo-home {
	margin-top: 40px;
	margin-bottom: 30px;
}

.logo-ouvidoria-interna {
	margin-bottom: 0px;
}

/* #conteudoPrincipal { */
/* 	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAADICAYAAADREnACAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMi8yNC8xNoyYpgoAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAzUlEQVRoge1YQQ7AIAyqxv9/az9Z9ovtCyyBIOrOxNoWSme7nvst4OsIqKpqNDqwGgaFT4STwbPu4B0FoVuRyzPAAwWkUNBsx84ICl5wMr47ogVX9DpgSKGdMUpBMAB+aMZ1RyMfjcaekLVECiBQYcOuIcXf9jJUSB8pvg0gxIbJJ1oHAN+QnBuAMfSGfLRmjQLpFhfBR/xXih2a7zPON4CAOlp9xieuLTujYPj885G/pSzVwgRgwrNiQh0PzWYFJmxSe0ohAXjkeoBrAz8M/QYiSRuxCAAAAABJRU5ErkJggg==') repeat-x; */
/* } */
#progress-bar {
	background-color: #B52D25 !important;
}

.mdl-card__supporting-text {
	padding: 10px !important;
	margin: 0 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center !important;
	font-size: 16px;
}

.mdl-progress>.bufferbar {
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.7)),
		-webkit-linear-gradient(left, #B52D25, #B52D25);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.7)), linear-gradient(to right, #B52D25, #B52D25);
	z-index: 0;
	left: 0;
}

.mdl-progress.mdl-progress__indeterminate>.bar1 {
	background-color: #B52D25;
	-webkit-animation-name: indeterminate1;
	animation-name: indeterminate1;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

.mdl-progress.mdl-progress__indeterminate>.bar3 {
	background-image: none;
	background-color: #B52D25;
	-webkit-animation-name: indeterminate2;
	animation-name: indeterminate2;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

.container-logos {
	padding: 5px;
	margin-left: calc(50% - 260px);
	text-align: center;
	position: absolute;
	bottom: 0px;
}

::-moz-selection {
	background: #B52D25;
	text-shadow: none;
}

::selection {
	background: #B52D25;
	text-shadow: none;
}

.ui-corner-all {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.ui-widget-content {
	background: #ffffff;
	color: #4f4f4f;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 1px solid rgba(0, 0, 0, 0);
	background: #B52D25;
	background: #B52D25 linear-gradient(top, rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0));
	background: #B52D25
		-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)),
		to(rgba(0, 0, 0, 0)));
	background: #B52D25 -moz-linear-gradient(top, rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0));
	color: #ffffff;
	text-shadow: 1px 1px 1px #333333;
	cursor: pointer !important;
}

.ui-helper-hidden-accessible {
	display: none;
}

.search-autocomplete {
	cursor: pointer !important;
	margin-top: 10px;
}

.card-evento p {
	margin-bottom: 0px !important;
	font-size: 12px !important;
	line-height: 18px !important;
}

.section p {
	margin-bottom: 0px !important;
	font-size: 12px !important;
	line-height: 20px !important;
}

.section h6 {
	margin-top: 10px !important;
	margin-bottom: 5px !important;
}

.section {
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
}

.frequencia td {
	padding: 5px 0px !important;
}

.btnVisualizarEvento {
	font-size: 12px !important;
	line-height: 25px !important;
	height: 25px !important;
	border: 1px solid white;
	color: #B52D25;
}

.btnVisualizarEvento:HOVER {
	background-color: white !important;
	color: #B52D25;
}

.footer {
	font-size: 11px;
	text-align: center;
	width: 100%;
	padding: 10px;
	font-weight: bold;
}

.card.small {
	height: 350px !important;
}

.card .card-content .card-title {
	line-height: 20px !important;
}

.card .card-content {
	padding: 15px !important;
	min-height: 100px;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content
	{
	margin-top: 5px;
	padding-top: 0px !important;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image
	{
	max-height: 76% !important;
}

.card-reveal-title {
	font-size: 10px !important;
	font-weight: bold !important;
	color: white !important;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	opacity: 0.8;
}

.card-reveal .mdl-cell--12-col p {
	color: white !important;
	opacity: 0.8;
}

.texto-eventos-title {
	margin-bottom: 0px !important;
	color: #B52D25;
	font-weight: bold !important;
	margin-left: 30px;
}

.md-cell-evento {
	margin: 0px !important;
	margin-top: 10px !important;
}

.evento-detalhe {
	font-weight: bold !important;
	margin-top: 10px;
}

.card-reveal {
	background-color: #B52D25 !important;
	opacity: 0.8;
	color: white;
}

.card-title {
	text-transform: uppercase;
	font-weight: bold !important;
	color: #B52D25;
}

.img-logo {
	height: 40px !important;
	cursor: pointer;
}

.demo-drawer .mdl-menu__container {
	z-index: 500 !important;
}

.mdl-menu {
	z-index: 1000 !important;
}

.card-evento {
	margin-left: 18px;
	margin-right: 18px;
}

.mdl-color--menu {
	background-color: #B52D25;
}

.mdl-color-text--menu {
	color: white;
}

@media ( min-width : 1280px) {
	.margin-15 {
		margin-left: 8%;
		margin-right: 8%;
	}
	.card-eventos-content {
		width: 90%
	}
}

@media ( max-width : 839px) and (min-width: 480px) {
	.mdl-cell--4-col-custom, .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet-custom
		{
		width: calc(100% - 16px);
	}
}

@media ( max-width : 599px) {
	.mdl-cell--3-col-custom, .mdl-cell--3-col-phone.mdl-cell--3-col-phone-custom
		{
		width: calc(100% - 34px) !important;
	}
	.mdl-cell--3-col-card, .mdl-cell--6-col-tablet.mdl-cell--3-col-tablet-card
		{
		width: calc(100% - 36px);
	}
}

@media ( max-width : 839px) and (min-width: 500px) {
	.mdl-cell--3-col-custom, .mdl-cell--3-col-tablet.mdl-cell--3-col-tablet-custom
		{
		width: calc(50% - 36px);
	}
	.mdl-cell--4-col-custom, .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet-custom
		{
		width: calc(100% - 16px);
	}
	.mdl-cell--6-col-custom, .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet
		{
		width: calc(100% - 16px);
	}
	.mdl-cell--3-col-card, .mdl-cell--6-col-tablet.mdl-cell--3-col-tablet-card
		{
		width: calc(50% - 36px);
	}
}

@media ( max-width : 1023px) and (min-width: 840px) {
	.mdl-cell--3-col-custom, .mdl-cell--3-col-desktop.mdl-cell--3-col-desktop-custom
		{
		width: calc(33% - 36px);
	}
	.mdl-cell--3-col-card, .mdl-cell--6-col-tablet.mdl-cell--3-col-tablet-card
		{
		width: calc(33% - 36px);
	}
}

@media ( max-width : 1365px) and (min-width: 1024px) {
	.mdl-cell--3-col-card, .mdl-cell--6-col-tablet.mdl-cell--3-col-tablet-card
		{
		width: calc(33% - 36px);
	}
	.mdl-cell--3-col-custom, .mdl-cell--3-col-desktop.mdl-cell--3-col-desktop-custom
		{
		width: calc(33% - 36px);
	}
}

@media ( min-width : 1366px) {
	.mdl-cell--3-col-card, .mdl-cell--6-col-tablet.mdl-cell--3-col-tablet-card
		{
		width: calc(25% - 36px);
	}
	.mdl-cell--3-col-custom, .mdl-cell--3-col-desktop.mdl-cell--3-col-desktop-custom
		{
		width: calc(25% - 36px);
	}
}

@media ( min-width : 840px) {
	.mdl-cell--6-col-custom, .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet
		{
		width: calc(50% - 16px);
	}
}

.mdl-layout-title {
	/* 	color: #EBAE00 !important; */
	text-transform: uppercase;
}

@media screen and (max-width:800px) {
	.mdl-layout-title {
		font-size: 16px !important;
	}
	.img-logo {
		height: 40px !important;
	}
}

@media screen and (max-width:640px) {
	.mdl-layout-title {
		font-size: 12px !important;
	}
	.img-logo {
		height: 35px !important;
	}
}

@media screen and (max-width:500px) {
	.mdl-layout-title {
		font-size: 10px !important;
	}
	.img-logo {
		height: 30px !important;
	}
}

@media screen and (min-width:1024px) {
	.btnHeader1 {
		display: none;
	}
	.modal-evento {
		width: 60% !important;
	}
}

@media screen and (max-width:1023px) {
	.btnHeader {
		display: none;
	}
	.btnHeader1 {
		display: block;
	}
	.mdl-layout__header-row {
		padding: 0 16px 0 55px !important;
	}
	.modal-evento {
		width: 95% !important;
	}
}

.btnHeader {
	background-color: #666666 !important;
}

.panel-evento {
	background-color: white;
	background-image: url("../imagens/sophos_logo_pagina.png");
	background-repeat: no-repeat;
	background-position: 100% 150px;
}

.sophos-img-home {
	padding-left: 15px;
	padding-right: 15px;
}

.titulo-panel-evento {
	background-color: #B52D25;
	padding: 6px;
	padding-left: 40px;
	margin-top: 15px;
	font-weight: bold;
	color: white;
	width: 180px;
	text-align: right;
}

.titulo-section {
	color: #666666;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 15px;
}

.texto-panel-evento {
	padding-left: 20px;
	padding-bottom: 5px;
	padding-right: 20px;
	font-size: 13px;
}

.texto-panel-evento {
	margin-bottom: 0px !important;
	margin-left: 20px;
	font-size: 13px;
}

.table-detalhes-evento-td {
	text-align: right;
	width: 165px !important;
}

.table-detalhes-evento td {
	padding: 3px 5px !important;
}

.table-detalhes-evento-descricao {
	color: #B52D25;
}

.modulos-evento-col {
	width: calc(33% - 30px);
	padding: 15px;
}

.modulos-evento {
	font-size: 13px;
	padding: 15px;
}

.modulo-evento {
	border: 1px solid rgba(214, 214, 214, .8);
	width: 100%;
	padding-left: 20px;
	padding-top: 10px;
	height: 210px;
}

.modulos-evento p {
	font-size: 13px;
	margin-bottom: 0px !important;
}

.modulos-evento td {
	padding: 1px 5px !important;
}

.modulos-evento h6 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	color: #B52D25;
}

@media ( min-width : 1366px) {
	.modulos-evento-col {
		width: 33%;
	}
}

@media ( max-width : 1365px) and (min-width: 500px) {
	.modulos-evento-col {
		width: 50%;
	}
}

@media ( max-width : 499px) {
	.modulos-evento-col {
		width: 100%;
		text-align: center;
	}
	.modulos-evento p {
		text-align: center;
	}
}

@media ( max-width : 839px) {
	.visualizar-evento-image-left {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.visualizar-evento-image-right {
		display: none;
	}
}

@media ( min-width : 840px) {
	.visualizar-evento-image-left {
		display: none;
	}
	.visualizar-evento-image-rigth {
		display: block;
	}
}

.mdl-textfield__expandable-holder input {
	background-color: white !important;
}

.caixa-alta {
	text-transform: uppercase;
}

.spinner-custom>input {
	height: 2rem !important;
	margin: 0px 0px 0px 0px !important;
}

.texto-pergunta-avaliacao {
	font-size: 16px !important;
	color: black !important;
}

.jqplot-table-legend { 
	width: auto; 
}

.notificacoes:hover{
	cursor: pointer;
}

.modal{
	color: #4f4f4f;
}

.texto-buscar {
	font-size: 14px;
}

.sem-padding-top-bottom {
	padding-top: 0px; padding-bottom: 0px
}