<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core" prependId="false"
	id="formProvedorEvento">

	<div class="mdl-grid bottom">

		<mdl:btn-back />

	</div>

	<div class="mdl-grid mdl-grid">

		<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col"
			style="margin-right: auto; margin-left: auto;">

			<div class="card-panel z-depth-2">

				<div class="mdl-card__title ouvidoria-title">

					<h2 class="mdl-card__title-text">#{provedorEventoControlador.visualizar
						? 'VISUALIZAR' : (provedorEventoControlador.entidade.id == null ?
						'CADASTRAR' : 'EDITAR')} PROVEDOR DO EVENTO</h2>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--12-col">

						<p:inputText required="true" maxlength="255"
							requiredMessage="Por favor, preencha o campo DESCRIÇÃO."
							id="descricao" disabled="#{provedorEventoControlador.visualizar}"
							value="#{provedorEventoControlador.entidade.descricao}"
							alt="DESCRIÇÃO" title="DESCRIÇÃO" />

						<label for="descricao" class="active">DESCRIÇÃO:</label>

					</div>

				</div>


				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--6-col">

						<p:inputMask required="true" validator="cnpjValidador"
							requiredMessage="Por favor, preencha o campo CNPJ."
							id="cnpj"
							mask="99.999.999/9999-99"
							disabled="#{provedorEventoControlador.visualizar}"
							value="#{provedorEventoControlador.entidade.cnpj}"
							alt="CNPJ" title="CNPJ">

							<p:ajax event="blur" update=":modalAlerta cnpj"
								process="@this"
								listener="#{provedorEventoControlador.verificaExistenciaCNPJ}" />

						</p:inputMask>
						
						<label for="cnpj" class="active">CNPJ:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--6-col">

						<p:inputText required="true" validator="emailValidador"
							requiredMessage="Por favor, preencha o campo E-MAIL."
							styleClass="verificar-capslock" id="email"
							disabled="#{provedorEventoControlador.visualizar}"
							value="#{provedorEventoControlador.entidade.email}" 
							alt="E-MAIL"
							title="E-MAIL" />

						<label for="email" class="active">E-MAIL:</label>

					</div>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--6-col">

						<h:selectOneMenu id="banco"
							value="#{provedorEventoControlador.entidade.banco}"
							converter="conversorEntidadePadrao"
							disabled="#{provedorEventoControlador.visualizar}"
							style="display:block;" title="BANCO">

							<f:selectItem itemLabel="Selecione" />

							<f:selectItems value="#{provedorEventoControlador.bancos}"
								var="banco" itemLabel="#{banco.codigo} - #{banco.descricao}"
								itemValue="#{banco}" />

						</h:selectOneMenu>

						<label for="banco" class="active">BANCO:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--3-col">

						<p:inputText id="agencia"
							disabled="#{provedorEventoControlador.visualizar}" maxlength="50"
							value="#{provedorEventoControlador.entidade.agencia}"
							alt="AGÊNCIA" title="AGÊNCIA" />

						<label for="agencia" class="active">AGÊNCIA:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--3-col">

						<p:inputText id="contaCorrente"
							disabled="#{provedorEventoControlador.visualizar}" maxlength="20"
							value="#{provedorEventoControlador.entidade.contaCorrente}"
							alt="CONTA CORRENTE" title="CONTA CORRENTE" />

						<label for="contaCorrente" class="active">CONTA CORRENTE:</label>

					</div>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--6-col">

						<p:inputText required="true" id="contato"
							requiredMessage="Por favor, preencha o campo CONTATO."
							disabled="#{provedorEventoControlador.visualizar}"
							maxlength="255"
							value="#{provedorEventoControlador.entidade.contato}"
							alt="CONTATO" title="CONTATO" />

						<label for="contato" class="active">CONTATO:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--3-col">

						<p:inputText required="true" styleClass="telefone"
							requiredMessage="Por favor, preencha o campo TELEFONE."
							disabled="#{provedorEventoControlador.visualizar}"
							value="#{provedorEventoControlador.entidade.telefone}"
							alt="TELEFONE" title="TELEFONE" />

						<label for="telefone" class="active">TELEFONE:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--3-col">

						<p:inputText styleClass="telefone"
							disabled="#{provedorEventoControlador.visualizar}"
							value="#{provedorEventoControlador.entidade.celular}"
							alt="CELULAR" title="CELULAR" />

						<label for="celular" class="active">CELULAR:</label>

					</div>

				</div>


				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--4-col">

						<h:selectOneMenu required="true" id="estado"
							requiredMessage="Por favor, escolha o ESTADO."
							value="#{provedorEventoControlador.estado}"
							converter="conversorEntidadePadrao"
							disabled="#{provedorEventoControlador.visualizar}"
							style="display:block;" title="ESTADO">

							<f:selectItem itemLabel="Selecione" />

							<f:selectItems value="#{provedorEventoControlador.estados}"
								var="estado" itemLabel="#{estado.descricao}"
								itemValue="#{estado}" />

							<p:ajax event="change" update="cidade"
								listener="#{provedorEventoControlador.listarCidades}" />

						</h:selectOneMenu>

						<label for="estado" class="active">ESTADO:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--4-col">

						<h:selectOneMenu required="true" id="cidade"
							requiredMessage="Por favor, escolha a CIDADE."
							value="#{provedorEventoControlador.entidade.endereco.cidade}"
							converter="conversorEntidadePadrao"
							disabled="#{provedorEventoControlador.visualizar}"
							style="display:block;" title="CIDADE">

							<f:selectItem itemLabel="Selecione" />

							<f:selectItems value="#{provedorEventoControlador.cidades}"
								var="cidade" itemLabel="#{cidade.descricao}"
								itemValue="#{cidade}" />

						</h:selectOneMenu>

						<label for="cidade" class="active">CIDADE:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--4-col">

						<p:inputText required="true" id="bairro"
							requiredMessage="Por favor, preencha o campo BAIRRO."
							disabled="#{provedorEventoControlador.visualizar}"
							maxlength="100"
							value="#{provedorEventoControlador.entidade.endereco.bairro}"
							alt="BAIRRO" title="BAIRRO" />

						<label for="bairro" class="active">BAIRRO:</label>

					</div>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--6-col">

						<p:inputText required="true" id="logradouro"
							requiredMessage="Por favor, preencha o campo LOGRADOURO."
							disabled="#{provedorEventoControlador.visualizar}"
							maxlength="255"
							value="#{provedorEventoControlador.entidade.endereco.logradouro}"
							alt="LOGRADOURO" title="LOGRADOURO" />

						<label for="logradouro" class="active">LOGRADOURO:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--4-col">

						<p:inputText required="true" id="complemento"
							requiredMessage="Por favor, preencha o campo COMPLEMENTO."
							disabled="#{provedorEventoControlador.visualizar}"
							maxlength="255"
							value="#{provedorEventoControlador.entidade.endereco.complemento}"
							alt="COMPLEMENTO" title="COMPLEMENTO" />

						<label for="complemento" class="active">COMPLEMENTO:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--2-col">

						<p:inputText id="numero"
							disabled="#{provedorEventoControlador.visualizar}" maxlength="10"
							value="#{provedorEventoControlador.entidade.endereco.numero}"
							alt="NÚMERO" title="NÚMERO" />

						<label for="numero" class="active">NÚMERO:</label>

					</div>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--4-col">

						<p:inputMask required="true" mask="99999-999" id="cep"
							requiredMessage="Por favor, preencha o campo CEP."
							disabled="#{provedorEventoControlador.visualizar}"
							value="#{provedorEventoControlador.entidade.endereco.cep}"
							alt="CEP" title="CEP" />

						<label for="cep" class="active">CEP:</label>

					</div>

				</div>

				<div class="mdl-grid">

					<div class="mdl-cell mdl-cell--12-col">

						<p:commandButton id="btnCadastrar" update=":modalAlerta @form"
							onstart="jQuery('#form\\:btnCadastrar span').html('SALVANDO...')"
							oncomplete="jQuery('#form\\:btnCadastrar span').html('SALVAR')"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="SALVAR"
							rendered="#{!provedorEventoControlador.visualizar}"
							action="#{provedorEventoControlador.acaoInserir}" alt="SALVAR"
							title="SALVAR" />

					</div>

				</div>

			</div>

		</p:outputPanel>

	</div>

</h:form>