<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	prependId="false"
	id="formDominio">

	<div class="mdl-grid bottom">
	
		<mdl:btn-back />

	</div>

	<div class="mdl-grid row">

		<p:outputPanel layout="block" styleClass="col s12" style="margin-right: auto; margin-left: auto;">
		
			<div class="card-panel z-depth-2">
			
				<div class="mdl-card__title ouvidoria-title">
		
					<h2 class="mdl-card__title-text">#{dominioControlador.visualizar ? 'VISUALIZAR' : (dominioControlador.entidade.id == null ? 'CADASTRAR' : 'EDITAR')} DOMÍNIO</h2>
		
				</div>
			
				<div class="mdl-grid">
				
					<div class="input-field mdl-cell mdl-cell--4-col">

						<h:selectOneMenu id="tipo"
							value="#{dominioControlador.entidade.nome}" 
							required="true"
							requiredMessage="Por favor, preencha o campo NOME."
							disabled="#{dominioControlador.visualizar || dominioControlador.entidade.id != null}"
							style="display:block;" title="NOME">

							<f:selectItem itemLabel="Selecione" />

							<f:selectItems value="#{dominioControlador.opcoesDominio}" var="bean" itemLabel="#{bean}" itemValue="#{bean}" />
							
							<p:ajax event="change" update="grid-codigo" listener="#{dominioControlador.obterUltimoCodigo()}" />

						</h:selectOneMenu>

						<label for="tipoInstrutor" class="active">NOME:</label>

					</div>
					
		
					<p:outputPanel id="grid-codigo" styleClass="input-field mdl-cell mdl-cell--4-col">
					
						<p:inputMask id="codigo" mask="9?999" maxlength="4" disabled="true"
							value="#{dominioControlador.entidade.codigo}" 
							alt="CÓDIGO" title="CÓDIGO"/>
							
						<label for="codigo" class="active">CÓDIGO:</label>
				
					</p:outputPanel>
					
					<div class="input-field mdl-cell mdl-cell--4-col">
					
						<p:inputText required="true"
							requiredMessage="Por favor, preencha o campo DESCRIÇÃO" maxlength="255"
							id="descricao" disabled="#{dominioControlador.visualizar}"
							value="#{dominioControlador.entidade.descricao}" 
							alt="DESCRIÇÃO" title="DESCRIÇÃO"/>
				
						<label for="descricao" class="active">DESCRIÇÃO:</label>
				
					</div>
					
				</div>
				
				<div class="mdl-grid">
	
					<div class="col s12">
	
						<p:commandButton id="btnCadastrar" update=":modalAlerta @form"
							onstart="jQuery('#form\\:btnCadastrar span').html('SALVANDO...')"
							oncomplete="jQuery('#form\\:btnCadastrar span').html('SALVAR')"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="SALVAR" rendered="#{!dominioControlador.visualizar}"
							action="#{dominioControlador.acaoInserir}" 
							alt="SALVAR" title="SALVAR"/>
	
					</div>
	
				</div>
				
			</div>
			
		</p:outputPanel>
			
	</div>
	
</h:form>