<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core" prependId="false"
	id="formDominioList">

	<div class="mdl-grid bottom">

		<p:remoteCommand name="acaoAbrirTelaCadastro"
			update=":conteudoPrincipal :tituloSistema"
			action="#{dominioControlador.acaoAbrirTelaDominio(null, 'false')}" />

		<mdl:btn-add toolTip="Abrir Cadastro"
			onclick="acaoAbrirTelaCadastro();" />

	</div>

	<div class="mdl-grid">

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
			style="padding: 0; margin-left: auto;">

			<label for="nome" title="Buscar"  style="texto-buscar"> 
				Buscar:
			</label>

			<div style="width: 400px">

				<p:inputText styleClass="mdl-textfield__input"
					value="#{dominioControlador.lista.consulta}"
					placeholder="Insira seu parâmetro de pesquisa" id="nome"
					alt="Insira seu parâmetro de pesquisa" title="Insira seu parâmetro de pesquisa">

					<p:ajax event="keyup" update=":listagem" />

				</p:inputText>

			</div>

		</div>


		<p:dataTable id="listagem" lazy="true" paginator="true" rows="10"
			paginatorPosition="bottom" style="width:100%;"
			tableStyle="width:100%" emptyMessage="Nenhum registro encontrado."
			tableStyleClass="bordered responsive-table"
			value="#{dominioControlador.lista}" var="bean">

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="NOME" priority="1">

				<span tabindex="0">#{bean.nome}</span>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="CÓDIGO" priority="1">

				<span tabindex="0">#{bean.codigo}</span>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="DESCRIÇÃO" priority="1">

				<span tabindex="0">#{bean.descricao}</span>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="STATUS" priority="1">

				<p:outputPanel rendered="#{bean.ativo}">
					<i id="btnAtivoS" class="material-icons">check</i>
					<div class="mdl-tooltip" for="btnAtivoS">ATIVO</div>
				</p:outputPanel>

				<p:outputPanel rendered="#{!bean.ativo}">
					<i id="btnAtivo" class="material-icons">close</i>
					<div class="mdl-tooltip" for="btnAtivo">DESATIVADO</div>
				</p:outputPanel>

			</p:column>

			<p:column styleClass="mdl-data-table__cell--non-numeric"
				headerText="AÇÕES" priority="1">

				<mdl:btn-icon update=":tituloSistema :conteudoPrincipal"
					action="#{dominioControlador.acaoAbrirTelaDominio(bean, 'true')}"
					icon="search" toolTip="VISUALIZAR" />

				<mdl:btn-icon update=":tituloSistema :conteudoPrincipal"
					action="#{dominioControlador.acaoAbrirTelaDominio(bean, 'false')}"
					icon="create" toolTip="EDITAR" />

				<h:panelGroup rendered="#{bean.ativo}">

					<p:remoteCommand name="excluir#{bean.id}"
						actionListener="#{dominioControlador.acaoExcluir(bean)}"
						update=":listagem :modalAlerta" />

					<button id="btnExcluir#{bean.id}"
						onclick="confirmar('Confirma a operação?', excluir#{bean.id});return false;"
						class="mdl-button mdl-js-button mdl-button--icon">

						<i class="material-icons">close</i> <span class="visuallyhidden">DESATIVAR</span>

					</button>

					<div class="mdl-tooltip" for="btnExcluir">DESATIVAR</div>

				</h:panelGroup>

				<h:panelGroup rendered="#{!bean.ativo}">

					<p:remoteCommand name="ativar#{bean.id}"
						actionListener="#{dominioControlador.acaoAtivar(bean)}"
						update=":listagem" />

					<button id="btnAtivar#{bean.id}"
						onclick="confirmar('Confirma a operação?', ativar#{bean.id});return false;"
						class="mdl-button mdl-js-button mdl-button--icon">

						<i class="material-icons">check</i> <span class="visuallyhidden">ATIVAR</span>

					</button>

					<div class="mdl-tooltip" for="btnAtivar">ATIVAR</div>

				</h:panelGroup>

			</p:column>

		</p:dataTable>

	</div>

</h:form>