<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<f:metadata>

	<f:event listener="#{minhaContaControlador.inicializarTela}"
		type="preRenderView" />

</f:metadata>

<h:form prependId="false" id="formVoltar">

	<div class="mdl-grid bottom">

		<mdl:btn-back />

	</div>

</h:form>

<div class="mdl-grid mdl-grid">

	<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col"
		style="margin-right: auto; margin-left: auto;">

		<div class="card-panel z-depth-2">

			<div class="mdl-grid">

				<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

					<div class="mdl-card__title ouvidoria-title">

						<h2 class="mdl-card__title-text">MINHA CONTA</h2>

					</div>

					<div class="mdl-tabs__tab-bar">

						<a href="#dados-pessoais" class="mdl-tabs__tab is-active">DADOS
							PESSOAIS</a>

						<h:panelGroup
							rendered="#{minhaContaControlador.entidade.tipoUsuario.codigo == 2}">

							<a href="#dados-senha" class="mdl-tabs__tab">ALTERAÇÃO DE
								SENHA</a>

						</h:panelGroup>

					</div>

					<br />

					<div class="mdl-tabs__panel is-active" id="dados-pessoais">

						<h:form prependId="false" id="formMinhaConta">

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputText required="true" maxlength="255"
										requiredMessage="Por favor, preencha o campo NOME." id="nome"
										value="#{minhaContaControlador.entidade.pessoa.nome}"
										alt="NOME" title="NOME" />

									<label for="nome" class="active">NOME:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:inputMask required="true"
										requiredMessage="Por favor, preencha o campo CPF." id="cpf"
										mask="999.999.999-99" maxlength="4"
										value="#{minhaContaControlador.entidade.pessoa.cpf}" alt="CPF"
										title="CPF" />

									<label for="cpf" class="active">CPF:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--4-col">

									<p:calendar id="dataNascimento" locale="pt_BR"
										styleClass="hasDatepicker"
										value="#{minhaContaControlador.entidade.pessoa.dataNascimento}"
										pattern="dd/MM/yyyy" alt="DATA DE NASCIMENTO"
										title="DATA DE NASCIMENTO" />

									<label for="dataNascimento" class="active">DATA DE
										NASCIMENTO:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--3-col">

									<h:selectOneRadio id="sexo"
										value="#{minhaContaControlador.entidade.pessoa.sexo}"
										title="SEXO">

										<f:converter converterId="conversorEntidadePadrao" />

										<f:selectItems value="#{minhaContaControlador.sexoList}"
											var="s" itemLabel="#{s.descricao}" itemValue="#{s}" />

									</h:selectOneRadio>

									<label for="sexo" class="active">SEXO:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--5-col">

									<p:inputText validator="emailValidador" required="true"
										requiredMessage="Por favor, preencha o campo EMAIL."
										styleClass="verificar-capslock" id="email" maxlength="255"
										value="#{minhaContaControlador.entidade.pessoa.email}"
										alt="E-MAIL" title="E-MAIL" />

									<label for="email" class="active">E-MAIL:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText styleClass="telefone" id="telefone"
										value="#{minhaContaControlador.entidade.pessoa.telefone}"
										alt="TELEFONE" title="TELEFONE" />

									<label for="telefone" class="active">TELEFONE:</label>

								</div>

								<div class="input-field mdl-cell mdl-cell--2-col">

									<p:inputText styleClass="telefone" id="celular"
										value="#{minhaContaControlador.entidade.pessoa.celular}"
										alt="CELULAR" title="CELULAR" />

									<label for="celular" class="active">CELULAR:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="mdl-cell mdl-cell--12-col">

									<p:commandButton id="btnCadastrar" update=":modalAlerta @form"
										onstart="jQuery('#form\\:btnCadastrar span').html('SALVANDO...')"
										oncomplete="jQuery('#form\\:btnCadastrar span').html('SALVAR')"
										styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
										value="SALVAR" action="#{minhaContaControlador.acaoInserir}"
										alt="SALVAR" title="SALVAR" />

								</div>

							</div>

						</h:form>

					</div>

					<div class="mdl-tabs__panel" id="dados-senha">

						<h:form prependId="false" id="formAlterarSenha">

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--12-col">

									<p:password redisplay="true" required="true"
										placeholder="Informe sua senha."
										value="#{minhaContaControlador.senhaAtual}"
										requiredMessage="É necessário o preenchimento do campo SENHA ATUAL para a redefinição da autenticação!"
										id="senhaAtual" alt="SENHA ATUAL" title="SENHA ATUAL">

									</p:password>

									<label for="senhaAtual" class="active">SENHA ATUAL:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--12-col">

									<p:password redisplay="true" maxlength="8"
										validatorMessage="A senha deverá conter no mínimo 6 e no máximo 8 caracteres."
										required="true"
										placeholder="Informe sua nova senha com 6 a 8 caracteres."
										value="#{minhaContaControlador.senha}"
										requiredMessage="É necessário o preenchimento do campo SENHA para a redefinição da autenticação!"
										id="senha" alt="SENHA" title="SENHA">

										<f:validateLength minimum="6" maximum="8" />

									</p:password>

									<label for="email" class="active">SENHA:</label>

								</div>

							</div>

							<div class="mdl-grid">

								<div class="input-field mdl-cell mdl-cell--12-col">

									<p:password required="true" maxlength="8" redisplay="true"
										validatorMessage="A senha deverá conter no mínimo 6 e no máximo 8 caracteres."
										placeholder="Repita a SENHA."
										value="#{minhaContaControlador.senhaRepetida}"
										requiredMessage="É necessário o preenchimento do campo REPITA A SENHA para a redefinição da autenticação!"
										id="senhaRepetida" alt="REPITA A SENHA" title="REPITA A SENHA">

										<f:validateLength minimum="6" maximum="8" />

									</p:password>

									<label for="senhaRepetida" class="active">REPITA A
										SENHA:</label>


								</div>

							</div>

							<div class="mdl-grid">

								<div class="mdl-cell mdl-cell--12-col">

									<p:commandButton id="btnAlterarSenha"
										update=":modalAlerta @form"
										styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
										value="ALTERAR SENHA"
										action="#{minhaContaControlador.acaoRedefinirSenha}"
										alt="ALTERAR SENHA" title="ALTERAR SENHA" />

								</div>

							</div>

						</h:form>

					</div>

				</div>

			</div>


		</div>

	</p:outputPanel>

</div>

</html>