<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core" prependId="false"
	id="formLocalizacaoEvento">

	<div class="mdl-grid bottom">

		<mdl:btn-back />

	</div>

	<div class="mdl-grid row">

		<p:outputPanel layout="block" styleClass="col s12"
			style="margin-right: auto; margin-left: auto;">

			<div class="card-panel z-depth-2">

				<div class="mdl-card__title ouvidoria-title">

					<h2 class="mdl-card__title-text">#{localizacaoEventoControlador.visualizar
						? 'VISUALIZAR' : (localizacaoEventoControlador.entidade.id == null
						? 'CADASTRAR' : 'EDITAR')} LOCALIZAÇÃO EVENTO</h2>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--12-col">

						<p:inputText required="true"
							requiredMessage="Por favor, preencha o campo DESCRIÇÃO."
							maxlength="255" id="descricao"
							disabled="#{localizacaoEventoControlador.visualizar}"
							value="#{localizacaoEventoControlador.entidade.descricao}"
							alt="DESCRIÇÃO" title="DESCRIÇÃO" />

						<label for="descricao" class="active">DESCRIÇÃO:</label>

					</div>


				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--4-col">

						<h:selectOneMenu id="estado"
							value="#{localizacaoEventoControlador.estado}"
							converter="conversorEntidadePadrao"
							disabled="#{localizacaoEventoControlador.visualizar}"
							style="display:block;" title="ESTADO">

							<f:selectItem itemLabel="Selecione" />

							<f:selectItems value="#{localizacaoEventoControlador.estados}"
								var="estado" itemLabel="#{estado.descricao}"
								itemValue="#{estado}" />

							<p:ajax event="change" update="cidade"
								listener="#{localizacaoEventoControlador.listarCidades}" />

						</h:selectOneMenu>

						<label for="estado" class="active">ESTADO:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--4-col">

						<h:selectOneMenu id="cidade"
										 required="true"
										 value="#{localizacaoEventoControlador.entidade.endereco.cidade}"
										 converter="conversorEntidadePadrao"
										 disabled="#{localizacaoEventoControlador.visualizar}"
										 style="display: block;" title="CIDADE">

							<f:selectItem itemLabel="Selecione" />

							<f:selectItems
									value="#{localizacaoEventoControlador.cidades}"
									var="cidade" itemLabel="#{cidade.descricao}"
									itemValue="#{cidade}" />

						</h:selectOneMenu>

						<label for="cidade" class="active">CIDADE:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--4-col">

						<p:inputText id="bairro"
							disabled="#{localizacaoEventoControlador.visualizar}"
							maxlength="100"
							value="#{localizacaoEventoControlador.entidade.endereco.bairro}"
							alt="BAIRRO" title="BAIRRO" />

						<label for="bairro" class="active">BAIRRO:</label>

					</div>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--6-col">

						<p:inputText id="logradouro"
							disabled="#{localizacaoEventoControlador.visualizar}"
							maxlength="255"
							value="#{localizacaoEventoControlador.entidade.endereco.logradouro}"
							alt="LOGRADOURO" title="LOGRADOURO" />

						<label for="logradouro" class="active">LOGRADOURO:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--4-col">

						<p:inputText id="complemento"
							disabled="#{localizacaoEventoControlador.visualizar}"
							maxlength="255"
							value="#{localizacaoEventoControlador.entidade.endereco.complemento}"
							alt="COMPLEMENTO" title="COMPLEMENTO" />

						<label for="complemento" class="active">COMPLEMENTO:</label>

					</div>

					<div class="input-field mdl-cell mdl-cell--2-col">

						<p:inputText id="numero"
							disabled="#{localizacaoEventoControlador.visualizar}"
							maxlength="10"
							value="#{localizacaoEventoControlador.entidade.endereco.numero}"
							alt="NÚMERO" title="NÚMERO" />

						<label for="numero" class="active">NÚMERO:</label>

					</div>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--4-col">

						<p:inputMask mask="99999-999" id="cep"
							disabled="#{localizacaoEventoControlador.visualizar}"
							value="#{localizacaoEventoControlador.entidade.endereco.cep}"
							alt="CEP" title="CEP" />

						<label for="cep" class="active">CEP:</label>

					</div>

				</div>

				<div class="row">

					<div class="col s12">

						<p:commandButton id="btnCadastrar" update=":modalAlerta @form"
							onstart="jQuery('#form\\:btnCadastrar span').html('SALVANDO...')"
							oncomplete="jQuery('#form\\:btnCadastrar span').html('SALVAR')"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value="SALVAR"
							rendered="#{!localizacaoEventoControlador.visualizar}"
							action="#{localizacaoEventoControlador.acaoInserir}" alt="SALVAR"
							title="SALVAR" />

					</div>

				</div>

			</div>

		</p:outputPanel>

	</div>

</h:form>
