<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<div class="texto-centralizado sophos-img-home">

	<img class="logo-home responsive-img"
		src="#{facesContext.externalContext.requestContextPath}/resources/imagens/sophos_logo_login.png"
		alt="LOGOTIPO DO SISTEMA SOPHOS"></img>

</div>

<p:outputPanel rendered="#{loginControlador.mostrarCadastro}"
	styleClass="mdl-grid margin-15">

	<div class="mdl-cell mdl-cell--6-col centralizar">

		<div class="card-panel z-depth-2" style="padding: 0;">

			<div class="mdl-card__title ouvidoria-title">

				<h2 class="mdl-card__title-text" tabindex="0" title="CADASTRO USUÁRIO EXTERNO">CADASTRO USUÁRIO EXTERNO</h2>

			</div>

			<h:form id="formAcesso" prependId="false">

				<div class="conteudo-panel-ouvidoria">

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:inputText
								value="#{meuCadastroParticipanteControlador.usuarioCadastro.pessoa.nome}"
								required="true" placeholder="Informe o NOME COMPLETO."
								styleClass="verificar-capslock"
								requiredMessage="Campo NOME COMPLETO obrigatório"
								alt="NOME COMPLETO" title="NOME COMPLETO" />

							<label class="active">NOME COMPLETO:</label>

						</div>

					</div>

					<p:outputPanel id="cpfUsuario" styleClass="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:inputMask mask="999.999.999-99" 
								value="#{meuCadastroParticipanteControlador.usuarioCadastro.pessoa.cpf}"
								required="true" placeholder="Informe o CPF."
								validator="cpfValidador" styleClass="verificar-capslock"
								requiredMessage="Campo CPF é obrigatório" alt="CPF" title="CPF">

								<p:ajax event="blur" update=":modalAlerta cpfUsuario"
									process="@this"
									listener="#{meuCadastroParticipanteControlador.verificaCPF}" />

							</p:inputMask>

							<label class="active">CPF:</label>

						</div>

					</p:outputPanel>

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:inputText
								value="#{meuCadastroParticipanteControlador.usuarioCadastro.pessoa.email}"
								required="true" placeholder="Informe o E-MAIL."
								validator="emailValidador" styleClass="verificar-capslock"
								requiredMessage="Campo E-MAIL é obrigatório" alt="E-MAIL"
								title="E-MAIL" />

							<label class="active">E-MAIL:</label>

						</div>

					</div>

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:password
								value="#{meuCadastroParticipanteControlador.usuarioCadastro.senha}"
								required="true" placeholder="Informe a SENHA." id="senha"
								match="repitaSenha" styleClass="verificar-capslock"
								validatorMessage="Senhas não conferem."
								requiredMessage="Campo SENHA é obrigatório." alt="SENHA"
								title="SENHA" />

							<label class="active">SENHA:</label>

						</div>

					</div>

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:password
								value="#{meuCadastroParticipanteControlador.usuarioCadastro.repitaSenha}"
								required="true" placeholder="Informe a SENHA." id="repitaSenha"
								styleClass="verificar-capslock"
								requiredMessage="Campo REPITA A SENHA é obrigatório"
								alt="REPITA A SENHA" title="REPITA A SENHA" />

							<label class="active">REPITA A SENHA:</label>

						</div>

					</div>

					<div class="mdl-grid">
						<div class="input-field mdl-cell mdl-cell--6-col">

							<p:commandButton ajax="false" style="width: 100%;"
								update=":modalAlerta"
								styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
								value="CADASTRAR"
								actionListener="#{meuCadastroParticipanteControlador.completarCadastro}"
								alt="CADASTRAR" title="CADASTRAR" />

						</div>

						<div class="input-field mdl-cell mdl-cell--6-col">

							<p:commandLink immediate="true" ajax="true" style="width: 100%;"
								process="@this"
								actionListener="#{loginControlador.setMostrarCadastro(false)}"
								update=":conteudoPrincipal"
								styleClass="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
								value="VOLTAR" title="VOLTAR" />

						</div>

					</div>

				</div>

			</h:form>

		</div>

	</div>

</p:outputPanel>

<p:outputPanel rendered="#{!loginControlador.mostrarCadastro}"
	styleClass="mdl-grid margin-15">

	<div class="mdl-cell mdl-cell--5-col centralizar">

		<div id="divTenhoCadastro" class="card-panel z-depth-2"
			style="padding: 0;">

			<div class="mdl-card__title ouvidoria-title">

				<h2 class="mdl-card__title-text" tabindex="0" title="USUÁRIOS EXTERNOS">USUÁRIOS EXTERNOS</h2>

			</div>

			<h:form>

				<div class="row conteudo-panel-ouvidoria">

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:inputMask value="#{loginControlador.cpf}" mask="999.999.999-99"
								required="true" placeholder="Informe o CPF para o login."
								styleClass="verificar-capslock"
								requiredMessage="Para realizar a autenticação é necessário informar o CPF"
								alt="CPF" title="CPF" />

							<label for="email" class="active">CPF:</label>

						</div>

					</div>

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:password value="#{loginControlador.senha}" redisplay="true"
								styleClass="verificar-capslock" required="true"
								placeholder="Informe a senha para o login."
								requiredMessage="Para realizar a autenticação é necessário informar a SENHA."
								id="senha" alt="SENHA" title="SENHA" />

							<label for="senha" class="active">SENHA:</label>

						</div>

					</div>

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--6-col">

							<p:commandButton ajax="false" style="width: 100%;"
								styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
								value="ENTRAR" actionListener="#{loginControlador.acaoLogarPorCPF}"
								update=":conteudoPrincipal" alt="ENTRAR" title="ENTRAR" />
						</div>

						<div class="input-field mdl-cell mdl-cell--6-col">

							<p:commandLink immediate="true" ajax="true" style="width: 100%;"
								onclick="$('#divEsqueciSenha, #divTenhoCadastro').toggle();"
								styleClass="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
								value="ESQUECI MINHA SENHA" title="ESQUECI MINHA SENHA" />
						</div>

					</div>

					<div class="mdl-card__actions mdl-card--border">

						<p:commandLink immediate="true" ajax="true" style="width: 100%;"
							process="@this"
							actionListener="#{loginControlador.setMostrarCadastro(true)}"
							update=":conteudoPrincipal"
							styleClass="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
							value="NÃO TENHO CADASTRO" title="NÃO TENHO CADASTRO" />

					</div>

				</div>

			</h:form>

		</div>

		<div id="divEsqueciSenha" class="card-panel z-depth-2 "
			style="padding: 0; display: none;">

			<div class="mdl-card__title ouvidoria-title">

				<h2 class="mdl-card__title-text" tabindex="0" title="ESQUECI MINHA SENHA">ESQUECI MINHA SENHA</h2>

			</div>

			<h:form id="formEsqueciMinhaSenha">

				<div class="mdl-grid conteudo-panel-ouvidoria">

					<div class="input-field mdl-cell mdl-cell--12-col">

						<p:inputText
							value="#{esqueciMinhaSenhaControlador.emailOuCPFUsuario}"
							required="true" placeholder="Informe seu E-MAIL / CPF"
							styleClass="verificar-capslock"
							requiredMessage="É necessário o preenchimento do campo E-MAIL / CPF para prosseguir com a redefinição de senha!"
							id="emailUsuario" alt="E-MAIL / CPF" title="E-MAIL / USUÁRIO" />

						<label for="emailUsuario" class="active">E-MAIL / CPF:</label>

					</div>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--6-col">

						<p:commandLink id="btnSolicitarRedefinicao" style="width: 100%;"
							styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							update=":modalAlerta @form" value="SOLICITAR REDEFINIÇÃO"
							onstart="$('#formEsqueciMinhaSenha\\:btnSolicitarRedefinicao').attr('disabled', true);jQuery('#formEsqueciMinhaSenha\\:btnSolicitarRedefinicao span').html('SOLICITANDO...');"
							actionListener="#{esqueciMinhaSenhaControlador.acaoSolicitarRedefinicaoSenha()}"
							title="SOLICITAR REDEFINIÇÃO" />

					</div>

					<div class="input-field mdl-cell mdl-cell--6-col">

						<p:commandLink immediate="true" ajax="true" style="width: 100%;"
							onclick="$('#divEsqueciSenha, #divTenhoCadastro').toggle();"
							styleClass="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
							value="FECHAR" title="FECHAR" />

					</div>

				</div>

			</h:form>

		</div>

	</div>

	<div class="mdl-cell mdl-cell--5-col centralizar">

		<div class="card-panel z-depth-2" style="padding: 0;">

			<div class="mdl-card__title ouvidoria-title">

				<h2 class="mdl-card__title-text" tabindex="0" title="SERVIDORES TCM-GO" >SERVIDORES TCM-GO</h2>

			</div>

			<h:form>

				<div class="row conteudo-panel-ouvidoria">

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:inputText value="#{loginControlador.nomeUsuario}" 
								required="true" placeholder="Informe o USUÁRIO do Sistema Monitor TCM para o login."
								styleClass="verificar-capslock"
								requiredMessage="Para realizar a autenticação é necessário informar o USUÁRIO (Usuário utilizado no SISTEMA MONITOR TCM). "
								alt="USUÁRIO DO SISTEMA MONITOR TCM" title="USUÁRIO DO SISTEMA MONITOR TCM" />

							<label for="email" class="active">USUÁRIO:</label>

						</div>

					</div>

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:password value="#{loginControlador.senha}" redisplay="true"
								styleClass="verificar-capslock" required="true"
								placeholder="Informe a senha do Sistema Monitor TCM para o login."
								requiredMessage="Para realizar a autenticação é necessário informar a SENHA (Senha utilizada no SISTEMA MONITOR TCM)."
								id="senha" alt="SENHA DO SISTEMA MONITOR TCM" title="SENHA DO SISTEMA MONITOR TCM" />

							<label for="senha" class="active">SENHA:</label>

						</div>

					</div>

					<div class="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--6-col">

							<p:commandButton ajax="false" style="width: 100%;"
								styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
								value="ENTRAR" actionListener="#{loginControlador.acaoLogarPorNomeUsuario}"
								update=":conteudoPrincipal" alt="ENTRAR" title="ENTRAR" />

						</div>

					</div>

				</div>


			</h:form>

		</div>

	</div>

</p:outputPanel>

</html>