<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/default.xhtml">

	<ui:define name="titulo">
	
		#{msg['pagina.cabecalho.inicial']}
	
	</ui:define>

	<ui:define name="conteudo">

		<p:outputPanel id="conteudoPrincipal" styleClass="mdl-layout__content"
			style="#{(sessionScope['usuario.logado'] != null) ? '' : 'margin-left: 0'}"
			layout="block">

			<f:metadata>

				<f:event listener="#{esqueciMinhaSenhaControlador.preRenderView()}"
					type="preRenderView" />

			</f:metadata>

			<h:form id="formEsqueciMinhaSenha">

				<p:outputPanel layout="block"
					rendered="#{empty esqueciMinhaSenhaControlador.usuario}"
					styleClass="mdl-layout__content centralizar display-table">

					<div class="mdl-grid centralizar-texto">

						<div class="card-panel z-depth-2" style="padding: 0;">

							<div class="mdl-card__title ouvidoria-title">

								<h2 class="mdl-card__title-text">SOLICITAR REDEFINIÇÃO DE
									SENHA</h2>

							</div>

							<div class="row conteudo-panel-ouvidoria">

								<div class="row">

									<div class="input-field col s12">

										<p:inputText required="true"
											placeholder="Informe seu E-MAIL / CPF"
											value="#{esqueciMinhaSenhaControlador.emailOuCPFUsuario}"
											requiredMessage="É necessário o preenchimento do campo E-MAIL / CPF para prosseguir com a redefinição de senha!"
											id="emailUsuario" alt="E-MAIL / USUÁRIO"
											title="E-MAIL / USUÁRIO" />

										<label for="emailUsuario" class="active">E-MAIL /
											CPF:</label>

									</div>

								</div>

							</div>

							<div class="mdl-card__actions mdl-card--border">

								<p:commandButton update=":modalAlerta @form"
									id="btnSolicitarRedefinicao"
									style="margin-right: 5px; width: 200px;"
									onstart="jQuery('#formEsqueciMinhaSenha\\:btnSolicitarRedefinicao').attr('disabled', true);jQuery('#formEsqueciMinhaSenha\\:btnSolicitarRedefinicao span').html('SOLICITANDO...');"
									styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									value="SOLICITAR REDEFINIÇÃO"
									action="#{esqueciMinhaSenhaControlador.acaoSolicitarRedefinicaoSenha}"
									alt="SOLICITAR REDEFINIÇÃO" title="SOLICITAR REDEFINIÇÃO" />

							</div>

						</div>

					</div>

				</p:outputPanel>

				<p:outputLabel
					rendered="#{not empty esqueciMinhaSenhaControlador.usuario}"
					styleClass="mdl-layout__content centralizar display-table">

					<div class="mdl-grid centralizar-texto">

						<div class="card-panel z-depth-2" style="padding: 0;">

							<div class="mdl-card__title ouvidoria-title">

								<h2 class="mdl-card__title-text">REDEFINIÇÃO DE SENHA</h2>

							</div>

							<div class="row conteudo-panel-ouvidoria">

								<div class="row">

									<div class="input-field col s12">

										<p:password redisplay="true"
											validatorMessage="A senha deverá conter no mínimo 6 e no máximo 8 caracteres."
											required="true" placeholder="Informe sua nova senha"
											value="#{esqueciMinhaSenhaControlador.senha}"
											requiredMessage="É necessário o preenchimento do campo SENHA para a redefinição da senha!"
											id="senha" alt="SENHA" title="SENHA">

											<f:validateLength minimum="6" maximum="8" />

										</p:password>

										<label for="email" class="active">SENHA:</label>

									</div>

								</div>

								<div class="row">

									<div class="input-field col s12">

										<p:password required="true" redisplay="true"
											validatorMessage="A senha deverá conter no mínimo 6 e no máximo 8 caracteres."
											placeholder="Informe novamente sua nova senha"
											value="#{esqueciMinhaSenhaControlador.senhaRepetida}"
											requiredMessage="É necessário o preenchimento do campo REPITA A SENHA para a redefinição da senha"
											id="senhaRepetida" alt="REPITA A SENHA" title="REPITA A SENH">

											<f:validateLength minimum="6" maximum="8" />

										</p:password>

										<label for="senhaRepetida" class="active">REPITA A
											SENHA:</label>

									</div>

								</div>

							</div>

							<div class="mdl-card__actions mdl-card--border">

								<p:commandButton update=":modalAlerta @form"
									style="margin-right: 5px;"
									styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									value="REDEFINIR SENHA"
									action="#{esqueciMinhaSenhaControlador.acaoRedefinirSenha}"
									alt="REDEFINIR SENHA" title="REDEFINIR SENHA" />

							</div>

						</div>

					</div>

				</p:outputLabel>

			</h:form>

		</p:outputPanel>

	</ui:define>

</ui:composition>



