<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<f:metadata>

	<f:event listener="#{visualizarEventoControlador.inicializarTela}"
		type="preRenderView" />

</f:metadata>

<div class="mdl-grid">

	<div class="mdl-cell mdl-cell--6-col centralizar">

		<div class="mdl-grid centralizar-texto">

			<div class="card-panel z-depth-2" style="padding: 0; width: 100%;">

				<h:form>

					<div class="mdl-card__title ouvidoria-title">

						<h2 class="mdl-card__title-text">BEM-VINDO,
							#{sessionScope['usuario.logado'].pessoa.nome.toUpperCase()}!</h2>

					</div>

					<div class="mdl-card__supporting-text">Há
						#{visualizarEventoControlador.listaEvento.size()} evento(s)
						disponível(is).</div>

					<div class="mdl-card__actions mdl-card--border">

						<p:commandLink
							update=":modalAlerta :conteudoPrincipal :tituloSistema"
							actionListener="#{navegacaoControlador.acaoAbrirTela('MEUS_EVENTOS')}"
							styleClass="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
							value="MEUS EVENTOS" title="MEUS EVENTOS" />

						<p:commandLink
							update=":modalAlerta :conteudoPrincipal :tituloSistema"
							actionListener="#{navegacaoControlador.acaoAbrirTela('EVENTOS_VISUALIZAR')}"
							styleClass="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
							value="EVENTOS DISPONÍVEIS" title="EVENTOS DISPONÍVEIS" />

					</div>

				</h:form>

			</div>

		</div>
	</div>

</div>

</html>