<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template/default.xhtml">

	<ui:define name="conteudo">

		<c:if test="#{not empty sessionScope['usuario.logado'] and not empty sessionScope['usuario.logado'].participante}">
		
			<ui:include src="/navegacao.xhtml" />
			
		</c:if>
		
		<p:outputPanel id="conteudoPrincipal" styleClass="mdl-layout__content"  style="#{((sessionScope['usuario.logado'] == null) or (sessionScope['usuario.logado'].participante == null)) ? 'margin-left: 0' : ''}" layout="block">

			<ui:include src="/#{navegacaoControlador.pagina.pagina}" />
			
		</p:outputPanel>

	</ui:define>

</ui:composition>



