<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta name="mobile-web-app-capable" content="yes" />
	
	<meta http-equiv="refresh" content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/index.jsf"/>

	<link rel="icon" sizes="192x192" href="#{facesContext.externalContext.requestContextPath}/resources/imagens/android-desktop.png" />

	<meta name="apple-mobile-web-app-capable" content="yes" />

	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<meta name="apple-mobile-web-app-title" content="TCM - SOPHOS" />

	<link rel="apple-touch-icon-precomposed" href="#{facesContext.externalContext.requestContextPath}/resources/imagens/ios-desktop.png" />

	<link rel="shortcut icon" href="#{facesContext.externalContext.requestContextPath}/resources/imagens/favicon.png" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta http-equiv="content-language" content="pt-br" />

	<meta name="title" content="Tribunal de Contas dos Municípios do Estado de Goiás - Sistema TCMPush" />

	<meta name="keywords" content="tribunal de contas dos municípios do estado de goiás ouvidoria" />

	<meta name="author" content="SINFO - Superintendência de Informática do TCM-GO" />

	<meta name="url" content="http://www.tcm.go.gov.br/sophos" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

	<link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/materialize.css" media="screen,projection" />

	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/material.css" />

	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" />

	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.timeentry/jquery.timeentry.css" />

	<script src="#{facesContext.externalContext.requestContextPath}/resources/js/material.min.js"></script>

	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/materialize.min.js"></script>

	<script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.timeentry/jquery.plugin.js"></script>

	<script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.timeentry/jquery.timeentry.js"></script>

	<script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.maskMoney.js"></script>

	<script src="#{facesContext.externalContext.requestContextPath}/resources/js/functions.js"></script>

	<title>Sistema de Gestão Educacional - SOPHOS</title>

	<script type="text/javascript">
		var CONTEXT_PATH = '#{facesContext.externalContext.requestContextPath}/';

		jQuery(document).ready(function() {

			onLoad();

			exibirMensagem();

		});
	</script>

</h:head>

<h:body>

	<f:metadata>

		<f:event listener="#{visualizarEventoControlador.inicializarTela}" type="preRenderView" >
			<f:attribute name="widthSize" value="window.screen.width" />
		</f:event>

	</f:metadata>
	
	<p:outputPanel id="body" styleClass="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		
		<div class="mdl-grid" style="width: 100%;">
			
			<p:outputPanel rendered="#{param['tipo'] == '0' || param['tipo'] == null}" styleClass="mdl-cell mdl-cell--12-col">
			
					<p:dataTable id="listagem0"  paginatorPosition="bottom" style="width:100%;" tableStyle="width:100%"  
						emptyMessage="Nenhum registro encontrado." tableStyleClass=" bordered highlight" value="#{visualizarEventoControlador.listaEvento}" var="bean">
				
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="EVENTO" priority="1">
						
							<h:outputText value="#{bean.tipoEvento.descricao} - #{bean.titulo}" title="EVENTO"/>
						
						</p:column>
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="PERÍODO" priority="1">
					
							<h:panelGroup rendered="#{bean.dataInicioRealizacao != null}">
								<h:outputText value="#{bean.dataInicioRealizacao}" title="INÍCIO REALIZAÇÃO" ></h:outputText> - <h:outputText value="#{bean.dataFimRealizacao}" title="FIM REALIZAÇÃO"></h:outputText>
							</h:panelGroup>
							
							<h:panelGroup rendered="#{bean.dataInicioRealizacao == null}">
								Previsão - <h:outputText value="#{bean.dataInicioPrevisto}" title="INÍCIO PREVISTO"></h:outputText> - <h:outputText value="#{bean.dataFimPrevisto}" title="FIM PREVISTO"></h:outputText>
							</h:panelGroup>
							
						</p:column>
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="PERÍODO DE INSCRIÇÔES" priority="1">
					
							<h:panelGroup rendered="#{bean.permitePreInscricao != null and bean.permitePreInscricao}">
								<h:outputText value="#{bean.dataInicioPreInscricao}" title="INÍCIO PERÍODO DE INSCRIÇÔES"></h:outputText> - <h:outputText value="#{bean.dataFimPreInscricao}" title="FIM PERÍODO DE INSCRIÇÔES"></h:outputText>
							</h:panelGroup>
							
							<h:panelGroup rendered="#{bean.permitePreInscricao == null || !bean.permitePreInscricao}">
								<h:panelGroup rendered="#{bean.dataInicioRealizacao != null}">
									Até - <h:outputText value="#{bean.dataInicioRealizacao}" title="INÍCIO REALIZAÇÃO"></h:outputText>
								</h:panelGroup>
								<h:panelGroup rendered="#{bean.dataInicioRealizacao == null}">
									Até - <h:outputText value="#{bean.dataInicioPrevisto}" title="INÍCIO PREVISTO"></h:outputText>
								</h:panelGroup>
							</h:panelGroup>
							
						</p:column>
						
					</p:dataTable>
				
			</p:outputPanel>
			
			<p:outputPanel rendered="#{param['tipo'] == '1' || param['tipo'] == null}" styleClass="mdl-cell mdl-cell--12-col">
			
					<p:dataTable id="listagem1"  paginatorPosition="bottom" style="width:100%;" tableStyle="width:100%" 
						emptyMessage="Nenhum registro encontrado." tableStyleClass=" bordered highlight" value="#{visualizarEventoControlador.listaEventoCertificadosDisponiveis}" var="bean">
				
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="EVENTO" priority="1">
						
							<h:outputText value="#{bean.tipoEvento.descricao} - #{bean.titulo}" title="EVENTO"/>
						
						</p:column>
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="PERÍODO" priority="1">
					
							<h:panelGroup rendered="#{bean.dataInicioRealizacao != null}">
								<h:outputText value="#{bean.dataInicioRealizacao}" title="INÍCIO REALIZAÇÃO"></h:outputText> - <h:outputText value="#{bean.dataFimRealizacao}" title="FIM REALIZAÇÃO"></h:outputText>
							</h:panelGroup>
							
							<h:panelGroup rendered="#{bean.dataInicioRealizacao == null}">
								Previsão - <h:outputText value="#{bean.dataInicioPrevisto}" title="INÍCIO PREVISTO"></h:outputText> - <h:outputText value="#{bean.dataFimPrevisto}" title="FIM PREVISTO"></h:outputText>
							</h:panelGroup>
							
						</p:column>
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="PERÍODO DE INSCRIÇÔES" priority="1">
					
							<h:panelGroup rendered="#{bean.permitePreInscricao != null and bean.permitePreInscricao}">
								<h:outputText value="#{bean.dataInicioPreInscricao}" title="INÍCIO PERÍODO DE INSCRIÇÕES"></h:outputText> - <h:outputText value="#{bean.dataFimPreInscricao}" title="FIM PERÍODO DE INSCRIÇÕES"></h:outputText>
							</h:panelGroup>
							
							<h:panelGroup rendered="#{bean.permitePreInscricao == null || !bean.permitePreInscricao}">
								<h:panelGroup rendered="#{bean.dataInicioRealizacao != null}">
									Até - <h:outputText value="#{bean.dataInicioRealizacao}" title="INÍCIO REALIZAÇÃO"></h:outputText>
								</h:panelGroup>
								<h:panelGroup rendered="#{bean.dataInicioRealizacao == null}">
									Até - <h:outputText value="#{bean.dataInicioPrevisto}" title="INÍCIO PREVISTO"></h:outputText>
								</h:panelGroup>
							</h:panelGroup>
							
						</p:column>
						
					</p:dataTable>
				
			</p:outputPanel>
			
			<p:outputPanel rendered="#{param['tipo'] == '2' || param['tipo'] == null}" styleClass="mdl-cell mdl-cell--12-col">
			
					<p:dataTable id="listagem2"  paginatorPosition="bottom" style="width:100%;" tableStyle="width:100%" 
						emptyMessage="Nenhum registro encontrado." tableStyleClass=" bordered highlight" value="#{visualizarEventoControlador.listaEventoInscricaoAbertas}" var="bean">
				
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="EVENTO" priority="1">
						
							<h:outputText value="#{bean.tipoEvento.descricao} - #{bean.titulo}" title="EVENTO"/>
						
						</p:column>
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="PERÍODO" priority="1">
					
							<h:panelGroup rendered="#{bean.dataInicioRealizacao != null}">
								<h:outputText value="#{bean.dataInicioRealizacao}" title="INÍCIO REALIZAÇÃO"></h:outputText> - <h:outputText value="#{bean.dataFimRealizacao}" title="FIM REALIZAÇÃO"></h:outputText>
							</h:panelGroup>
							
							<h:panelGroup rendered="#{bean.dataInicioRealizacao == null}">
								Previsão - <h:outputText value="#{bean.dataInicioPrevisto}" title="INÍCIO PREVISTO"></h:outputText> - <h:outputText value="#{bean.dataFimPrevisto}" title="FIM PREVISTO"></h:outputText>
							</h:panelGroup>
							
						</p:column>
						
						<p:column styleClass="mdl-data-table__cell--non-numeric" headerText="PERÍODO DE INSCRIÇÔES" priority="1">
					
							<h:panelGroup rendered="#{bean.permitePreInscricao != null and bean.permitePreInscricao}">
								<h:outputText value="#{bean.dataInicioPreInscricao}" title="INÍCIO PERÍODO DE INSCRIÇÕES"></h:outputText> - <h:outputText value="#{bean.dataFimPreInscricao}" title="FIM PERÍODO DE INSCRIÇÕES"></h:outputText>
							</h:panelGroup>
							
							<h:panelGroup rendered="#{bean.permitePreInscricao == null || !bean.permitePreInscricao}">
								<h:panelGroup rendered="#{bean.dataInicioRealizacao != null}">
									Até - <h:outputText value="#{bean.dataInicioRealizacao}" title="INÍCIO REALIZAÇÃO" ></h:outputText>
								</h:panelGroup>
								<h:panelGroup rendered="#{bean.dataInicioRealizacao == null}">
									Até - <h:outputText value="#{bean.dataInicioPrevisto}" title="INÍCIO PREVISTO"></h:outputText>
								</h:panelGroup>
							</h:panelGroup>
							
						</p:column>
						
					</p:dataTable>
				
			</p:outputPanel>
		
		</div>

	</p:outputPanel>

</h:body>

</html>
