<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div
		class="demo-drawer mdl-layout__drawer mdl-color--menu mdl-color-text--menu">

		<header class="demo-drawer-header">

			<div class="texto-centralizado padding-menu">

				<p:commandLink update=":conteudoPrincipal :tituloSistema"
					actionListener="#{navegacaoControlador.acaoAbrirTela('EVENTOS_VISUALIZAR')}">

					<img class="logo-ouvidoria-interna responsive-img"
						src="#{facesContext.externalContext.requestContextPath}/resources/imagens/logo_sophos_principal.png"
						alt="LOGOTIPO DO SISTEMA SOPHOS" />

				</p:commandLink>

			</div>

			<div class="demo-avatar-dropdown padding-menu">

				<span>Bem-vindo, <br />#{sessionScope['usuario.logado'].pessoa.nome}!
				</span>

			</div>

			<p:outputPanel
				rendered="#{sessionScope['usuario.logado'].perfilList != null and sessionScope['usuario.logado'].perfilList.size() > 1}"
				styleClass="demo-avatar-dropdown menu-mudar-perfil">

				<span>Mudar Perfil</span>

				<div class="mdl-layout-spacer"></div>

				<button id="accbtn"
					class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
					title="Mudar Perfil">
					<i class="material-icons" role="presentation">arrow_drop_down</i> <span
						class="visuallyhidden">Mudar Perfil</span>
				</button>

				<ul
					class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					for="accbtn">
					<h:form>
						<ui:repeat var="perfilUsuario"
							value="#{sessionScope['usuario.logado'].perfilList}">
							<li class="mdl-menu__item"><h:commandLink
									title="#{perfilUsuario.perfil.descricao}"
									value="#{perfilUsuario.perfil.descricao}"
									action="#{loginControlador.definirPerfil(perfilUsuario)}" /></li>
						</ui:repeat>
					</h:form>
				</ul>

			</p:outputPanel>

		</header>

		<p:outputPanel id="etapasNavegacao" layout="block">

			<h:form id="formularioNavegacaoAdmin"
				rendered="#{sessionScope['usuario.perfil'] == 'ADMINISTRADOR' || sessionScope['usuario.perfil'] == 'ESCOLA_DE_CONTAS'}"
				prependId="false">

				<nav class="demo-navigation mdl-navigation">

					<ul class="collapsible collapsible-menu"
						data-collapsible="accordion">

						<li><p:commandLink
								styleClass="collapsible-header collapsible-header-menu mdl-navigation__link"
								action="#" title="ALUNOS">
								<i class="menu-icone material-icons">people</i> ALUNOS
							</p:commandLink>

							<div class="collapsible-body collapsible-body-menu">

								<p:commandLink styleClass=" mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('PARTICIPANTES_CADASTRO_LIST')}"
									title="GERENCIAR ALUNOS">
									
										GERENCIAR ALUNOS
									
									</p:commandLink>

								<p:commandLink styleClass=" mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('PARTICIPANTES_INSCRICAO')}"
									title="INSCREVER ALUNO EM EVENTO">
									
										INSCREVER ALUNO EM EVENTO
									
									</p:commandLink>

								<p:commandLink styleClass=" mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('PARTICIPANTES_SITUACAO')}"
									title="SITUAÇÃO DOS PARTICIPANTES">
									
										SITUAÇÃO DOS PARTICIPANTES
									
									</p:commandLink>

							</div></li>

						<li><p:commandLink
								styleClass="collapsible-header collapsible-header-menu mdl-navigation__link"
								action="#" title="CURSOS / EVENTOS">
								<i class="menu-icone material-icons">school</i> CURSOS / EVENTOS
							</p:commandLink>
							<div class="collapsible-body collapsible-body-menu">
								<p:commandLink styleClass="mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('EVENTOS_VISUALIZAR')}"
									title="TODOS DISPONÍVEIS">
									
										TODOS DISPONÍVEIS
									
									</p:commandLink>

								<p:commandLink styleClass="mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('EVENTOS')}"
									title="GERENCIAR CURSOS / EVENTOS">
									
										GERENCIAR CURSOS / EVENTOS
									
									</p:commandLink>

								<p:commandLink styleClass="mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('INDICACOES')}"
									title="MINHAS INDICAÇÕES">
									
										MINHAS INDICAÇÕES
									
									</p:commandLink>

								<p:commandLink styleClass="mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('EVENTOS_AVALIACAO_REACAO')}"
									title="AVALIAÇÕES DE REAÇÃO">
									
										AVALIAÇÕES DE REAÇÃO
									
								</p:commandLink>

							</div></li>

						<li><p:commandLink styleClass="mdl-navigation__link"
								update=":conteudoPrincipal :tituloSistema"
								actionListener="#{navegacaoControlador.acaoAbrirTela('INSTRUTORES')}"
								title="INSTRUTORES">

								<i class="menu-icone material-icons" role="presentation">assignment_ind</i>
					
									INSTRUTORES
								
								</p:commandLink></li>

						<li><p:commandLink styleClass="mdl-navigation__link"
								update=":conteudoPrincipal :tituloSistema"
								actionListener="#{navegacaoControlador.acaoAbrirTela('VALIDAR_CERTIFICADO')}"
								title="VALIDAR CERTIFICADO">

								<i class="menu-icone material-icons" role="presentation">done_all</i>
					
									VALIDAR CERTIFICADOS
								
								</p:commandLink></li>

						<li><p:commandLink styleClass="mdl-navigation__link"
								update=":conteudoPrincipal :tituloSistema"
								actionListener="#{navegacaoControlador.acaoAbrirTela('RELATORIO')}"
								title="RELATÓRIOS">

								<i class="menu-icone material-icons" role="presentation">event_note</i>
					
									RELATÓRIOS
								
								</p:commandLink></li>

						<li><p:commandLink
								styleClass="collapsible-header collapsible-header-menu mdl-navigation__link"
								action="#" title="CONFIGURAÇÕES">
								<i class="menu-icone material-icons">settings</i> CONFIGURAÇÕES
							</p:commandLink>

							<div class="collapsible-body collapsible-body-menu">
								<p:commandLink styleClass=" mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('TABELA_DOMINIO')}"
									title="TABELAS DE DOMÍNIO">
									
										TABELAS DE DOMÍNIO
									
									</p:commandLink>

								<p:commandLink styleClass=" mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('TABELA_PROVEDOR_EVENTO')}"
									title="PROVEDORES DE EVENTO">
									
										PROVEDORES DE EVENTO
									
									</p:commandLink>

								<p:commandLink styleClass=" mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('TABELA_LOCALIZACAO_EVENTO')}"
									title="LOCALIZAÇÕES DE EVENTO">
									
										LOCALIZAÇÕES DE EVENTO
									
									</p:commandLink>

								<p:commandLink styleClass=" mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('TABELA_QUESTIONARIO')}"
									title="QUESTIONÁRIOS">
									
										QUESTIONÁRIOS
									
									</p:commandLink>

								<p:commandLink styleClass=" mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('TABELA_CONFIGURACAO')}"
									title="DADOS INSTITUCIONAIS">
									
										DADOS INSTITUCIONAIS
									
									</p:commandLink>

								<p:commandLink styleClass=" mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('ALERTAS')}"
									title="DADOS INSTITUCIONAIS">
									
										ALERTAS
									
									</p:commandLink>

							</div></li>
							
						<p:remoteCommand name="realizarImportacaoAlura" actionListener="#{importadorControlador.realizarImportacaoAlura()}" update=":conteudoPrincipal :tituloSistema :modalAlerta" />

						<li><p:commandLink styleClass="mdl-navigation__link"
								onclick="confirmar('Dejesa realmente fazer a importação de registros do ambiente de ensino online Alura? Este procedimento pode demorar alguns minutos.', realizarImportacaoAlura);return false;"
								title="IMPORTAÇÃO ALURA">

								<i class="menu-icone material-icons" role="presentation">cloud_download</i>
					
									IMPORTAÇÃO ALURA
								
								</p:commandLink></li>

						<li><p:commandLink styleClass="mdl-navigation__link"
								onclick="window.open('http://www.tcm.go.gov.br/escolatcm/orientacoes-sobre-cursos-inscricao-avaliacao-de-reacao-e-certificado/', '_blank')"
								title="AJUDA">

								<i class="menu-icone material-icons" role="presentation">help_outline</i>
					
									AJUDA
								
								</p:commandLink></li>

						<li><p:commandLink ajax="false"
								styleClass="mdl-navigation__link menu-bottom-border"
								action="#{loginControlador.acaoSair}" title="SAIR">

								<i class="menu-icone material-icons" role="presentation">exit_to_app</i>
					
									SAIR
								
								</p:commandLink></li>

					</ul>

				</nav>

			</h:form>

			<h:form id="formularioNavegacaoUsuario"
				rendered="#{sessionScope['usuario.perfil'] == 'PARTICIPANTE'}"
				prependId="false">

				<nav class="demo-navigation mdl-navigation">

					<ul class="collapsible collapsible-menu"
						data-collapsible="accordion">
						<li><p:commandLink
								styleClass="collapsible-header collapsible-header-menu mdl-navigation__link"
								action="#" title="CURSOS / EVENTOS">
								<i class="menu-icone material-icons">school</i> CURSOS / EVENTOS
							</p:commandLink>
							<div class="collapsible-body collapsible-body-menu">

								<p:commandLink styleClass="mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('EVENTOS_VISUALIZAR')}"
									title="TODOS DISPONÍVEIS">
									
										TODOS DISPONÍVEIS
									
									</p:commandLink>

								<p:commandLink styleClass="mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('MEUS_EVENTOS')}"
									title="MEUS CURSOS / EVENTOS">
									
										MEUS CURSOS / EVENTOS
									
									</p:commandLink>

								<p:commandLink styleClass="mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('EVENTOS_MINHAS_AVALIACOES')}"
									title="MINHAS AVALIAÇÕES">
									
										MINHAS AVALIAÇÕES
									
									</p:commandLink>

								<p:commandLink styleClass="mdl-navigation__link"
									update=":conteudoPrincipal :tituloSistema"
									actionListener="#{navegacaoControlador.acaoAbrirTela('EVENTOS_MINHAS_INSCRICOES')}"
									title="MEUS PEDIDOS DE INSCRIÇÕES">
									
										MEUS PEDIDOS DE INSCRIÇÕES
									
									</p:commandLink>

							</div></li>

						<li><p:commandLink styleClass="mdl-navigation__link"
								update=":conteudoPrincipal :tituloSistema"
								actionListener="#{navegacaoControlador.acaoAbrirTela('PARTICIPANTES_MEU_CADASTRO')}"
								title="MEU CADASTRO">

								<i class="menu-icone material-icons" role="presentation">face</i>
					
									MEU CADASTRO
								
								</p:commandLink></li>

						<li><p:commandLink styleClass="mdl-navigation__link"
								update=":conteudoPrincipal :tituloSistema"
								actionListener="#{navegacaoControlador.acaoAbrirTela('VALIDAR_CERTIFICADO')}"
								title="VALIDAR CERTIFICADO">

								<i class="menu-icone material-icons" role="presentation">done_all</i>
					
									VALIDAR CERTIFICADO
								
								</p:commandLink></li>

						<li><p:commandLink styleClass="mdl-navigation__link"
								onclick="window.open('http://www.tcm.go.gov.br/escolatcm/orientacoes-sobre-cursos-inscricao-avaliacao-de-reacao-e-certificado/', '_blank')"
								title="AJUDA">

								<i class="menu-icone material-icons" role="presentation">help_outline</i>
					
									AJUDA
								
								</p:commandLink></li>

						<li><p:commandLink ajax="false"
								styleClass="mdl-navigation__link menu-bottom-border"
								action="#{loginControlador.acaoSair}" title="SAIR">

								<i class="menu-icone material-icons" role="presentation">exit_to_app</i>
					
									SAIR
								
								</p:commandLink></li>

					</ul>

				</nav>

			</h:form>

		</p:outputPanel>

	</div>

</ui:composition>