<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template/default.xhtml">

	<ui:define name="conteudo">
	
		<c:if test="#{not empty sessionScope['usuario.logado'] and not empty sessionScope['usuario.logado'].participante}">
		
			<ui:include src="/navegacao.xhtml" />
			
		</c:if>

		<p:outputPanel id="conteudoPrincipal" styleClass="mdl-layout__content"  style="#{((sessionScope['usuario.logado'] == null) or (sessionScope['usuario.logado'].participante == null)) ? 'margin-left: 0' : ''}" layout="block">
		
			<div class="mdl-grid">

				<div class="mdl-cell mdl-cell--6-col centralizar">
					
					<div class="mdl-grid centralizar-texto">
			
						<div class="card-panel z-depth-2" style="padding: 0; width: 100%;">
						
							<h:form>
							
								<div class="mdl-card__title ouvidoria-title">
				
									<h2 class="mdl-card__title-text">OPS!</h2>
									
								</div>
				
								<div class="mdl-card__supporting-text" >
										
									Ocorreu um erro.
									
									<div class="mdl-grid">

										<div class="mdl-cell mdl-cell--12-col">
											<table class="responsive-table bordered" style="font-size: 14px;">
											  <thead>
											    <tr>
											      <th>ERRO</th>
											      <th>DESCRIÇÃO</th>
											    </tr>
											  </thead>
											  <tbody>
											    <tr>
											      <td>Exception</td>
											      <td>#{requestScope['javax.servlet.error.exception']}</td>
											    </tr>
											    <tr>
											      <td>Exception type</td>
											      <td>#{requestScope['javax.servlet.error.exception_type']}</td>
											    </tr>
											    <tr>
											      <td>Exception message</td>
											      <td>#{requestScope['javax.servlet.error.message']}</td>
											    </tr>
											    <tr>
											      <td>Request URI</td>
											      <td>#{requestScope['javax.servlet.error.request_uri']}</td>
											    </tr>
											    <tr>
											      <td>Servlet name</td>
											      <td>#{requestScope['javax.servlet.error.servlet_name']}</td>
											    </tr>
											    <tr>
											      <td>Status code</td>
											      <td>#{requestScope['javax.servlet.error.status_code']}</td>
											    </tr>
											  </tbody>
											</table>
										</div>
										
									</div>
									
								</div>
				
								<div class="mdl-card__actions mdl-card--border">
				
									<p:commandLink ajax="false" action="index" styleClass="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" value="VOLTAR" title="VOLTAR" />
				
								</div>
							
							</h:form>
			
						</div>
			
					</div>
				</div>
			
			</div>
			
		</p:outputPanel>

	</ui:define>

</ui:composition>


