<h:form xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		xmlns:mdl="http://java.sun.com/jsf/composite/mdl"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		prependId="false"
		id="formValidarCertificado">


	<c:if test="#{empty sessionScope['usuario.logado']}">

		<div class="texto-centralizado sophos-img-home">

			<img class="logo-home responsive-img" src="#{facesContext.externalContext.requestContextPath}/resources/imagens/sophos_logo_login.png" alt="LOGOTIPO DO SISTEMA SOPHOS"></img>

		</div>

	</c:if>

	<div class="mdl-grid centralizar margin-15">

		<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col" style="margin-right: auto; margin-left: auto;">

			<div class="card-panel z-depth-2">

				<div class="mdl-card__title ouvidoria-title">

					<h2 class="mdl-card__title-text" tabindex="0" title="Validar Certificado">Validar Certificado</h2>

				</div>

				<div class="mdl-grid">

					<div class="input-field mdl-cell mdl-cell--4-col centralizar">

						<p:inputMask required="true" mask="*****.*****.*****"
									 requiredMessage="Por favor, preencha o campo CÓDIGO VERIFICAÇÃO."
									 id="titulo" disabled="#{validarCertificadoControlador.visualizar}"
									 value="#{validarCertificadoControlador.codigoVerificacao}"
									 alt="CÓDIGO VERIFICAÇÃO" title="CÓDIGO VERIFICAÇÃO"/>

						<label for="titulo" class="active">CÓDIGO VERIFICAÇÃO:</label>

						<p:commandButton id="btnVerificar" update=":modalAlerta @form"
										 styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
										 value="VERIFICAR" action="#{validarCertificadoControlador.verificarCodigo}"
										 alt="VERIFICAR" title="VERIFICAR"/>

					</div>

				</div>

				<p:outputPanel rendered="#{validarCertificadoControlador.entidade != null and validarCertificadoControlador.entidade.id != null}" styleClass="mdl-grid">

					<div class="section">
						<h5>Certificado emitido em <h:outputText value="#{validarCertificadoControlador.datasEmissoes}"></h:outputText></h5>
						<p><b>Evento: </b>#{validarCertificadoControlador.entidade.evento.titulo}</p>
						<h:panelGroup rendered="#{validarCertificadoControlador.entidade.participante != null}">
							<p>
								<b>Participante: </b>#{validarCertificadoControlador.entidade.participante.pessoa.nome}
							</p>
						</h:panelGroup>

						<h:panelGroup rendered="#{validarCertificadoControlador.entidade.instrutor != null}">
							<p>
								<b>Instrutor: </b>#{validarCertificadoControlador.entidade.instrutor.pessoa.nome}
							</p>
						</h:panelGroup>
					</div>

				</p:outputPanel>

			</div>

		</p:outputPanel>

	</div>

</h:form>