<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">

<h:head>

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta name="mobile-web-app-capable" content="yes" />

	<meta http-equiv="refresh"
		  content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/index.jsf" />

	<link rel="icon" sizes="192x192"
		  href="#{facesContext.externalContext.requestContextPath}/resources/imagens/android-desktop.png" />

	<meta name="apple-mobile-web-app-capable" content="yes" />

	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<meta name="apple-mobile-web-app-title" content="TCM - SOPHOS" />

	<link rel="apple-touch-icon-precomposed"
		  href="#{facesContext.externalContext.requestContextPath}/resources/imagens/ios-desktop.png" />

	<link rel="shortcut icon"
		  href="#{facesContext.externalContext.requestContextPath}/resources/imagens/favicon.png" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta http-equiv="content-language" content="pt-br" />

	<meta name="title"
		  content="Tribunal de Contas dos Municípios do Estado de Goiás - Sistema TCMPush" />

	<meta name="keywords"
		  content="tribunal de contas dos municípios do estado de goiás ouvidoria" />

	<meta name="author"
		  content="SINFO - Superintendência de Informática do TCM-GO" />

	<meta name="url" content="http://www.tcm.go.gov.br/sophos" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link
			href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
			rel="stylesheet" />

	<link rel="stylesheet"
		  href="https://fonts.googleapis.com/icon?family=Material+Icons" />

	<link type="text/css" rel="stylesheet"
		  href="#{facesContext.externalContext.requestContextPath}/resources/css/materialize.css"
		  media="screen,projection" />

	<link rel="stylesheet"
		  href="#{facesContext.externalContext.requestContextPath}/resources/css/material.css" />

	<link rel="stylesheet"
		  href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" />

	<link rel="stylesheet"
		  href="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.timeentry/jquery.timeentry.css" />

	<script
			src="#{facesContext.externalContext.requestContextPath}/resources/js/material.min.js"></script>

	<script type="text/javascript"
			src="#{facesContext.externalContext.requestContextPath}/resources/js/materialize.min.js"></script>

	<script
			src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.timeentry/jquery.plugin.js"></script>

	<script
			src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.timeentry/jquery.timeentry.js"></script>

	<script
			src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.maskMoney.js"></script>

	<script
			src="#{facesContext.externalContext.requestContextPath}/resources/js/functions.js"></script>

	<title>Sistema de Gestão Educacional - SOPHOS</title>

	<script type="text/javascript">
		var CONTEXT_PATH = '#{facesContext.externalContext.requestContextPath}/';

		jQuery(document).ready(function() {

			onLoad();

			exibirMensagem();

		});
	</script>

	<style>
		.mdl-button--raised.mdl-button--colored {
			color: white;
			background-color: #6b9bbf !important;
		}
	</style>
</h:head>

<h:body>

	<p:outputPanel id="body"
				   styleClass="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

		<h:form prependId="false" class="mdl-grid" style="width: 100%;"
				id="formValidarCertificado">

			<div class="mdl-grid centralizar" style="width: 100%;">

				<p:outputPanel layout="block" styleClass="mdl-cell mdl-cell--12-col"
							   style="margin-right: auto; margin-left: auto;">

					<p:outputPanel
							rendered="#{(validarCertificadoControlador.entidade == null || validarCertificadoControlador.entidade.id == null) and (validarCertificadoControlador.existeCertificado == null)}"
							styleClass="mdl-grid">

						<div class="input-field mdl-cell mdl-cell--12-col">

							<p:inputMask required="true" mask="*****.*****.*****"
										 requiredMessage="Por favor, preencha o campo CÓDIGO VERIFICAÇÃO."
										 id="titulo"
										 disabled="#{validarCertificadoControlador.visualizar}"
										 value="#{validarCertificadoControlador.codigoVerificacao}"
										 alt="CÓDIGO VERIFICAÇÃO" title="CÓDIGO VERIFICAÇÃO" />

							<label for="titulo" class="active">CÓDIGO VERIFICAÇÃO:</label>

						</div>

						<div class="mdl-cell mdl-cell--4-col">

							<p:commandButton id="btnVerificar" update="@form"
											 styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
											 value="VERIFICAR"
											 action="#{validarCertificadoControlador.verificarCodigo}"
											 alt="VERIFICAR" title="VERIFICAR" />

						</div>

					</p:outputPanel>

					<p:outputPanel
							rendered="#{validarCertificadoControlador.existeCertificado != null and validarCertificadoControlador.existeCertificado == false}"
							styleClass="mdl-grid">
						<div class="mdl-cell mdl-cell--12-col">
							<h6>Não existe certificado para esse código.</h6>
						</div>
						<div class="mdl-cell mdl-cell--12-col">
							<p:commandButton id="btnLimpar1" update="@form"
											 styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
											 value="VOLTAR"
											 action="#{validarCertificadoControlador.limparCampos}"
											 alt="VOLTAR" title="VOLTAR" />
						</div>
					</p:outputPanel>

					<p:outputPanel
							rendered="#{validarCertificadoControlador.entidade != null and validarCertificadoControlador.entidade.id != null}"
							styleClass="mdl-grid">

						<div class="mdl-cell mdl-cell--12-col">
							<h6>
								Certificado emitido em
								<h:outputText
										value="#{validarCertificadoControlador.datasEmissoes}"></h:outputText>
							</h6>
							<p>
								<b>Evento: </b>#{validarCertificadoControlador.entidade.evento.titulo}
							</p>
							<h:panelGroup rendered="#{validarCertificadoControlador.entidade.participante != null}">
								<p>
									<b>Participante: </b>#{validarCertificadoControlador.entidade.participante.pessoa.nome}
								</p>
							</h:panelGroup>

							<h:panelGroup rendered="#{validarCertificadoControlador.entidade.instrutor != null}">
								<p>
									<b>Instrutor: </b>#{validarCertificadoControlador.entidade.instrutor.pessoa.nome}
								</p>
							</h:panelGroup>

						</div>

						<div class="mdl-cell mdl-cell--12-col">
							<p:commandButton id="btnLimpar" update="@form"
											 styleClass="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
											 value="VOLTAR"
											 action="#{validarCertificadoControlador.limparCampos}"
											 alt="VOLTAR" title="VOLTAR" />
						</div>

					</p:outputPanel>

				</p:outputPanel>

			</div>

		</h:form>

	</p:outputPanel>

</h:body>

</html>
